﻿<div class="table-responsive z-depth-2" style="min-height:600px">
    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Title <span class="text-danger">*</span></label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" required name="Title" ng-model="_masterDeliveryTermCtrl.DeliveryTermModel.Title" />
            <div class="error-message"
                 ng-if="craetedorupdate.Title.$invalid && (craetedorupdate.$submitted || craetedorupdate.Title.$touched)"
                 ng-messages="craetedorupdate.Title.$error" role="alert">
                <div ng-message="required">title is required</div>
            </div>

        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Terms <span class="text-danger">*</span></label>
        </div>
        <div class="col-lg-4">
            <textarea type="text" class="form-control" required name="Address" ng-model="_masterDeliveryTermCtrl.DeliveryTermModel.Terms"></textarea>
            <div ng-messages="craetedorupdate.Terms.$error"
                 ng-if="craetedorupdate.Terms.$invalid && (craetedorupdate.$submitted || craetedorupdate.Terms.$touched)"
                 class="error-message"
                 role="alert">
                <div ng-message="required">Terms is required</div>
            </div>


        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Allow edit</label>
        </div>
        <div class="col-lg-4">
            <input type="checkbox"
                   name="AllowEdit" ng-model="_masterDeliveryTermCtrl.DeliveryTermModel.AllowEdit" />
        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Active</label>
        </div>
        <div class="col-lg-4">
            <label>
                <input type="checkbox"
                       name="Active" ng-model="_masterDeliveryTermCtrl.DeliveryTermModel.Active" />
            </label>
        </div>

    </div>
    <!--<div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Limited to project</label>
        </div>
        <div class="col-lg-4">
            <label>
                <input type="checkbox"
                       name="LimitedToProject" ng-model="_masterDeliveryTermCtrl.DeliveryTermModel.LimitedToProject" />
            </label>
        </div>

    </div>-->
    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Limited to user</label>
        </div>
        <div class="col-lg-4">
            <label>
                <input type="checkbox"
                       name="LimitedToUser" ng-model="_masterDeliveryTermCtrl.DeliveryTermModel.LimitedToUser" />

            </label>
        </div>

    </div>
    <div class="form-group row" ng-if="_masterDeliveryTermCtrl.DeliveryTermModel.LimitedToUser">
        <div class="col-lg-4">
            <label class="control-label">Users</label>
        </div>
        <div class="col-lg-4" ng-init="_masterDeliveryTermCtrl.getCompanyusers()">
            <div style="padding: 0px;margin-top: -4px;"
                 isteven-multi-select
                 disable-property="true"
                 class="col-md-12"
                 input-model="_masterDeliveryTermCtrl.UserList"
                 output-model="_masterDeliveryTermCtrl.DeliveryTermModel.SelectedUsers"
                 button-label="firstName"
                 item-label="firstName"
                 tick-property="Selected"
                 max-height="150px">
            </div>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Limited to department</label>
        </div>
        <div class="col-lg-4">
            <label>
                <input type="checkbox"
                       name="LimitedToDepartment" ng-model="_masterDeliveryTermCtrl.DeliveryTermModel.LimitedToDepartment" />

            </label>
        </div>

    </div>
    <div class="form-group row" ng-if="_masterDeliveryTermCtrl.DeliveryTermModel.LimitedToDepartment">
        <div class="col-lg-4">
            <label class="control-label">Departments</label>
        </div>
        <div class="col-lg-4" ng-init="_masterDeliveryTermCtrl.getDeparments()">
            <div style="padding: 0px;margin-top: -4px;"
                 isteven-multi-select
                 disable-property="true"
                 class="col-md-12"
                 input-model="_masterDeliveryTermCtrl.DepartmentList"
                 output-model="_masterDeliveryTermCtrl.DeliveryTermModel.SelectedDepartments"
                 button-label="deptCode"
                 item-label="deptCode"
                 tick-property="Selected"
                 max-height="150px">
            </div>
        </div>

    </div>
</div>