﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="saveapmcInputCtrl">
                <form ng-submit="questionnaireForm.$valid && saveApmc()" class="questionnaireForm" name="questionnaireForm" novalidate>
                    
                    <div class="white-box">
                        <div class="row">

                        </div>
                        <h3>Create Negotiation</h3>

                        <div class="">
                           
                               
                           
                            <div class="row">
                                <div class="row  bottom-buffer" style="margin-left:10px;">
                                    <div class="col-md-4" ng-class="{'fg-toggled': (isEdit===true || apmcDashboard.inputPrice)}">
                                        <input type="number" ng-model="apmcDashboard.apmcInput.inputPrice" class="form-control fg-input" name="inputPrice" id="inputPrice" required />
                                        <label class="fg-label">Input Price</label>
                                    </div>
                                    <div class="col-md-4" ng-show="questionnaireForm.$submitted || questionnaireForm.inputPrice.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="questionnaireForm.inputPrice.$error.required">Please enter Input Price.</div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row  top-buffer" style="max-height:400px;overflow-y:auto;margin-left:10px;margin-right:10px">
                                <table class="table table-hover table-responsive z-depth-1 clear-both">
                                    <thead>
                                        <tr>
                                            <th style="width:6px"></th>
                                            <th>APMC/Vendor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendor in apmcvendorlist">
                                            <!--<td>
                                                <div>
                                                    
                                                        <input type="checkbox" ng-click="selectVendor(vendor)" value="{{vendor.isSelected}}" />
                                                        <i class="input-helper">{{vendor.apmcName}}/{{vendor.vendor.firstName + ' ' + vendor.vendor.lastName}}</i>
                                                   
                                                </div>
                                            </td>-->
                                            <td style="text-align:center;">
                                                <div>
                                                    <input type="checkbox"  ng-click="selectVendor(vendor)" value="{{vendor.isSelected}}"/>
                                                    <label for="checkbox"></label>
                                                </div>
                                            </td>
                                            <td><i class="input-helper">{{vendor.apmcName}}/{{vendor.vendor.firstName + ' ' + vendor.vendor.lastName}}</i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row  text-center top-buffer">
                                <button ng-disabled="apmcDashboard.apmcInput.inputPrice < 0 || !questionnaireForm.$valid" class="btn btn-info btn-file btn-new-look" ng-click="saveapmcinput()">Start New Negotiation</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</div>
    </div>

        <footer id="footer" data-ng-include="'template/footer.html'"></footer>
