﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="saveLotCtrl">
                    <div class="white-box row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <label><strong>Lot Name <span class="text-danger">*</span></strong></label>
                                    <input type="text" ng-model="lotDetails.LotTitle" class="form-control">
                                    <span class="text-danger" ng-if="validations.lotTitleValidation != ''">{{validations.lotTitleValidation}}</span>
                                </div>
                                <div class="col-md-3">
                                    <label><strong>Description</strong></label>
                                    <textarea type="text" ng-model="lotDetails.LotDesc" class="form-control"></textarea>
                                </div>
                                <div moment-picker="lotDetails.StartTime" format="DD-MM-YYYY HH:mm" class="col-md-3" min-date="minDateMoment">
                                    <label><strong>StartTime <span class="text-danger">*</span></strong></label>
                                    <input class="form-control" placeholder="Select a date" ng-model="lotDetails.StartTime" ng-model-options="{ updateOn: 'blur' }" ng-blur="setEndTime()" ng-change="setEndTime()" ng-disabled="validations.isDisabled">
                                    <span class="text-danger" ng-if="validations.currentTimeValidation != ''">{{validations.currentTimeValidation}}</span>
                                </div>

                                <div moment-picker="lotDetails.EndTime" format="DD-MM-YYYY HH:mm" class="col-md-3">
                                    <label><strong>EndTime <span class="text-danger">*</span></strong></label>
                                    <input class="form-control" placeholder="Select a date" ng-model="lotDetails.EndTime" ng-model-options="{ updateOn: 'blur' }" ng-disabled="true">
                                    <span class="text-danger" ng-if="validations.EndTimeValidation != ''">{{validations.EndTimeValidation}}</span>
                                </div>
                                <span class="col-md-12 text-danger" ng-if="validations.selectedItem != ''">{{validations.selectedItem}}</span>
                                <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                    <table class="table table-bordered table-hover" style="margin-top:20px;">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <th></th>
                                                <th>Product Name</th>
                                                <th>Product No</th>
                                                <th>HSN Code</th>
                                                <th>QTY</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="reqItem in parentRequirementDetails.listRequirementItems" ng-if="isAlreadyInLot(reqItem)">
                                                <td data-title="''">
                                                    <input type="checkbox" id="itemName" name="itemName" ng-value="false" ng-model="reqItem.lotSelect" ng-change="removeFromDefault(reqItem);" /> &nbsp;
                                                </td>
                                                <!--retriveVendors(reqItem);-->
                                                <td data-title="''">
                                                    <span>{{reqItem.productIDorName}}</span>
                                                </td>
                                                <td data-title="''">
                                                    <span>{{reqItem.productNo}}</span>
                                                </td>
                                                <td data-title="''">
                                                    <span>{{reqItem.hsnCode}}</span>
                                                </td>
                                                <td data-title="''">
                                                    <span>{{reqItem.productQuantity}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                    <table class="table table-bordered table-hover" style="margin-top:20px;">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <th></th>
                                                <th>Company Name</th>
                                                <th>Vendor Name</th>
                                                <!--<th>HSN Code</th>
                                                <th>QTY</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="vend in parentRequirementDetails.auctionVendors track by vend.vendorID">
                                                <td data-title="''">
                                                    <input type="checkbox" ng-value="false" ng-model="vend.vendIsSelect" /> &nbsp;
                                                </td>
                                                <td data-title="''">
                                                    <span>{{vend.companyName}}</span>
                                                </td>
                                                <td data-title="''">
                                                    <span>{{vend.vendorName}}</span>
                                                </td>
                                                <!--<td data-title="''">
                                                    <span>{{reqItem.hsnCode}}</span>
                                                </td>
                                                <td data-title="''">
                                                    <span>{{reqItem.productQuantity}}</span>
                                                </td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                
                            </div>
                        </div>


                        <div class="col-md-6" ng-show="DefaultRequirementDetails.listRequirementItems.length > 0 && DefaultlotDetails.Status != 'DELETED'">

                            <div class="row">

                                <div class="col-md-3">
                                    <label><strong>Lot Name <span class="text-danger">*</span></strong></label>
                                    <input type="text" ng-model="DefaultlotDetails.LotTitle" class="form-control">
                                    <span class="text-danger" ng-if="validations.lotDefaultTitleValidation != ''">{{validations.lotDefaultTitleValidation}}</span>
                                </div>
                                <div class="col-md-3">
                                    <label><strong>Description</strong></label>
                                    <textarea type="text" ng-model="DefaultlotDetails.LotDesc" class="form-control"></textarea>
                                </div>
                                <div moment-picker="DefaultlotDetails.StartTime" format="DD-MM-YYYY HH:mm" class="col-md-3" min-date="minDateMoment">
                                    <label><strong>StartTime <span class="text-danger">*</span></strong></label>
                                    <input ng-disabled="true" class="form-control" placeholder="Select a date" ng-model="DefaultlotDetails.StartTime" ng-model-options="{ updateOn: 'blur' }" ng-blur="setEndTime()" ng-change="setEndTime()" ng-disabled="validations.isDisabled">
                                    <!--<span class="text-danger" ng-if="validations.currentTimeValidation != ''">{{validations.currentTimeValidation}}</span>-->
                                </div>

                                <div moment-picker="DefaultlotDetails.EndTime" format="DD-MM-YYYY HH:mm" class="col-md-3" >
                                    <label><strong>EndTime <span class="text-danger">*</span></strong></label>
                                    <input ng-disabled="true" class="form-control" placeholder="Select a date" ng-model="DefaultlotDetails.EndTime" ng-model-options="{ updateOn: 'blur' }" ng-disabled="true">
                                    <!--<span class="text-danger" ng-if="validations.EndTimeValidation != ''">{{validations.EndTimeValidation}}</span>-->
                                </div>

                                <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                    <table class="table table-bordered table-hover" style="margin-top:20px;">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <th></th>
                                                <th>Product Name</th>
                                                <th>Product No</th>
                                                <th>HSN Code</th>
                                                <th>QTY {{DefaultRequirementDetails.listRequirementItems.length}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="reqItem in DefaultRequirementDetails.listRequirementItems">
                                                <td data-title="''">
                                                    <input ng-disabled="true" type="checkbox" ng-value="false" ng-model="reqItem.defaultlotSelect" /> &nbsp;
                                                </td>
                                                <td data-title="''">
                                                    <span>{{reqItem.productIDorName}}</span>
                                                </td>
                                                <td data-title="''">
                                                    <span>{{reqItem.productNo}}</span>
                                                </td>
                                                <td data-title="''">
                                                    <span>{{reqItem.hsnCode}}</span>
                                                </td>
                                                <td data-title="''">
                                                    <span>{{reqItem.productQuantity}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                    <table class="table table-bordered table-hover" style="margin-top:20px;">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <th></th>
                                                <th>Company Name</th>
                                                <th>Vendor Name</th>
                                                <!--<th>HSN Code</th>
                    <th>QTY</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="vend in DefaultRequirementDetails.auctionVendors">
                                                <td data-title="''">
                                                    <input ng-disabled="true" type="checkbox" ng-value="false" ng-model="vend.defaultvendIsSelect" /> &nbsp;
                                                </td>
                                                <td data-title="''">
                                                    <span>{{vend.companyName}}</span>
                                                </td>
                                                <td data-title="''">
                                                    <span>{{vend.vendorName}}</span>
                                                </td>
                                                <!--<td data-title="''">
                        <span>{{reqItem.hsnCode}}</span>
                    </td>
                    <td data-title="''">
                        <span>{{reqItem.productQuantity}}</span>
                    </td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                           
                        </div>

                        <div class="col-md-12" style="text-align: center;margin-top:20px;">
                                    <button class='btn btn-info btn-sm' ng-click="createLotRequirement()">
                                        Create Lot
                                    </button>
                                </div>
                    </div>

                    <div class="row">
                        
                    </div>
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>