﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div ng-controller="lotCtrl">
                    <div class="white-box row" style="margin:10px">
                        <div class="col-md-12">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <label><strong>Requirement Name</strong></label>
                                    <br />
                                    <span>{{lotDetails.LotTitle}}</span>
                                </div>
                                <div class="row" style="padding-top:15px;">
                                    <label><strong>Description</strong></label>
                                    <br />
                                    <span>{{lotDetails.LotDesc}}</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!--<div class="row">
                                    <div class="col-md-12">
                                        <label><strong>StartTime</strong></label>
                                        <br />
                                        <span>{{lotDetails.StartTime}}</span>
                                    </div>
                                </div>
                                <div class="row" style="padding-top:15px;">
                                    <div class="col-md-12">
                                        <label><strong>EndTime</strong></label>
                                        <br />
                                        <span>{{lotDetails.EndTime}}</span>
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-md-2">
                                <label><strong>Status</strong></label>
                                <br />
                                <span>{{lotDetails.Status}}</span>
                            </div>
                            <div class="col-md-2" ng-hide="true">
                                <label><strong>Time</strong></label>
                                {{diffDate(lotDetails.startTime, lotDetails.endTime)}}
                             
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a type="button" class="btn btn-sm btn-info" target="_blank" href="prm360.html#/view-requirement/{{lotDetails.ReqId}}">View Details</a>
                                        <!--<a type="button" class="btn btn-sm btn-info" target="_blank" href="prm360.html#/view-lot-requirement/{{lotDetails.ReqId}}">View Details</a>-->
                                    </div>
                                </div>
                                <div class="row" style="padding-top:15px;" ng-show="isCustomer && lotDetails.Status == 'COMPLETED'">
                                    <button type="button" class="btn btn-sm btn-info" ng-click="markLotAsComplete()">Mark Complete</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div ng-repeat="lot in lotRequirements">
                        <!--ng-if="isCustomer == true ? true : lot.auctionVendors[0].IS_ELIGIBLE == 'YES'"   -->
                        <div class="white-box row" style="margin:10px" ng-if="lot.auctionVendors || isCustomer">
                            <!--<h3 class="box-title"> </h3>  ng-if="isCustomer == true ? true : lot.auctionVendors[0].IS_ELIGIBLE == 'YES'"   -->
                            <div class="col-md-12">
                                <!--<div class="col-md-1" ng-show="false">
                                    <a role="button" ng-hide="lot.expand" ng-click="lot.expand=true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                    <a role="button" ng-hide="!lot.expand" ng-click="lot.expand=false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                </div>-->
                                <div class="col-md-1">
                                    <strong>{{$index + 1}}.</strong>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <label><strong>Lot Title</strong></label>
                                        <br />
                                        <span>{{lot.title}}</span>
                                    </div>
                                    <div class="row" style="padding-top:15px;">
                                        <label><strong>Description</strong></label>
                                        <br />
                                        <span>{{lot.description}}</span>
                                    </div>
                                    <div class="row" style="padding-top:15px;">
                                        <label><strong>Total Items</strong></label>
                                        <br />
                                        <span>{{lot.totalCount}}</span>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="row" ng-if="isCustomer">
                                        <div class="col-md-12">
                                            <label><strong>Vendors Invited/ Eligible</strong></label>
                                            <br />
                                            <span style="padding-left:45px;">{{lot.noOfVendorsInvited}}/{{lot.noOfVendorsParticipated}}</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:15px;">
                                        <div class="col-md-12">
                                            <label><strong>Expected Start Time</strong></label>
                                            <br />
                                            <span>{{lot.startTime}}</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:15px;" ng-style="lot.status === 'STARTED' && {'color':'red'}">
                                        <div class="col-md-12">
                                            <label><strong>Expected End Time</strong></label>
                                            <br />
                                            <span>{{lot.endTime}}</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label><strong>Status</strong></label>
                                            <br />
                                            <span ng-style="lot.statusTemp === 'STARTED' && {'color':'red'}">{{lot.statusTemp}}</span>
                                        </div>
                                        <!--<div class="col-md-12" ng-if="showTimer">
                                            <h3 style="line-height:30px;font-size:15px;margin:-7px">
                                                <label><strong>{{timeLeftMessage}}</strong></label>
                                                <span ng-style="divfix">
                                                    <timer style="font-size:30px;margin-right:20px;"
                                                           countdown="lot.timeLeft"
                                                           interval="1000">
                                                        {{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}
                                                    </timer>
                                                </span>
                                            </h3>
                                        </div>-->
                                    </div>
                                    <div class="row" style="padding-top:15px;" ng-if="!isCustomer">
                                        <div class="col-md-12">
                                            <label><strong>Eligibility</strong></label>
                                            <br />
                                            <span class="text-success" ng-if="lot.auctionVendors && lot.auctionVendors.length > 0 && lot.auctionVendors[0].isQuotationRejected == 0 && lot.auctionVendors[0].IS_ELIGIBLE == 'YES'">YES</span>
                                            <span class="text-danger" ng-if="lot.auctionVendors && lot.auctionVendors.length > 0 && (lot.auctionVendors[0].isQuotationRejected == 1 || lot.auctionVendors[0].isQuotationRejected == 0) && lot.auctionVendors[0].IS_ELIGIBLE == 'NO'">NO</span>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-2" ng-hide="true">
                                    <label><strong>Time</strong></label>
                                    {{diffDate(lot.startTime, lot.endTime)}}
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-sm btn-info" ng-click="goToLotReq(lot)"
                                            ng-if="isCustomer || (lot.auctionVendors && lot.auctionVendors.length > 0 && lot.auctionVendors[0].isQuotationRejected == 0 && lot.auctionVendors[0].IS_ELIGIBLE == 'YES')">
                                        View Details
                                        <!--&& isShowView(lot.auctionVendors[0])-->
                                    </button>


                                </div>
                                <div class="col-md-4" ng-if="$index == 0 && lot.status == 'NOTSTARTED' && isCustomer">
                                    <div class="col-md-12" style="margin-bottom:5px;"><strong class="pull-left">Negotiation Start Time :</strong></div>
                                    <div class="col-md-6">
                                        <div moment-picker="lotRequirements.myAuctionStartTime" format="DD-MM-YYYY HH:mm" min-date="minDateMoment">
                                            <input name="myAuctionStartTime" id="myAuctionStartTime" class="form-control" placeholder="Select a date" ng-model="lotRequirements.myAuctionStartTime" ng-model-options="{ updateOn: 'blur' }" required>
                                        </div>
                                    </div>
                                    <div class="text-left col-md-6">
                                        <button class='btn btn-info btn-sm' href='javascript:void(0);' ng-click="updateAuctionStart(lotRequirements.myAuctionStartTime)">Update Start Time</button>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12" ng-if="lot.expand" ng-show="false">
                                <div data-ng-controller="itemCtrl">
                                    <div ng-show="!true">
                                        <input type="text" ng-model="lot.requirementID">
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr style="font-weight: bold" ng-if="auctionItem.isTabular">
                                                    <th ng-show="!userIsOwner && auctionItem.isDiscountQuotation != 2"></th>
                                                    <th></th>
                                                    <th>Product Name</th>

                                                    <th ng-if="auctionItem.isDiscountQuotation != 2">Product No</th>

                                                    <th ng-if="auctionItem.isDiscountQuotation == 2">HSN Code</th>

                                                    <th ng-show="userIsOwner && !isDeleted">Description</th>

                                                    <th ng-show="userIsOwner">Preferred Brand</th>

                                                    <th ng-show="!userIsOwner">Brand</th>

                                                    <th><span ng-if="auctionItem.isDiscountQuotation == 2">Manufacturer name</span><span ng-if="auctionItem.isDiscountQuotation != 2">Other Brands</span></th>

                                                    <th ng-show="userIsOwner">File</th>

                                                    <th>QTY</th>

                                                    <th ng-if="auctionItem.isDiscountQuotation == 0">Min. Reduction</th>

                                                    <!--<th ng-hide="auctionItem.isDiscountQuotation == 0">Units</th>-->
                                                    <th ng-show="auctionItem.isDiscountQuotation == 0 && !userIsOwner">Units</th>

                                                    <!--<th ng-show="auctionItem.isDiscountQuotation != 2 && !userIsOwner && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'">Rank</th>-->

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">Cost.Price</th>

                                                    <th ng-show="!userIsOwner && !isDeleted">GST</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 1">Unit.Price</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">MRP</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">Net.Price</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">Margin.Amount</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 1">Discount %</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 1">Reduction.price</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">Margin %</th>

                                                    <th ng-show="!userIsOwner && !isDeleted  && auctionItem.isDiscountQuotation == 0">Unit.Price</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation != 2">Total.Item.Price</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 1">
                                                        Rev Discount %
                                                    </th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 1">
                                                        Rev.Reduction Price
                                                    </th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">Rev.Cost.Price</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2 && auctionItem.isRevUnitDiscountEnable > 0">
                                                        Rev Margin %
                                                    </th>

                                                    <th ng-show="!userIsOwner && !isDeleted
                                                            && auctionItem.isDiscountQuotation == 0">
                                                        Rev.Unit.Price
                                                    </th>

                                                    <th ng-show="!userIsOwner && !isDeleted
                                                            && auctionItem.isDiscountQuotation == 0">Reduction.Price</th>

                                                    <th ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation != 2">Revised.Item.Price</th> <!--&& auctionItem.status != 'STARTED'-->

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat-start="product in auctionItemVendor.listRequirementItems" ng-if="auctionItem.isTabular">
                                                    <td data-title="''" ng-show="!userIsOwner && auctionItem.isDiscountQuotation != 2">
                                                        <a role="button" ng-hide="product.expanded" ng-click="product.expanded = true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                                        <a role="button" ng-hide="!product.expanded" ng-click="product.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                    </td>
                                                    <td>
                                                        <div ng-if="isItemChanged(product) == 1" style="color:rgba(33,150,243,.7)" title="Details different from customer"><i class="zmdi zmdi-info">!</i></div>
                                                        <div ng-if="isItemChanged(product) == 2" style="color:red" title="Item not present in customer requirement"><i class="zmdi zmdi-alert-octagon">!</i></div>
                                                    </td>
                                                    <td>

                                                        <textarea ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && !userIsOwner && !isDeleted" type="text" ng-model="product.productIDorName" required name="productIDorName" rows="2" style="resize: vertical;" id="productIDorName" class="form-control fg-input"></textarea>
                                                        <span ng-show="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'NOTSTARTED' && !userIsOwner && !isDeleted">{{product.productIDorName}}</span>
                                                        <span ng-show="userIsOwner && !isDeleted">{{product.productIDorName}}</span>
                                                    </td>
                                                    <td>
                                                        <textarea ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && !userIsOwner && !isDeleted" type="text" ng-model="product.productNo" required name="productNo" rows="2" style="resize: vertical;" id="productNo" class="form-control fg-input"></textarea>
                                                        <span ng-show="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && !userIsOwner && !isDeleted">{{product.productNo}}</span>
                                                        <span ng-show="userIsOwner && !isDeleted">{{product.productNo}}</span>
                                                    </td>
                                                    <td ng-show="userIsOwner && !isDeleted">
                                                        <textarea ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && !userIsOwner && !isDeleted" type="text" ng-model="product.productDescription" required name="productDescription" rows="2" style="resize: vertical;" id="productDescription" class="form-control fg-input"></textarea>
                                                        <span ng-show="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && !userIsOwner && !isDeleted">{{product.productDescription}}</span>
                                                        <span ng-show="userIsOwner && !isDeleted">{{product.productDescription}}</span>
                                                    </td>
                                                    <td>
                                                        <textarea ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && !userIsOwner && !isDeleted" type="text" ng-model="product.productBrand" required name="productBrand" rows="2" style="resize: vertical;" id="productBrand" class="form-control fg-input"></textarea>
                                                        <span ng-show="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && !userIsOwner && !isDeleted">{{product.productBrand}}</span>
                                                        <span ng-show="userIsOwner && !isDeleted">{{product.productBrand}}</span>
                                                    </td>
                                                    <td>
                                                        <textarea ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && !userIsOwner && !isDeleted" type="text" ng-model="product.othersBrands" required name="othersBrands" rows="2" style="resize: vertical;" id="othersBrands" class="form-control fg-input"></textarea>
                                                        <span ng-show="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && !userIsOwner && !isDeleted">{{product.othersBrands}}</span>
                                                        <span ng-show="userIsOwner && !isDeleted">{{product.othersBrands}}</span>

                                                    </td>
                                                    <td ng-show="userIsOwner">
                                                        <h5 ng-show="product.productImageID!=''"><a target="_blank" href="FileDownload.aspx?attachid={{product.productImageID}}&sessionid={{sessionid}}"><i class="fa fa-download"></i></a></h5>
                                                    </td>
                                                    <td>
                                                        {{product.productQuantity}}  {{product.productQuantityIn}}
                                                    </td>
                                                    <td ng-if="auctionItem.isDiscountQuotation == 0">
                                                        {{product.itemMinReduction}}
                                                    </td>
                                                    <!--<td ng-hide="auctionItem.isDiscountQuotation == 0">-->
                                                    <td ng-show="auctionItem.isDiscountQuotation == 0 && !userIsOwner">
                                                        <select ng-style="item.style" ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" style="margin-left:-5px;" ng-model="product.vendorUnits" ng-options="BC.configValue as BC.configValue for BC in companyItemUnits" class="form-control-dropdown"></select>
                                                    </td>

                                                    <!--<th ng-show="auctionItem.isDiscountQuotation != 2 && !userIsOwner && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'">{{(product.itemRank > 0?product.itemRank:'NA')}}</th>-->
                                                    Is

                                                    <td ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">
                                                        <input ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" ng-style="quotationApprovedColor" type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="product.costPrice" ng-change="mrpDiscountCalculation();unitPriceCalculation();getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" class="form-control" required />
                                                    </td>

                                                    <td ng-show="!userIsOwner && !isDeleted">
                                                        <input ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" type="text" valid-number allow-decimal="true" allow-negative="false" ng-style="quotationApprovedColor" style="width:90px;" ng-change="unitPriceCalculation('GST');getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.Gst" class="form-control" required />
                                                    </td>


                                                    <td ng-show="!userIsOwner && !isDeleted && (auctionItem.isDiscountQuotation == 1 || auctionItem.isDiscountQuotation == 2)">
                                                        <input ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" ng-style="quotationApprovedColor" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="mrpDiscountCalculation();unitPriceCalculation();getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.unitMRP" class="form-control" required />
                                                    </td>
                                                    <td ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">
                                                        <input ng-disabled="true" ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')" type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="product.netPrice" class="form-control" required />
                                                        <span ng-show="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'">{{product.netPrice}}</span>
                                                    </td>

                                                    <td ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">
                                                        <input ng-disabled="true" ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')" type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="product.marginAmount" class="form-control" required />
                                                        <span ng-show="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'">{{product.marginAmount}}</span>
                                                    </td>
                                                    <td ng-show="!userIsOwner && !isDeleted && (auctionItem.isDiscountQuotation == 1)">
                                                        <input type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="8" ng-disabled="auctionItem.isDiscountQuotation == 2 || (auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED') || auctionItem.auctionVendors[0].isQuotationRejected == 0" ng-class="{'quotationApprovedColor':auctionItem.isDiscountQuotation != 2}" ng-change="mrpDiscountCalculation();unitPriceCalculation();getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.unitDiscount" class="form-control" required />
                                                    </td>

                                                    <td ng-show="!userIsOwner && !isDeleted && (auctionItem.isDiscountQuotation == 1)">
                                                        <input ng-disabled="true" type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="product.reductionPrice" class="form-control" />
                                                        <!--{{product.reductionPrice}}-->
                                                    </td>

                                                    /t

                                                    <td ng-show="!userIsOwner && !isDeleted && (auctionItem.isDiscountQuotation == 2)">
                                                        bi
                                                        <span ng-bind-html="product.unitDiscount | roundedDecimalDisplay : 2"></span>
                                                    </td>


                                                    <td ng-show="!userIsOwner && !isDeleted  && auctionItem.isDiscountQuotation == 0">
                                                        <input ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" ng-style="quotationApprovedColor" style="width:90px;" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="unitPriceCalculation();getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.unitPrice" class="form-control" required />
                                                    </td>

                                                    <td ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation != 2">
                                                        <div ng-hide="auctionItem.isDiscountQuotation == 0 && product.productQuantityIn != product.vendorUnits">
                                                            <input ng-disabled="true" ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="unitPriceCalculation();getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.itemPrice" class="form-control" required />
                                                            <span ng-show="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'">{{product.itemPrice}}</span>
                                                        </div>
                                                    </td>

                                                    <td ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 2">
                                                        <input ng-show="auctionItem.status == 'Negotiation Ended' || auctionItem.status == 'STARTED'|| auctionItem.status == 'NOTSTARTED'" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="mrpDiscountCalculation();getRevTotalPrice(revfreightcharges, revtotalprice);" ng-style="quotationNotApprovedColor" ng-model="product.revCostPrice" id="revCostPrice" name="revCostPrice" class="form-control" required />
                                                        <span ng-show="auctionItem.status != 'Negotiation Ended' && auctionItem.status != 'STARTED'  && auctionItem.status != 'NOTSTARTED'">{{product.revCostPrice}}</span>
                                                    </td>
                                                    <td ng-show="!userIsOwner && !isDeleted && (auctionItem.isDiscountQuotation == 1)">
                                                        <input ng-disabled="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && auctionItem.auctionVendors[0].isQuotationRejected != 0" type="number" ng-change="mrpDiscountCalculation();unitPriceCalculation();getRevTotalPrice(revfreightcharges, revtotalprice);makeBidUnitPriceValidation(product.revUnitPrice, product.TemperoryRevUnitPrice, product.productIDorName);" ng-model="product.revUnitDiscount" id="revUnitPrice" name="revUnitPriceName" class="form-control" required />
                                                    </td>

                                                    <td ng-show="!userIsOwner && !isDeleted && (auctionItem.isDiscountQuotation == 1)">
                                                        <input ng-disabled="true" type="number" ng-model="product.revReductionPrice" class="form-control" />
                                                        <!--{{product.revReductionPrice}}-->
                                                    </td>

                                                    <td ng-show="!userIsOwner && !isDeleted && (auctionItem.isDiscountQuotation == 2) && auctionItem.isRevUnitDiscountEnable > 0">
                                                        e
                                                        <span ng-bind-html="product.revUnitDiscount | roundedDecimalDisplay : 2"></span>
                                                        ">
                                                    </td>
                                                    <td ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 0">
                                                        <input ng-disabled="auctionItem.isUnitPriceBidding == 0 || auctionItem.auctionVendors[0].isQuotationRejected != 0" ng-style="quotationNotApprovedColor" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="reductionPricePercent();unitPriceCalculation();getRevTotalPrice(revfreightcharges, revtotalprice);makeBidUnitPriceValidation(product.revUnitPrice, product.TemperoryRevUnitPrice, product.productIDorName);" ng-model="product.revUnitPrice" id="revUnitPrice" name="revUnitPriceName" class="form-control" required />
                                                    </td>
                                                    <td ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation == 0">
                                                        <div ng-hide="auctionItem.isDiscountQuotation == 0 && product.productQuantityIn != product.vendorUnits">
                                                            <input ng-disabled="true" ng-show="auctionItem.status == 'Negotiation Ended' || auctionItem.status == 'STARTED'|| auctionItem.status == 'NOTSTARTED'" type="text" valid-number allow-decimal="true" allow-negative="false" ng-value="product.unitPrice - product.revUnitPrice" id="revitemPrice" name="revitemPrice" class="form-control" required />
                                                            <span ng-show="auctionItem.status != 'Negotiation Ended' && auctionItem.status != 'STARTED'  && auctionItem.status != 'NOTSTARTED'">{{product.unitPrice - product.revUnitPrice}}</span>
                                                        </div>
                                                    </td>
                                                    <td ng-show="!userIsOwner && !isDeleted && auctionItem.isDiscountQuotation != 2">
                                                        <div ng-hide="auctionItem.isDiscountQuotation == 0 && product.productQuantityIn != product.vendorUnits">
                                                            <input ng-disabled="true" ng-show="auctionItem.status == 'Negotiation Ended' || auctionItem.status == 'STARTED'|| auctionItem.status == 'NOTSTARTED'" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="unitPriceCalculation();getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.revitemPrice" id="revitemPrice" name="revitemPrice" class="form-control" required />
                                                            <span ng-show="auctionItem.status != 'Negotiation Ended' && auctionItem.status != 'STARTED'  && auctionItem.status != 'NOTSTARTED'">{{product.revitemPrice}}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat-end ng-if="!product.expanded">
                                                    <td colspan="3" ng-show="!userIsOwner && auctionItem.isDiscountQuotation == 0">
                                                        <input type="checkbox" ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" ng-change="regretHandle(product);unitPriceCalculation('GST');getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.isRegret" ng-value="false" /> &nbsp;Regret :&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </td>
                                                    <td colspan="5" ng-show="!userIsOwner && auctionItem.isDiscountQuotation == 0">
                                                        <textarea ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" ng-show="product.isRegret" placeholder="Regret Comments" type="text" ng-model="product.regretComments" required name="regretComments" rows="2" style="resize: vertical;" id="regretComments" class="form-control fg-input"></textarea>
                                                        {{product.regretError}}
                                                    </td>
                                                    <td colspan="1" ng-show="!userIsOwner && auctionItem.isDiscountQuotation != 2">
                                                        Comment
                                                    </td>
                                                    <td colspan="5" ng-show="!userIsOwner && auctionItem.isDiscountQuotation != 2">
                                                        <textarea ng-show="auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED'||auctionItem.status == 'STARTED'" ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" type="text" ng-model="product.itemLevelInitialComments" required name="itemLevelInitialComments" rows="2" style="resize: vertical;" title="Item Wise Initial Comment" id="itemLevelInitialComments" class="form-control fg-input" placeholder="Item Wise Comment"></textarea>
                                                        <textarea ng-disabled="auctionItem.isUnitPriceBidding == 0 || auctionItem.auctionVendors[0].isQuotationRejected != 0" ng-show="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'&& auctionItem.status != 'STARTED'" type="text" ng-model="product.itemLevelRevComments" required name="itemLevelRevComments" rows="2" style="resize: vertical;" title="Item Wise Revise Comment" id="itemLevelRevComments" class="form-control fg-input" placeholder="Item Wise Comment"></textarea>
                                                    </td>
                                                </tr>
                                                <tr ng-if="!auctionItem.isTabular">
                                                    <td>
                                                        <p ng-bind-html="description"></p>
                                                    </td>
                                                    <td>
                                                        <h5 ng-show="auctionItem.attachmentName > 0"><a target="_blank" href="FileDownload.aspx?attachid={{auctionItem.attachmentName}}&sessionid={{sessionid}}"><i class="fa fa-download"></i></a></h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                        <table class="table  table-hover table-responsive" ng-show="!userIsOwner && !isDeleted">
                                            <tr ng-if="auctionItem.isTabular" class="text-right" ng-hide="auctionItem.isDiscountQuotation == 0 && auctionItem.isUOMDifferent">
                                                <th style="width:20%"></th>
                                                <th style="width:5%"></th>
                                                <th style="width:15%"></th>
                                                <th style="width:20%">Price</th>
                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <strong ng-if="auctionItem.isTabular"><h6>{{(totalprice)?totalprice:0;}}</h6></strong>
                                                </th>

                                                <th style="width:8%" ng-show="!userIsOwner && !isDeleted"></th>
                                                <th style="width:7%" ng-show="!userIsOwner && !isDeleted"></th>
                                                <th style="width:15%" ng-show="!userIsOwner && !isDeleted">
                                                    <strong ng-if="auctionItem.isTabular"><h6>{{(revtotalprice)?revtotalprice:0;}}</h6></strong>
                                                </th>
                                                <th style="width:10%" "></th>
                                            </tr>

                                            <tr ng-if="auctionItem.isTabular" class="text-right">
                                                <th style="width:20%"></th>
                                                <th style="width:5%"></th>
                                                <th style="width:15%"></th>

                                                <th style="width:20%">Freight & Installation Charges</th>

                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <input ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" ng-style="quotationApprovedColor" style="width:90px" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="freightcharges" id="freightcharges" name="freightcharges" class="form-control" style="width:60px" required>
                                                </th>

                                                <th style="width:8%" ng-show="!userIsOwner && !isDeleted"></th>  <!--&& auctionItem.status != 'STARTED'-->
                                                <th style="width:7%" ng-show="!userIsOwner && !isDeleted"></th>  <!--&& auctionItem.status != 'STARTED'-->
                                                <th style="width:15%" ng-show="!userIsOwner && !isDeleted">
                                                    <input ng-disabled="auctionItem.isUnitPriceBidding == 0 || auctionItem.auctionVendors[0].isQuotationRejected != 0" ng-style="quotationNotApprovedColor" type="text" style="width:90px" valid-number allow-decimal="true" allow-negative="false" ng-change="getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="revfreightcharges" id="revfreightcharges" name="freightcharges" class="form-control" required>
                                                </th>
                                                <th style="width:10%"></th>
                                            </tr>

                                            <tr ng-if="auctionItem.isTabular" class="text-right" ng-hide="auctionItem.isDiscountQuotation == 0 && auctionItem.isUOMDifferent">
                                                <th style="width:20%"></th>
                                                <th style="width:5%"></th>
                                                <th style="width:15%"></th>

                                                <th style="width:20%">Price (Inc Tax, Freight & Installation)</th>

                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <strong><h4>{{(vendorBidPriceWithoutDiscount)?vendorBidPriceWithoutDiscount:0;}}</h4></strong>
                                                </th>

                                                <th style="width:8%" ng-show="!userIsOwner && !isDeleted"></th> <!--&& auctionItem.status != 'STARTED'-->
                                                <th style="width:7%" ng-show="!userIsOwner && !isDeleted"></th> <!--&& auctionItem.status != 'STARTED'-->
                                                <th style="width:15%" ng-show="!userIsOwner && !isDeleted">
                                                    <!--&& auctionItem.status != 'STARTED'-->
                                                </th>
                                                <th style="width:10%"></th> <!--&& !allItemsSelected-->
                                            </tr>

                                            <tr ng-hide="true" class="text-right" ng-hide="auctionItem.isDiscountQuotation == 0 && product.productQuantityIn != product.vendorUnits">
                                                <!--ng-if="auctionItem.isTabular"-->
                                                <th style="width:20%"></th>
                                                <th style="width:5%"></th>
                                                <th style="width:15%"></th>

                                                <th style="width:20%">Discount Amount</th>

                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="discountAmount" id="discountAmount" name="discountAmount" class="form-control" required>
                                                </th>

                                                <th style="width:8%" ng-show="!userIsOwner && !isDeleted"></th> <!--&& auctionItem.status != 'STARTED'-->
                                                <th style="width:7%" ng-show="!userIsOwner && !isDeleted"></th> <!--&& auctionItem.status != 'STARTED'-->
                                                <th style="width:15%" ng-show="!userIsOwner && !isDeleted">
                                                    <!--&& auctionItem.status != 'STARTED'-->
                                                </th>
                                                <th style="width:10%"></th> <!--&& !allItemsSelected-->
                                            </tr>

                                            <tr ng-if="auctionItem.isTabular" class="text-right" ng-hide="auctionItem.isDiscountQuotation == 0 && auctionItem.isUOMDifferent">
                                                <th style="width:20%"></th>
                                                <th style="width:5%"></th>
                                                <th style="width:15%"></th>

                                                <th style="width:20%; margin-top:10px">Total Price</th>

                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <strong><h3>{{(vendorBidPrice)?vendorBidPrice:0;}}</h3></strong>
                                                </th>

                                                <th style="width:8%" ng-show="!userIsOwner && !isDeleted"></th> <!--&& auctionItem.status != 'STARTED'-->
                                                <th style="width:7%" ng-show="!userIsOwner && !isDeleted"></th> <!--&& auctionItem.status != 'STARTED'-->
                                                <th style="width:15%" ng-show="!userIsOwner && !isDeleted">
                                                    <!--&& auctionItem.status != 'STARTED'-->
                                                    <strong><h3>{{(revvendorBidPrice)?revvendorBidPrice:0;}}</h3></strong>
                                                </th>
                                                <th style="width:10%"></th> <!--&& !allItemsSelected-->
                                            </tr>



                                            <tr ng-if="!auctionItem.isTabular" class="text-right">
                                                <th style="width:60%" class="text-right">Price</th>
                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="totalprice" id="totalprice" name="totalprice" class="form-control" required>
                                                </th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted && auctionItem.status != 'STARTED'">
                                                    <input ng-show="!auctionItem.isTabular" ng-disabled="auctionItem.status != 'Negotiation Ended'" ng-change="getRevTotalPrice(revfreightcharges, revtotalprice);" type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="revtotalprice" id="revtotalprice" name="revtotalprice" class="form-control">
                                                </th>
                                            </tr>

                                            <tr ng-repeat="product in listRequirementTaxes" ng-if="!auctionItem.isTabular && listRequirementTaxeslength != 0" class="text-right">
                                                <th style="width:60%" class="text-right">Tax Type <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'" type="text" ng-change="getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.taxName" id="taxname" name="taxname" required> Tax % </th>
                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.taxPercentage" id="taxamount" name="taxamount" class="taxfeild" required>
                                                    <button class='btn btn-info btn-sm' ng-if="!maxtax && (auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')" ng-click="AddTax()"> &#10010; </button>
                                                    <button class='btn btn-info btn-sm' ng-if="!mintax && (auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')" ng-click="deleteTax(product.taxSNo)"> &#10006; </button>
                                                </th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted && auctionItem.status != 'STARTED'">
                                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.taxPercentage" id="taxamount" name="taxamount" class="taxfeild" required><
                                                </th>
                                            </tr>

                                            <tr ng-if="!auctionItem.isTabular && listRequirementTaxeslength == 0" class="text-right">
                                                <th style="width:60%" class="text-right">Tax</th>
                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">

                                                    <button class='btn btn-info btn-sm' ng-if="!maxtax && (auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')" ng-click="AddTax()"> &#10010; Add Tax </button>

                                                </th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted && auctionItem.status != 'STARTED'">
                                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="product.taxPercentage" id="taxamount" name="taxamount" class="taxfeild" required>
                                                </th>
                                            </tr>


                                            <tr ng-if="!auctionItem.isTabular" class="text-right">
                                                <th style="width:60%" class="text-right">Freight & Installation Charges</th>
                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <input ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected == 0" ng-style="quotationApprovedColor" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="freightcharges" id="freightcharges" name="freightcharges" class="form-control" style="width:60px" required>
                                                </th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted && auctionItem.status != 'STARTED'">
                                                    <input ng-disabled="auctionItem.auctionVendors[0].isQuotationRejected != 0" ng-style="quotationNotApprovedColor" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="revfreightcharges" id="revfreightcharges" name="freightcharges" class="form-control" required>
                                                </th>
                                            </tr>

                                            <tr ng-if="!auctionItem.isTabular" class="text-right">
                                                <th style="width:60%" class="text-right">Price (Inc Tax, Freight & Installation)</th>
                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <strong><h4>{{(vendorBidPriceWithoutDiscount)?vendorBidPriceWithoutDiscount:0;}}</h4></strong>
                                                </th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted && auctionItem.status != 'STARTED'">
                                                </th>
                                            </tr>

                                            <tr ng-hide="true" class="text-right">
                                                <!--ng-if="!auctionItem.isTabular"-->
                                                <th style="width:60%" class="text-right">Discount Amount</th>
                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED'" type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="getTotalPrice(discountAmount, freightcharges,totalprice);getRevTotalPrice(revfreightcharges, revtotalprice);" ng-model="discountAmount" id="discountAmount" name="discountAmount" class="form-control" required>
                                                </th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted && auctionItem.status != 'STARTED'">
                                                </th>
                                            </tr>

                                            <tr ng-if="!auctionItem.isTabular" class="text-right">
                                                <th style="width:60%" class="text-right">Total Price</th>
                                                <th style="width:10%"></th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted">
                                                    <h4><strong>{{(vendorBidPrice)?vendorBidPrice:0;}}</strong></h4>
                                                </th>
                                                <th style="width:20%" ng-show="!userIsOwner && !isDeleted && auctionItem.status != 'STARTED'">
                                                    <strong><h4>{{(revvendorBidPrice)?revvendorBidPrice:0;}}</h4></strong>
                                                </th>
                                            </tr>

                                        </table>
                                    </div>


                                    <div class="col-md-12" ng-if="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && auctionItem.isQuotationPriceLimit">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <span><h3 ng-show="auctionItem.isQuotationPriceLimit"> Quotation Price Limit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #e62739">{{auctionItem.quotationPriceLimit }}</span> </h3></span>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="!userIsOwner && !isDeleted">
                                        <div class="row">
                                            <!--ng-show="(quotationNotviewedMsg != '' || quotationRejectedMsg != '') && (auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')"-->

                                            <div class="col-md-12">
                                                <div class="form-group col-sm-6 m-b-30 fg-float col-md-4">
                                                    <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                                        <strong>Warranty</strong>
                                                        <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="warranty" id="warranty" name="warranty" class="form-control" required>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-6 m-b-30 fg-float col-md-4">
                                                    <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                                        <strong>Price Validity</strong>
                                                        <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="validity" id="validity" name="validity" class="form-control" required>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-6 m-b-30 fg-float col-md-4">
                                                    <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                                        <strong ng-if="auctionItem.isDiscountQuotation != 2">Other Properties</strong>
                                                        <strong ng-if="auctionItem.isDiscountQuotation == 2">Vendor Remarks</strong>
                                                        <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="otherProperties" id="otherProperties" name="otherPropertiesName" class="form-control" required>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-4">

                                                <div class="form-group fg-float col-md-12">
                                                    <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                                        <strong>Delivery Terms</strong>
                                                        <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="duration" id="duration" name="duration" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group fg-float col-md-12">
                                                    <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                                        <strong>Payment Terms</strong>
                                                        <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="payment" id="payment" name="payment" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group fg-float col-md-12">
                                                    <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                                        <strong>GST Number</strong>
                                                        <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="gstNumber" id="payment" name="payment" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <!--<div class="col-md-12">
                        <div class="col-md-4" ng-show="quotationUrl!=''">
                            <h5>
                                <b>Download Quotation:</b>
                                <a target="_blank" href="FileDownload.aspx?attachid={{quotationUrl}}&sessionid={{sessionid}}" ng-show="quotationUrl!=''"><i class="fa fa-download"></i></a>
                            </h5>
                        </div>
                        <div class="col-md-4" ng-show="revquotationUrl!=''">
                            <h5>
                                <b>Download Revised Quotation:</b>
                                <a target="_blank" href="FileDownload.aspx?attachid={{revquotationUrl}}&sessionid={{sessionid}}" ng-show="revquotationUrl!=''"><i class="fa fa-download"></i></a>
                            </h5>
                        </div>
                    </div>-->
                                        <div class="col-md-12">
                                            <h4 class="prmredcolor" ng-if="(auctionItem.status == 'Negotiation Ended' && (revtotalprice <= 0 || revtotalprice == '' || revtotalprice == undefined || discountfreightValidation)) || ((auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') &&( totalprice <= 0 || totalprice == '' || totalprice == undefined || discountfreightValidation))">
                                                {{uploadQuotationButtonMsg}}
                                            </h4>

                                            <h4 class="prmredcolor" ng-if="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && taxValidation || gstValidation">
                                                {{uploadQuotationTaxValidationMsg}}
                                            </h4>
                                            <div class="row" ng-if="(auctionItem.status == 'Negotiation Ended' && quotationNotviewedMsg == '') || ((auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED'))">
                                                <div class="col-md-4">

                                                </div>
                                            </div>

                                            <div class="" ng-if="(auctionItem.status == 'Negotiation Ended' && quotationNotviewedMsg == '') || ((auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')) ">
                                                <div class="row form-group fg-float col-sm-6 m-b-30 col-md-4">
                                                    <!--totalprice <= 0 || vendorBidPrice <= 0 ||-->
                                                    <button id="{{auctionItem.requirementID}}" ng-if="QuotationRatioButton.upload == 'generate'" ng-disabled="(((auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && (taxValidation || gstValidation || ItemPriceValidation || discountfreightValidation))  || (auctionItem.status == 'Negotiation Ended' && (revtotalprice <= 0 || totalprice <= 0 || ItemPriceValidation || discountfreightValidation))) && !quotationAttachment" class='btn btn-info btn-sm' href='javascript:void(0);' ng-click="uploadQuotation('SYSTEM')">Generate & Submit Quotation</button>
                                                    <!--<button id="{{auctionItem.requirementID}}" class="btn btn-info" ng-click="uploadQuotation('SYSTEM')" value="Export to Excel">{{auctionItem.requirementID}}</button>-->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">

                            </div>
                        </div>
                    </div>


                    <!--<data ui-view></data>-->
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                // Switchery
                var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                $('.js-switch').each(function () {
                    new Switchery($(this)[0], $(this).data());
                });
            });





        </script>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>