﻿<header id="header" data-ng-include="'template/header.html'"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->

    <section id="content">
        <div class="card" ng-controller="myApprovalsCtrl">
            <div class="card-body card-padding">

                <div class="row">
                    
                </div>

                <br />

                <div class="row">
                    <div class="table-responsive z-depth-1 clear-both">
                        <table class="table table-hover" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th>INDENT NUMBER</th>
                                    <th>DEPARTMENT</th>
                                    <th>REQUESTED BY</th>
                                    <th>DATE</th>
                                    <th>MODULE</th>
                                    <th>STATUS</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="workflow in listWorkflows">

                                    <td>                                        
                                        {{workflow.indent.indNo}}
                                    </td>
                                    <td>
                                        {{workflow.indent.department}}
                                    </td>
                                    <td>
                                        {{workflow.indent.requestedBy}}
                                    </td>
                                    <td>
                                        {{workflow.indent.requestDate}}
                                    </td>
                                    <td>
                                        {{workflow.WorkflowModule}}
                                    </td>
                                    <td>
                                        {{workflow.WorkflowTrack.status}}
                                    </td>                                                                        
                                    <td class="text-center">


                                        <a ng-click="goToIndent(workflow.indent.indID);" role="button">Approve / Reject</a>


                                        <!--<div class="row">

                                            <button ng-if="item.poID > 0" title=" vendor po" ng-click="goToViewPo(item, item.poID)" class="btn btn-primary btn-new-look">View PO</button>

                                            <button ng-if="isCustomer && item.poID > 0" title=" vendor po" ng-click="goToVendorPo(item, item.poID)" class="btn btn-primary btn-new-look">Edit PO</button>
                                            

                                            <a ng-if="item.poLink > 0 && item.poID > 0" target="_blank " href="FileDownload.aspx?attachid={{item.poLink}}&sessionid={{sessionID}}" class="btn btn-default">Download PO</a>
                                            <button ng-if="item.poLink > 0 && item.poID > 0" ng-click="goToDispatchTrack(item.poID, 0);" class="btn btn-primary btn-new-look">Dispatch History</button>
                                            <button ng-if="!isCustomer && item.poID > 0" title="Edit Dispatch Meterial" role="button" ng-click="goToDispatchTrackForm(item.poID, 0)" class="btn btn-primary btn-new-look">New Dispatch</button>

                                            <button title="Edit CIJ" role="button" ng-click="goToCIJ(cij.cijID)" class="btn btn-primary btn-new-look">Edit CIJ</button>

                                        </div>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            
</section>
</section>