﻿<header id="header" data-ng-include="'template/header.html'"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->

    <section id="content">
        <div class="card" ng-controller="myIndentsCtrl">
            <div class="card-body card-padding">

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="col-md-3"> <input type="radio" ng-change="changeFunction('CP');" ng-model="indentType" name="CP" value="CP"> <strong>  Department Pending  </strong> </h4>
                        <h4 class="col-md-2"><input type="radio" ng-change="changeFunction('CC');" ng-model="indentType" name="CC" value="CC"><strong> Department Closed  </strong> </h4>
                        <h4 class="col-md-2"><input type="radio" ng-change="changeFunction('MP');" ng-model="indentType" name="MP" value="MP"><strong> My Pending </strong> </h4>
                        <h4 class="col-md-2"><input type="radio" ng-change="changeFunction('MC');" ng-model="indentType" name="MC" value="MC"><strong> My Closed </strong> </h4>                        
                    </div>                    
                </div>

                <br />

                <div class="row">
                    <div class="table-responsive z-depth-1 clear-both">
                        <table class="table table-hover" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    
                                    <th>INDENT NUMBER</th>
                                    <th>DEPARTMENT</th>
                                    <th>REQUESTED BY</th>
                                    <th>DATE</th>
                                    <th ng-hide="indentType == 'CP' || indentType == 'MP' ">Req ID</th>
                                    <th class="text-center" ng-hide=" indentType == 'CC' || indentType == 'MC' ">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="indent in listIndentsFilter">

                                    <td>
                                        <a ng-click="goToIndentView(indent.indID); " role="button" ng-bind-html="indent.indNo"></a> 
                                    </td>
                                    <td>
                                        {{indent.department}}
                                    </td>
                                    <td>
                                        {{indent.requestedBy}}
                                    </td>
                                    <td>
                                        {{indent.requestDate}}
                                    </td>
                                    <td  ng-hide="indentType == 'CP' || indentType == 'MP' ">
                                       <a ng-click="goToReq(indent.reqID);"role="button" > {{indent.reqID}}</a>
                                    </td>

                                    <td class="text-center" ng-hide=" indentType == 'CC' || indentType == 'MC' ">


                                        <a ng-click="goToIndent(indent.indID);" role="button">Approve / Reject</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>