<style>
    .prmellipsis_alloc {
        display: inline-block;
        width: 100px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">

            <div class="container-fluid" ng-controller="grnAuditCtrl">
                <div class="row" style="margin:0"><h3>GRN Number : {{grnNumber}}</h3></div>
                <div class="white-box p-t-10">

                    <div class="row">
                        <div class="row" ng-if="tableColumns.length > 0">
                            <div class="col-md-12 table-responsive">
                                <!--<small style="color:green">Total Count:{{totalItems}}</small>-->
                                <table class="table">
                                    <tbody>

                                        <tr ng-repeat="fields in auditArr">
                                            <td colspan="{{tableColumns.length + 1}}">
                                                <h3 class="text-warning">
                                                    <i class="fa-2x fa fa-angle-right" ng-click="fields.showData = false;filterBasedonAuditVesrion(fields.AUDIT_ENTRY)" ng-if="fields.showData"></i>
                                                    <i class="fa-2x fa fa-angle-down" ng-click="fields.showData = true" ng-if="!fields.showData"></i>
                                                    <span style="position: relative;top: -8px;">{{fields.AUDIT_ENTRY}}</span>
                                                </h3>
                                            </td>

                                            <td colspan="{{tableColumns.length + 1}}">
                                                <span ng-if="!fields.showData">
                                                    <table class="table">
                                                        <thead>
                                                            <tr style="font-weight: bold">
                                                                <th style="width:10%" ng-repeat="columnName in tableColumns track by $index">
                                                                    <strong>{{columnName}}</strong>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="value in fields.rowsTemp">
                                                                <td style="max-width:200px;min-width:79px;" ng-repeat="val in value.tableValues track by $index">
                                                                    {{val}}
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-if="!addentityView" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>




                        <div class="row">
                                
                                <div  style="text-align:center">
                                        <button class="btn btn-info btn-file btn-new-look" ng-click="routeGRN()" type="submit">Cancel</button>
                                </div>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
