
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>


        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="dispatchTrackFormCtrl">
                <div class="white-box">
                    <form ng-submit="requirementForm.$valid" class="requirementForm" name="requirementForm" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="white-box">
                                    <div class="row text-center">
                                        <h3>Dispatch Tracking Form</h3>
                                    </div>
                                    <!--<div class="card-header">
                                        <h2>
                                            Dispatch Tracking Form
                                            <small>
                                                <a title="Dispatch Receipt" target="_blank"
                                                   ng-if="dispatchTrackObject.dispatchLink > 0 && !userIsOwner"
                                                   href="FileDownload.aspx?attachid={{dispatchTrackObject.dispatchLink}}&sessionid={{sessionID}}">
                                                    Dispatch Receipt
                                                </a>
                                            </small>
                                        </h2>
                                    </div>-->
                                    <!--<div class="card-body card-padding">-->
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <strong>Purchase Order No:</strong> {{purchaseID}}
                                            </div>
                                            <div class="col-xs-6">
                                                <strong>Indent No:</strong> {{indentID}}
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div ng-show="isCustomer">
                                                <div class="col-md-6">
                                                    <strong>Dispatch Code:</strong> {{dispatchTrackObject.dispatchCode}}
                                                </div>
                                                <div class="col-md-6">
                                                    <strong>Dispatch Type:</strong> {{dispatchTrackObject.dispatchType}}
                                                </div>
                                                <div class="col-md-6">
                                                    <strong>Delivery TrackID:</strong> {{dispatchTrackObject.deliveryTrackID}}
                                                </div>

                                                <div class="col-md-6">
                                                    <strong>Dispatch Mode:</strong> {{dispatchTrackObject.dispatchMode}}
                                                </div>

                                                <div class="col-md-6">
                                                    <strong>Dispatch Date:</strong> {{dispatchTrackObject.dispatchDate}}
                                                </div>
                                                <div class="col-md-6">
                                                    <strong>Dispatch Comments:</strong> {{dispatchTrackObject.dispatchComments}}
                                                </div>
                                            </div>
                                        </div>
                                    <!--</div>-->
                                    <br />
                                    <div class="row" ng-show="!isCustomer">
                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Dispatch Code <label ng-if="isExists" class="text-danger"> ( Dispatch Code already exists ) </label></label>
                                                <input ng-model="dispatchTrackObject.dispatchCode" ng-change="CheckUniqueIfExists(dispatchTrackObject.dispatchCode,'DISPATCH_CODE')" id="dispatchCode" name="dispatchCodeName" class="form-control fg-input fg-toggled" />
                                            </div>

                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Dispatch Type</label>
                                                <input ng-model="dispatchTrackObject.dispatchType" id="dispatchType" name="dispatchTypeName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>
                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Delivery TrackID</label>
                                                <input ng-model="dispatchTrackObject.deliveryTrackID" id="deliveryTrackID" name="deliveryTrackIDName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Dispatch Mode</label>
                                                <input ng-model="dispatchTrackObject.dispatchMode" id="dispatchMode" name="dispatchModeName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                            <label class="fg-label">Dispatch Date</label>
                                            <div class="fg-line fg-toggled">
                                                <div ng-disabled="isCustomer" moment-picker="dispatchTrackObject.dispatchDate" format="DD-MM-YYYY">
                                                    <input name="dispatchDate" id="dispatchDate" class="form-control" placeholder="" ng-model="dispatchTrackObject.dispatchDate">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6 top-half-buffer">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Dispatch Comments</label>
                                                <input ng-model="dispatchTrackObject.dispatchComments" id="dispatchComments" name="dispatchCommentsName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                             <table class="table tablesaw table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th class="text-center" width="45%">HSN Code</th>
                                                            <th class="text-center" width="5%">PO Qty</th>
                                                            <th class="text-center" width="5%">TOTAL.DIS.QTY</th>
                                                            <th class="text-center" width="5%">TOTAL.REC.QTY</th>
                                                            <th class="text-center" width="5%">TOTAL.RET.QTY</th>
                                                            <th class="text-center" width="10%"></th>
                                                            <th class="text-center" width="5%">Dispatch Qty</th>
                                                            <th class="text-center" width="5%">Accepted Qty</th>
                                                            <th class="text-center" width="5%">Return Qty</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in dispatchTrackObject.poItemsEntity">
                                                            <td>{{item.productIDorName}}</td>
                                                            <td class="text-center">
                                                                <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                                <label>{{item.vendorPOQuantity}}</label>
                                                            </td>

                                                            <td class="text-center">
                                                                <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                                <label>{{item.sumDispatchQuantity}}</label>
                                                            </td>
                                                            <td class="text-center">
                                                                <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                                <label>{{item.sumRecivedQuantity}}</label>
                                                            </td>
                                                            <td class="text-center">
                                                                <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                                <label>{{item.sumReturnQuantity}}</label>
                                                            </td>
                                                            <td class="text-center">
                                                            </td>
                                                            <td class="text-center">
                                                                <input ng-if="!isCustomer" ng-model="item.dispatchQuantity" ng-change="dispatchQuantityValidation();" class="form-control fg-input" />
                                                                <label ng-if="isCustomer">{{item.dispatchQuantity}}</label>
                                                                <small class="text-danger" ng-if="!isCustomer">{{item.dispatchErrormessage}}</small>
                                                            </td>
                                                            <td class="text-center">
                                                                <input ng-if="isCustomer" ng-model="item.recivedQuantity" ng-change="receiveQuantityValidation();" class="form-control fg-input" />
                                                                <label ng-if="!isCustomer">{{item.recivedQuantity}}</label>
                                                                <small class="text-danger" ng-if="isCustomer">{{item.receiveErrormessage}}</small>
                                                            </td>
                                                            <td class="text-center">
                                                                <input ng-if="isCustomer" ng-model="item.returnQuantity" ng-change="receiveQuantityValidation();" class="form-control fg-input" />
                                                                <label ng-if="!isCustomer">{{item.returnQuantity}}</label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="white-box">
                                    <!--<div class="card-header">
                                        <h2>
                                            Material Received
                                            <small>
                                                <a title="Dispatch Receipt" target="_blank"
                                                   ng-if="dispatchTrackObject.recivedLink > 0 && !userIsOwner"
                                                   href="FileDownload.aspx?attachid={{dispatchTrackObject.recivedLink}}&sessionid={{sessionID}}">
                                                    MRR PDF
                                                </a>
                                            </small>
                                        </h2>
                                    </div>-->

                                    <div class="row text-center">
                                        <h2>
                                            Material Received
                                            <small>
                                                <a title="Dispatch Receipt" target="_blank"
                                                   ng-if="dispatchTrackObject.recivedLink > 0 && !userIsOwner"
                                                   href="FileDownload.aspx?attachid={{dispatchTrackObject.recivedLink}}&sessionid={{sessionID}}">
                                                    MRR PDF
                                                </a>
                                            </small>
                                        </h2>
                                    </div>


                                    <div class="row">
                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Received Code</label>
                                                <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedCode" id="recivedCode" name="recivedCodeName" class="form-control fg-input fg-toggled" />

                                            </div>
                                        </div>
                                        <!--<div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedQuantity" id="recivedQuantity" name="recivedQuantityName" class="form-control fg-input fg-toggled" />
                                                <label class="fg-label">RecivedQuantity</label>
                                            </div>
                                        </div>-->
                                        <!--<div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedDate" id="recivedDate" name="recivedDateName" class="form-control fg-input fg-toggled" />
                                                <label class="fg-label">RecivedDate</label>
                                            </div>
                                        </div>-->



                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Received By</label>
                                                <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedBy" id="recivedBy" name="recivedByName" class="form-control fg-input fg-toggled" />

                                            </div>
                                        </div>


                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Received Comments</label>
                                                <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedComments" id="recivedComments" name="recivedCommentsName" class="form-control fg-input fg-toggled" />

                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-md-6 ">
                                            <div class="fg-line fg-toggled">
                                                <div ng-disabled="!isCustomer" moment-picker="dispatchTrackObject.recivedDate" format="DD-MM-YYYY">
                                                    <label class="fg-label">Received Date</label>
                                                    <input ng-disabled="!isCustomer" name="recivedDate" id="recivedDate" class="form-control" placeholder="" ng-model="dispatchTrackObject.recivedDate">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body card-padding">
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <button ng-if="isCustomer" type="submit" ng-click="SaveDispatchTrack('RECEIVE')" class="btn btn-info btn-file m-r-10">Save</button>
                                        <button ng-disabled="isExists" ng-if="!isCustomer" type="submit" ng-click="SaveDispatchTrack('DISPATCH')" class="btn btn-info btn-file m-r-10">Save</button>
                                        <button type="submit" ng-click="cancelPO()" class="btn btn-info btn-file m-r-10">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>



                </div>
            </div>

        </div>


    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>