﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>
<section id="main">
    <section id="content" class="container" ng-controller="paymentTrackCtrl">-->




        <!--<div class="card">
            <div class="card-header row">
                <div class="col-md-12">
                    <h3><strong>Purchase Jay ID: </strong>{{paymentTrack.po.purchaseID}}</h3>
                </div>
                <div class="col-md-6">
                    <h5><strong>Requirement Title: </strong>{{ paymentTrack.req.title}}</h5>
                </div>
                <div class="col-md-6">
                    <h5><strong> Vendor Name: </strong>{{paymentTrack.vendor.firstName}}{{paymentTrack.vendor.lastName}}</h5>
                </div>
                <div class="col-md-12">
                    <h4>Dispatch Details</h4>
                </div>
            </div>

            <div class="card-body card-padding">
                <div class="row">
                    <div class="table-responsive z-depth-1 clear-both">
                        <table class="table table-hover" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th>Dispatch</th>
                                    <th>Dispatch date</th>
                                    <th>Receive date</th>
                                    <th> Price </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dispatch in paymentTrack.dispatchObject">

                                    <td> {{dispatch.dispatchCode}} </td>
                                    <td> {{dispatch.dispatchDate}} </td>
                                    <td> {{dispatch.recivedDate}} </td>
                                    <td> {{dispatch.receivedQtyPrice}} </td>
                                </tr>
                                <tr>
                                    <td>  </td>
                                    <td>  </td>
                                    <td> <h4>Total</h4> </td>
                                    <td> <h4>{{totalPrice}}</h4> </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>-->


        <!--<div class="card">
            <div class="card-header row">
                <div class="col-md-6">
                    <h4>Payments Track</h4>
                </div>
                <div ng-if="isCustomer && totalPrice > 0" class="col-md-6">
                    <button class="btn btn-info btn-sm pull-right" ng-click="editPayment('', 0);" data-target="#PaymentPopUp" data-toggle="modal">New Payment</button>
                </div>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                    <div class="table-responsive z-depth-1 clear-both">
                        <table class="table table-hover" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th>Payment Code</th>
                                    <th>Payment Mode</th>
                                    <th>Transaction ID</th>
                                    <th>Payment Amount</th>
                                    <th>Payment Date</th>
                                    <th>Payment Comments</th>
                                    <th>Ack Comments</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="payment in paymentTrack.paymentInfoObject">
                                    <td> {{payment.paymentCode}} </td>
                                    <td> {{payment.paymentMode}} </td>
                                    <td> {{payment.transactionID}} </td>
                                    <td> {{payment.paymentAmount}} </td>
                                    <td> {{payment.paymentDate}} </td>
                                    <td> {{payment.paymentComments}} </td>
                                    <td> {{payment.ackComments}} </td>
                                    <td>
                                        <button ng-if="isCustomer" class="btn btn-info btn-new-look" ng-click="editPayment(payment, 1);" data-target="#PaymentPopUp" data-toggle="modal">Edit</button>
                                        <button ng-if="!isCustomer" class="btn btn-info btn-new-look" ng-click="editPayment(payment, 1);" data-target="#PaymentPopUp" data-toggle="modal">ACK</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>-->


        <!--<div class="container">
            <div class="row">
                <div class="modal" id="PaymentPopUp" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Payment Details</h4>
                            </div>
                            <div class="modal-body">
                                <button class="btn btn-info btn-new-look pull-right" ng-click="SavePaymentInfo(paymentObj);">Save</button>
                                <div class="table-responsive z-depth-1 clear-both">
                                    <table class="table table-hover" style="background-color:#f5f5f5">
                                        <tbody>
                                            <tr>
                                                <td><strong>Payment Code</strong></td>
                                                <td><input ng-disabled="!isCustomer" type="text" class="form-control fg-input" ng-model="paymentObj.paymentCode" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Payment Mode</strong></td>
                                                <td><input ng-disabled="!isCustomer" type="text" class="form-control fg-input" ng-model="paymentObj.paymentMode" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Transaction ID</strong></td>
                                                <td><input ng-disabled="!isCustomer" type="text" class="form-control fg-input" ng-model="paymentObj.transactionID" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Payment Amount</strong></td>
                                                <td> <input ng-disabled="!isCustomer" type="number" class="form-control fg-input" ng-model="paymentObj.paymentAmount" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Payment Date</strong></td>
                                                <td moment-picker="paymentObj.paymentDate" format="DD-MM-YYYY"> <input ng-disabled="!isCustomer" type="text" class="form-control fg-input" ng-model="paymentObj.paymentDate" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Payment Comment</strong></td>
                                                <td> <textarea ng-disabled="!isCustomer" type="text" class="form-control fg-input" rows="2" style="resize: vertical;" ng-model="paymentObj.paymentComments" /></td>
                                            </tr>
                                            <tr ng-if="!isCustomer">
                                                <td><strong>Ack Comment</strong></td>
                                                <td> <textarea type="text" class="form-control fg-input" rows="2" style="resize: vertical;" ng-model="paymentObj.ackComments" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->





    <!--</section>
</section>-->







<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>


        <div id="page-wrapper" ng-controller="paymentTrackCtrl">


            <div class="white-box">

                <div class="white-box">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3>Dispatch Details</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h5><strong>Requirement Title: </strong>{{ paymentTrack.req.title}}</h5>
                        </div>
                        <div class="col-md-6">
                            <h5><strong> Vendor Name: </strong>{{paymentTrack.vendor.firstName}}{{paymentTrack.vendor.lastName}}</h5>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th>Dispatch</th>
                                        <th>Dispatch date</th>
                                        <th>Receive date</th>
                                        <th> Price </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dispatch in paymentTrack.dispatchObject">

                                        <td> {{dispatch.dispatchCode}} </td>
                                        <td> {{dispatch.dispatchDate}} </td>
                                        <td> {{dispatch.recivedDate}} </td>
                                        <td> {{dispatch.receivedQtyPrice}} </td>
                                    </tr>
                                    <tr>
                                        <td>  </td>
                                        <td>  </td>
                                        <td> <h4>Total</h4> </td>
                                        <td> <h4>{{totalPrice}}</h4> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="white-box">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3><strong><b>Payments Track</b></strong></h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row pull-right">
                        <div ng-if="isCustomer && totalPrice > 0" class="col-md-6">
                            <button class="btn btn-info btn-sm pull-right" ng-click="editPayment('', 0);" data-target="#PaymentPopUp" data-toggle="modal">New Payment</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 table-responsive">
                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th>Payment Code</th>
                                        <th>Payment Mode</th>
                                        <th>Transaction ID</th>
                                        <th>Payment Amount</th>
                                        <th>Payment Date</th>
                                        <th>Payment Comments</th>
                                        <th>Ack Comments</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="payment in paymentTrack.paymentInfoObject">
                                        <td> {{payment.paymentCode}} </td>
                                        <td> {{payment.paymentMode}} </td>
                                        <td> {{payment.transactionID}} </td>
                                        <td> {{payment.paymentAmount}} </td>
                                        <td> {{payment.paymentDate}} </td>
                                        <td> {{payment.paymentComments}} </td>
                                        <td> {{payment.ackComments}} </td>
                                        <td>
                                            <button ng-if="isCustomer" class="btn btn-info btn-new-look" ng-click="editPayment(payment, 1);" data-target="#PaymentPopUp" data-toggle="modal">Edit</button>
                                            <button ng-if="!isCustomer" class="btn btn-info btn-new-look" ng-click="editPayment(payment, 1);" data-target="#PaymentPopUp" data-toggle="modal">ACK</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>


                    </div>

                </div>


                <div class="modal" id="PaymentPopUp" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><strong>Payment Details</strong></h4>
                            </div>
                            <div class="modal-body">
                                <button class="btn btn-info btn-new-look pull-right" ng-click="SavePaymentInfo(paymentObj);">Save</button>
                                <div class="table-responsive z-depth-1 clear-both">
                                    <table class="table table-hover" style="background-color:#f5f5f5">
                                        <tbody>
                                            <tr>
                                                <td><strong>Payment Code</strong></td>
                                                <td><input ng-disabled="!isCustomer" type="text" class="form-control fg-input" ng-model="paymentObj.paymentCode" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Payment Mode</strong></td>
                                                <td><input ng-disabled="!isCustomer" type="text" class="form-control fg-input" ng-model="paymentObj.paymentMode" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Transaction ID</strong></td>
                                                <td><input ng-disabled="!isCustomer" type="text" class="form-control fg-input" ng-model="paymentObj.transactionID" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Payment Amount</strong></td>
                                                <td> <input ng-disabled="!isCustomer" type="number" class="form-control fg-input" ng-model="paymentObj.paymentAmount" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Payment Date</strong></td>
                                                <td moment-picker="paymentObj.paymentDate" format="DD-MM-YYYY"> <input ng-disabled="!isCustomer" type="text" class="form-control fg-input" ng-model="paymentObj.paymentDate" /></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Payment Comment</strong></td>
                                                <td> <textarea ng-disabled="!isCustomer" type="text" class="form-control fg-input" rows="2" style="resize: vertical;" ng-model="paymentObj.paymentComments" /></td>
                                            </tr>
                                            <tr ng-if="!isCustomer">
                                                <td><strong>Ack Comment</strong></td>
                                                <td> <textarea type="text" class="form-control fg-input" rows="2" style="resize: vertical;" ng-model="paymentObj.ackComments" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <button class="btn btn-info" ng-click="cancelPO()">Cancel</button>
                    </div>
                </div>

            </div>
        </div>

            <!--<div class="col-md-6">
            <h5><strong>Requirement Title: </strong>{{ paymentTrack.req.title}}</h5>
        </div>
        <div class="col-md-6">
            <h5><strong> Vendor Name: </strong>{{paymentTrack.vendor.firstName}}{{paymentTrack.vendor.lastName}}</h5>
        </div>-->

    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>