﻿<!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
<!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
<!--<section id="content">-->
<!--<div class="card" ng-controller="generatePOCtrl">
    <div class="card-body card-padding">

        <div class="row">
            <div class="col-md-6">
                <h4> PO Form</h4>
            </div>
            <div class="col-md-6">
                <a target="_blank " class="pull-right" ng-if="po.listPOItems[0].poLink > 0" href="FileDownload.aspx?attachid={{po.listPOItems[0].poLink}}&sessionid={{sessionID}}"><strong>Download PO</strong></a>
            </div>

        </div>

        <div class="row">

            <div class="top-buffer form-group fg-float col-md-2 m-b-30">
                <div class="fg-line fg-toggled">
                    <input ng-disabled="true" name="purchaseID" id="purchaseID" class="form-control" ng-change="autoUpdateForAllItems();" placeholder="Select a date" ng-model="purchaseID">
                    <label class="fg-label">Po No</label>
                </div>
            </div>

            <div class="top-buffer form-group fg-float col-md-2 m-b-30">
                <div class="fg-line fg-toggled">
                    <input ng-disabled="true" name="indentID" id="indentID" class="form-control" ng-change="autoUpdateForAllItems();" placeholder="Select a date" ng-model="indentID">
                    <label class="fg-label">Indent No</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive z-depth-1 clear-both">
                <table class="table table-hover" style="background-color:#f5f5f5">
                    <thead>
                        <tr style="font-weight: bold">
                            <th class="text-center">Item Name</th>
                            <th class="text-center">Req Qty</th>
                            <th class="text-center">Vendor Qty</th>
                            <th class="text-center">V.U.Price</th>
                            <th class="text-center">PO.U.Price</th>
                            <th class="text-center">C-GST</th>
                            <th class="text-center">S-GST</th>
                            <th class="text-center">I-GST</th>
                            <th class="text-center">V.T.Price</th>
                            <th class="text-center">PO.T.Price</th>
                            <th class="text-center">Expected Delivery Date</th>
                            <th class="text-center">Delivery Address</th>
                            <th class="text-center">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in po.listPOItems">
                            <td>{{item.productIDorName}}</td>
                            <td class="text-center">{{item.reqQuantity}}</td>

                            <td class="text-center">
                                <label>{{item.vendorPOQuantity}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{item.vendorPrice}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{item.poPrice}}</label>
                            </td>

                            <td class="text-center">
                                <label>{{item.cGst}}</label>
                            </td>

                            <td class="text-center">
                                <label>{{item.sGst}}</label>
                            </td>

                            <td class="text-center">
                                <label>{{item.iGst}}</label>
                            </td>

                            <td class="text-center">
                                <label>{{item.vendorTotalPrice}}</label>
                            </td>

                            <td class="text-center">
                                <label>{{item.poTotalPrice}}</label>
                            </td>


                            <td class="text-center">
                                <label>{{item.expectedDeliveryDate}}</label>
                            </td>

                            <td class="text-center">
                                <label>{{item.deliveryAddress}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->

<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>



        <div id="page-wrapper">


            <div class="container-fluid" ng-controller="generatePOCtrl">

                <div class="white-box">

                    <!--<div class="white-box">-->

                        <div class="row">
                            <div class="col-md-6 text-right">
                                <h3> View PO</h3>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank " class="pull-right" ng-if="po.listPOItems[0].poLink > 0" href="FileDownload.aspx?attachid={{po.listPOItems[0].poLink}}&sessionid={{sessionID}}"><strong>Download PO</strong></a>
                            </div>

                        </div>

                        <div class="row form-group">

                            <!--<label><strong>Po No:</strong></label>{{purchaseID}}
                            <label><strong>Indent ID:</strong></label>{{indentID}}-->


                            <div class="col-md-12">

                                <div class="col-md-6">
                                    <div class="col-md-3" style="text-align:right">
                                        <label><strong>Po No:</strong></label>
                                    </div>
                                    <div class="col-md-2">
                                        {{purchaseID}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-3" style="text-align:right">
                                        <label><strong>Indent ID:</strong></label>
                                    </div>
                                    <div class="col-md-3">
                                        {{indentID}}
                                    </div>
                                </div>

                            </div>


                            <!--<div class="top-buffer form-group fg-float col-md-2 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input ng-disabled="true" name="purchaseID" id="purchaseID" class="form-control" ng-change="autoUpdateForAllItems();" placeholder="Select a date" ng-model="purchaseID">
                                    <label class="fg-label">Po No</label>
                                </div>
                            </div>

                            <div class="top-buffer form-group fg-float col-md-2 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input ng-disabled="true" name="indentID" id="indentID" class="form-control" ng-change="autoUpdateForAllItems();" placeholder="Select a date" ng-model="indentID">
                                    <label class="fg-label">Indent No</label>
                                </div>
                            </div>-->
                        </div>

                    <!--</div>-->

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th class="text-center">Item Name</th>
                                            <th class="text-center">Req Qty</th>
                                            <th class="text-center">Vendor Qty</th>
                                            <th class="text-center">V.U.Price</th>
                                            <th class="text-center">PO.U.Price</th>
                                            <th class="text-center">C-GST</th>
                                            <th class="text-center">S-GST</th>
                                            <th class="text-center">I-GST</th>
                                            <th class="text-center">V.T.Price</th>
                                            <th class="text-center">PO.T.Price</th>
                                            <th class="text-center">Expected Delivery Date</th>
                                            <th class="text-center">Delivery Address</th>
                                            <th class="text-center">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in po.listPOItems">
                                            <td>{{item.productIDorName}}</td>
                                            <td class="text-center">{{item.reqQuantity}}</td>

                                            <td class="text-center">
                                                <label>{{item.vendorPOQuantity}}</label>
                                            </td>
                                            <td class="text-center">
                                                <label>{{item.vendorPrice}}</label>
                                            </td>
                                            <td class="text-center">
                                                <label>{{item.poPrice}}</label>
                                            </td>

                                            <td class="text-center">
                                                <label>{{item.cGst}}</label>
                                            </td>

                                            <td class="text-center">
                                                <label>{{item.sGst}}</label>
                                            </td>

                                            <td class="text-center">
                                                <label>{{item.iGst}}</label>
                                            </td>

                                            <td class="text-center">
                                                <label>{{item.vendorTotalPrice}}</label>
                                            </td>

                                            <td class="text-center">
                                                <label>{{item.poTotalPrice}}</label>
                                            </td>


                                            <td class="text-center">
                                                <label>{{item.expectedDeliveryDate}}</label>
                                            </td>

                                            <td class="text-center">
                                                <label>{{item.deliveryAddress}}</label>
                                            </td>

                                            <td class="text-center">
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                        
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button class="btn btn-info" ng-click="cancelPO()">Cancel</button>
                        </div>
                    </div>



                </div>


            </div>

        </div>


    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>



