﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="paymenttrackingCtrl">
                <div class="white-box">
                    <!--<br />
    <br />-->
                    <!--<div class="row">
        <div class="col-md-6 text-right" style="text-align: right;">
            <input type="radio" ng-checked="fasle" name="poCheck" ng-click="goToPendingPO()" />With PO
            <input type="radio" ng-checked="false" name="poCheck" ng-click="gotoInvoicesList()" />Without PO
            <input type="radio" ng-disabled="false" ng-checked="false" name="paymentTrack" />Payment Tracking
        </div>
    </div>-->
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>PO Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.poNumber"
                                         options="item.name for item in filtersList.poNumber"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>Miro Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.invoiceNumber"
                                         options="item.name for item in filtersList.invoiceNumber"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Vendor Code</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.vendorCode"
                                         options="item.name for item in filtersList.vendorCode"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>GRN Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.grnNumber"
                                         options="item.name for item in filtersList.grnNumber"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                    </div>

                    <div class="row" style="padding-top:10px;">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-12">From date(Posting Date)</label>
                                <div class="col-md-12" moment-picker="filters.postingFromDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.postingFromDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-12">To date(Posting Date)</label>
                                <div class="col-md-12" moment-picker="filters.postingToDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.postingToDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="filterByDate();">Apply</button></div>
                        <div class="col-md-1"></div>

                        <div class="col-md-2">
                            <label class="col-md-12">Search</label>
                            <input class="form-control" ng-change="setFilters();" ng-model="filters.searchKeyword" ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table tablesaw table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <!--<th></th>-->
                                        <th style="text-align:center">PO NUMBER</th>
                                        <th style="text-align:center">GRN NUMBER</th>
                                        <th style="text-align:center">MIRO NUMBER</th>
                                        <th style="text-align:center">INVOICE DOC YEAR</th>
                                        <th style="text-align:center">DOC TYPE</th>
                                        <th style="text-align:center">DOC DATE</th>
                                        <th style="text-align:center">POSTING DATE</th>
                                        <th style="text-align:center">Invoice Reference Number</th>
                                        <th style="text-align:center">INVOICE AMOUNT</th>
                                        <th style="text-align:center">CURRENCY</th>
                                        <th style="text-align:center">DOCUMENT STATUS</th>
                                        <th style="text-align:center">PAYMENT REFERENCE</th>
                                        <th style="text-align:center" ng-if="isCustomer">VENDOR CODE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in paymentList">
                                        <td style="text-align:center">{{item.PO_NUMBER}}</td>
                                        <td style="text-align:center">{{item.GRN_NUMBER}}</td>
                                        <td style="text-align:center">{{item.INVOICE_NUMBER}}</td>
                                        <td style="text-align:center">{{item.INVOICE_DOC_YEAR}}</td>
                                        <td style="text-align:center">{{item.DOC_TYPE}}</td>
                                        <td style="text-align:center">{{convertDate(item.DOC_DATE)}}</td>
                                        <td style="text-align:center">{{convertDate(item.POSTING_DATE)}}</td>
                                        <td style="text-align:center">{{item.REF_DOCUMENT}}</td>
                                        <td style="text-align:center">{{item.INVOICE_AMOUNT}}</td>
                                        <td style="text-align:center">{{item.CURRENCY}}</td>
                                        <td style="text-align:center">{{item.DOCUMENT_STATUS}}</td>
                                        <td style="text-align:center">{{item.PAYMENT_REFERENCE}}</td>
                                        <td style="text-align:center" ng-if="isCustomer">{{item.VENDOR_CODE}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
