
<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">
        <div class="container" data-ng-controller="dispatchTrackFormCtrl">
            <form ng-submit="requirementForm.$valid" class="requirementForm" name="requirementForm" novalidate>


                <div class="card">
                    <div class="card-header">
                        <h2>Dispatch Tracking Form</h2>

                        <a title="Dispatch Receipt" target="_blank" ng-if="auctionItem.reqPDF && !userIsOwner" href="FileDownload.aspx?attachid={{dispatchFile}}&sessionid={{sessionID}}">Dispatch Receipt</a>

                    </div>

                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-xs-6">                                
                                <strong>Purchase Order No:</strong> {{purchaseID}}
                            </div>
                            <div class="col-xs-6">
                                <strong>Indent No:</strong> {{indentID}}
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div ng-show="isCustomer">
                                
                                <div class="col-md-6">
                                    <strong>Dispatch Code:</strong> {{dispatchTrackObject.dispatchCode}}
                                </div>
                                <div class="col-md-6">
                                    <strong>Dispatch Type:</strong> {{dispatchTrackObject.dispatchType}}
                                </div>
                                <div class="col-md-6">
                                    <strong>Delivery TrackID:</strong> {{dispatchTrackObject.deliveryTrackID}}
                                </div>
                                
                                <div class="col-md-6">
                                    <strong>Dispatch Mode:</strong> {{dispatchTrackObject.dispatchMode}}
                                </div>
                                
                                <div class="col-md-6">
                                    <strong>Dispatch Date:</strong> {{dispatchTrackObject.dispatchDate}}
                                </div>
                                <div class="col-md-6">
                                    <strong>Dispatch Comments:</strong> {{dispatchTrackObject.dispatchComments}}
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" ng-show="!isCustomer">
                            <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="true" ng-model="dispatchTrackObject.poItemsEntity.purchaseID" id="purchaseID" name="purchaseIDName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Purchase Order No.</label>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="true" ng-model="dispatchTrackObject.poItemsEntity.indentID" id="indentID" name="indentID" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Indent No.</label>
                                </div>
                            </div>-->
                            <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="true" ng-model="dispatchTrackObject.poItemsEntity.vendorPOQuantity" id="vendorPOQuantity" name="vendorPOQuantityName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">PO Quantity</label>
                                </div>
                            </div>-->
                            <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="isCustomer" ng-model="dispatchTrackObject.dispatchQuantity" id="dispatchQuantity" name="dispatchQuantityName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Dispatch Quantity</label>
                                </div>
                            </div>-->
                            <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="isCustomer" ng-model="dispatchTrackObject.dispatchDate" id="dispatchDate" name="dispatchDateName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Dispatch Date</label>
                                </div>
                            </div>-->

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-model="dispatchTrackObject.dispatchCode" ng-change="CheckUniqueIfExists(dispatchTrackObject.dispatchCode,'DISPATCH_CODE')" id="dispatchCode" name="dispatchCodeName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Dispatch Code <label ng-if="isExists" class="text-danger"> ( Dispatch Code already exists ) </label></label>
                                </div>
                                
                            </div>

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-model="dispatchTrackObject.dispatchType" id="dispatchType" name="dispatchTypeName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Dispatch Type</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-model="dispatchTrackObject.deliveryTrackID" id="deliveryTrackID" name="deliveryTrackIDName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Delivery TrackID</label>
                                </div>
                            </div>
                            
                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-model="dispatchTrackObject.dispatchMode" id="dispatchMode" name="dispatchModeName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Dispatch Mode</label>
                                </div>
                            </div>

                            <div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <div ng-disabled="isCustomer" moment-picker="dispatchTrackObject.dispatchDate" format="DD-MM-YYYY">
                                        <input name="dispatchDate" id="dispatchDate" class="form-control" placeholder="" ng-model="dispatchTrackObject.dispatchDate">
                                    </div>
                                    <label class="fg-label">Dispatch Date</label>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6 top-half-buffer">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-model="dispatchTrackObject.dispatchComments" id="dispatchComments" name="dispatchCommentsName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Dispatch Comments</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="table-responsive z-depth-1 clear-both">
                                <table class="table table-hover" style="background-color:#f5f5f5" >
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th class="text-center" width="45%;">HSN Code</th>
                                            <th class="text-center" width="5%;">PO Qty</th>
                                            <th class="text-center" width="5%;">TOTAL.DIS.QTY</th>
                                            <th class="text-center" width="5%;">TOTAL.REC.QTY</th>
                                            <th class="text-center" width="5%;">TOTAL.RET.QTY</th>
                                            <th class="text-center" width="10%;"></th>
                                            <th class="text-center" width="5%;">Dispatch Qty</th>
                                            <th class="text-center" width="5%;">Accepted Qty</th>
                                            <th class="text-center" width="5%;">Return Qty</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in dispatchTrackObject.poItemsEntity">
                                            <td>{{item.productIDorName}}</td>
                                            <td class="text-center">
                                                <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                <label>{{item.vendorPOQuantity}}</label>
                                            </td> 

                                            <td class="text-center">
                                                <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                <label>{{item.sumDispatchQuantity}}</label>
                                            </td>
                                            <td class="text-center">
                                                <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                <label>{{item.sumRecivedQuantity}}</label>
                                            </td>
                                            <td class="text-center">
                                                <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                <label>{{item.sumReturnQuantity}}</label>
                                            </td>
                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                                <input ng-if="!isCustomer" ng-model="item.dispatchQuantity" ng-change="dispatchQuantityValidation();" class="form-control fg-input" />
                                                <label ng-if="isCustomer">{{item.dispatchQuantity}}</label>
                                                <small class="text-danger" ng-if="!isCustomer">{{item.dispatchErrormessage}}</small>
                                            </td>
                                            <td class="text-center">
                                                <input ng-if="isCustomer" ng-model="item.recivedQuantity" ng-change="receiveQuantityValidation();" class="form-control fg-input" />
                                                <label ng-if="!isCustomer">{{item.recivedQuantity}}</label>
                                                <small class="text-danger" ng-if="isCustomer">{{item.receiveErrormessage}}</small>                                                
                                            </td>
                                            <td class="text-center">
                                                <input ng-if="isCustomer" ng-model="item.returnQuantity" ng-change="receiveQuantityValidation();" class="form-control fg-input" />
                                                <label ng-if="!isCustomer">{{item.returnQuantity}}</label>
                                            </td>                                                                                  
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h2>Meterial Recived</h2>
                    </div>

                    <div class="card-body card-padding">


                        <div class="row">
                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedCode" id="recivedCode" name="recivedCodeName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Recived Code</label>
                                </div>
                            </div>
                            <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedQuantity" id="recivedQuantity" name="recivedQuantityName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">RecivedQuantity</label>
                                </div>
                            </div>-->
                            <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedDate" id="recivedDate" name="recivedDateName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">RecivedDate</label>
                                </div>
                            </div>-->

                            

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedBy" id="recivedBy" name="recivedByName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Recived By</label>
                                </div>
                            </div>
                            

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedComments" id="recivedComments" name="recivedCommentsName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Recived Comments</label>
                                </div>
                            </div>

                            <div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <div ng-disabled="!isCustomer" moment-picker="dispatchTrackObject.recivedDate" format="DD-MM-YYYY">
                                        <input ng-disabled="!isCustomer" name="recivedDate" id="recivedDate" class="form-control" placeholder="" ng-model="dispatchTrackObject.recivedDate">
                                    </div>
                                    <label class="fg-label">Received Date</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <button ng-if="isCustomer" type="submit" ng-click="SaveDispatchTrack('RECEIVE')" class="btn btn-info btn-file m-r-10">Save</button>
                                <button ng-disabled="isExists" ng-if="!isCustomer" type="submit" ng-click="SaveDispatchTrack('DISPATCH')" class="btn btn-info btn-file m-r-10">Save</button>
                            </div>
                        </div>
                    </div>
                </div>



            </form>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>