<header id="header"  data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">
        <div class="container" data-ng-controller="genearteDescPOCtrl">
            
            <form ng-submit="requirementForm.$valid" class="requirementForm" name="requirementForm" novalidate>
                <div class="card">
                    <div class="card-header">
                        <h2>Purchase Order Generation Form <span class="pull-right">Status: {{descPo.status}}</span></h2>
                        <br/>
                        <h2>{{descPo.reqID}}: {{descPo.title}}</h2>

                        
                        <br />
                    </div>
                  
                    <div class="card-body card-padding">  
                        
                        <div class="row">

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-model="descPo.purchaseID" id="purchaseID" name="purchaseID" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Enter Purchase Order No.</label>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-model="descPo.indentID" id="indentID" name="indentID" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">Enter Indent No.</label>
                                </div>
                            </div>

                            <div class="form-group col-sm-6 m-b-30 fg-float">
                                <div class="fg-line input-field " ng-class="{'fg-toggled': descPo.vendorID > 0}">
                                    <select ng-model="descPo.vendorID" class="form-control" data-placeholder="Select an Vendor..." id="urgency" ng-disabled="descPo.vendorID > 0">
                                        <option ng-selected="vendor.userID == descPo.vendorID" value="{{vendor.userID}}" ng-repeat="vendor in vendors">{{vendor.companyName}} (Rev.Q.Price: {{vendor.price}} )</option>
                                    </select>
                                    <label class="selectfield fg-label" for="category">Select an Vendor</label>
                                </div>
                            </div>


                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-model="descPo.comments" id="comments" name="comments" rows="5" class="form-control fg-input fg-toggled"></input>
                                    <label class="fg-label">Comments</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                         <h2>Upload Purchase Order :  <input type="checkbox" ng-model="checked">
                         </h2>
                        <div>
                          <div ng-show="checked"> 
                          <br>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file">
                                <span class="fileinput-new">Choose a file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file"  id="poFile" doctype="poFile" ng-file-select-docs="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename">{{descPo.poFile.fileName}}</span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Purchase Order Details <small>Please provide more details about the purchase order.</small></h2>
                    </div>

                    <div class="card-body card-padding">
                        <div class="row">
                            
                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': isEdit===true || !requirementForm.priceName.$error.required}">
                                    <input type="text" ng-model="descPo.price" id="price" name="priceName" class="form-control" rows="3" required></input>
                                    <label class="fg-label">Price</label>
                                </div>
                                <div ng-show="requirementForm.$submitted || requirementForm.priceName.$touched">
                                    <div class="help-block error logininput" ng-show="requirementForm.priceName.$error.required">Please enter Price</div>
                                </div>
                            </div>
                            
                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': isEdit===true || !requirementForm.expectedDelivery.$error.required}">
                                    <input ng-readonly="true" type="text" ng-model="descPo.expectedDeliveryDate" required name="expectedDelivery" id="expectedDelivery" class="form-control fg-input" datetime-picker date-format="dd-MM-yyyy" date-only>
                                    <label class="fg-label">Expected Delivery Date {{descPo.expectedDeliveryDate}}</label>
                                </div>
                                <div ng-show="requirementForm.$submitted || requirementForm.expectedDelivery.$touched">
                                    <div class="help-block error logininput" ng-show="requirementForm.expectedDelivery.$error.required">Please enter Expected Delivery Date</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-12 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': isEdit===true || !requirementForm.deliveryAddress.$error.required}">
                                    <input type="text" ng-model="descPo.deliveryAddress" id="deliveryAddress" name="deliveryAddress" class="form-control" rows="3" required></input>
                                    <label class="fg-label">Delivery Address</label>
                                </div>
                                <div ng-show="requirementForm.$submitted || requirementForm.deliveryAddress.$touched">
                                    <div class="help-block error logininput" ng-show="requirementForm.deliveryAddress.$error.required">Please enter Delivery Address</div>
                                </div>
                            </div>                            

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 text-center">
                    <button ng-hide="!isCustomer" ng-disabled="descPo.status == 'PO_SENT' || descPo.status == 'PO_ACCEPTED' || descPo.status == 'DISPATCH_CHALLAN_GENERATED'|| !isCustomer" ng-click="saveDescPoInfo()" class="btn btn-info btn-file m-r-10">Generate PO</button>
                    <button ng-hide="!isCustomer" ng-disabled="descPo.status == 'PO_SENT' || descPo.status == 'PO_ACCEPTED' || descPo.status == 'DISPATCH_CHALLAN_GENERATED'|| !isCustomer" ng-click="UpdatePOStatus('PO_SENT')" class="btn btn-info btn-file m-r-10">Send PO</button>
                    <button ng-show="descPo.status == 'PO_SENT' && !isCustomer" ng-click="UpdatePOStatus('PO_ACCEPTED')" class="btn btn-info btn-file m-r-10">Accept PO</button>
                    <button ng-show="descPo.status == 'PO_ACCEPTED' && !isCustomer" ng-click="goToDescDispatchChallan()" class="btn btn-info btn-file m-r-10">Generate Dispatch Challan</button>
                </div>
            </form>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>