﻿<header id="header" data-ng-include="'template/header.html'"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->

    <section id="content">
        <div class="card" ng-controller="generatePOCtrl">
            <div class="card-body card-padding">

                <div class="row">
                    <div class="col-md-6">
                        <h4> PO Form</h4>
                    </div>
                    <div class="col-md-6">
                        <a target="_blank " class="pull-right" ng-if="po.listPOItems[0].poLink > 0" href="FileDownload.aspx?attachid={{po.listPOItems[0].poLink}}&sessionid={{sessionID}}"><strong>Download PO</strong></a>
                    </div>

                </div>

                <div class="row">

                    <div class="top-buffer form-group fg-float col-md-2 m-b-30">
                        <div class="fg-line fg-toggled">
                            <input ng-disabled="true" name="purchaseID" id="purchaseID" class="form-control" ng-change="autoUpdateForAllItems();" placeholder="Select a date" ng-model="purchaseID">
                            <label class="fg-label">Po No</label>
                        </div>
                    </div>

                    <div class="top-buffer form-group fg-float col-md-2 m-b-30">
                        <div class="fg-line fg-toggled">
                            <input ng-disabled="true" name="indentID" id="indentID" class="form-control" ng-change="autoUpdateForAllItems();" placeholder="Select a date" ng-model="indentID">
                            <label class="fg-label">Indent No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive z-depth-1 clear-both">
                        <table class="table table-hover" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th class="text-center">Item Name</th>
                                    <th class="text-center">Req Qty</th>                                   
                                    <th class="text-center">Vendor Qty</th>
                                    <th class="text-center">V.U.Price</th>
                                    <th class="text-center">PO.U.Price</th>
                                    <th class="text-center">C-GST</th>
                                    <th class="text-center">S-GST</th>
                                    <th class="text-center">I-GST</th>
                                    <th class="text-center">V.T.Price</th>
                                    <th class="text-center">PO.T.Price</th>
                                    <th class="text-center">Expected Delivery Date</th>
                                    <th class="text-center">Delivery Address</th>
                                    <th class="text-center">Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in po.listPOItems">
                                    <td>{{item.productIDorName}}</td>
                                    <td class="text-center">{{item.reqQuantity}}</td>
                                   
                                    <td class="text-center">                                       
                                        <label>{{item.vendorPOQuantity}}</label>
                                    </td>
                                    <td class="text-center">
                                        <label>{{item.vendorPrice}}</label>
                                    </td>
                                    <td class="text-center">
                                        <label>{{item.poPrice}}</label>
                                    </td>

                                    <td class="text-center">
                                        <label>{{item.cGst}}</label>
                                    </td>

                                    <td class="text-center">
                                        <label>{{item.sGst}}</label>
                                    </td>

                                    <td class="text-center">
                                        <label>{{item.iGst}}</label>
                                    </td>

                                    <td class="text-center">
                                        <label>{{item.vendorTotalPrice}}</label>
                                    </td>

                                    <td class="text-center">
                                        <label>{{item.poTotalPrice}}</label>
                                    </td>

                                  
                                    <td class="text-center">                                        
                                        <label>{{item.expectedDeliveryDate}}</label>
                                    </td>

                                    <td class="text-center">                                        
                                        <label>{{item.deliveryAddress}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                
            </div>
        </div>

    </section>
</section>