﻿<style>
    .header-col {
        background-color: lightblue;
        border: 1px solid black;
        vertical-align: middle;
        min-height: 55px;
        max-height: 55px;
    }

    .prmellipsisforQcs {
        display: inline-block;
        width: 150px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        max-height: 30px !important;
        height: 13px;
        text-align: left;
        font-size: xx-small;
    }

    .header-col-tax {
        background-color: lightblue;
        border: 1px solid black;
        vertical-align: middle;
        min-height: 40px;
        /*max-height: 55px;*/
    }

    .body-col {
        background-color: white;
        text-align: left;
        vertical-align: top;
        border: 1px solid black;
        vertical-align: middle;
        padding-top: 10px;
        min-height: 80px;
        max-height: 100px;
        overflow-y: auto;
    }

    .header1-col {
        text-align: center;
        vertical-align: top;
        padding: 0;
        border-right: 1px solid black;
        min-height: 52px;
    }

    .sub-header-col {
        background-color: darkseagreen;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-header-col-white {
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-body-col {
        background-color: lightblue;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-body-col-white {
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluidmin-width: 700px; background-color: lightblue; border: 1px solid black; text-align: center;">
                <div id="widget">
                    <div class="white-box" data-ng-controller="costComparisionsQcsCtrl">
                        <!--<div class="row">
        <div class="col-md-6">
            <h2 class="center-block">QUOTATIONS&nbsp;COMPARATIVE&nbsp;STATEMENT</h2>
        </div>
        <div class="col-md-6">
            <div class="dropdown pull-right" ng-if="!htmlToCanvasSaveLoading">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-click="htmlToCanvasSave('jpg');" role="button">
                        <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .JPEG</a>
                    </li>
                    <li ng-click="htmlToCanvasSave('png');" role="button">
                        <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .PNG</a>
                    </li>
                </ul>
            </div>
            <img ng-if="htmlToCanvasSaveLoading" src="img/logos/acadslogo_black.png" ng-click="htmlToCanvasSaveLoading=false" class="pull-right" width="100" height="50">
        </div>
    </div>-->
                        <div id="dvContainer1" class="white-box">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="js/resources/images/client_logo.png" class="dark-logo" style="width:100px;height:44px;" />
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <span><input type="checkbox" ng-model="requirementDetails.includeGstInCal" /> Include Taxes &nbsp; &nbsp; &nbsp;</span>
                                        <button class="btn btn-info btn-sm" ng-show="editForm" ng-click="editFormPage()">View QCS</button>

                                        <button class="btn btn-info btn-sm" ng-show="!editForm && requirementDetails.status != 'STARTED' && isQCSFormdisabled" ng-click="editFormPage()">Edit QCS</button>
                                        <button class="btn btn-info btn-sm"
                                                ng-click="routeToExcelView()"
                                                value="Export to Excel"
                                                ng-show="!editForm">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            Export
                                        </button>
                                        <!--<button ng-click="getReport('QCS_REPORT')" role="button">
                       QCS Report
                    </button>-->
                                        <!--<button class="btn btn-info btn-sm"
                            ng-click="isTechSpecExport = true;exportTechSpec()"
                            value="Export to Excel"
                            ng-show="!editForm">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Export Tech Spec
                    </button>-->
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="fa fa-user" aria-hidden="true"></i> Vendors
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="vendor in qcsVendors" style="cursor:pointer;">
                                                <a ng-click="isVendorVisible(vendor)">
                                                    <i ng-class="(vendor.isSelected == true ? 'fa fa-check':'fa')" aria-hidden="true"></i> {{vendor.vendorCompany}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="fa fa-user" aria-hidden="true"></i> Items
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="item in qcsItems" style="cursor:pointer;">
                                                <a ng-click="isReqItemVisible(item)">
                                                    <i ng-class="(item.isSelected == true ? 'fa fa-check':'fa')" aria-hidden="true"></i> {{item.itemName}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <br />
                                    <div class="row" id="testTable" style="margin-left:15px;">
                                        <div class="col-md-4 col-lg-4">
                                            <div class="row">
                                                <div class="row" style="min-height:65px;background-color:lightblue;border:1px solid black;">
                                                    <div class="col-md-12">
                                                        <h4 style="font-size:17px;"><strong>QUOTATIONS&nbsp;COMPARATIVE&nbsp;STATEMENT</strong></h4>
                                                    </div>
                                                </div>
                                                <div class="row" style="">
                                                    <div class="col-md-6 header-col">
                                                        <strong>Plant Code(s):&nbsp;</strong>{{requirementDetails.PLANT_CODES}}
                                                    </div>
                                                    <div class="col-md-6 header-col">
                                                        {{qcsID > 0 ? qcsID : '-'}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 header-col">
                                                        &nbsp;&nbsp;<br />
                                                    </div>
                                                    <!--<div class="col-md-2 header-col">
                                    S.NO
                                </div>
                                <div class="col-md-4 header-col">
                                    HSN / SAC (HSN from RFQ)
                                </div>
                                <div class="col-md-4 header-col">
                                    ITEM DESCRIPTION (Product name)
                                </div>
                                <div class="col-md-2 header-col">
                                    QTY UOM
                                </div>-->
                                                </div>
                                                <div class="row" ng-repeat="item in requirementDetails.listRequirementItems" ng-if="item.isVisible">
                                                    <div class="col-md-1 body-col" style="border-bottom:none;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                                        <strong>{{$index + 1}}</strong>
                                                    </div>
                                                    <div class="col-md-11 body-col" style="border-bottom:1px solid black;padding-top:5px;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                                        <span ng-if="item.isCoreProductCategory > 0">HSN Code: <strong>{{item.hsnCode}}</strong><br /></span>
                                                        <span ng-if="item.isCoreProductCategory > 0">Quantity:  <strong>{{item.productQuantity}}  {{item.productQuantityIn}}</strong><br /></span>
                                                        <span ng-if="item.isCoreProductCategory > 0">Delivery Location:  <strong>{{item.plantAddress}}</strong><br /></span>
                                                        <!--<span ng-if="item.isCoreProductCategory > 0">Branch Address:  <strong>{{item.branch}}</strong><br /></span>-->
                                                        <span>Product Name:<strong>{{item.productIDorName}}</strong><br /></span>
                                                        <span>Product Code:<strong>{{item.productCode}}</strong><br /></span>
                                                        <!--<span>LPP:{{item.LPPValue | number : companyRoundingDecimalSetting}}<br /></span>-->
                                                        <span style="word-break: break-all;" ng-if="item.isCoreProductCategory > 0"> PR Number:  <strong>{{item.ITEM_PR_NUMBER ? item.ITEM_PR_NUMBER : '-'}} </strong><br /></span>
                                                    </div>
                                                    <!--<div class="col-md-4 body-col" style="border-bottom:none;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                    <strong>{{item.hsnCode}}</strong>
                                </div>
                                <div class="col-md-4 body-col" style="border-bottom:none;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                    <strong>{{item.productIDorName}}</strong>
                                </div>
                                <div class="col-md-2 body-col" style="border-bottom:none;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                    <strong>{{item.productQuantity}}  {{item.productQuantityIn}}</strong>
                                </div>-->
                                                </div>

                                                <!--<div class="row" ng-repeat="item in requirementDetails.listRequirementItems" ng-if="!item.isCoreProductCategory">
                                <div class="col-md-12 body-col">
                                    <strong>{{item.productIDorName}}</strong>
                                </div>
                            </div>-->
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        TOTAL BASIC
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        PAYMENT LOADING FACTOR
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col-white">
                                                        TAXES LEVIED
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        CGST
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        SGST
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        IGST
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        REVERSE CHARGE IF ANY
                                                    </div>
                                                </div>
                                                <!--<div class="row">
                                <div class="col-md-12 sub-header-col">
                                    GST ON SERVICE IF ANY
                                </div>
                            </div>-->
                                                <!--<div class="row">
                                <div class="col-md-12 sub-header-col-white">
                                    INPUT TAX CREDITS
                                </div>
                            </div>-->
                                                <!--<div class="row">
                                <div class="col-md-12 sub-header-col">
                                    CGST CREDIT
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 sub-header-col">
                                    SGST CREDIT
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 sub-header-col">
                                    IGST CREDIT
                                </div>
                            </div>-->
                                                <!--<div class="row">
                                <div class="col-md-12 sub-header-col">
                                    GST ON SERVICES CREDIT IF ANY
                                </div>
                            </div>-->
                                                <!--<div class="row">
                                <div class="col-md-12 sub-header-col">
                                    REVERSE CHARGE CREDIT / LIABILITY IF ANY
                                </div>
                            </div>-->
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        LANDED COST
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        SAVINGS
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        INCO TERMS
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        WARRANTY / GUARANTEE
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        DELIVERY TERMS
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        PAYMENT TERMS
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        VENDOR COMMENTS
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        PURCHASER VENDOR COMMENTS
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" style="min-height:65px;background-color:lightblue;border:1px solid black;">
                                                <div class="col-md-12">
                                                    <h3>RFQ Id: {{requirementDetails.requirementID}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Title: {{requirementDetails.title}}</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
                                                    <div style="display:flex;flex-direction:row;max-width:100%;overflow-y:auto;">
                                                        <div class="col-md-{{vendorWidth}}" style="min-width:700px; background-color:lightblue;border:1px solid black;text-align:center;" ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible">
                                                            <div class="row">
                                                                <div class="col-md-12 header-col">
                                                                    <strong>
                                                                        {{vendor.companyName}} ({{vendor.selectedVendorCurrency}}) <strong>Rank : {{CalculateRankBasedOnLandingPrice(vendor)}}</strong>
                                                                        <br />

                                                                        <!--<small ng-if="vendor.isQuotationRejected == -1">( QP: Not viewed )</small>
                                                    <small ng-if="vendor.isQuotationRejected == 0" style="color:green">( QP: Approved )</small>
                                                    <small ng-if="vendor.isQuotationRejected == 1" style="color:red;">( QP: Rejected )</small>-->

                                                                        <span ng-if="requirementDetails.status != 'UNCONFIRMED' && requirementDetails.status != 'NOTSTARTED' && requirementDetails.status != 'STARTED'">
                                                                            <!--<small ng-if="vendor.isRevQuotationRejected == -1">( RP: Not viewed )</small>
                                                        <small ng-if="vendor.isRevQuotationRejected == 0" style="color:green">( RP: Approved )</small>
                                                        <small ng-if="vendor.isRevQuotationRejected == 1" style="color:red;">( RP: Rejected )</small>-->
                                                                        </span>
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="font-size:12px;">

                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        QTY DIST.
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        QTD RATE
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        DIS (%)
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        Final Rate/Unit <br /> <small>(FRP)</small>
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        Init Total Amount <br /> <small>(QTD x QTY)</small>
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        Rev Total Amount <br /> <small>(FRP x QTY)</small>
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-repeat="item in requirementDetails.listRequirementItems" ng-if="item.isVisible">

                                                                <div class="col-md-2 body-col">
                                                                    <strong>
                                                                        <strong ng-if="!editForm">
                                                                            {{getVendorItemPrices(item, vendor).qtyDistributed | number:2}}
                                                                        </strong>
                                                                        <input ng-if="editForm && item.isCoreProductCategory" type="text" valid-number allow-decimal="true"
                                                                               ng-change="checkQuantity(item,vendor)" 
                                                                               allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                               ng-model="getVendorItemPrices(item, vendor).qtyDistributed" 
                                                                               class="form-control" required />
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 body-col">
                                                                    <strong ng-if="item.isCoreProductCategory > 0">
                                                                        {{getVendorItemPrices(item, vendor).unitPrice | number:2}}
                                                                    </strong>
                                                                    <!--<input ng-if="(isNonCoreItemEditable(item,vendor) && editForm) && requirementDetails.status == 'UNCONFIRMED'" type="text" valid-number allow-decimal="true"
                                                allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                ng-change="unitPriceCalculation(getVendorItemPrices(item, vendor));"
                                                ng-model="getVendorItemPrices(item, vendor).unitPrice" class="form-control" required />-->
                                                                </div>
                                                                <div class="col-md-2 body-col">
                                                                    <strong ng-if="item.isCoreProductCategory > 0">
                                                                        {{((getVendorItemPrices(item, vendor).unitPrice - getVendorItemPrices(item, vendor).revUnitPrice)/getVendorItemPrices(item, vendor).unitPrice)*100 | number:2}}
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 body-col" ng-style="(getItemRank(item, vendor) == 1 && item.isCoreProductCategory > 0) ? {'background-color':'Yellow'} : {'background-color': ''}">
                                                                    <strong ng-if="item.isCoreProductCategory > 0">
                                                                        {{getVendorItemPrices(item, vendor).revUnitPrice | number:2}}<br />
                                                                        <b ng-show="false" ng-if="item.isCoreProductCategory > 0">Rank: {{getItemRank(item, vendor) > 0?getItemRank(item, vendor):'NA'}}</b>
                                                                    </strong>
                                                                    <!--<input ng-if="(isNonCoreItemEditable(item,vendor) && editForm)  && requirementDetails.status ==  'Negotiation Ended'" type="text" valid-number allow-decimal="true"
                                                allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                ng-model="getVendorItemPrices(item, vendor).revUnitPrice" class="form-control" required />-->
                                                                </div>
                                                                <div class="col-md-2 body-col">
                                                                    <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status ==  'Negotiation Ended'">
                                                                        {{getVendorItemPrices(item, vendor).unitPrice * item.productQuantity | number:2}}
                                                                    </strong>
                                                                    <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm) && requirementDetails.status == 'UNCONFIRMED'" type="text" valid-number allow-decimal="true"
                                                                           allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                           ng-change="unitPriceCalculation(getVendorItemPrices(item, vendor));"
                                                                           ng-model="getVendorItemPrices(item, vendor, 0).unitPrice" class="form-control" required />
                                                                </div>
                                                                <div class="col-md-2 body-col">
                                                                    <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status == 'UNCONFIRMED'">
                                                                        {{getVendorItemPrices(item, vendor).qtyDistributed && getVendorItemPrices(item, vendor).qtyDistributed > 0 ? getVendorItemPrices(item, vendor).revUnitPrice * getVendorItemPrices(item, vendor).qtyDistributed : getVendorItemPrices(item, vendor).revUnitPrice * item.productQuantity | number:2}}
                                                                    </strong>
                                                                    <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm)  && requirementDetails.status ==  'Negotiation Ended'" type="text" valid-number allow-decimal="true"
                                                                           allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                           ng-model="getVendorItemPrices(item, vendor, 1).revUnitPrice" class="form-control" required />
                                                                </div>
                                                                <div class="col-md-12" style="background:white;max-height:100px; min-height:100px;overflow-y:auto;" ng-if="getVendorItemPrices(item, vendor).productQuotationTemplateJson.length > 0">
                                                                    <div class="row" style="padding:5px;">
                                                                        <div class="col-md-6" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;">Description</div>
                                                                        <div class="col-md-6" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;" ng-hide="getVendorItemPrices(item, vendor).subIemsColumnsVisibility.hideSPECIFICATION">Specification</div>
                                                                    </div>
                                                                    <div class="row" style="border-bottom:1px solid;" ng-repeat="obj in getVendorItemPrices(item, vendor).productQuotationTemplateJson" ng-if="obj.NAME != 'Total'">
                                                                        <div class="col-md-6" style="border-right:1px solid #000;">
                                                                            {{obj.NAME}}
                                                                            <span ng-show="obj.DESCRIPTION != '' && obj.DESCRIPTION != undefined && obj.DESCRIPTION != null">({{obj.DESCRIPTION}})</span>
                                                                        </div>
                                                                        <div class="col-md-6" style="border-right:1px solid #000;" ng-hide="getVendorItemPrices(item, vendor).subIemsColumnsVisibility.hideSPECIFICATION">
                                                                            <div ng-show="obj.HAS_SPECIFICATION == 1">
                                                                                {{obj.SPECIFICATION}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12" style="background:white;overflow-y:auto;">
                                                                    <div class="row">
                                                                        <div class="col-md-4" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;">
                                                                            SGST (%)
                                                                        </div>
                                                                        <div class="col-md-4" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;">
                                                                            CGST (%)
                                                                        </div>
                                                                        <div class="col-md-4" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;">
                                                                            IGST (%)
                                                                        </div>
                                                                    </div>
                                                                    <div class="row" style="background:white;overflow-y:auto;">
                                                                        <div class="col-md-4">
                                                                            {{getVendorTaxPercent(vendor, 'SGST',item) | number:2}}
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            {{getVendorTaxPercent(vendor, 'CGST',item) | number:2}}
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            {{getVendorTaxPercent(vendor, 'IGST',item) | number:2}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-8 sub-body-col">

                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    {{getVendorTotalInitPriceWithoutTax(vendor) | number:2}}
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    {{getVendorTotalPriceWithoutTax(vendor) | number:2}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong ng-if="!editForm || requirementDetails.status == 'Negotiation Ended'">
                                                                        {{vendor.payLoadFactor | number:2}}
                                                                    </strong>
                                                                    <input ng-if="editForm && requirementDetails.status == 'UNCONFIRMED' " type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                                           style="background-color: #f5b2b2;"
                                                                           ng-model="vendor.payLoadFactor" class="form-control" ng-change="changePayload(vendor)" required />
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong ng-if="!editForm || requirementDetails.status == 'UNCONFIRMED'">
                                                                        {{vendor.revPayLoadFactor | number:2}}
                                                                    </strong>
                                                                    <input ng-if="editForm && requirementDetails.status == 'Negotiation Ended'" type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                                           style="background-color: #f5b2b2;"
                                                                           ng-model="vendor.revPayLoadFactor" class="form-control" required />
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.payLoadFactor | number:2}}
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.revPayLoadFactor | number:2}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col-white">
                                                                    <strong>

                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col-tax">
                                                                    <small class="prmellipsisforQcs">Init. Price Req Qty Tax</small>
                                                                    <strong>
                                                                        {{getInitialVendorTotalTax(vendor, 'CGST') | number:2}}
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col-tax">
                                                                    <small class="prmellipsisforQcs">
                                                                        <span>{{getLabel(vendor)}}</span>Qty Tax
                                                                    </small>
                                                                    <strong>
                                                                        {{getAssignedQtyVendorTotalTax(vendor, 'CGST') | number:2}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col-tax">
                                                                    <small class="prmellipsisforQcs">Init. Price Req Qty Tax</small>
                                                                    <strong>
                                                                        {{getInitialVendorTotalTax(vendor, 'SGST') | number:2}}
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col-tax">
                                                                    <small class="prmellipsisforQcs">
                                                                        <span>{{getLabel(vendor)}}</span>Qty Tax
                                                                    </small>
                                                                    <strong>
                                                                        {{getAssignedQtyVendorTotalTax(vendor, 'SGST') | number:2}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col-tax">
                                                                    <small class="prmellipsisforQcs">Init. Price Req Qty Tax</small>
                                                                    <strong>
                                                                        {{getInitialVendorTotalTax(vendor, 'IGST') | number:2}}
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col-tax">
                                                                    <small class="prmellipsisforQcs">
                                                                        <span>{{getLabel(vendor)}}</span>Qty Tax
                                                                    </small>
                                                                    <strong>
                                                                        {{getAssignedQtyVendorTotalTax(vendor, 'IGST') | number:2}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong ng-if="!editForm">
                                                                        {{vendor.revChargeAny | number:2}}
                                                                    </strong>
                                                                    <input ng-if="editForm" type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                                           style="background-color: #f5b2b2;width:150px;"
                                                                           ng-model="vendor.revChargeAny" class="form-control pull-right" required />
                                                                </div>
                                                            </div>
                                                            <!--<div class="row">
                                            <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                <strong>
                                                    {{vendor.gstService | number:2}}
                                                </strong>
                                            </div>
                                        </div>-->
                                                            <!--<div class="row">
                                            <div class="col-md-12 sub-body-col-white">
                                                <strong>

                                                </strong>
                                            </div>
                                        </div>-->
                                                            <!--<div class="row">
                                            <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                <strong>
                                                    {{getVendorTotalTax(vendor, 'CGST') | number:2}}
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                <strong>
                                                    {{getVendorTotalTax(vendor, 'SGST') | number:2}}
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                <strong>
                                                    {{getVendorTotalTax(vendor, 'IGST') | number:2}}
                                                </strong>
                                            </div>
                                        </div>-->
                                                            <!--<div class="row">
                                            <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                <strong>
                                                    {{vendor.gstService | number:2}}
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                <strong ng-if="!editForm">
                                                    {{vendor.revChargeAny | number:2}}
                                                </strong>
                                            </div>
                                        </div>-->
                                                            <div class="row">
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---- <!--{{getVendorTotalUnitItemPrices(vendor)}}-->
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---- <!--{{getVendorTotalRevUnitItemPrices(vendor)}}-->
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{getVendorTotalInitLandingPrice(vendor,requirementDetails.includeGstInCal) | number:2}}
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{getVendorTotalLandingPrice(vendor,requirementDetails.includeGstInCal) | number:2}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-10 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{CalculateSavingsBasedOnLandingPrice(vendor) | number:2}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.INCO_TERMS}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.warranty}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.duration}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.payment}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.otherProperties}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong ng-if="!editForm">
                                                                        {{vendor.customerComment}}
                                                                    </strong>
                                                                    <div ng-if="editForm" class="col-md-offset-3 col-md-12">
                                                                        <input type="text"
                                                                               style="background-color: #f5b2b2;width:50%;"
                                                                               ng-model="vendor.customerComment" class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--<div class="col-md-{{vendorWidth}} header-col" style="min-width:500px;background-color:lightblue;border:1px solid black;text-align:center;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>
                                                    Last Purchase Details
                                                    <br />
                                                    <small>&nbsp;</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color:lightblue;border:1px solid black;">
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    Vendor Name
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    Last PO
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    Last Rate
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    Last PO Date
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color:lightblue;border:1px solid black;" ng-repeat="item in requirementDetails.listRequirementItems">
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    {{item.ITEM_L1_COMPANY_NAME}}
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    &nbsp;
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    &nbsp;
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    {{item.I_LLP_DETAILS}}
                                                </strong>
                                            </div>
                                        </div>
                                    </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" style="margin:12px 0px 0px 0px; min-height:100px;">
                                            <div class="col-md-12 sub-header-col" style="min-height:100px;">
                                                PURCHASER COMMENTS
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="margin:10px 0px 0px 8px;">
                                            <div class="col-md-12 sub-body-col" style="min-height:100px;padding:0px;">
                                                <strong ng-if="!editForm">
                                                    {{requirementDetails.customerComment}}
                                                </strong>
                                                <div ng-if="editForm" class="col-md-12" style="padding:0px;">
                                                    <textarea type="text" rows="4"
                                                              style="background-color: #f5b2b2;width:100%;"
                                                              ng-model="requirementDetails.customerComment" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="font-size:18px;">
                                    <div class="row" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown">
                                            <option value="">Select Workflow</option>
                                        </select>
                                        <strong ng-if="!isErrorworkflowID"> Respective Workflow </strong><strong ng-if="isErrorworkflowID"
                                                                                                                 class="text-danger">Respective Workflow*</strong>
                                        <a role="button" ng-click="getWorkflows();" title="Reload workflows">
                                            <i class="fa fa-sync"></i>
                                        </a>
                                    </div>
                                    <div class="row" ng-show="itemWorkflow.length > 0 || itemWorkflow[0].WorkflowTracks || itemWorkflow[0].WorkflowTracks.length > 0">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowListTemp" required class="form-control-dropdown"
                                                ng-disabled="true">
                                            <option value="">Select Workflow</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-repeat="wf in workflowList" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                <div ng-if="wf.workflowID == workflowObj.workflowID">
                                    <div class="col-md-12 text-center">
                                        <h4>{{wf.workflowTitle}}</h4>
                                    </div>
                                    <div class="col-md-6" ng-repeat="ws in wf.WorkflowStages">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <h3>{{$index+1}}</h3>
                                                </div>
                                                <div class="col-md-10">
                                                    <span class="top-buffer">
                                                        Department:&nbsp;<strong> {{ws.department.deptCode}}</strong>
                                                        <br />
                                                        Designation: <strong>{{ws.approver.desigCode}}</strong>
                                                    </span>
                                                </div>
                                                <div class="col-md-1">
                                                    <i class="fas fa-arrow-right top-buffer"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="editForm">
                                <div class="col-md-12 text-center">
                                    <!--<button class="btn btn-info" ng-click="SaveQCSDetails(1);"> Save </button>-->
                                    <button ng-disabled="saveqcsloading" class="btn btn-info" ng-click="UpdateOtherCharges();"> Save<span><img id="mySpinner" ng-show="saveqcsloading == true" align="middle" src="img/AcadsLoding.gif" /></span> </button>
                                </div>
                            </div>


                        </div>


                        <fieldset ng-disabled="isSuperUser">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                            <br />
                                            <br />
                                            <div class="row approvalRowHeight">
                                                <div class="col-md-12">
                                                    <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                        <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                    </br>-->
                                                        <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                    </P>
                                                    <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                        <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 list-group-item" href="#"
                                                     ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                     style="min-height:90px;">
                                                    <div class="row">
                                                        <div class="col-md-1 col-xs-1">
                                                            <h5>{{$index + 1}}. </h5>
                                                        </div>
                                                        <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                            <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                            <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                        </div>
                                                        <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                            <div class="row">
                                                                <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                    <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                    <small>Hold</small>
                                                                </div>

                                                                <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                    <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                    <small>Approve</small>
                                                                </div>

                                                                <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                    <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                    <small>Reject</small>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-if="enableForFirstApprover(step,'WORKFLOW') && !isSuperUser">
                                                        <div class="col-md-12">
                                                            <div class="col-md-1">&nbsp;</div>
                                                            <div class="col-md-5">
                                                                <input type="checkbox" ng-value="false" ng-model="step.newQuotations" ng-click="GetNewQuotations(step.newQuotations)" />
                                                                Get New Quotations
                                                                <br />
                                                                <small style="color:red" ng-if="step.newQuotations">(Please Click on REJECT option to request for new quotations)</small>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div style='border-bottom:1px solid #ccc;'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4" ng-if="vendorAssignmentList.length > 0">
                                        <h3><strong>Vendor Item Assignment</strong></h3>
                                    </div>
                                    <div class="col-md-4" ng-if="vendorAssignmentList.length > 0 && false">
                                        <div class="col-md-1">
                                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                <i class="fa fa-user" aria-hidden="true"></i> Select Vendors
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="vendor in qcsVendors" style="cursor:pointer;">
                                                    <a ng-click="selectVendorForItemVendor(vendor)">
                                                        {{vendor.vendorCompany}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <table class="table table-vmiddle table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="min-width:30px;max-width:30px;">Item Name</th>
                                            <th style="min-width:30px;max-width:30px;">Vendor Name</th>
                                            <th style="min-width:30px;max-width:30px;">PO Number</th>
                                            <th style="min-width:15px;max-width:15px;">Currency</th>
                                            <th style="min-width:15px;max-width:15px;">Order Qty</th>
                                            <th style="min-width:15px;max-width:15px;">RFQ Qty</th>
                                            <th style="min-width:15px;max-width:15px;">PR Numbers</th>
                                            <th style="min-width:15px;max-width:15px;">PR Qty</th>
                                            <th style="min-width:15px;max-width:15px;">Vendor Price</th>
                                            <th style="min-width:15px;max-width:15px;">Total Price</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div style="overflow:auto;max-height:250px;min-height:250px;">
                                    <table class="table table-vmiddle table-bordered">
                                        <tr ng-repeat="vendorAssignmentObj in vendorAssignmentList track by $index">
                                            <td style="min-width:30px;max-width:30px;word-break: break-all;">{{vendorAssignmentObj.item.itemName}}</td>
                                            <td style="min-width:30px;max-width:30px;">{{vendorAssignmentObj.vendorName}}</td>
                                            <td style="min-width:30px;max-width:30px;">{{vendorAssignmentObj.poNumber}}</td>
                                            <td style="min-width:15px;max-width:10px;">{{vendorAssignmentObj.currency}}</td>
                                            <td style="min-width:15px;max-width:10px;">{{vendorAssignmentObj.assignedQty}}</td>
                                            <td style="min-width:15px;max-width:15px;">{{getItemRFQQuantity(vendorAssignmentObj.itemID)}}</td>
                                            <td style="min-width:15px;max-width:15px;overflow-wrap: break-word;">{{vendorAssignmentObj.item.prNumber}}</td>
                                            <td style="min-width:15px;max-width:10px;">{{vendorAssignmentObj.item.prQuantity}}</td>
                                            <td style="min-width:15px;max-width:15px;">{{vendorAssignmentObj.assignedPrice | number : companyRoundingDecimalSetting}}</td>
                                            <td style="min-width:15px;max-width:15px;">{{vendorAssignmentObj.totalPrice | number : companyRoundingDecimalSetting}}</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            
                            <div class="row" style="margin-top:10px;" ng-if="checkIsPODisable() && QCSDetails.IS_VALID == 1">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-info" ng-click="navigateToPOForm()"> Generate PO</button>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="container" ng-if="DraftPOList && DraftPOList.length > 0">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3><strong>Draft POs</strong></h3>
                                    </div>
                                </div>

                                <table class="table table-vmiddle table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="min-width:10px;max-width:10px;">QUOT Id</th>
                                            <th style="min-width:30px;max-width:30px;">Vendor Name</th>
                                            <th style="min-width:20px;max-width:20px;">Plant</th>
                                            <th style="min-width:5px;max-width:5px;">Created By</th>
                                            <th style="min-width:10px;max-width:10px;">Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div style="overflow:auto;max-height:250px;min-height:250px;">
                                    <table class="table table-vmiddle table-bordered">
                                        <tr ng-repeat="poDetails in DraftPOList track by $index">
                                            <td style="min-width:10px;max-width:10px;word-break: break-all;">{{poDetails.QUOT_NO}}</td>
                                            <td style="min-width:30px;max-width:30px;">{{poDetails.VENDOR_NAME}}</td>
                                            <td style="min-width:20px;max-width:20px;">{{poDetails.WERKS}} ({{poDetails.PLANT_NAME}})</td>
                                            <td style="min-width:5px;max-width:5px;">{{poDetails.ERNAM}}</td>
                                            <td style="min-width:5px;max-width:5px;">
                                                <a ng-if="!poDetails.PO_NO" style="text-align:center;" class="btn btn-info btn-sm" role="button" ng-click="viewPODetails(poDetails);">
                                                    View Details
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </fieldset>

                        <div class="pull-right">
                            <div class="modal" id="templateSelection" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                            <h4 class="modal-title">Select Template</h4>
                                        </div>
                                        <div class="modal-body" style="margin:25px;">
                                            <div class="pmbb-view" style="overflow-wrap: break-word;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <select style="margin-left:-5px;" ng-model="stateDetails.poTemplate" ng-options="template.name for template in filteredPOTemplates" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" ng-disabled="!stateDetails.poTemplate.value" ng-click="navigateToPOForm()" class="btn btn-info">Continue</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>