﻿<style>
    .header-col {
        background-color: lightblue;
        border: 1px solid black;
        vertical-align: middle;
        min-height: 55px;
        max-height: 55px;
    }

    .body-col {
        background-color: white;
        text-align: left;
        vertical-align: top;
        border: 1px solid black;
        vertical-align: middle;
        padding-top: 10px;
        min-height: 80px;
        max-height: 100px;
        overflow-y: auto;
    }

    .header1-col {
        text-align: center;
        vertical-align: top;
        padding: 0;
        border-right: 1px solid black;
        min-height: 52px;
    }

    .sub-header-col {
        background-color: darkseagreen;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-header-col-white {
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-body-col {
        background-color: lightblue;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-body-col-white {
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }
</style>
<div data-ng-controller="costComparisionsQcsCtrl1" class="row">
                    <div class="row" id="testTable" style="margin-left:31px;">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="row" style="min-height:65px;background-color:lightblue;border:1px solid black;">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <img src="js/resources/images/client_logo.png" class="dark-logo" style="width:100px;height:44px;" />
                                        </div>
                                        <div class="col-md-4" style="margin-top: 15px;">
                                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                <i class="fa fa-user" aria-hidden="true"></i> Vendors
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="vendor in qcsVendors" style="cursor:pointer;">
                                                    <a ng-click="isVendorVisible(vendor)">
                                                        <i ng-class="(vendor.isSelected == true ? 'fa fa-check':'fa')" aria-hidden="true"></i> {{vendor.vendorCompany}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4" style="margin-top: 15px;">
                                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                <i class="fa fa-user" aria-hidden="true"></i> Items
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="item in qcsItems" style="cursor:pointer;">
                                                    <a ng-click="isReqItemVisible(item)">
                                                        <i ng-class="(item.isSelected == true ? 'fa fa-check':'fa')" aria-hidden="true"></i> {{item.itemName}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="">
                                    <div class="col-md-6 header-col">
                                        <strong>Plant</strong>
                                    </div>
                                    <div class="col-md-6 header-col">
                                        {{qcsID > 0 ? qcsID : '-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 header-col">
                                        &nbsp;&nbsp;<br />
                                    </div>
                                    <!--<div class="col-md-2 header-col">
                                    S.NO
                                </div>
                                <div class="col-md-4 header-col">
                                    HSN / SAC (HSN from RFQ)
                                </div>
                                <div class="col-md-4 header-col">
                                    ITEM DESCRIPTION (Product name)
                                </div>
                                <div class="col-md-2 header-col">
                                    QTY UOM
                                </div>-->
                                </div>
                                <div class="row" ng-repeat="item in requirementDetails.listRequirementItems" ng-if="item.isVisible">
                                    <div class="col-md-1 body-col" style="border-bottom:none;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                        <strong>{{$index + 1}}</strong>
                                    </div>
                                    <div class="col-md-11 body-col" style="border-bottom:1px solid black;padding-top:5px;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                        <span ng-if="item.isCoreProductCategory > 0">HSN Code: <strong>{{item.hsnCode}}</strong><br /></span>
                                        <span ng-if="item.isCoreProductCategory > 0">Quantity:  <strong>{{item.productQuantity}}  {{item.productQuantityIn}}</strong><br /></span>
                                        <span ng-if="item.isCoreProductCategory > 0">Delivery Location:  <strong>{{item.plantAddress}}</strong><br /></span>
                                        <!--<span ng-if="item.isCoreProductCategory > 0">Branch Address:  <strong>{{item.branch}}</strong><br /></span>-->
                                        <span>Product Name:<strong>{{item.productIDorName}}</strong></span>
                                    </div>
                                    <!--<div class="col-md-4 body-col" style="border-bottom:none;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                    <strong>{{item.hsnCode}}</strong>
                                </div>
                                <div class="col-md-4 body-col" style="border-bottom:none;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                    <strong>{{item.productIDorName}}</strong>
                                </div>
                                <div class="col-md-2 body-col" style="border-bottom:none;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                    <strong>{{item.productQuantity}}  {{item.productQuantityIn}}</strong>
                                </div>-->
                                </div>
                                <!--<div class="row" ng-repeat="item in requirementDetails.listRequirementItems" ng-if="!item.isCoreProductCategory">
                                <div class="col-md-12 body-col">
                                    <strong>{{item.productIDorName}}</strong>
                                </div>
                            </div>-->
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        TOTAL BASIC
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        PAYMENT LOADING FACTOR
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col-white">
                                        TAXES LEVIED
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        CGST
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        SGST
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        IGST
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        REVERSE CHARGE IF ANY
                                    </div>
                                </div>
                                <!--<div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        GST ON SERVICE IF ANY
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col-white">
                                        INPUT TAX CREDITS
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        CGST CREDIT
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        SGST CREDIT
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        IGST CREDIT
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        GST ON SERVICES CREDIT IF ANY
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        REVERSE CHARGE CREDIT / LIABILITY IF ANY
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        LANDED COST
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        SAVINGS
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        INCO TERMS
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        WARRANTY / GUARANTEE
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        DELIVERY SCHEDULE
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        PAYMENT TERMS
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        VENDOR COMMENTS
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 sub-header-col">
                                        PURCHASER VENDOR COMMENTS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row" style="min-height:65px;background-color:lightblue;border:1px solid black;">
                                <div class="col-md-12">
                                    <h3>RFQ Id: {{requirementDetails.requirementID}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Title: {{requirementDetails.title}}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
                                    <div style="display:flex;flex-direction:row;max-width:100%;overflow-y:auto;">
                                            <div class="col-md-{{vendorWidth}}" style="min-width:700px; background-color:lightblue;border:1px solid black;text-align:center;" ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible">
                                                <div class="row">
                                                    <div class="col-md-12 header-col">
                                                        <strong>
                                                            {{vendor.companyName}} ({{vendor.selectedVendorCurrency}}) <strong>Rank : {{CalculateRankBasedOnLandingPrice(vendor)}}</strong>
                                                            <br />
                                                            <!--<small ng-if="vendor.isQuotationRejected == -1">( QP: Not viewed )</small>
                    <small ng-if="vendor.isQuotationRejected == 0" style="color:green">( QP: Approved )</small>
                    <small ng-if="vendor.isQuotationRejected == 1" style="color:red;">( QP: Rejected )</small>-->
                                                            <span ng-if="requirementDetails.status != 'UNCONFIRMED' && requirementDetails.status != 'NOTSTARTED' && requirementDetails.status != 'STARTED'">
                                                                <!--<small ng-if="vendor.isRevQuotationRejected == -1">( RP: Not viewed )</small>
                        <small ng-if="vendor.isRevQuotationRejected == 0" style="color:green">( RP: Approved )</small>
                        <small ng-if="vendor.isRevQuotationRejected == 1" style="color:red;">( RP: Rejected )</small>-->
                                                            </span>
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row" style="font-size:12px;">
                                                    <div class="col-md-2 header-col">
                                                        <strong>
                                                            QTY DIST.
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 header-col">
                                                        <strong>
                                                            QTD RATE
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 header-col">
                                                        <strong>
                                                            DIS (%)
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 header-col">
                                                        <strong>
                                                            Final Rate/Unit <br /> <small>(FRP)</small>
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 header-col">
                                                        <strong>
                                                            Init Total Amount <br /> <small>(QTD x QTY)</small>
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 header-col">
                                                        <strong>
                                                            Rev Total Amount <br /> <small>(FRP x QTY)</small>
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row" ng-repeat="item in requirementDetails.listRequirementItems" ng-if="item.isVisible">
                                                    <div class="col-md-2 body-col">
                                                        <strong>
                                                            <strong ng-if="!editForm">
                                                                {{getVendorItemPrices(item, vendor).qtyDistributed | number:2}}
                                                            </strong>
                                                            <input ng-if="editForm && item.isCoreProductCategory" type="text" valid-number allow-decimal="true"
                                                                   allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                   ng-model="getVendorItemPrices(item, vendor).qtyDistributed" ng-change="getVendorTotalPriceWithoutTax(vendor)" class="form-control" required />
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 body-col">
                                                        <strong ng-if="item.isCoreProductCategory > 0">
                                                            {{getVendorItemPrices(item, vendor).unitPrice | number:2}}
                                                        </strong>
                                                        <!--<input ng-if="(isNonCoreItemEditable(item,vendor) && editForm) && requirementDetails.status == 'UNCONFIRMED'" type="text" valid-number allow-decimal="true"
                allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                ng-change="unitPriceCalculation(getVendorItemPrices(item, vendor));"
                ng-model="getVendorItemPrices(item, vendor).unitPrice" class="form-control" required />-->
                                                    </div>
                                                    <div class="col-md-2 body-col">
                                                        <strong ng-if="item.isCoreProductCategory > 0">
                                                            {{((getVendorItemPrices(item, vendor).unitPrice - getVendorItemPrices(item, vendor).revUnitPrice)/getVendorItemPrices(item, vendor).unitPrice)*100 | number:2}}
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 body-col" ng-style="(getItemRank(item, vendor) == 1 && item.isCoreProductCategory > 0) ? {'background-color':'Yellow'} : {'background-color': ''}">
                                                        <strong ng-if="item.isCoreProductCategory > 0">
                                                            {{getVendorItemPrices(item, vendor).revUnitPrice | number:2}}<br />
                                                            <b ng-show="false" ng-if="item.isCoreProductCategory > 0">Rank: {{getItemRank(item, vendor) > 0?getItemRank(item, vendor):'NA'}}</b>
                                                        </strong>
                                                        <!--<input ng-if="(isNonCoreItemEditable(item,vendor) && editForm)  && requirementDetails.status ==  'Negotiation Ended'" type="text" valid-number allow-decimal="true"
                allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                ng-model="getVendorItemPrices(item, vendor).revUnitPrice" class="form-control" required />-->
                                                    </div>
                                                    <div class="col-md-2 body-col">
                                                        <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status ==  'Negotiation Ended'">
                                                            {{getVendorItemPrices(item, vendor).unitPrice * item.productQuantity | number:2}}
                                                        </strong>
                                                        <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm) && requirementDetails.status == 'UNCONFIRMED'" type="text" valid-number allow-decimal="true"
                                                               allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                               ng-change="unitPriceCalculation(getVendorItemPrices(item, vendor));"
                                                               ng-model="getVendorItemPrices(item, vendor, 0).unitPrice" class="form-control" required />
                                                    </div>
                                                    <!--<div class="col-md-2 body-col">
                                                        <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status == 'UNCONFIRMED'">
                                                            {{getVendorItemPrices(item, vendor).revUnitPrice * item.productQuantity | number:2}}
                                                        </strong>
                                                        <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm)  && requirementDetails.status ==  'Negotiation Ended'" type="text" valid-number allow-decimal="true"
                                                               allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                               ng-model="getVendorItemPrices(item, vendor, 1).revUnitPrice" class="form-control" required />
                                                    </div>-->
                                                     <div class="col-md-2 body-col">
                                                                    <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status == 'UNCONFIRMED'">
                                                                        {{getVendorItemPrices(item, vendor).qtyDistributed ? getVendorItemPrices(item, vendor).revUnitPrice * getVendorItemPrices(item, vendor).qtyDistributed : getVendorItemPrices(item, vendor).revUnitPrice * item.productQuantity | number:2}}
                                                                    </strong>
                                                                    <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm)  && requirementDetails.status ==  'Negotiation Ended'" type="text" valid-number allow-decimal="true"
                                                                           allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                           ng-model="getVendorItemPrices(item, vendor, 1).revUnitPrice" class="form-control" required />
                                                                </div>
                                                    <div class="col-md-12" style="background:white;max-height:100px; min-height:100px;overflow-y:auto;" ng-if="getVendorItemPrices(item, vendor).productQuotationTemplateJson.length > 0">
                                                        <div class="row" style="padding:5px;">
                                                            <div class="col-md-6" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;">Description</div>
                                                            <div class="col-md-6" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;" ng-hide="getVendorItemPrices(item, vendor).subIemsColumnsVisibility.hideSPECIFICATION">Specification</div>
                                                        </div>
                                                        <div class="row" style="border-bottom:1px solid;" ng-repeat="obj in getVendorItemPrices(item, vendor).productQuotationTemplateJson" ng-if="obj.NAME != 'Total'">
                                                            <div class="col-md-6" style="border-right:1px solid #000;">
                                                                {{obj.NAME}}
                                                                <span ng-show="obj.DESCRIPTION != '' && obj.DESCRIPTION != undefined && obj.DESCRIPTION != null">({{obj.DESCRIPTION}})</span>
                                                            </div>
                                                            <div class="col-md-6" style="border-right:1px solid #000;" ng-hide="getVendorItemPrices(item, vendor).subIemsColumnsVisibility.hideSPECIFICATION">
                                                                <div ng-show="obj.HAS_SPECIFICATION == 1">
                                                                    {{obj.SPECIFICATION}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" style="background:white;overflow-y:auto;">
                                                        <div class="row">
                                                            <div class="col-md-4" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;">
                                                                SGST (%)
                                                            </div>
                                                            <div class="col-md-4" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;">
                                                                CGST (%)
                                                            </div>
                                                            <div class="col-md-4" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;">
                                                                IGST (%)
                                                            </div>
                                                        </div>
                                                        <div class="row" style="background:white;overflow-y:auto;">
                                                            <div class="col-md-4">
                                                                {{getVendorTaxPercent(vendor, 'SGST',item) | number:2}}
                                                            </div>
                                                            <div class="col-md-4">
                                                                {{getVendorTaxPercent(vendor, 'CGST',item) | number:2}}
                                                            </div>
                                                            <div class="col-md-4">
                                                                {{getVendorTaxPercent(vendor, 'IGST',item) | number:2}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8 sub-body-col">
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        {{getVendorTotalInitPriceWithoutTax(vendor) | number:2}}
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        {{getVendorTotalPriceWithoutTax(vendor) | number:2}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            ----
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong ng-if="!editForm || requirementDetails.status == 'Negotiation Ended'">
                                                            {{vendor.payLoadFactor | number:2}}
                                                        </strong>
                                                        <input ng-if="editForm && requirementDetails.status == 'UNCONFIRMED' " type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                               style="background-color: #f5b2b2;"
                                                               ng-model="vendor.payLoadFactor" class="form-control" ng-change="changePayload(vendor)" required />
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            ----
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong ng-if="!editForm || requirementDetails.status == 'UNCONFIRMED'">
                                                            {{vendor.revPayLoadFactor | number:2}}
                                                        </strong>
                                                        <input ng-if="editForm && requirementDetails.status == 'Negotiation Ended'" type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                               style="background-color: #f5b2b2;"
                                                               ng-model="vendor.revPayLoadFactor" class="form-control" required />
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            {{vendor.payLoadFactor | number:2}}
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            {{vendor.revPayLoadFactor | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col-white">
                                                        <strong>
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!--<div class="col-md-6 sub-body-col pull-left" style="text-align:right;">
                <strong>
                    {{getVendorTaxPercent(vendor, 'CGST') | number:2}}
                </strong>
            </div>-->
                                                    <div class="col-md-12 sub-body-col pull-right" style="text-align:right;">
                                                        <strong>
                                                            {{getVendorTotalTax(vendor, 'CGST') | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!--<div class="col-md-6 sub-body-col pull-left" style="text-align:right;">
                <strong>
                    {{getVendorTaxPercent(vendor, 'SGST') | number:2}}
                </strong>
            </div>-->
                                                    <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                        <strong>
                                                            {{getVendorTotalTax(vendor, 'SGST') | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!--<div class="col-md-6 sub-body-col pull-left" style="text-align:right;">
                <strong>
                    {{getVendorTaxPercent(vendor, 'IGST') | number:2}}
                </strong>
            </div>-->
                                                    <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                        <strong>
                                                            {{getVendorTotalTax(vendor, 'IGST') | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                        <strong ng-if="!editForm">
                                                            {{vendor.revChargeAny | number:2}}
                                                        </strong>
                                                        <input ng-if="editForm" type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                               style="background-color: #f5b2b2;width:150px;"
                                                               ng-model="vendor.revChargeAny" class="form-control pull-right" required />
                                                    </div>
                                                </div>
                                                <!--<div class="row">
                                                    <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                        <strong>
                                                            {{vendor.gstService | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col-white">
                                                        <strong>
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                        <strong>
                                                            {{getVendorTotalTax(vendor, 'CGST') | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                        <strong>
                                                            {{getVendorTotalTax(vendor, 'SGST') | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                        <strong>
                                                            {{getVendorTotalTax(vendor, 'IGST') | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                        <strong>
                                                            {{vendor.gstService | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                        <strong ng-if="!editForm">
                                                            {{vendor.revChargeAny | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>-->
                                                <div class="row">
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            ----
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            ---- <!--{{getVendorTotalUnitItemPrices(vendor)}}-->
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            ----
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            ---- <!--{{getVendorTotalRevUnitItemPrices(vendor)}}-->
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            {{getVendorTotalInitLandingPrice(vendor,requirementDetails.includeGstInCal) | number:2}}
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            {{getVendorTotalLandingPrice(vendor,requirementDetails.includeGstInCal) | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-10 sub-body-col">
                                                        <strong>
                                                            ----
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-2 sub-body-col">
                                                        <strong>
                                                            {{CalculateSavingsBasedOnLandingPrice(vendor) | number:2}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col">
                                                        <strong>
                                                            {{vendor.INCO_TERMS}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col">
                                                        <strong>
                                                            {{vendor.warranty}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col">
                                                        <strong>
                                                            {{vendor.duration}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col">
                                                        <strong>
                                                            {{vendor.payment}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col">
                                                        <strong>
                                                            {{vendor.otherProperties}}
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-body-col">
                                                        <strong ng-if="!editForm">
                                                            {{vendor.customerComment}}
                                                        </strong>
                                                        <div ng-if="editForm" class="col-md-offset-3 col-md-12">
                                                            <input type="text"
                                                                   style="background-color: #f5b2b2;width:50%;"
                                                                   ng-model="vendor.customerComment" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!--<div class="col-md-{{vendorWidth}} header-col" style="min-width:500px;background-color:lightblue;border:1px solid black;text-align:center;">
        <div class="row">
            <div class="col-md-12">
                <strong>
                    Last Purchase Details
                    <br />
                    <small>&nbsp;</small>

                </strong>
            </div>
        </div>
        <div class="row" style="background-color:lightblue;border:1px solid black;">
            <div class="col-md-3 header1-col">
                <strong>
                    Vendor Name
                </strong>
            </div>
            <div class="col-md-3 header1-col">
                <strong>
                    Last PO
                </strong>
            </div>
            <div class="col-md-3 header1-col">
                <strong>
                    Last Rate
                </strong>
            </div>
            <div class="col-md-3 header1-col">
                <strong>
                    Last PO Date
                </strong>
            </div>
        </div>
        <div class="row" style="background-color:lightblue;border:1px solid black;" ng-repeat="item in requirementDetails.listRequirementItems">
            <div class="col-md-3 header1-col">
                <strong>
                    {{item.ITEM_L1_COMPANY_NAME}}
                </strong>
            </div>
            <div class="col-md-3 header1-col">
                <strong>
                    &nbsp;
                </strong>
            </div>
            <div class="col-md-3 header1-col">
                <strong>
                    &nbsp;
                </strong>
            </div>
            <div class="col-md-3 header1-col">
                <strong>
                    {{item.I_LLP_DETAILS}}
                </strong>
            </div>
        </div>
    </div>-->
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="margin:12px 0px 0px 0px; min-height:100px;">
                            <div class="col-md-12 sub-header-col" style="min-height:100px;">
                                PURCHASER COMMENTS
                            </div>
                        </div>
                        <div class="col-md-4" style="margin:10px 0px 0px 8px;">
                            <div class="col-md-12 sub-body-col" style="min-height:100px;padding:0px;">
                                <strong ng-if="!editForm">
                                    {{requirementDetails.customerComment}}
                                </strong>
                                <div ng-if="editForm" class="col-md-12" style="padding:0px;">
                                    <textarea type="text" rows="4"
                                              style="background-color: #f5b2b2;width:100%;"
                                              ng-model="requirementDetails.customerComment" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


<footer id="footer" data-ng-include src="'template/footer.html'"></footer>