﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
            <div id="page-wrapper" ng-controller="activeUsersCtrl">
          
                <div class="col-md-12 top-buffer">
                    <div class="white-box col-md-12">
                        <div>
                            <div class="col-md-6">
                                <h2>
                                    Active Users
                                </h2>
                            </div>

                            <div class="col-md-6 top-buffer">

                                <button class="pull-right btn btn-info ng-scope" data-toggle="modal" data-target="#myModal" href="javascript:void(0);">
                                    Users Login Report
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog" style="width: 70%;height:70%">

                            <!-- Modal content-->
                            <div class="modal-content ">

                                <div class="modal-header">
                                    <div class="col-md-12 text-center">
                                        <h3 class="modal-title">Users Login Report</h3>
                                    </div>
                                </div>
                                <div class="col-md-12 m-t-40">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12">From date</label>
                                            <div class="col-md-12" moment-picker="reportFromDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="reportFromDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12">To date</label>
                                            <div class="col-md-12" moment-picker="reportToDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="reportToDate">
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="form-group fg-float col-md-12 m-b-30 text-center top-buffer">
                                    <label class="col-md-12 m-b-10"></label>
                                    <button ng-click="getReport('USERS_LOGIN_REPORT')" class="text-center btn btn-info ng-scope">
                                        Download Report
                                    </button>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info " data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="white-box col-md-12">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button ng-click="GetActiveUsers()" class="pull-left btn btn-info ng-scope" href="javascript:void(0);">
                                                    Vendors Online
                                                </button>
                                                <br />
                                                <div class="row">
                                                    <label class="text-danger">{{ErrorMsg}}</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-right" ng-hide="activeUsers.length == 0">
                                                    <button class="btn btn-info" onclick="tableToExcel('testTable1')" value="Export to Excel"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table id="testTable1" class="tablesaw table-striped table z-depth-1 clear-both" ng-hide="activeUsers.length == 0">
                                            <thead>
                                                <tr>
                                                    <th style="width:20%"><strong>User ID</strong></th>
                                                    <th style="width:20%"><strong>User Name</strong></th>
                                                    <th style="width:20%"><strong>User Company</strong></th>
                                                    <th style="width:20%"><strong>E-mail</strong></th>
                                                    <th style="width:20%"><strong>Phone Number</strong></th>
                                                    <th style="width:20%"><strong>Online Status</strong></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="user in activeUsers.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                    <td style="width:20%">
                                                        {{user.userID}}
                                                    </td>
                                                    <td style="width:20%">
                                                        {{user.firstName}} {{user.lastName}}
                                                    </td>
                                                    <td style="width:20%">
                                                        {{user.company}}
                                                    </td>
                                                    <td style="width:20%">
                                                        {{user.email}}
                                                    </td>
                                                    <td style="width:20%">
                                                        {{user.phoneNum}}
                                                    </td>
                                                    <td style="width:20%">
                                                        <small><i class="fas fa-circle" style="color:#52FF33;"></i></small>
                                                        {{user.activeTime}}

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="white-box col-md-12">
                               
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button ng-click="GetActiveBuyers()" class="pull-left btn btn-info ng-scope" href="javascript:void(0);">
                                                    Buyers Online
                                                </button>
                                                <br />
                                                <div class="row">
                                                    <label class="text-danger">{{ErrorMsgBuyer}}</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-right" ng-hide="activeBuyers.length == 0">
                                                    <button class="btn btn-info" onclick="tableToExcel('testTable2')" value="Export to Excel"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table id="testTable2" class="tablesaw table-striped table z-depth-1 clear-both" ng-hide="activeBuyers.length == 0">
                                            <thead>
                                                <tr>
                                                    <th style="width:10%"><strong>User ID</strong></th>
                                                    <th style="width:20%"><strong>User Name</strong></th>
                                                    <th style="width:20%"><strong>E-mail</strong></th>
                                                    <th style="width:10%"><strong>Phone Number</strong></th>
                                                    <!--<th style="width:20%"><strong>Category</strong></th>-->
                                                    <th style="width:20%"><strong>Online Status</strong></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="user in activeBuyers.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">
                                                    <td style="width:10%">
                                                        {{user.userID}}
                                                    </td>
                                                    <td style="width:20%">
                                                        {{user.buyerName}}
                                                    </td>
                                                    <td style="width:20%">
                                                        {{user.email}}
                                                    </td>
                                                    <td style="width:10%">
                                                        {{user.phoneNum}}
                                                    </td>
                                                    <!--<td style="width:20%">
                    {{user.category}}
                </td>-->
                                                    <td style="width:20%">
                                                        <small><i class="fas fa-circle" style="color:#52FF33;"></i></small>
                                                        {{user.activeTime}}

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
    </div>
</div>

<style>
    .table-data-fill {
        height: 225px;
        overflow: scroll;
    }
</style>