﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="bidHistoryCtrl">
                    <div class="white-box">
                        <!--vendorviewprofile-->
                        <div class="box-title">
                            <h4 style="text-align:center;"><strong>BID HISTORY ( {{Name}} )</strong></h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hc-chart options="chartOptions" class="center-block text-center" ng-if="show">Placeholder for generic chart</hc-chart>
                            </div>
                            <div class="col-md-12">
                                <table ng-table="tctrl.tableSorting" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th data-title="'Comments'" sortable="'Comments'">
                                            S.NO
                                        </th>
                                        <th data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'">
                                            Bid Price
                                        </th>
                                        <th data-title="'Time (incl. all Taxes)'" sortable="'Time'">
                                            Time
                                        </th>
                                        <th data-title="'Comments'" sortable="'Comments'">
                                            Comments
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                <tr ng-repeat="bidHistoryparam in bidHistory">
                                    <td>{{$index + 1}}</td>
                                    <td data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'" ng-bind-html="bidHistoryparam.bidAmount | numToCurrency:bidHistoryparam.currency"></td>
                                    <td data-title="'Time'" sortable="'Time'">{{bidHistoryparam.createdTime}}</td>
                                    <!--ng-init="temp_result = GetDateconverted(bidHistoryparam.createdTime)"-->
                                    <!--{{temp_result}}-->
                                    <td>{{(bidHistoryparam.rejectReson)?bidHistoryparam.rejectReson:"N/A";}}</td>
                                </tr>
                                        </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                    <div class="white-box" ng-if="auctionItem.IS_CB_ENABLED">
                        <div class="box-title">
                            <h4 style="text-align:center;"><strong>Counter Bid History</strong></h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered" ng-table="tctrl.tableSorting">
                                    <tr ng-repeat-start="bid in CBPricesAudit" ng-style="(bid.isTargetBid) && {'color':'chocolate', 'background':'#e8f7f7'}">
                                        <td data-title="''">
                                            <a role="button" ng-hide="auction.expanded" ng-click="auction.expanded = true" style="margin-right:15px"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!auction.expanded" ng-click="auction.expanded = false" style="margin-right:15px"><i class="fa fa-angle-down fa-2x"></i></a>
                                        </td>
                                        <td data-title="'S.NO'">
                                            {{$index + 1}}
                                        </td>
                                        <td data-title="'COUNTER BID'">
                                            {{bid.U_FNAME}} {{bid.U_LNAME}} ({{bid.COMPANY_NAME}})
                                        </td>
                                        <td data-title="'ITEM LEVEL TOTAL PRICE'">
                                            {{bid.REV_TOTAL_PRICE_WITHOUTTAX | number : 2}}
                                        </td>
                                        <td data-title="'QUOTATION TOTAL PRICE'">
                                            {{bid.REV_TOTAL_PRICE | number : 2}}
                                        </td>
                                        <td data-title="'TIME'">
                                            {{GetDateconverted(bid.DATE_CREATED)}}
                                        </td>
                                        <td data-title="'BID COMMENTS'">
                                            {{bid.BID_COMMENTS}}
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-show="auction.expanded">
                                        <td colspan="10">
                                            <table class="table table-bordered" ng-table="tctrl.tableSorting">
                                                <tr ng-repeat="item in bid.CBItemPricesList">
                                                    <td data-title="'ITEM NAME'">
                                                        {{item.ITEM_NAME}}
                                                    </td>
                                                    <td data-title="'UNIT PRICE'">
                                                        {{item.REV_UNIT_PRICE}}
                                                    </td>
                                                    <td data-title="'ITEM TOTAL PRICE'">
                                                        {{item.REV_ITEM_PRICE}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
