﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper" data-ng-controller="itemCtrl">
            <div class="container-fluid">

                <div class="row ">
                    <div class="col-md-12 negotiation_outside_card">
                        <div class="sectiontitle">

                            <button ng-click="GetReportsRequirement()" class="pull-right btn btn-info btn-sm waves-effect editRequirement_btn" href="javascript:void(0);" ng-if="userIsOwner && !isDeleted && isReportGenerated == 0">
                                Generate Report
                            </button>
                            <a class="pull-right btn btn-info btn-sm waves-effect editRequirement_btn" ng-if="(auctionItem.reportReq > 0 && userIsOwner && !isDeleted) && isReportGenerated == 1" target="_blank" href="FileDownload.aspx?attachid={{auctionItem.reportReq}}&sessionid={{sessionid}}">
                                View Report
                            </a>
                            <span ng-if="isUserEntitled(582258) || isUserEntitled(564456) || isUserEntitled(528852) || isUserEntitled(528852) || isUserEntitled(519951)">
                                <span class="pull-right" ng-if="userIsOwner && !isDeleted">
                                    <a target="_blank" href="prm360.html#/reminders/{{reqId}}" class="btn btn-info btn-sm waves-effect editRequirement_btn">
                                        Remind Vendors
                                    </a>
                                </span>
                            </span>


                            <span class="pull-right" ng-if="userIsOwner && !isDeleted">
                                <button role="button" class="btn btn-info btn-sm waves-effect editRequirement_btn" href="javascript:void(0);" ng-show="userIsOwner && !isDeleted" ng-click="goToReqTechSupport()">e-mail Support</button>
                            </span>

                            <span class="pull-right" ng-if="!auctionStarted && auctionItem.status != 'NOTSTARTED' && isUserEntitled(582258)">
                                <button class="btn btn-info btn-sm waves-effect editRequirement_btn" href="javascript:void(0);" ng-show="userIsOwner && !isDeleted" ng-click="editRequirement()">Edit</button>
                            </span>

                            <div class="text-left col-md-2" ng-show="auctionItem.isTabular && userIsOwner && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'STARTED'&& auctionItem.isDiscountQuotation != 2">
                                <a target="_blank" ng-click="GetReportsRequirement();" ng-hide="!RevQuotationfirstvendor || revQuotationUrl1 == ''" class="btn btn-info btn-sm zmdi-hc-2x" href="prm360.html#/req-savings/{{auctionItem.requirementID}}">Post-Comparisions </a>
                            </div>

                            <div class="pull-right" ng-if="auctionItem.isTabular && L1QuotationUrl > 0 && userIsOwner && auctionItem.isDiscountQuotation != 2">
                                <button class="btn btn-info btn-sm waves-effect editRequirement_btn" ng-click="goToPreNegotiation()">Pre-Comparisions</button>
                            </div>



                            <div class="pull-right" ng-if="auctionItem.isTabular && userIsOwner">
                                <button class="btn btn-info btn-sm waves-effect editRequirement_btn" ng-click="goToComparatives()">Comparisions</button>
                            </div>

                            <h4 class="page-heading">Negotiation Details</h4>

                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <div class="row m-b-20">

                                <div class="col-md-6">
                                    <h3 class="box-title">
                                        Title: {{auctionItem.title}}
                                        <small>
                                            <a title="Requirement PDF" target="_blank" ng-if="auctionItem.reqPDF && !userIsOwner" href="FileDownload.aspx?attachid={{auctionItem.reqPDF}}&sessionid={{sessionid}}">Download</a>
                                            <a title="Requirement PDF" target="_blank" ng-if="auctionItem.reqPDFCustomer && userIsOwner" href="FileDownload.aspx?attachid={{auctionItem.reqPDFCustomer}}&sessionid={{sessionid}}">Download</a>
                                        </small>
                                    </h3>

                                    <div ng-show="!userIsOwner">
                                        <h4><b>Quotation Price (incl. all Taxes):</b><span ng-bind-html="vendorInitialPrice | numToCurrency:auctionItem.currency"></span></h4>

                                        <h5 ng-show="auctionStarted &&  !userIsOwner  && !isDeleted && vendorQuotedPrice!=0"><b>Min Bid Amount To be Reduce:</b><span ng-bind-html="auctionItem.minBidAmount | numToCurrency:auctionItem.currency"></span></h5>

                                        <h4 ng-if="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && !userIsOwner  && !isDeleted && nonParticipatedMsg != ''"><b><font color="red"><span ng-bind="nonParticipatedMsg"></span> </font></b></h4>

                                        <h4 ng-if="!userIsOwner  && !isDeleted && quotationRejecteddMsg != ''"><b><font color="red"><span ng-bind="quotationRejecteddMsg"></span> </font></b></h4>
                                        <h4 ng-if="!userIsOwner  && !isDeleted && quotationNotviewedMsg != '' && quotationUrl"><b><font color="#FF8C00"><span ng-bind="quotationNotviewedMsg"></span> </font></b></h4>
                                        <h4 ng-if="!userIsOwner  && !isDeleted && quotationApprovedMsg != '' && quotationUrl &&(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')"><b><font color="#266A2D"><span ng-bind="quotationApprovedMsg"></span> </font></b></h4>


                                        <h4 ng-if="!userIsOwner  && !isDeleted && revQuotationRejecteddMsg != ''"><b><font color="red"><span ng-bind="revQuotationRejecteddMsg"></span> </font></b></h4>
                                        <h4 ng-if="!userIsOwner  && !isDeleted && revQuotationNotviewedMsg != '' && revquotationUrl"><b><font color="#FF8C00"><span ng-bind="revQuotationNotviewedMsg"></span> </font></b></h4>
                                        <h4 ng-if="!userIsOwner  && !isDeleted && revQuotationApprovedMsg != '' && revquotationUrl"><b><font color="#266A2D"><span ng-bind="revQuotationApprovedMsg"></span> </font></b></h4>

                                        <div>
                                            <span ng-if="quotationRejectedComment != ''"><h4>Approve/Reject reason: </h4><h5>{{quotationRejectedComment}}</h5></span>
                                        </div>
                                        <div>
                                            <span ng-if="revQuotationRejectedComment != ''"><h4>Approve/Reject reason: </h4><h5>{{revQuotationRejectedComment}}</h5></span>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-6 text-right">

                                    <div id="auctiontimer1" ng-show="userIsOwner">

                                        <span ng-if="showTimer  && !isDeleted">
                                            <span style="color:#3b384f;" role="button" ng-hide="auctionItem.timeLeft <= 3 || auctionItem.isStopped || disableAddButton" ng-click="updateTime(60)"><i class="fas fa-plus-square"></i> 60 sec</span>
                                            <span style="color:#f00;" role="button" ng-hide="disableDecreaseButtons || auctionItem.isStopped" ng-click="updateTime(-60)"><i class="fas fa-minus-square"></i> 60 sec</span>
                                            <span style="color:#e62739" role="button" ng-hide="disableDecreaseButtons || auctionItem.isStopped" href='javascript:void(0);' ng-click="stopBids()"><i class="fas fa-ban"></i> Stop Bids</span>
                                            <span style="color:#3b5998;" role="button" ng-if="auctionStarted && !isDeleted && auctionItem.status == 'STARTED'" ng-click="recalculate(true)"><i class="fas fa-sync"></i> Refresh</span>
                                        </span>
                                        <span ng-if="isUserEntitled(564456) || isUserEntitled(546654)">
                                            <span style="color:#e62739;" role="button" ng-if="auctionItem.status == 'Negotiation Ended' && !isDeleted && revQuotationUrl1 == '' && (auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess)" ng-click="RestartNegotiation()"><i class="far fa-stopwatch"></i>Re-Start</span>
                                        </span>

                                        <div class="negoti-end" ng-if="auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'STARTED'"> Status: {{auctionItem.status}}</div>

                                        <div class="row text-right">
                                            <a target="_blank " class="" ng-if="auctionItem.status != 'PO Sent' && !userIsOwner && auctionItem.auctionVendors[0].PO.poLink > 0" href="FileDownload.aspx?attachid={{auctionItem.auctionVendors[0].PO.poLink}}&&sessionid={{sessionid}}"> <strong>Download PO </strong></a>
                                            <a target="_blank " class="" ng-if="!auctionItem.isTabular && auctionItem.poLink && auctionItem.poLink != '' && (auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess)" href="FileDownload.aspx?attachid={{auctionItem.poLink}}&sessionid={{sessionid}}"><strong>Download PO</strong></a>
                                        </div>
                                        <div class="row text-right">
                                            <a target="_blank " class="" ng-if="!userIsOwner && auctionItem.auctionVendors[0].PO.materialDispachmentLink > 0" href="FileDownload.aspx?attachid={{auctionItem.auctionVendors[0].PO.materialDispachmentLink}}&&sessionid={{sessionid}}"> <strong>Delivery Challan</strong></a>
                                            <a target="_blank " class="" ng-if="!auctionItem.isTabular && auctionItem.materialDispachmentLink && auctionItem.materialDispachmentLink != '' && auctionItem.materialDispachmentLink > 0 && (auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess)" href="FileDownload.aspx?attachid={{auctionItem.materialDispachmentLink}}&sessionid={{sessionid}}"><strong>Delivery Challan</strong></a>
                                        </div>

                                        <div class="row text-right">
                                            <a target="_blank " class="" ng-if="!userIsOwner && auctionItem.auctionVendors[0].PO.materialReceivedLink > 0" href="FileDownload.aspx?attachid={{auctionItem.auctionVendors[0].PO.materialReceivedLink}}&&sessionid={{sessionid}}"><strong>Material Received Receipt</strong></a>
                                            <a target="_blank " class="" ng-if="!auctionItem.isTabular && auctionItem.materialReceivedLink && auctionItem.materialReceivedLink != '' && auctionItem.materialReceivedLink > 0 && (auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess)" href="FileDownload.aspx?attachid={{auctionItem.materialReceivedLink}}&sessionid={{sessionid}}"><strong>Material Received Receipt</strong></a>
                                        </div>
                                        <span>
                                            <span class="text-right" ng-if="auctionItem.isTabular && !userIsOwner && auctionItem.status != 'STARTED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'UNCONFIRMED'">
                                                <button class='btn btn-info btn-sm' ng-if="auctionItem.auctionVendors[0].revquotationUrl" ng-click="goToVendorPo(auctionItem.auctionVendors[0].vendorID)">
                                                    PO
                                                </button>
                                            </span>

                                            <span class="text-right" ng-if="!auctionItem.isTabular && auctionItem.status != 'STARTED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'UNCONFIRMED'">
                                                <button class='btn btn-info btn-sm' href='javascript:void(0);'
                                                        ng-click="goToDescPo()">
                                                    PO
                                                </button>
                                            </span>
                                        </span>
                                        <div id="timer">
                                            <div class="row text-right" ng-if="showTimer  && !isDeleted">
                                                <h4 class="negoti-end">
                                                    {{timeLeftMessage}}
                                                    <span ng-style="divfix">
                                                        <timer countdown="auctionItem.timeLeft" ng-style="timerStyle" interval="1000">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                                    </span>
                                                    <span title="Timer Refresh" ng-if="showTimer  && !isDeleted && !userIsOwner && auctionStarted" ng-click="recalculate(true)" class='zmdi zmdi-refresh-sync zmdi-hc-2x text-center text-right' style="color:#3b5998; cursor: pointer; cursor: hand;" ng-if="auctionStarted && !isDeleted && auctionItem.status == 'STARTED'"><h4 class=""><strong></strong></h4></span>
                                                </h4>
                                            </div>


                                            <div class="row text-right" ng-if="auctionItem.isDiscountQuotation != 2">
                                                <div class="col-md-12 text-right padding0" ng-show="(auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess) && auctionItem.savings && auctionItem.status == 'STARTED'">
                                                    <h4><strong>Savings So Far: <span ng-style="divfix3"><span ng-style="savingsStyle" ng-bind-html="auctionItem.savings | numToCurrency:auctionItem.currency"></span></span></strong></h4>
                                                </div>

                                                <div class="col-md-12 text-right padding0" ng-show="(auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess) && auctionItem.savings && auctionItem.status != 'STARTED'">
                                                    <h4><strong>Total Savings: <span ng-style="savingsStyle" ng-bind-html="auctionItem.savings | numToCurrency:auctionItem.currency"></span></strong></h4>
                                                </div>
                                            </div>

                                            <div class="row text-right" ng-if="auctionItem.isDiscountQuotation == 2">
                                                <div class="col-md-12 text-right padding0" ng-show="(auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess) && auctionItem.savings && auctionItem.status == 'STARTED'">
                                                    <h4><strong>Savings So Far: <span ng-style="divfix3"><span ng-style="savingsStyle">{{auctionItem.savings}}</span></span></strong></h4>
                                                </div>

                                                <div class="col-md-12 text-right padding0" ng-show="(auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess) && auctionItem.savings && auctionItem.status != 'STARTED'">
                                                    <h4><strong>Total Savings: <span ng-style="savingsStyle">{{auctionItem.savings}}</span></strong></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                            <div class="table-responsive">
                                <table class="table negoti-tbl">
                                    <thead>
                                        <tr>
                                            <th width="20%">Company</th>
                                            <th width="10%"></th>
                                            <th width="10%"></th>
                                            <th width="10%">Rank</th>
                                            <th width="20%">Quotation Price</th>
                                            <th width="15%">Bid Price</th>
                                            <th width="15%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> Vendor QA Mobile APP </td>
                                            <td><span class="text-muted"> logged in</span></td>
                                            <td>
                                                <input type="text" value="0">
                                                <button type="button" class="btn waves-effect waves-light btn-save">Save</button>
                                            </td>
                                            <td>1</td>
                                            <td>₹67,20,000</td>
                                            <td><span class="b-price">₹4,00,000</span></td>
                                            <td><a class="btn btn-info btn-outline btn-circle m-r-5"><i class="far fa-file-alt"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-plus"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-history"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-dollar-sign"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Vendor QA Mobile APP</td>
                                            <td><span class="text-muted"> logged in</span></td>
                                            <td></td>
                                            <td>1</td>
                                            <td>₹67,20,000</td>
                                            <td><span class="b-price">₹4,00,000</span></td>
                                            <td><a class="btn btn-info btn-outline btn-circle m-r-5"><i class="far fa-file-alt"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-plus"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-history"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-dollar-sign"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Vendor QA Mobile APP</td>
                                            <td><span class="text-muted"> logged in</span></td>
                                            <td></td>
                                            <td>1</td>
                                            <td>₹67,20,000</td>
                                            <td><span class="b-price">₹4,00,000</span></td>
                                            <td><a class="btn btn-info btn-outline btn-circle m-r-5"><i class="far fa-file-alt"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-plus"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-history"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-dollar-sign"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Vendor QA Mobile APP</td>
                                            <td><span class="text-muted"> logged in</span></td>
                                            <td></td>
                                            <td>1</td>
                                            <td>₹67,20,000</td>
                                            <td><span class="b-price">₹4,00,000</span></td>
                                            <td><a class="btn btn-info btn-outline btn-circle m-r-5"><i class="far fa-file-alt"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-plus"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-history"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-dollar-sign"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Vendor QA Mobile APP</td>
                                            <td><span class="text-muted"> logged in</span></td>
                                            <td></td>
                                            <td>1</td>
                                            <td>₹67,20,000</td>
                                            <td><span class="b-price">₹4,00,000</span></td>
                                            <td><a class="btn btn-info btn-outline btn-circle m-r-5"><i class="far fa-file-alt"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-plus"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-history"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-dollar-sign"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Vendor QA Mobile APP</td>
                                            <td><span class="text-muted"> logged in</span></td>
                                            <td></td>
                                            <td>1</td>
                                            <td>₹67,20,000</td>
                                            <td><span class="b-price">₹4,00,000</span></td>
                                            <td><a class="btn btn-info btn-outline btn-circle m-r-5"><i class="far fa-file-alt"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-plus"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-history"></i></a> <a class="btn btn-info btn-outline btn-circle m-r-5"><i class="fa fa-dollar-sign"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box requirement-specifications">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="box-title m-b-30">Detailed Requirement Specifications</h3>
                                </div>
                                <div class="col-md-6 text-right form-group">
                                    <label>Urgency: </label>
                                    High (Will be Closed in 2 Days)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label class="control-label">Is Inclusive Tax?:</label>
                                    <br>
                                    Yes
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="control-label">Include Freight & Installation Charges?:</label>
                                    <br>
                                    Yes
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Product No</th>
                                            <th>Description</th>
                                            <th>Preferred Brand</th>
                                            <th>Other Brand</th>
                                            <th>File</th>
                                            <th>Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>prod name</td>
                                            <td>HSn</td>
                                            <td>description</td>
                                            <td>preferred brand</td>
                                            <td>other brand</td>
                                            <td><a href="#" download> <i class="fa fa-download"></i> </a></td>
                                            <td>15units</td>
                                        </tr>
                                        <tr>
                                            <td>prod name</td>
                                            <td>HSn</td>
                                            <td>description</td>
                                            <td>preferred brand</td>
                                            <td>other brand</td>
                                            <td><a href="#" download> <i class="fa fa-download"></i> </a></td>
                                            <td>15units</td>
                                        </tr>
                                        <tr>
                                            <td>prod name</td>
                                            <td>HSn</td>
                                            <td>description</td>
                                            <td>preferred brand</td>
                                            <td>other brand</td>
                                            <td><a href="#" download> <i class="fa fa-download"></i> </a></td>
                                            <td>15units</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h5 class="text-muted m-t-20">Requirement Attachments:<a href="#" download> <i class="fa fa-download"></i> </a></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box requirement-specifications">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="box-title"><i class="fas fa-truck" style="color: #ec335f;"></i> Delivery Terms</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Timelines:</label>
                                                <br>
                                                SS
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Location:</label>
                                                <br>
                                                sss
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="box-title"><i class="fas fa-dollar-sign" style="color: #ec335f;"></i> Payment Terms</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"> SS </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Category:</label>
                                        <br>
                                        Others
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Subcategories:</label>
                                        <br>
                                        Others
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Department:</label>
                                        <br>
                                        Others
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Technical Evaluation:</label>
                                        <br>
                                        No Tech Evaluation
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box requirement-specifications">
                            <h3 class="box-title">Negotiation Rules</h3>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Quotation Freeze Time:</label>
                                        <br>
                                        11-12-2017 04:00
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Exp.Negotiation Start Time:</label>
                                        <br>
                                        14-06-2017 09:45
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Negotiation Duration:</label>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Minimum Reduction Amount:</label>
                                        <br>
                                        0
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Min Price Difference Between Vendors:</label>
                                        <br>
                                        500
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Transaction Type:</label>
                                        <br>
                                        PRICE
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
