﻿<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listInvoicesCtrl">
                <div>
                    <h4>Vendor Invoices</h4>
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-2">
                                <h5><strong>PO Number</strong></h5>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="filters.poNumber"
                                             options="item.name for item in filtersList.poNumber"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>

                            <div class="col-md-2">
                                <h5><strong>Miro Number</strong></h5>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="filters.invoiceNumber"
                                             options="item.name for item in filtersList.invoiceNumber"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                            <div class="col-md-2" ng-if="!isVendor">
                                <h5><strong>Supplier Name</strong></h5>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="filters.supplier"
                                             options="item.name for item in filtersList.supplierList"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                            <div class="col-md-2">
                                <h5><strong>GRN Number</strong></h5>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="filters.grnNumber"
                                             options="item.name for item in filtersList.grnNumber"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;">
                            <div class="col-md-2">
                                <label class="col-md-12">Search</label>
                                <input class="form-control" ng-change="setFilters();" ng-model="filters.searchKeyword" ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="filters.fromDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="filters.fromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="filters.toDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="filters.toDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="filterByDate();">Apply</button></div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="pmb-block ng-scope">

                                <div class="table-responsive">
                                    <table class="table-striped table-bordered table z-depth-1 clear-both">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th style="text-align:center;"><strong> Miro Number</strong></th>
                                                <th style="text-align:center;"><strong> Vendor Inv Number</strong></th>
                                                <!--<th style="text-align:center"><strong>PO Number</strong></th>-->
                                                <!--<th style="text-align:center"><strong>PO Line Item </strong></th>-->
                                                <th ng-if="!isVendor" style="text-align:center"><strong>Supplier Name</strong></th>
                                                <!--<th style="text-align:center"><strong>GRN Number</strong></th>-->
                                                <!--<th style="text-align:center"><strong>GRN Line Item </strong></th>-->
                                                <th style="text-align:center"><strong>Invoice Date</strong></th>
                                                <th style="text-align:center"><strong>Status</strong></th>
                                                <th style="text-align:center"><strong>Comments</strong></th>
                                                <th style="text-align:center"><strong> Action</strong></th>
                                                <!--<th style="text-align:center"><strong>Recevied Qty</strong></th>-->
                                                <!--<th style="text-align:center"><strong>Status</strong></th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="invoice in invoiceDetails">
                                                <td>
                                                    <a role="button" ng-hide="invoice.expanded" ng-click="invoice.expanded = true;GetInvoiceItems(invoice)" " title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                    <a role="button" ng-hide="!invoice.expanded" ng-click="invoice.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                                </td>
                                                <td style="text-align:center;">{{invoice.INVOICE_STATUS == "APPROVED" ? invoice.INVOICE_NUMBER : ""}}</td>
                                                <td style="text-align:center;">{{invoice.PRM_INVOICE_NUMBER}}</td>
                                                <!--<td style="text-align:center;">{{invoice.PO_NUMBER}}</td>-->
                                                <!--<td style="text-align:center;">{{invoice.PO_LINE_ITEM}}</td>-->
                                                <td style="text-align:center;" ng-if="!isVendor">{{invoice.CREATED_BY_USER_NAME}}</td>
                                                <!--<td style="text-align:center;">{{invoice.GRN_NUMBER}}</td>-->
                                                <!--<td style="text-align:center;">{{invoice.GRN_LINE_ITEM}}</td>-->
                                                <td style="text-align:center;">{{invoice.INVOICE_DATE}}</td>
                                                <td style="text-align:center;">{{invoice.INVOICE_STATUS}}</td>
                                                <td style="text-align:center;">{{invoice.INVOICE_STATUS_COMMENTS}}</td>
                                                <td style="text-align:center;">
                                                    <!--ng-click="update(invoice,0)"-->
                                                    <a style="color:orangered;cursor:pointer;" title="Attachment PDF" role="button"
                                                       ng-if="invoice.ATTACHMENTS" href="FileDownload.aspx?attachid={{invoice.ATTACHMENTS}}&sessionid={{sessionId}}">
                                                        <i class="fa fa-file-alt" aria-hidden="true"></i>
                                                    </a>&nbsp;&nbsp;
                                                    <a style="color:green;cursor:pointer;" ng-if="!isVendor && (invoice.INVOICE_STATUS === 'SUBMITTED' || invoice.INVOICE_STATUS === 'REJECTED')" title="Approve" ng-click="update(invoice, 1)" role="button"><i class="fa fa-check-circle" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                                    <a style="color:red;cursor:pointer;" ng-if="!isVendor && invoice.INVOICE_STATUS === 'SUBMITTED'" title="Reject" ng-click="update(invoice, 0)" role="button"><i class="fa fa-times" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                                </td>
                                            </tr>

                                            <tr ng-repeat-end ng-if="invoice.expanded">
                                                <td colspan="16">
                                                    <table class="table-striped table">
                                                        <thead>
                                                            <tr>
                                                                <!--<th style="text-align:center;"><strong> Miro Number</strong></th>-->
                                                                <th style="text-align:center"><strong>PO Number</strong></th>
                                                                <th style="text-align:center"><strong>PO Line Item </strong></th>
                                                                <th ng-if="!isVendor" style="text-align:center"><strong>Supplier Name</strong></th>
                                                                <th style="text-align:center"><strong>GRN Number</strong></th>
                                                                <th style="text-align:center"><strong>GRN Line Item </strong></th>
                                                               

                                                            </tr>

                                                        </thead>


                                                        <tr ng-repeat="item in invoice.invoiceItems">
                                                            <!--<td style="text-align:center;">{{item.INVOICE_NUMBER}}</td>-->
                                                            <td style="text-align:center;">{{item.PO_NUMBER}}</td>
                                                            <td style="text-align:center;">{{item.PO_LINE_ITEM}}</td>
                                                            <td style="text-align:center;" ng-if="!isVendor">{{item.CREATED_BY_USER_NAME}}</td>
                                                            <td style="text-align:center;">{{item.GRN_NUMBER}}</td>
                                                            <td style="text-align:center;">{{item.GRN_LINE_ITEM}}</td>
                                                           

                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal" id="ApprovalPopup">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"> Status</h4>
                            </div>
                            <div class="modal-body p-t-0">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="table-responsive" style="max-height:200px;overflow-y:auto">
                                                    <table class="table table-bordered colliers_table">
                                                        <thead>
                                                            <tr>
                                                                <th>Miro Number</th>
                                                                <!--<th>Status</th>-->
                                                                <th>Comments</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in tempArray">
                                                                <td>{{item.INVOICE_NUMBER}}</td>
                                                                <!--<td>{{item.INVOICE_STATUS_COMMENTS_TEMP}}</td>-->
                                                                <td>
                                                                    <textarea rows="2" cols="50" ng-model="item.INVOICE_STATUS_COMMENTS_TEMP" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                                    <label class="text-danger" ng-if="commentsError">{{commentsError}}</label>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
  
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer" style="border:none">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-info" ng-click="saveDetails()">Save</button>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>
