﻿
<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content" class="negotiation_details"></section>
    <div class="container m-p-0" data-ng-controller="itemCustCtrl">
        <div class="row ">
            <div class="col-md-12 negotiation_outside_card">
                <div class="sectiontitle">
                    <button ng-click="GetReportsRequirement()" class="pull-right btn btn-info btn-sm waves-effect editRequirement_btn" href="javascript:void(0);" ng-if="!isDeleted && isReportGenerated == 0">
                        Generate Report
                    </button>
                    <span class="pull-right" ng-if="(auctionItem.reportReq > 0 && userIsOwner && !isDeleted) && isReportGenerated == 1">
                        <a target="_blank" class="btn btn-info btn-sm waves-effect editRequirement_btn" href="FileDownload.aspx?attachid={{auctionItem.reportReq}}&sessionid={{sessionid}}">
                            View Report
                        </a>
                    </span>
                    <span ng-if="isUserEntitled(582258) || isUserEntitled(564456) || isUserEntitled(528852) || isUserEntitled(528852) || isUserEntitled(519951)">
                        <span class="pull-right" ng-if="!auctionStarted && userIsOwner && !isDeleted">
                            <a ng-show="!isDeleted" class="btn btn-info btn-sm waves-effect editRequirement_btn" target="_blank" href="prm360.html#/reminders/{{reqId}}">
                                Remind Vendors
                            </a>
                        </span>
                    </span>
                    <span class="pull-right" ng-if="!auctionStarted && auctionItem.status != 'NOTSTARTED' && isUserEntitled(582258)">
                        <button class="btn btn-info btn-sm waves-effect editRequirement_btn" href="javascript:void(0);" ng-show="userIsOwner && !isDeleted" ng-click="editRequirement()">Edit</button>
                    </span>
                    <div class="pull-right" ng-if="auctionItem.isTabular && L1QuotationUrl > 0 && userIsOwner">
                        <a title="Pre-Negotiation Comparisions" class="btn btn-info btn-sm waves-effect editRequirement_btn" target="_blank" style="color:white" ng-if="auctionItem.isTabular && L1QuotationUrl > 0" href="prm360.html#/req-savingsPreNegotiation/{{auctionItem.requirementID}}">Pre-Comparisions</a>
                    </div>
                    <h2 class="postrequirement_h">Negotiation Details</h2>
                </div>
            </div>
        </div>
        <div class="card" ng-show="auctionItem.requirementID > 0">
            <div class="card-body card-padding">
                <div class="table-responsive">
                    <div class="col-md-12 padding0">
                        <div class="col-md-6 padding0">
                            <h3>
                                <b>Title:</b> {{auctionItem.title}}
                                <small>
                                    <a title="Requirement PDF" target="_blank" ng-if="auctionItem.reqPDFCustomer" href="FileDownload.aspx?attachid={{auctionItem.reqPDFCustomer}}&sessionid={{sessionid}}">Download</a>
                                </small>
                            </h3>
                            <div id="auctiontimer1" ng-show="auctionStarted" class="row">
                                <div ng-if="showTimer && !isDeleted" class="text-center col-md-2 zmdi zmdi-plus-square zmdi-hc-2x" style="color: #3b5998" ng-hide="auctionItem.timeLeft <= 3 || auctionItem.isStopped || disableAddButton" ng-click="updateTime(60)">
                                    <h4 class="">
                                        <strong>60 Sec</strong>
                                    </h4>
                                </div>
                                <div ng-if="showTimer && !isDeleted" class="col-md-2 text-center zmdi zmdi-minus-square zmdi-hc-2x padding-2" style="color:#e62739" ng-hide="disableDecreaseButtons || auctionItem.isStopped" ng-click="updateTime(-60)">
                                    <h4 class="">
                                        <strong>60 Sec</strong>
                                    </h4>
                                </div>
                                <div ng-if="showTimer && !isDeleted" class="text-center col-md-2 zmdi zmdi-block zmdi-hc-2x" style="color:#e62739" ng-hide="disableDecreaseButtons || auctionItem.isStopped" class='btn btn-primary btn-sm' href='javascript:void(0);' ng-click="stopBids()">
                                    <h4 class="">
                                        <strong>Stop Bids </strong>
                                    </h4>
                                </div>
                                <div ng-if="showTimer && !isDeleted" ng-click="recalculate()" class='zmdi zmdi-refresh-sync zmdi-hc-2x text-center col-md-2' style="color:#3b5998; cursor: pointer; cursor: hand;" ng-if="auctionStarted && !isDeleted && auctionItem.status == 'STARTED'">
                                    <h4 class="">
                                        <strong>Refresh</strong>
                                    </h4>
                                </div>
                                <div ng-if="isUserEntitled(564456) || isUserEntitled(546654)" ng-click="RestartNegotiation()" class='text-center col-md-2 zmdi zmdi-timer zmdi-hc-2x' style="color:#e62739; cursor: pointer; cursor: hand;" ng-if="auctionItem.status == 'Negotiation Ended' && !isDeleted && revQuotationUrl1 == '' && (auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess)">
                                    <h4>
                                        <strong>Re-Start </strong>
                                    </h4>
                                </div>
                                <div class="text-left col-md-2" ng-show="auctionItem.isTabular && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'STARTED'">
                                    <a target="_blank" ng-click="GetReportsRequirement()" ng-hide="!RevQuotationfirstvendor || revQuotationUrl1 == ''" class="btn btn-info btn-sm zmdi-hc-2x" href="prm360.html#/req-savings/{{auctionItem.requirementID}}">Post-Comparisions </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row text-right">
                                <h3 ng-if="auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'STARTED'"> Status: {{auctionItem.status}}</h3>
                            </div>
                            <div class="row text-right">
                                <a target="_blank " class="" ng-if="!auctionItem.isTabular && auctionItem.poLink && auctionItem.poLink != '' && (auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess)" href="FileDownload.aspx?attachid={{auctionItem.poLink}}&sessionid={{sessionid}}"><strong>Download PO</strong></a>
                            </div>
                            <div ng-if="isUserEntitled(519951)" class="text-right">
                                <button ng-show="(((auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess) && (auctionItem.status == 'Vendor Selected') && !auctionItem.isTabular ) || (auctionItem.isTabular && allItemsSelected && (auctionItem.status == 'Vendor Selected'))) && userIsOwner" class='btn btn-primary btn-sm' href='javascript:void(0);'
                                        ng-click="generatePOforUser()">
                                    Generate PO
                                </button>
                            </div>
                            <div id="timer">
                                <div class="row text-right" ng-if="showTimer  && !isDeleted">
                                    <h4>
                                        {{timeLeftMessage}}
                                        <timer style="font-size:40px" countdown="auctionItem.timeLeft" ng-style="timerStyle" interval="1000">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                        <div title=" Timer Refresh" ng-if="showTimer  && !isDeleted && !userIsOwner && auctionStarted" ng-click="recalculate()" class='zmdi zmdi-refresh-sync zmdi-hc-2x text-center text-right' style="color:#3b5998; cursor: pointer; cursor: hand;" ng-if="auctionStarted && !isDeleted && auctionItem.status == 'STARTED'"><h4 class=""><strong></strong></h4></div>
                                    </h4>
                                </div>
                                <div class="row text-right">
                                    <div class="col-md-12 text-right padding0" ng-show="(auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess) && auctionItem.savings && auctionItem.status == 'STARTED'">
                                        <h4><strong>Savings So Far: <span style="font-size:30px" ng-style="savingsStyle" ng-bind-html="auctionItem.savings | numToCurrency:auctionItem.currency"></span></strong></h4>
                                    </div>

                                    <div class="col-md-12 text-right padding0" ng-show="(auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess) && auctionItem.savings && auctionItem.status != 'STARTED'">
                                        <h4><strong>Total Savings: <span style="font-size:30px" ng-style="savingsStyle" ng-bind-html="auctionItem.savings | numToCurrency:auctionItem.currency"></span></strong></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>
