<div class="white-box">
    <div class="row">

        <div ng-controller="profileVendorCtrl as pctrl">
            <div ng-class="{'pmb-block':pctrl.addVendor==1}" ng-if="userObj.credentialsVerified == 1 && isOTPVerified == 1 && isEmailOTPVerified == 1">
                <div class="pmbb-header" data-ng-show="pctrl.addVendor === 1">
                    <form name="vendorregisterForm" class="pmbb-edit" ng-init="getRegAddtionalFields()" novalidate>
                        <div class="col-md-4"><h4>Vendor Info</h4></div>

                        <div class="col-md-8 text-right">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                Add Multiple Vendors via Excel(only xlsx):
                                <span class="btn btn-info btn-file btn-new-look">
                                    <span class="fileinput-new">Choose a file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" accept=".xlsx" id="vendorsAttachment" doctype="vendorsAttachment" ng-file-select-docs="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename" data-ng-model="ImportEntity.attachmentFileName"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                <small><a target="_blank" class="" href="https://centuryply.prm360.com/services/templateattachments/AddVendor.xlsx?sessionid={{sessionid}}"><strong>Download Excel Template</strong></a></small>
                                <!--<small><a target="_blank" class="" href="E:/BASH/centuryply/PRMServices/Services/templateattachments/AddVendor.xlsx"><strong>Download Excel Template</strong></a></small>-->

                                <!--<small><a target="_blank" class="" href="https://ctrls.prm360.com/services/templateattachments/AddVendor.xlsx?sessionid={{sessionid}}"><strong>Download Excel Template</strong></a></small>-->
                                <!--<small><a role="button" ng-click="downloadTemplate();"><strong>Download Excel Template</strong></a></small>-->
                            </div>
                        </div>
                        <div class="white-box fdcBorders">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <label class="fg-label">Vendor First Name <span class="text-danger">*</span></label>
                                        <input type="text" ng-model="newVendor.firstName" ng-change="addVendorValidation()" class="form-control fg-input" name="firstName" id="firstName" required />
                                    </div>
                                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.firstName.$touched">
                                        <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.firstName.$error.required">Please enter First Name</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="fg-label">Vendor Last Name</label>
                                        <input type="text" ng-model="newVendor.lastName" ng-change="addVendorValidation()" class="form-control fg-input" name="lastName" id="lastName" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="fg-label">Email <span class="text-danger">*</span></label>
                                        <input type="email" ng-model="newVendor.email" ng-model-options="{debounce:100}"
                                               ng-change="EmailValidate1()" class="form-control fg-input" name="Email" id="Email" required />
                                    </div>
                                    <!--<label>
                                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.email.$touched) && emailvalidation">Please enter Email</label>
                                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.email.$touched) && !emailvalidation && (vendorregisterForm.email.$error.email || emailregxvalidation)">Please enter a valid Email</label>
                                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.email.$touched) && checkVendorEmailUniqueResult && !emailvalidation && !vendorregisterForm.email.$error.email">Email already exists</label>
                            </label>-->
                                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.Email.$dirty || vendorregisterForm.Email.$touched">
                                        <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.Email.$error.required">Please enter Email</small>
                                        <small class="help-block error logininput text-danger" ng-show="(!vendorregisterForm.Email.$error.required && vendorregisterForm.Email.$error.Email) || showEmailValid">Please enter a valid Email</small>
                                        <!--<small class="help-block error logininput text-danger" ng-show="checkVendorEmailUniqueResult && !vendorregisterForm.Email.$error.required">Email already exists</small>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <label class="fg-label">Phone <span class="text-danger">*</span></label>
                                        <input type="number" ng-model="newVendor.contactNum" ng-model-options="{debounce:100}"
                                               ng-change="checkUserUniqueResult('PHONE',newVendor.contactNum)" class="form-control fg-input" name="phoneNum" id="phoneNum"
                                               minlength="10" maxlength="10" onKeyPress="if(this.value.length==10) return false;" required />
                                    </div>
                                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$dirty || vendorregisterForm.phoneNum.$touched">
                                        <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.phoneNum.$error.required">Please enter Phone Number</small>
                                        <small class="help-block error logininput text-danger" ng-show="vendorregisterobj.phoneNum.$error.number">Please enter a valid phonenumber</small>
                                        <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.minlength">Phone Number must be min 10 digits.</small>
                                        <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.maxlength">Phone Number must be max 10 digits.</small>
                                        <small class="help-block error logininput text-danger" ng-show="checkVendorPhoneUniqueResult && !vendorregisterForm.phoneNum.$error.required">Phone number already exists</small>

                                    </div>
                                    <!--<label>
                                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched) && contactvalidation">Please enter valid Phone Number</label>
                                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched) && contactvalidationlength">Phone Number must be exactly 10 digits.</label>
                                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched) && checkVendorPhoneUniqueResult && !contactvalidation">Phone number already exists</label>
                            </label>-->
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label class="fg-label">Vendor Company Name <span class="text-danger">*</span></label>
                                        <input type="text" ng-model="newVendor.companyName" ng-change="addVendorValidation()" class="form-control fg-input" name="institution" id="institution" required />
                                    </div>
                                    <!--<label>
                                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.institution.$touched) ">Please enter Vendor Company Name</label>
                            </label>-->
                                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.institution.$touched">
                                        <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.institution.$error.required">Please enter Company Name</small>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div>
                                        <label class="fg-label" for="category">Currency <span class="text-danger">*</span></label>
                                        <select ng-model="newVendor.currency" ng-change="addVendorValidation()" name="currency" id="currency" class="form-control" ng-options="currency.value for currency in currencies" required></select>
                                    </div>
                                    <!--<label>
                                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched) && currencyvalidation">Please Select Vendor Currency</label>
                            </label>-->
                                    <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched)">
                                        <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.currency.$error.required">Please Select Currency</small>
                                    </div>
                                    <br />
                                </div>
                            </div>

                        </div>

                </div>
                <div class="pmbb-body" data-ng-show="pctrl.addVendor === 1">
                    <!--<form name="vendorregisterForm" class="pmbb-edit" ng-init="getRegAddtionalFields()" novalidate>-->
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="row" style="padding-left:20px;">
                        <label>
                            <label class="text-danger" ng-show="catalogvalidation">please select one Category atleast</label>
                        </label>
                    </div>-->
                            <accordion>
                                <accordion-group is-open="status.open">
                                    <accordion-heading class="!accordion-toggle">
                                        Vendor Details

                                        <a role="button" ng-hide="accordion.expanded1" ng-click="accordion.expanded1 = true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-down pull-right" style="font-size:25px"></i></a>
                                        <a role="button" ng-hide="!accordion.expanded1" ng-click="accordion.expanded1 = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-up pull-right" style="font-size:25px"></i></a>
                                    </accordion-heading>

                                    <div class="row">
                                        <div class="col-md-12 add-row ng-scope" style="padding:20px">
                                            <ng-include src="'views\\vendor.html'">

                                            </ng-include>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>



                    <!--<ng-include src="'views\\vendor.html'">

            </ng-include>-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="padding-left:20px;">
                                <label>
                                    <label class="text-danger" ng-show="catalogvalidation">please select one Category atleast</label>
                                </label>
                            </div>
                            <accordion>
                                <accordion-group is-open="status.open">
                                    <accordion-heading class="!accordion-toggle">
                                        Catalogue Management

                                        <a role="button" ng-hide="accordion.expanded" ng-click="accordion.expanded = true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-down pull-right" style="font-size:25px"></i></a>
                                        <a role="button" ng-hide="!accordion.expanded" ng-click="accordion.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-up pull-right" style="font-size:25px"></i></a>
                                    </accordion-heading>

                                    <div class="row" id="section">
                                        <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                            <ng-include src="'views\\new-vendor-catalog.html'">

                                            </ng-include>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <accordion>
                                <accordion-group is-open="status.open">
                                    <accordion-heading class="!accordion-toggle">
                                        GST Info
                                        <a role="button" ng-hide="accordion.gstExpanded" ng-click="accordion.gstExpanded = true;GetCompanyGSTInfo(vendor);" style="margin-right:15px" title="More Details" id="sectionB"><i class="fa fa-angle-down pull-right" style="font-size:25px" id="sectionA"></i></a>
                                        <a role="button" ng-hide="!accordion.gstExpanded" ng-click="accordion.gstExpanded = false;GetCompanyGSTInfo(vendor);" style="margin-right:15px" title="Hide Details" id="sectionB"><i class="fa fa-angle-up pull-right" style="font-size:25px"></i></a>
                                    </accordion-heading>
                                    <div class="row" id="section">
                                        <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                            <div class="col-md-12">
                                                <a role="button" class="pull-left" data-target="#newGSTInfo" ng-click="openGSTInfoPopup()" data-toggle="modal" style="margin-top:20px;"><strong>+ New GST</strong></a>
                                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle" show-filter="false">
                                                    <tr ng-repeat="gstDetail in companyGSTInfo" ng-if="gstDetail.gstNumber.length > 0">
                                                        <td data-title="'GST Number '" sortable="'ID'">
                                                            {{ gstDetail.gstNumber }}
                                                        </td>
                                                        <td data-title="'GST Address'" sortable="'Type'">
                                                            {{ gstDetail.gstAddr }}
                                                        </td>
                                                        <td data-title="'Vendor Code'" sortable="'Type'">
                                                            {{ gstDetail.vendorCode }}
                                                        </td>
                                                        <td data-title="''" sortable="'Type'">
                                                            <a role="button" ng-click="deleteGSTInfo(gstDetail)" style="margin-right:15px" title="Edit vendor"><i class="fas fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>

                    <div class="col-md-12 center-block text-center" ng-hide="true">

                        <div class="row">
                            <strong role="button" ng-click="addAltUser();">Alternate Contacts <label class="text-primary"><i class="fa fa-user-plus" role="button" aria-hidden="true"></i></label></strong>
                        </div>
                        <br />
                        <div class="white-box" ng-repeat="contact in altUsers track by $index">
                            <div class="row">
                                <strong>Contact {{$index + 1}} <label class="text-primary" ng-click="delAltUser($index);"><i role="button" class="fa fa-trash"></i></label> </strong>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="fg-label">Vendor First Name</label>
                                    <input type="text" ng-model="contact.firstName" class="form-control fg-input" name="firstName{{$index + 1}}" id="lastName{{$index + 1}}">
                                </div>
                                <div class="col-md-3">
                                    <label class="fg-label">Vendor Last Name</label>
                                    <input type="text" ng-model="contact.lastName" class="form-control fg-input" name="lastName{{$index + 1}}" id="lastName{{$index + 1}}">
                                </div>
                                <div class="col-md-3">
                                    <label class="fg-label">Contact No.</label>
                                    <input type="text" ng-model="contact.phoneNum" class="form-control fg-input" name="phoneNum{{$index + 1}}" id="phoneNum{{$index + 1}}">
                                </div>
                                <div class="col-md-3">
                                    <label class="fg-label">Email Address</label>
                                    <input type="email" ng-model="contact.email" class="form-control fg-input" name="email{{$index + 1}}" id="email{{$index + 1}}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- #region Alternate Contacts Pop-Up -->
                    <!--<div class="modal" id="alternateContacts" tabindex="-1">
                <div class="modal-dialog" style="width: 80%;height:50%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="col-md-6">
                                <h4>ALTERNATE CONTACTS</h4>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger" ng-click="addAltUser();">+ New</button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">

                                <div class="white-box" ng-repeat="contact in altUsers track by $index">
                                    <div class="box-title">
                                        <h4>Contact {{$index + 1}}</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="fg-label">First Name</label>
                                            <input type="text" ng-model="contact.firstName" class="form-control fg-input" name="firstName" id="firstName">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="fg-label">Last Name</label>
                                            <input type="text" ng-model="contact.lastName" class="form-control fg-input" name="lastName" id="lastName">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="fg-label">Phone</label>
                                            <input type="text" ng-model="contact.phoneNum" class="form-control fg-input" name="phoneNum" id="phoneNum">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="fg-label">Email</label>
                                            <input type="text" ng-model="contact.email" class="form-control fg-input" name="email" id="email">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
                    <!-- #endregion Alternate Contacts Pop-Up -->


                    <div class="col-md-12">
                        <h4 ng-if="RegistrationAdditonalField && RegistrationAdditonalField.length > 0" data-target="#alternateContacts" data-toggle="modal">Additional Info</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-6" style="margin-top: 2px;" ng-repeat="reg in RegistrationAdditonalField">
                            <label class="fg-label" for="taxno">{{reg.DisplayName}}</label>
                            <div class="input-group" style="vertical-align:middle;width:100%;">
                                <div style="display:table-cell;vertical-align:middle">
                                    <input ng-model="newVendor.additionalData[reg.Name]" ng-required="reg.Required" name="{{reg.Name}}" type="{{reg.Type}}" class="form-control logininput" />
                                </div>
                                <div style="display:table-cell;" class="text-center" ng-if="reg.AllowAttachment">
                                    <div ng-model="files[reg.Name]" class="fileupload btn btn-info waves-effect waves-light"
                                         ngf-multiple="true"
                                         ngf-pattern="'image/*,application/*'"
                                         ngf-accept="'image/*,application/*'"
                                         ngf-max-files="5"
                                         ngf-select="onFileSelect(files[reg.Name],reg,vendorregisterobj.additionalData)">
                                        <span><i class="fa fa-upload"></i> <span ng-if="files[reg.Name].length > 0">({{files[reg.Name].length}})</span></span>
                                    </div>
                                </div>
                            </div>

                            <label>
                                <label class="text-danger" ng-if="reg.Required" ng-show="(vendorregisterForm.$submitted || vendorregisterForm[reg.Name].$touched) && vendorregisterForm[reg.Name].$error.required"> {{reg.DisplayName}} is required </label>
                            </label>
                        </div>
                    </div>
                    <div class="m-t-30 col-md-12 center-block text-center">
                        <!--<input ng-disabled="!isValidToSubmit" class="btn btn-info btn-sm btn-new-look" ng-click="saveVendor();" type="button" value="Save" />-->
                        <button class="btn btn-info btn-sm" data-ng-click="pctrl.addVendor = 0;canceEditVendor(vendorregisterForm);" type="reset">Cancel</button>
                        <input ng-disabled="checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult || checkSapVendorUniqueResult || isSaveDisabled || vendorregisterForm.phoneNum.$error.minlength || pctrl.viewVendor" class="btn btn-info btn-sm btn-new-look" ng-click="validateUserLogin(vendorregisterForm)" type="submit" value="Save" />
                    </div>

                    <div class="m-t-30 col-md-12">
                    </div>

                    <!--<div ng-show="pctrl.addVendor === 1 && (checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult)" class="col-xs-12 text-center m-b-10">
                User with the Same mobile number alredy exists Do you want to Assign this vendor to Your company?
                <a role="button" ng-click="AssignVendorToCompany(newVendor.contactNum, newVendor.email);"> Assign Vendor To company</a>
            </div>-->
                    </form>



                    <div class="white-box" style="" ng-show="addVendorShow && itemWorkflow[0].WorkflowTracks.length>0">
                        <h4 style="text-align:center"><strong>Approval Process</strong></h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                            </br>-->
                                                    <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>


                    <div class="white-box" style="" ng-show="addVendorShow && itemunBlockWorkflow[0].WorkflowTracks.length>0">
                        <h4 style="text-align:center"><strong>UnBlock Approval Process</strong></h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemunBlockWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isUnblockApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isUnblockApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isUnblockApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isUnblockApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateUnblockTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateUnblockTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateUnblockTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>

                </div>
            </div>

            <div class="pmb-block" st-table="vendorDisplayCollecton" st-safe-src="vendorsList" style="margin-top:20px">
                <div class="pmbb-header">
                    <div class="row" style="margin-bottom:10px;">
                        <div>
                            <div class="col-md-1">
                                <h3 style="display:inline-block;margin:10px">
                                    <i class="zmdi zmdi-view-list"></i> Vendors
                                </h3>
                            </div>
                            <div class="col-md-2">
                                <select style="display:inline-block;width:auto;margin-left:15px;margin:10px" xd-st-search="regStatus" ng-model="vendorStatus" class="form-control">
                                    <option value="">All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                    <option value="{{status.id}}" ng-repeat="status in StatusList">{{status.name}}</option>
                                </select>
                            </div>
                            <!--<div class="col-md-2">
                        <select style="display:inline-block;width:auto;margin-left:15px;margin:10px" xd-st-search="category" ng-model="srchVendorCategory" class="form-control">
                            <option value="">All</option>
                            <option value="{{category}}" ng-if="category != ''" ng-repeat="category in addVendorCats">{{category}}</option>
                        </select>
                    </div>-->
                            <div style="display:inline-block;margin-right:10px;" class="col-md-2">
                                <!--<input style="width:auto;float:none;margin:10px" type="text" st-search="" placeholder="Search" class="form-control" />-->
                                <input style="width:auto;float:none;margin:10px" type="text" ng-model-options="{debounce:1000}" ng-model="searchKeyword" ng-change="searchTable(searchKeyword);" placeholder="Search" class="form-control" />
                            </div>

                            <!--<div class="col-md-2 pull-right" style="display:inline-block;margin-right:10px;">
                                <h3>Vendors ({{vendorDisplayCollecton.length}}/{{totalCount}})</h3>
                            </div>-->

                        </div>
                        <div class="text-right">

                            <div style="display:inline-block;margin-right:10px;margin-top:-8px" class="col-md-1">
                                <button class="btn btn-info m-t-20 btn-sm btn-new-look"
                                        ng-if="userObj.credentialsVerified && isOTPVerified && isEmailOTPVerified"
                                        ng-click="pctrl.addVendor = 1;addVendorShow=true;getcatalogcategories(0);AddNewVendor();"
                                        data-ng-show="pctrl.addVendor === 0">
                                    <b>Add vendor</b>
                                </button>
                            </div>

                            <div style="display:inline-block;margin-right: 7px;margin-top: -8px;" class="col-md-1">
                                <button ng-click="GetVendorReport();" class="btn btn-info m-t-20 btn-sm btn-new-look">Export</button>
                            </div>
                            <!--<div style="display:inline-block;margin-right:10px;margin-top:-8px" class="col-md-2">
        <button ng-click="goTocategory();" class="btn btn-info m-t-20 btn-sm btn-new-look">Category Management</button>
    </div>-->
                            <!--<div style="display:inline-block;margin-right:10px;margin-top:-8px" class="col-md-1">
        <a class="btn btn-info m-t-20 btn-sm btn-new-look" href="#/pages/configuration/registration">
            <b>Setup</b>
        </a>

    </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <small style="color:green" class="ng-binding"> Total Count: {{totalCount}}</small>
                            <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto">
                                <!-- when-scrolled="GetCompanyVendors(1,searchingVendors)"-->
                                <table class="table table-striped table-vmiddle table-fixed" show-filter="false" st-filtered-collection>
                                    <thead>
                                        <tr>
                                            <th st-sort="companyName" class="header">Company</th>
                                            <th st-sort="firstName" class="header">Vendor name</th>
                                            <th class="header">Phone</th>
                                            <th class="header">Email</th>
                                            <!--<th class="header">Vendor Code</th>-->
                                            <th class="header">Vendor Code</th>
                                            <th st-sort="regStatus" class="header">Status</th>
                                            <th class="header">Registration Link</th>
                                            <!--<th class="header">Vendor Blocking</th>-->
                                            <th class="header">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendor in vendorDisplayCollecton">
                                            <td>
                                                <a role="button" class="prmellipsis1" title="{{vendor.companyName}}" ng-click="goToVendorDetails(vendor.userID)">{{vendor.companyName}}</a>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> {{vendor.firstName + ' ' + vendor.lastName}}</span>
                                            </td>

                                            <td>
                                                <span class="prmellipsis1">{{ vendor.phoneNum}}</span>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> {{ vendor.email}} </span>
                                            </td>
                                            <!--<td>
        <span class="prmellipsis1"> {{ vendor.vendorCode}}</span>
    </td>-->
                                            <td>
                                                <span class="prmellipsis1"> {{ vendor.CompanyVendorCodes}} </span>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> <strong class="text-primary">{{ getStatus(vendor.regStatus)}}</strong></span>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1">
                                                    <a title="Registartion Link" role="button" data-target="#registartionLinkPopup" data-toggle="modal" ng-click="getvendorId(vendor.userID);"> Send Registration Link </a>
                                                </span>
                                            </td>
                                            <!--<td>
        <span class="prmellipsis1">
            <a ng-if="vendor.regStatus!=2" title="Block Vendor" role="button" class="btn btn-danger btn-xs" data-toggle="modal" ng-click="displayVendorPopup(vendor.userID);"> Block Vendor </a>
            <a ng-if="vendor.regStatus==2" title="UnBlock Vendor" role="button" class="btn btn-success btn-xs" data-target="#unBlockVendorPopup" data-toggle="modal" ng-click="displayUnBlockVendorPopup(vendor.userID);"> UnBlock Vendor</a>
        </span>
    </td>-->
                                            <td>
                                                <!--<a role="button" ng-click="deleteVendor(vendor.userID)" title="De-Activate" style="margin-right:15px"><i class="fas fa-trash-alt "></i></a>-->
                                                <!--<a role="button" ng-click="viewAdditionalData(vendor)" title="More info" style="margin-right:15px"><i class="fas fa-eye"></i></a>-->
                                                <!--<a role="button" ng-click="approvedVendor(vendor)" style="margin-right:15px" title="Approve vendor"><i class="far fa-thumbs-up"></i></a>-->
                                                <!--<a role="button" ng-click="vendorScore(vendor)" style="margin-right:15px" title="Vendor score"><i class="fas fa-star"></i></a>-->
                                                <!--<a role="button" ng-click="resetPwd(vendor.userID)" ng-if="showIsSuperUser()" title="Reset Password" style="margin-right:15px"><i class="fas fa-key "></i></a>-->

                                                <a role="button" ng-click="pctrl.addVendor = 1;addVendorShow=true;getcatalogcategories(vendor.userID);editVendor(vendor);GetAltUsers(vendor)" style="margin-right:15px" title="Edit vendor"><i class="fas fa-edit"></i></a>

                                                <a role="button" href="FileDownload.aspx?attachid={{vendor.catalogFile}}&sessionid={{sessionid}}" ng-if="vendor.catalogFile && vendor.catalogFile != ''" style="margin-right:15px" title="My Catalog"><i class="fas fa-download"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!--<tfoot>
                <tr>
                    <td colspan="5" class="text-right">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                    </td>
                    <td class="text-right" style="padding-top:35px">
                        <div>Total: {{filteredCollection.length}}</div>
                    </td>
                </tr>
            </tfoot>-->
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>


            <!-- #region Vendor Email Share Pop-Up -->
            <div class="modal" id="registartionLinkPopup" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 100%;">
                        <div class="modal-header" style="background-color: lightblue">
                            <button class="close" data-dismiss="modal" style="color:initial" ng-click="clearForm();">&times;</button>
                            <h3 class="modal-title">Send Registration Link</h3>
                        </div>
                        <div class="modal-body">
                            <div class="pmbb-view table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead style="background-color:skyblue">
                                        <!--#377ba0-->
                                        <tr style="font-weight: bold">
                                            <td style="text-align:center">Workflows</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td style="text-align:center">
                                                <select chosen name="workflowType" ng-model="workflowObj.workflowID" ng-disabled="disableSave"
                                                        ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown">
                                                    <option value="">Select Workflow</option>
                                                </select>
                                            </td>
                                            <td><button class="btn btn-primary" ng-disabled="disableSave" ng-click="SendEmailToVendors(workflowObj.workflowID,$event)">Send</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-danger" ng-if="errorMessage!=''">
                                {{errorMessage}}
                            </div>
                            <div class="text-danger" ng-if="showErrorMessage!='' && message!=''">
                                {{message}} {{showErrorMessage}}
                            </div>

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion Vendor Email Share Pop-Up -->
            <!-- #region UnBlock Vendor Share Pop-Up -->
            <div class="modal" id="unBlockVendorPopup" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 100%;">
                        <div class="modal-header" style="background-color: lightblue">
                            <button class="close" data-dismiss="modal" style="color:initial" ng-click="clearForm();">&times;</button>
                            <h3 class="modal-title">UnBlock Vendor </h3>
                        </div>
                        <div class="modal-body">
                            <div class="pmbb-view table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead style="background-color:skyblue">
                                        <tr style="font-weight: bold">
                                            <td style="text-align:center">Workflows</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td style="text-align:center">
                                                <select chosen name="workflowType" ng-model="workflowObj.unblockWorkflowID"
                                                        ng-options="wf.workflowID as wf.workflowTitle for wf in unblockWorkflowList" required class="form-control-dropdown">
                                                    <option value="">Select Workflow</option>
                                                </select>
                                            </td>
                                            <td><button class="btn btn-primary" ng-disabled="disableUnblockSave" ng-click="unBlockVendor(workflowObj.unblockWorkflowID)">Send</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-danger" ng-if="unblockErrorMessage!=''">
                                {{unblockErrorMessage}}
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="newGSTInfo" tabindex="-1">
                <div class="modal-dialog" style="width: 90%;height:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">X</button>
                            <h3>New GST info</h3>
                        </div>
                        <div class="modal-body">
                            <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                <div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <label>GST Number:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input ng-model="newGSTInfo.gstNumber"
                                                   name="gstNumber" id="gstNumber" type="text" class="form-control" required>
                                        </div>
                                        <div class="col-md-2" ng-if="isDuplicateGST(newGSTInfo.gstNumber)">
                                            <label class="text-danger">GST Number already exists.</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:15px;">
                                        <div class="col-md-1">
                                            <label>GST Address:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <input ng-model="newGSTInfo.gstAddr"
                                                   name="gstAddr" id="gstAddr" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:15px;" >
                                        <div class="col-md-1">
                                            <label>Vendor Code:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <input ng-model="newGSTInfo.vendorCode"
                                                   name="vendorCode" id="vendorCode" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-info pull-right" ng-disabled="!newGSTInfo.gstNumber || isDuplicateGST(newGSTInfo.gstNumber)" ng-click="saveCompanyGSTInfo(vendor);" data-dismiss="modal">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion Block Vendor Pop-Up -->

    </div>
</div>

<script type="text/ng-template" id="VendorStatusModal.html">
    <div class="modal-header bg-primary">
        <h3 class="modal-title text-white" id="modal-title">Status</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form novalidate name="VendorStatusForm" ng-init="_modalCtrl.getCategories();">


            <div class="form-group row">
                <div class="col-xs-12">
                    <label class="form-control-label">Status <span class="text-danger"> *</span></label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" required ng-model="_modalCtrl.Model.Status" name="Status">
                        <option value="">-- select status ---</option>

                        <option value="{{iem.id}}" ng-repeat="iem in  _modalCtrl.StatusList">{{iem.name}}</option>
                    </select>
                    <div ng-messages="VendorStatusForm.Status.$error" role="alert">
                        <div ng-message="required">Status is required</div>

                    </div>
                </div>
            </div>
            <!--<div class="form-group row" ng-if="_modalCtrl.Model.Status === '1'">
                <div class="col-xs-12">
                    <label class="form-control-label">Category <span class="text-danger"> *</span></label>
                </div>
                <div class="col-xs-12">
                    <select ng-model="_modalCtrl.Model.Category"
                            class="form-control" name="Category">
                        <option value="" disabled>-- select category ---</option>

                        <option value="{{cat}}" ng-repeat="cat in _modalCtrl.addVendorCats">{{cat}}</option>
                    </select>

                    <div ng-messages="VendorStatusForm.category.$error" role="alert">
                        <div ng-message="required">category is required</div>
                    </div>
                </div>
            </div>-->
            <!--<div class="form-group row" ng-if="_modalCtrl.Model.Status === '1'">
                <div class="col-xs-12">
                    <label class="form-control-label">Sub category <span class="text-danger"> *</span></label>
                </div>
                <div class="col-xs-12">
                    <div style="padding: 0px;margin-top: -4px;"
                         isteven-multi-select
                         disable-property="true"
                         class="col-md-12"
                         input-model="_modalCtrl.subcategories"
                         output-model="_modalCtrl.Model.SubCategories"
                         button-label="subcategory"
                         item-label="subcategory"
                         tick-property="ticked"
                         max-labels="1"
                         max-height="150px"
                         on-item-click="_modalCtrl.selectSubcat(data)"
                         on-select-none="_modalCtrl.changeCategory()"
                         on-reset="_modalCtrl.selectSubcat(data)"
                         on-select-all="_modalCtrl.selectSubcat(data)">
                    </div>
                    <div ng-messages="VendorStatusForm.category.$error" role="alert">
                        <div ng-message="required">category is required</div>
                    </div>
                </div>
            </div>-->
            <div class="form-group row" ng-if="_modalCtrl.Model.Status === '2'">
                <div class="col-xs-12">
                    <label class="form-control-label">Reason <span class="text-danger"> *</span></label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" required ng-model="_modalCtrl.Model.Reason" name="Reason">
                        <option value="">-- select reason ---</option>

                        <option value="{{iem}}" ng-repeat="iem in  _modalCtrl.ReasonList">{{iem}}</option>
                    </select>
                    <div ng-messages="VendorStatusForm.Reason.$error" role="alert">
                        <div ng-message="required">Reason is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group row" ng-if="_modalCtrl.Model.Status === '2'">
                <div class="col-xs-12">
                    <label class="form-control-label">Comment</label>
                </div>
                <div class="col-xs-12">
                    <textarea name="Comment" ng-model="_modalCtrl.Model.Comment" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row text-right">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="button" ng-click="_modalCtrl.updateStatus(VendorStatusForm)">Update</button>
                    <button class="btn btn-warning" type="button" ng-click="_modalCtrl.close()">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</script>

<script type="text/ng-template" id="VendorScoreModal.html">
    <div class="modal-header bg-primary">
        <h3 class="modal-title text-white" id="modal-title">Score</h3>
    </div>
    <div class="modal-body" id="modal-body" ng-init="_modalCtrl.getVendorScore()">
        <form novalidate name="VendorScoreForm">

            <table class="table table-bordered">
                <tr>
                    <th>Field</th>
                    <th>Default score</th>
                    <th>Score</th>

                </tr>

                <tr ng-repeat="item in  _modalCtrl.Model.Scores">
                    <td> {{item.Field}}</td>
                    <td>{{item.DefaultValue}}</td>
                    <td><input type="number" class="form-control" min="0" ng-model="item.Value" /></td>

                </tr>

            </table>
            <div class="form-group row text-right">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="button" ng-click="_modalCtrl.updateScore(VendorScoreForm)">Update</button>
                    <button class="btn btn-warning" type="button" ng-click="_modalCtrl.close()">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</script>
<script type="text/ng-template" id="VendorAdditionalModal.html">
    <div class="modal-header bg-primary">
        <h3 class="modal-title text-white" id="modal-title">Vendor additional info</h3>

    </div>
    <div class="modal-body" id="modal-body">
        <table class="table table-bordered">
            <tr>
                <th>Field</th>
                <th>Value</th>
                <th>Score</th>
            </tr>
            <tr ng-if="key != 'Attchments' && key != 'Score'" ng-repeat="(key,value) in _modalCtrl.addtionalInforMationData">
                <td>{{key}}</td>
                <td>
                    <span>
                        {{value}}
                    </span>
                    <span ng-if="item.Field == key" ng-repeat="item in _modalCtrl.addtionalInforMationData['Attchments']">
                        <a href="FileDownload.aspx?attachid={{file}}&sessionid={{_modalCtrl.sessionid}}" target="_blank" ng-repeat="file in item.Files">
                            <i class="fa fa-download"></i>
                        </a>
                    </span>
                </td>
                <td>

                    <span ng-if="item.Field == key" ng-repeat="item in _modalCtrl.addtionalInforMationData['Score']">

                        <span>
                            {{item.Value}}
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>

</script>
