﻿<div class="col-md-12">

    <div class="col-md-12">
        <script type="text/ng-template" id="nodes_category_products.html">
            <div data-nodrag>
                <label style="width:12px" role="button">
                    <span data-nodrag ng-if="node.nodes && node.nodes.length > 0" ng-init="node.isExpand = false" ng-click="toggle(this);node.isExpand = !node.isExpand" class="glyphicon"
                          ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                </label>
                <input type="checkbox" ng-model="node.nodeChecked" ng-click="checkChanged(node, this);productsLimit = 100;" /><label>{{node.catName}}</label>
                <label ng-if="node.nodes && node.nodes.length > 0" class="font-bold"><!--({{node.nodes.length}})--></label>
            </div>
            <div ng-init="limit = 100">
                <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                    <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_category_products.html'" collapsed="true"></li>
                    <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                        <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                    </li>
                    <!--<br />
                    <a role="button" ng-if="results.length < node.nodes.length" ng-click="limit = node.nodes.length" title="Show All.">
                        Show All.
                    </a>-->
                </ul>
                <!--<foo ng-repeat="item in node.nodes | limitTo: limit as results"></foo>-->
            </div>

        </script>
        <div class="row " style="color:#777">
            <div class="col-sm-6"></div>
                <div class="col-sm-3">
                    <div class="fileupload btn btn-info waves-effect waves-light">
                        <span class="fileinput-new"><i class="fa fa-plus m-r-5"></i>Upload excel</span>
                        <input type="file" class="upload" accept=".xlsx" id="excelquotationproducts" item-id="excelquotationproducts" ng-file-select="onFileSelect($files)">
                    </div>
                </div>
                <div class="col-sm-3">
                    <span>download template</span>
                    <input ng-click="exportTemplateToExcel()" type="button" value="Template" class='btn-info' />
                </div>
            </div>
            <div class="row" style="color:#777"></div>
            <div class="row" style="color:#777">
                <div class="col-md-4">
                    <div class="col-sm-12">
                        <strong><u>Categories</u></strong><!--({{parentNodes.length}}/{{vendCatalogtotalCount}})-->
                        <br />
                    </div>
                    <div class="row" style="padding-left:30px;">
                        <div class="col-md-6">
                            <div class="row">
                                <input type="text"  class="form-control" ng-model-options="{debounce:1000}" ng-model="categorySearchString" ng-change="searchCategory(categorySearchString);" placeholder="Search Category" />
                            </div>
                            <div ng-if="parentNodes.length == 0"> No Result </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="height:400px;max-height: 400px;overflow-y: auto" when-scrolled="getcatalogcategories('','',1,searchingVendorCategories)">
                        <div ui-tree id="tree-root">
                            
                            <ul ui-tree-nodes ng-model="parentNodes" ng-if="parentNodes.length > 0">
                                <li ng-repeat="node in parentNodes " ng-if="node.isFiltered" ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                            </ul>
                        </div>                        
                    </div>                   
                </div>
                <div class="col-md-4">
                    <div class="row" style="padding-left:30px;">
                        <div class="col-md-6">
                            <strong><u>Product Name/Code</u></strong>
                        </div>
                        <div class="col-6">
                            <input type="checkbox" ng-model="selectAllProductsValue" ng-click="selectAllProducts()" />
                            <a>Select all</a>
                        </div>
                    </div>

                    <div class="row" style="padding-left:30px;">
                        <div class="col-md-6">
                            <div class="row">
                                <input type="text" class="form-control" ng-model="productSearchString" ng-change="searchProducts(productSearchString);" placeholder="Search Product Name/Code" />
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-init="productsLimit = 100">
                        <ul ng-model="products" ng-if="products && products.length > 0">
                            <li ng-repeat="product in products | limitTo: productsLimit as productsResults" style="list-style:none;">
                                <div class="row">
                                    <div class="col-md-10">
                                        <input type="checkbox" ng-model="product.nodeChecked" ng-click="searchProducts('');" />
                                        <a >{{product.prodName}}</a>
                                    </div>
                                    <div class="col-md-2" ng-if="stateParamVendorId > 0">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" >
                                                <i role="button">
                                                    <span class="fa fa-info" ng-click="GetProdVendorData(product.prodId, 0, product.prodName);">
                                                    </span>
                                                </i>
                                            </a>
                                            <div class="dropdown-menu" style="overflow: auto; max-height: 250px; min-height:20px; max-width:400px; min-width:400px;">
                                                <div class="row">
                                                    <div class="col-md-12" ng-if="isLoadingPrices == ''">
                                                        <h4 class="text-center text-info"><u>{{productNameData}}</u></h4>
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        REQ ID
                                                                    </th>
                                                                    <th>
                                                                        UNIT PRICE
                                                                    </th>
                                                                    <th>
                                                                        DATE
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="data in ProdVendorData">
                                                                    <td>
                                                                        <a title="{{auction.title}}" target="_blank" href="" data-ui-sref="view-requirement({Id:data.REQ_ID})">{{data.REQ_ID}}</a>
                                                                    </td>
                                                                    <td>
                                                                        {{data.REV_UNIT_PRICE}}
                                                                    </td>
                                                                    <td>
                                                                        {{data.LAST_MODIFIED_DATE}}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-md-12" ng-if="isLoadingPrices != ''">
                                                        <h4 class="text-center center-block text-warning">{{isLoadingPrices}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li role="button" ng-show="productsResults.length < products.length" ng-click="productsLimit = productsLimit + 100;" title="Show more 100.">
                                <a>Show more...({{productsResults.length}} out of {{products.length}})</a>
                            </li>
                            <!--<a role="button" ng-show="productsResults.length < products.length" ng-click="productsLimit = products.length" title="Show All.">
            Show All.
        </a>-->
                        </ul>
                        <div ng-if="!products || products.length <= 0">
                            No products available for selected categories
                        </div>                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>