    <!--<div class="block-header">
        <h2>{{userObj.firstName +" "+ userObj.lastName}} </h2>
    </div>-->
    <div class="card" id="profile-main">
        
        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'template/profile-menu.html'"></ul>
            <data ui-view></data>
        </div>
    </div>
