<div class="white-box">
    <div class="pmb-block ng-scope" ng-controller="profileReqsCtrl">
        <div class="pmbb-header">
            <div class="row" style="margin-bottom:10px;">
                <div>
                    <div class="col-md-3">
                        <h3 style="display:inline-block;margin:5px">
                            <i class="zmdi zmdi-view-list"></i>  My Requirements List
                        </h3>
                    </div>

                </div>
                <div class="col-md-12">

                    <div class="col-md-2 m-t-20">
                        <select ng-model="reqStatus" ng-change="setPage(1)" class="form-control" style="margin:5px">
                            <!--ng-change="getStatusFilter(reqStatus)"-->
                            <option selected value="">ALL STATUS</option>
                            <option value='UNCONFIRMED'>{{prmStatus(isCustomer,'UNCONFIRMED')}}</option>
                            <option value='STARTED'>{{prmStatus(isCustomer,'STARTED')}}</option>
                            <option value='NOTSTARTED'>{{prmStatus(isCustomer,'NOTSTARTED')}}</option>
                            <!--<option value='Negotiation Ended'>{{prmStatus(isCustomer,'Negotiation Ended')}}</option>-->
                            <option value='DELETED'>{{prmStatus(isCustomer,'DELETED')}}</option>
                            <option value='Quotations Received'>{{prmStatus(isCustomer,'Quotations Received')}}</option>
                            <option value='Qcs Created'>{{prmStatus(isCustomer,'Qcs Created')}}</option>
                            <option value='Qcs Pending'>{{prmStatus(isCustomer,'Qcs Pending')}}</option>
                            <option value='Qcs Approval Pending'>{{prmStatus(isCustomer,'Qcs Approval Pending')}}</option>
                            <option value='Qcs Rejected'>{{prmStatus(isCustomer,'Qcs Rejected')}}</option>
                            <option value='PO Pending'>{{prmStatus(isCustomer,'PO Pending')}}</option>
                            <option value='PO Created'>{{prmStatus(isCustomer,'PO Created')}}</option>
                            <!--<option value='Negotiation Completed'>{{prmStatus(isCustomer,'Negotiation Completed')}}</option>-->
                            <option value='Saved_As_Draft'>{{prmStatus(isCustomer,'Saved_As_Draft')}}</option>
                        </select>
                    </div>
                    <!--<div class="col-md-2" style="margin-left: 9px;">
        <select chosen name="category" style="margin:5px" ng-model="category" ng-change="getCategoryFilter(category)" ng-options="category as category for category in categories" style="margin:5px" class="form-control pull-right"></select>

    </div>-->
                    <!--<div style="display:inline-block;margin-right:10px;" class="col-md-2">
        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
    </div>-->
                    <div style="display:inline-block;margin-right:10px;" class="col-md-2 m-t-20">
                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="setPage(1);"
                               ng-model-options="{debounce:500}" ng-model="searchKeyword" type="text" placeholder="Search">
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="col-md-12">From date</label>
                            <div class="col-md-12" moment-picker="filterDate.reqFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.reqFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="col-md-12">To date</label>
                            <div class="col-md-12" moment-picker="filterDate.reqToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.reqToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="setPage(1);">Apply</button></div>

                    <div class="pull-right col-md-2 m-t-20">
                        <div class="dropdown btn-group fg-float col-md-2 m-b-30">
                            <!--<button class="btn btn-info" href="#">Reports</button>
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></button>-->
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px">
                                <i class="fa fa-cog" aria-hidden="true"></i> Reports
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <!--<li><a class="" role="button" ng-click="GetRequirementsReport()" aria-hidden="true"><strong>  Margin-Type Consolidated Report</strong></a></li>-->
                                <li><a class="" role="button" data-ui-sref="consalidatedReport()" aria-hidden="true"><strong>Consolidated Report</strong></a></li>
                                <!--<li><a class="" role="button" data-ui-sref="consalidatedBasePriceReport()" aria-hidden="true"><strong>Consolidated Base Price Report</strong></a></li>-->


                            </ul>

                        </div>
                    </div>

                </div>




                <!-- <div class="col-md-3" style="margin-left:0px !important;">
              <div class="col-md-12">
        <button ng-click="GetRequirementsReport()" class="pull-right btn btn-info btn-sm waves-effect editRequirement_btn ng-scope" href="javascript:void(0);">
            Margin-Type Consolidated Report
        </button>
    </div>-->

               






            </div>

        </div>
        <div class="table table-responsive z-depth-2">

            <div class="row" style="margin-left:0px !important;margin-top:10px;" ng-hide="true">
                <div class="col-md-12">
                    <!--<label>
                <input type="radio" ng-model="radioData.name" name="biddingType" value='reverse' ng-change="getAuctions('reverse')">
                Reverse Bidding
            </label>
            <label>
                <input type="radio" ng-model="radioData.name" name="biddingType" value='forward' ng-change="getAuctions('forward')">
                Forward Bidding
            </label>-->
                    <div class="toggle-switch">
                        <input id="forwardBidding" ng-model="formRequest.isForwardBidding" type="checkbox" hidden="hidden" ng-change="getAuctions()" />
                        <label for="forwardBidding" class="ts-helper"></label>
                        <label for="forwardBidding" class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View Forward Bidding</label>
                    </div>
                </div>
            </div>
            <small style="color:green"> Total Count:{{myAuctions[0].totalCount}}</small>
            <table ng-table="tctrl.tableSorting" class="table table-vmiddle" show-filter="false">
                <tr ng-repeat-start="auction in myAuctions">
                    <!--.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))-->
                    <td data-title="''">
                        <a role="button" ng-hide="auction.expanded" ng-click="auction.expanded = true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                        <a role="button" ng-hide="!auction.expanded" ng-click="auction.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                    </td>
                    <td data-title="'Req ID'" sortable="'ID'">
                        {{ auction.requirementID}}
                    </td>
                    <td data-title="'Req Type'" sortable="'Type'">
                        <strong style="color:{{auction.rfpStatusColor}}">
                            {{ auction.isRFP ? 'RFP/RFI' : 'RFQ'}}
                        </strong>
                    </td>
                    <td data-title="'Title'" sortable="'Name'" ng-if="!formRequest.isForwardBidding">
                        <a class="prmellipsis" ng-if="auction.biddingType ==='' || auction.biddingType === 'REVERSE'" title="{{auction.title}}" data-ui-sref="view-requirement({Id:auction.requirementID})">{{auction.title}}</a>
                        <a class="prmellipsis" ng-if="auction.biddingType === 'TENDER'" title="{{auction.title}}" data-ui-sref="view-tender({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <td data-title="'Title'" sortable="'Name'" ng-if="formRequest.isForwardBidding">
                        <a class="prmellipsis" data-ui-sref="fwd-view-req({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <td data-title="'Posted By'">{{auction.userName}}</td>
                    <!--<td data-title="'Category'" sortable="'Category'">
        {{ auction.category[0]}}
    </td>-->

                    <td data-title="'Quotations Status'">{{auction.noOfVendorsParticipated}} / {{auction.noOfVendorsInvited}} </td>
                    <td data-title="'Posted On'">
                        {{ auction.postedOn}}
                    </td>
                    <td data-title="'Freeze Time'">
                        {{ auction.quotationFreezTime}}
                    </td>
                    <td data-title="'Negotiation Time'">
                        <span ng-if="auction.IS_CB_ENABLED == false && auction.status != 'DELETED'">
                            {{auction.status == 'UNCONFIRMED' || auction.startTime === '-' ? auction.expStartTime : auction.startTime}}
                        </span>
                        <span ng-if="auction.IS_CB_ENABLED == true || auction.status == 'DELETED'">
                            {{auction.expStartTime}}
                        </span>
                    </td>
                    <td data-title="'STATUS'" sortable="'Is Closed'">
                        <strong class="{{auction.statusColor}}">
                            {{ prmStatus(isCustomer,auction.status) }}
                            <strong ng-if="auction.isLockReq" class="text-success">(Locked)</strong>
                        </strong>
                    </td>
                    <td data-title="'PR Number'" width="10%">
                        <span style="word-break: break-word;">{{auction.prNumbers}}</span>
                    </td>
                    <td data-title="'Qcs Code'" width="10%">
                        <span style="word-break: break-word; cursor: pointer" ng-repeat="qcsValues in auction.qcsCodesArray">
                            <a style="text-align:center;cursor:pointer">
                                <label title="Go to QCS" role="button"
                                       style="text-align:center;cursor:pointer"
                                       ng-click="goToQCS(auction.requirementID,qcsValues)">{{qcsValues}}</label>
                            </a>
                            <br />
                        </span>
                    </td>
                    <td data-title="''">
                        <a title="Clone Requirement" role="button" ng-click="cloneRequirement(auction)" class="">Clone</a>
                    </td>
                    <td data-title="''">
                        <a title="Open Chat" role="button" ng-click="chatRequirement(auction)" class="">Chat</a>
                    </td>

                </tr>
                <tr ng-repeat-end ng-if="auction.expanded">
                    <td colspan="11">
                        <div class="row">
                            <div class="col-md-4"><strong>Title</strong></div>
                            <div class="col-md-8">{{auction.title}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Priority</strong></div>
                            <div class="col-md-8">{{auction.urgency}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Delivery Terms</strong></div>
                            <div class="col-md-8">{{auction.deliveryTime}}</div>
                        </div>
                        <!--<div class="row">
                    <div class="col-md-4"><strong>Delivery Location</strong></div>
                    <div class="col-md-8">{{auction.deliveryLocation}}</div>
                </div>-->
                        <div class="row">
                            <div class="col-md-4"><strong>Payment Terms</strong></div>
                            <div class="col-md-8">{{auction.paymentTerms}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Requirement Type</strong></div>
                            <div class="col-md-8">
                                <span ng-if="auction.isDiscountQuotation == 0">PRICE <span ng-if="auction.IS_CB_ENABLED == true">(COUNTER BID)</span> </span>
                                <span ng-if="auction.isDiscountQuotation == 1">DISCOUNT</span>
                                <span ng-if="auction.isDiscountQuotation == 2">MARGIN</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

            <!--<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>-->
        </div>
            
        <div class="clearfix" style="margin-bottom:150px;"></div>
        </div>

    <script>
        function filterText() {
            var rex = new RegExp($('#filterText').val());
            if (rex == "/all/") { clearFilter() } else {
                $('.content').hide();
                $('.content').filter(function () {
                    return rex.test($(this).text());
                }).show();
            }
        }

        function clearFilter() {
            $('.filterText').val('');
            $('.content').show();
        }
    </script>

</div>
</div>