<div class="white-box ">
    <div class="pmb-block" data-ng-controller="profileSettingsCtrl as pctrl">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-settings m-r-5"></i> Negotiation Settings</h2>
        </div>
        <div class="pmbb-body" id="generatePDFHTMl">
            <div id="editor" class="bypass"></div>
            <form name="test4" class="pmbb-edit" novalidate>
                <div class="text-center top-buffer col-md-12 fltleft padding0">
                    <div class="form-group fg-float col-sm-2 m-b-30">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="NegotiationSettings.minReductionAmount" class="form-control" required>
                            </div>
                            <label class="fg-label col-sm-2">Min Reduction Amount</label>
                        </div>
                    </div>
                    <div class="form-group fg-float col-sm-2 m-b-30">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="NegotiationSettings.rankComparision" class="form-control" required>
                            </div>
                            <label class="fg-label col-sm-2">Vendor Rank Comparision</label>
                        </div>
                    </div>

                    <div class="form-group fg-float col-sm-3 m-b-30">
                        <strong>Negotiation Duration :</strong>
                    </div>

                    <div class="form-group fg-float col-sm-1 m-b-30">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="days" class="form-control" required />
                            </div>
                            <label class="fg-label col-sm-1 ">Days</label>
                        </div>
                    </div>
                    <div class="form-group fg-float col-sm-1 m-b-30">
                        <div class="form-group  fg-toggled">
                            <div>
                                <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="hours" class="form-control" required />
                            </div>
                            <label class="fg-label col-sm-1 ">Hours</label>
                        </div>
                    </div>
                    <div class="form-group fg-float col-sm-1 m-b-30">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="mins" class="form-control" required />
                            </div>
                            <label class="fg-label col-sm-1 ">Minutes</label>
                        </div>
                    </div>


                </div>
                <div class="m-t-30">
                    <h4 class="prmredcolor">{{NegotiationSettingsValidationMessage}}</h4>
                </div>
                <div class="m-t-30">
                    <button ng-disabled="NegotiationSettingsValidationMessage" class="btn btn-info btn-sm btn-new-look" ng-click="saveNegotiationSettings();">Save settings</button>
                </div>
            </form>
        </div>

        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-settings m-r-5"></i> Other Settings</h2>
        </div>
        <div class="pmbb-body" id="otherSettings">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Default Date filter</label>
                    <input type="text" valid-number allow-decimal="false" allow-negative="false" ng-model="otherSettings.dateFilter" id="dateFilter" name="dateFilter" class="form-control" >
                    <span>Months</span>
                </div>
                <div class="col-md-2" style="margin-top: 20px;">
                    <label class="control-label"></label>
                    <a title="Save" role="button"
                       class="btn btn-save btn-outline btn-circle m-r-5 fa fa-save"
                       ng-click="saveOtherSettings('DATE_FILTER', otherSettings);" >
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="pmb-block" data-ng-controller="profileSettingsCtrl as pctrl">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-settings m-r-5"></i> PR Settings</h2>
        </div>
        <div class="pmbb-body" id="prSettings">
            <form name="test5" class="pmbb-edit" novalidate>
                <div class="text-center top-buffer col-md-12 fltleft padding0">
                    <div class="form-group fg-float col-sm-1 m-b-30" ng-repeat="day in weekDays">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="checkbox" ng-model="day.isSelected" ng-value="false" /> &nbsp;<strong>{{day.name}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-t-30">
                    <button class="btn btn-info btn-sm btn-new-look" ng-click="savePRSettings();">Save</button>
                </div>
            </form>
            <div class="m-t-30">

            </div>
        </div>
    </div>-->
</div>
