<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="viewprofileCtrl">
                    <div class="vendorviewprofile">
                        <div class="box-title">
                            <h4 style="text-align:center;"><strong>Vendor Analysis</strong></h4>
                        </div>

                        <div class="white-box" ng-if="callID == 1">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3><u>{{VEND_NAME}}</u></h3>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-md-12">From date</label>
                                        <div class="col-md-12" moment-picker="dateobj.FromDate" format="YYYY-MM-DD">
                                            <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                            <input class="form-control" placeholder="Select a date" ng-model="dateobj.FromDate" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-md-12">To date</label>
                                        <div class="col-md-12" moment-picker="dateobj.ToDate" format="YYYY-MM-DD">
                                            <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                            <input class="form-control" placeholder="Select a date" ng-model="dateobj.ToDate" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-2 pull-left">
                                    <label class="col-md-12">&nbsp;</label>
                                    <button class="btn btn-danger pull-right m-l-20 waves-effect waves-light" ng-click="getAnalysis();">Apply</button>
                                </div>-->
                                <div class="col-md-2">
                                    <label>Vendor {{vendorName}}</label>
                                    <input type="text" ng-model-options="{debounce:500}" autocomplete="off" ng-model="vendObj.vendorName" name="vendorName" id="vendorName"
                                           ng-change="autofillProduct(vendObj.vendorName, 'VENDOR')" class="form-control" />
                                    <ul class="list-group" ng-show="this['filterVendors_'] && this['filterVendors_'].length > 0" style="position:absolute;z-index:99; max-height:200px;overflow:scroll;border:1px solid">
                                        <li class="list-group-item form-control" style="cursor:pointer; border: 1px solid #d4d4d4; width:265px"
                                            ng-repeat="prod_$index in this['filterVendors_']"
                                            ng-click="fillTextbox(prod_$index)">
                                            {{prod_$index.companyName}}
                                        </li>

                                    </ul>
                                    <span class="text-center text-danger" ng-if="callID == 1 && VEND_NAME == ''">Please select vendor to retrieve data</span>
                                </div>
                                <div class="col-md-2">
                                    <label class="col-md-12">&nbsp;</label>
                                    <button class="btn btn-danger pull-right m-l-20 waves-effect waves-light" ng-click="getAnalysis();">Get Analysis</button>
                                    <br />
                                    <span ng-if="productIDorNameDisplay == true" style="color:orangered">Please Click Get Analysis </span>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row white-box">

                                <div class="col-md-2">
                                    <div class="row">
                                        <div style="min-height:180px;max-height:180px;min-width:180px;max-width:180px;
                                                border:1px solid lightgray;border-radius:3px;"
                                             class="center-block">
                                            <img style="margin:5px 5px 5px 5px;width:170px;height:170px;"
                                                 ng-if="userObj.logoURL != '' && userObj.logoURL != null && userObj.logoURL != undefined"
                                                 src="{{userObj.logoURL}}" id="imgID">
                                            <label style="margin:5px 5px 5px 5px;width:170px;height:170px;" class="text-center center-block fas fa-user fa-4x"
                                                   ng-if="userObj.logoURL == '' || userObj.logoURL == null || userObj.logoURL == undefined"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        &nbsp;
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <strong>{{userObj.companyName}}</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        &nbsp;
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-md-3 col-xs-3">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-2 col-xs-2" title="Phone '{{userObj.phoneNum}}'">
                                            <i ng-class="(userinfo.isOTPVerified > 0?'text-success':'text-danger')"
                                               class="fa fa-phone fa-rotate-90" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-2 col-xs-2" title="Email '{{userObj.email}}'">
                                            <i ng-class="(userinfo.isEmailOTPVerified > 0?'text-success':'text-danger')"
                                               class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-2 col-xs-2" title="GST Number '{{gstNumber}}'">
                                            <a target="_blank"
                                               ng-class="(isGSTVerified > 0?'text-success':'text-danger')"
                                               class="fa fa-file" aria-hidden="true"
                                               href="FileDownload.aspx?attachid={{gstFile}}&sessionid={{sessionid}}"></a>
                                        </div>
                                        <div class="col-md-2 col-xs-2">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="row">
                                        &nbsp;
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <img alt="Flag of India"
                                                 src="https://cdn5.f-cdn.com/img/flags/png/in.png?v=b0c4b5f62b04db2b53390284a5e9cc3c&amp;m=6"
                                                 title="India"
                                                 class="profile-location-flag small-flag india"
                                                 aria-label="India">
                                            &nbsp;India
                                        </div>
                                        <div class="col-md-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <strong>Member since</strong> {{userObj.oemKnownSince}}
                                        </div>
                                        <div class="col-md-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-12 text-center">
                                            {{userRatings? userRatings.length : 0}} reviews
                                        </div>
                                        <div class="col-md-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-12 text-center" style="max-height:145px;overflow:auto;">
                                            <strong>Address</strong>
                                            <label class="hyphenate" ng-bind-html="userObj.address"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <h3>
                                                        {{ userObj.firstName }} {{ userObj.lastName }}
                                                        <small>
                                                            ({{ userObj.currency }})
                                                            <label title="Online status">
                                                                <i class="fas fa-circle"
                                                                   ng-class="{'text-success':onlineStatusObj.objectID == 1,
                                                                    'text-danger':onlineStatusObj.objectID == 0,
                                                                    'text-warning':onlineStatusObj.objectID != 0 && onlineStatusObj.objectID != 1}">
                                                                </i>
                                                                {{onlineStatusObj.message}}
                                                            </label>
                                                        </small>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <small class="pull-left">
                                                Established date <strong ng-if="userObj.establishedDate!= '31/12/9999'">{{userObj.establishedDate}}</strong>
                                            </small>
                                            <small class="pull-right">
                                                Working hours <strong>{{ userObj.workingHours }}</strong>
                                            </small>
                                        </div>
                                        <div class="col-md-12">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-12" style="max-height:450px;overflow:auto;">
                                            <label class="hyphenate" ng-bind-html="userObj.aboutUs"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4" style="overflow:auto;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-12">
                                            <h2 class="fas fa-rupee-sign">&nbsp;{{vendorStatistics.TOTAL_REQUIREMENTS_AMOUNT | number:2}}</h2><small>&nbsp;&nbsp;{{vendorStatistics.TOTAL_REQUIREMENTS | number:0}} transactions</small>
                                        </div>
                                        <div class="col-md-12">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-12">
                                            <a class="btn btn-xs">{{userOverallRating}}</a>
                                            <a ng-repeat="i in getNumber(userOverallRating) track by $index" class="fa fa-star" aria-hidden="true"></a>
                                            <a ng-repeat="i in getNumber(5 - userOverallRating) track by $index" class="far fa-star"></a>
                                            &nbsp;&nbsp;{{userRatings? userRatings.length : 0}} reviews
                                        </div>

                                        <div class="col-md-12">
                                            &nbsp;
                                        </div>
                                        <hr>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h3 class="text-success">
                                                        {{vendorStatistics.PARTICIPATION | number:2}}%
                                                    </h3>
                                                </div>
                                                <div class="col-md-3 top-buffer">
                                                    <strong>Participation</strong>
                                                </div>
                                                <div class="col-md-4" ng-hide="true">
                                                    <h3 class="text-success">
                                                        {{vendorStatistics.PARTICIPATION_ALL | number:2}}% <strong><small>Average</small></strong>
                                                    </h3>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h3 class="text-success">
                                                        <!--3<strong class="text-success"><small>H</small></strong>28<strong class="text-success"><small>M</small></strong>-->
                                                        {{vendorStatistics.RESPONSE_TIME | number:1}}<small class="text-success">Hours</small>
                                                    </h3>
                                                </div>
                                                <div class="col-md-3 top-buffer">
                                                    <strong>Response Time</strong>
                                                </div>
                                                <div class="col-md-4" ng-hide="true">
                                                    <h3 class="text-success">

                                                        {{vendorStatistics.RESPONSE_TIME_ALL | number:1}}<small>s</small>
                                                        <strong>
                                                            <small>
                                                                Average
                                                            </small>
                                                        </strong>
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h3 class="text-success">
                                                        {{vendorStatistics.AVG_PRICE_REDUCTION | number:2}}/-
                                                    </h3>
                                                </div>
                                                <div class="col-md-3 top-buffer">
                                                    <strong>Price Reduction</strong>
                                                </div>
                                                <!--14<strong class="text-success"><small>H</small></strong>8<strong class="text-success"><small>M</small></strong>-->
                                                <div class="col-md-4" ng-hide="true">
                                                    <h3 class="text-success">

                                                        {{vendorStatistics.AVG_PRICE_REDUCTION_ALL | number:2}}/-
                                                        <strong><small>Average</small></strong>
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h3 class="text-success">
                                                        {{vendorStatistics.ACCURACY | number:2}}%
                                                    </h3>
                                                </div>
                                                <div class="col-md-3 top-buffer">
                                                    <strong>Quotation Accuracy</strong>
                                                </div>
                                                <div class="col-md-4"  ng-hide="true">
                                                    <h3 class="text-success">
                                                        {{vendorStatistics.ACCURACY_ALL | number:2}}% <strong><small>Average</small></strong>
                                                    </h3>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h3 class="text-success">
                                                        {{vendorStatistics.STRIKE | number:2}}%
                                                    </h3>
                                                </div>
                                                <div class="col-md-3 top-buffer">
                                                    <strong>Strike Rate</strong>
                                                </div>
                                                <div class="col-md-4"  ng-hide="true">
                                                    <h3 class="text-success">
                                                        {{vendorStatistics.STRIKE_ALL | number:2}}% <strong><small>Average</small></strong>
                                                    </h3>
                                                </div>
                                            </div>

                                            <!--<div class="row">
                            <div class="col-md-2">
                                <h3 class="text-success">
                                    84%
                                </h3>
                            </div>
                            <div class="col-md-5 top-buffer">
                                <strong>Delivery Efficiency</strong>
                            </div>
                            <div class="col-md-5">
                                <h3 class="text-success">
                                    69% <strong><small>Average</small></strong>
                                </h3>
                            </div>
                        </div>-->
                                            <!--<div class="row">
                            <div class="col-md-3">
                                <h3 class="text-success">
                                    79%
                                </h3>
                            </div>
                            <div class="col-md-5 top-buffer">
                                <strong>Quality</strong>
                            </div>
                            <div class="col-md-3">
                                <h3 class="text-success">
                                    71% <strong><small>Average</small></strong>
                                </h3>
                            </div>
                        </div>-->


                                        </div>

                                        <div class="col-md-12">
                                            &nbsp;
                                        </div>
                                        <hr>
                                        <div class="col-md-12">
                                            &nbsp;
                                        </div>
                                        <!--<div class="col-md-12" style="max-height:110px;overflow:auto;">
                        <div class="row">
                            <div class="col-md-12">
                                Categories <strong>{{ categories }}</strong>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                            <div class="col-md-12">
                                Sub Categories <strong>{{ subcategories }}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        &nbsp;
                    </div>-->
                                    </div>
                                </div>

                             <div class="row">
                                
                                 <div class="col-md-12">
                                     <div  style="height:10.0em;">
                                         
                                         <table class="table table-vmiddle table-bordered">
                                             <thead>
                                                 <tr>
                                                     <th style="min-width:5px;max-width:5px;">RATIO OF WINNING</th>
                                                     <th style="min-width:5px;max-width:5px;">MATERIALS PROCURED</th>
                                                     <th style="min-width:40px;max-width:40px;">SHARE OF MATERIALS</th>
                                                     <th style="min-width:40px;max-width:40px;">SHARE IN BUYING</th>

                                                 </tr>
                                             </thead>
                                         </table>
                                         <div style="overflow:auto;max-height:250px;min-height:250px;">
                                             <table class="table table-vmiddle table-bordered">
                                                 <tr >
                                                     <td style="min-width:5px;max-width:5px;">{{vendorAnalysis.RATIO_OF_WINNING | number:2}}</td>
                                                     <td style="min-width:5px;max-width:5px;">{{vendorAnalysis.MATERIALS_PROCURED}}</td>
                                                     <td style="min-width:40px;max-width:40px;">{{vendorAnalysis.SHARE_IN_MATERIAL | number:2}}</td>
                                                     <td style="min-width:40px;max-width:40px;">{{vendorAnalysis.SHARE_IN_BUYING | number:2}}</td>

                                                 </tr>
                                             </table>
                                         </div>
                                     </div>
                                 </div>
                             
                            </div>

                            </div>

                            <!--<div class="row white-box" ng-controller="profileVendorCtrl as pctrl" ng-init="getcatalogcategories(userId)">
            <div class="col-md-12">
                <div class="row" style="padding-left:20px;">
                    <label>
                        <label class="text-danger" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.category.$touched) && catalogvalidation">please select one product atleast</label>
                    </label>
                </div>
                <accordion>
                    <accordion-group is-open="status.open">
                        <accordion-heading class="!accordion-toggle">
                            Catalogue Management

                            <a role="button" ng-hide="accordion.expanded" ng-click="accordion.expanded = true;" style="margin-right:15px" title="More Details"><i class="fa fa-angle-down pull-right " style="font-size:25px"></i></a>
                            <a role="button" ng-hide="!accordion.expanded" ng-click="accordion.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-up pull-right" style="font-size:25px"></i></a>
                        </accordion-heading>

                        <div class="row">
                            <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                <ng-include src="'views\\new-vendor-catalog.html'">

                                </ng-include>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>-->

                            <div class="row white-box">

                                <div class="col-md-3" id="contactInfo">
                                    <h4>
                                        Contact Information
                                        <button ng-click="display(true)" class="btn btn-info btn-new-look btn-xs">Add</button>
                                    </h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12 pmbb-view" style="overflow-wrap: break-word;">
                                            <div class="row" ng-if="show">
                                                <form name="vendorregisterForm" class="pmbb-edit">
                                                    <div class="form-group fg-float col-md-6 m-b-30">
                                                        <div class="fg-line fg-toggled" ng-class="{'fg-toggled': true == true}">
                                                            <label class="fg-label">First Name</label>
                                                            <input type="text" ng-model="addnewdetailsobj.firstName" class="form-control fg-input"
                                                                   name="firstName" id="lastName" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group fg-float col-md-6 m-b-30">
                                                        <div class="fg-line fg-toggled" ng-class="{'fg-toggled': true == true}">
                                                            <label class="fg-label">Last Name</label>
                                                            <input type="text" ng-model="addnewdetailsobj.lastName" class="form-control fg-input"
                                                                   name="lastName" id="lastName" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group fg-float col-md-6 m-b-30">
                                                        <div class="fg-line fg-toggled" ng-class="{'fg-toggled': true == true}">
                                                            <label class="fg-label">Contact No.</label>
                                                            <input type="number" ng-model="addnewdetailsobj.phoneNum" class="form-control fg-input"
                                                                   name="phoneNum" id="phoneNum" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group fg-float col-md-6 m-b-30">
                                                        <div class="fg-line fg-toggled" ng-class="{'fg-toggled': true == true}">
                                                            <label class="fg-label">Email Address</label>
                                                            <input type="email" ng-model="addnewdetailsobj.email" class="form-control fg-input"
                                                                   name="email" id="email" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group fg-float col-md-6 m-b-30">
                                                        <div class="fg-line fg-toggled">
                                                            <label class="fg-label">Department</label>
                                                            <input ng-model="addnewdetailsobj.department" class="form-control fg-input"
                                                                   name="department" id="department">
                                                        </div>
                                                    </div>
                                                    <div class="form-group fg-float col-md-6 m-b-30">
                                                        <div class="fg-line fg-toggled">
                                                            <label class="fg-label">Designation</label>
                                                            <input ng-model="addnewdetailsobj.designation" class="form-control fg-input"
                                                                   name="designation" id="designation">
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="m-t-30">
                                                    <div class="col-md-12">
                                                        <button ng-click="addNewDetails()"
                                                                ng-disabled="(addnewdetailsobj.email == '' || addnewdetailsobj.email == undefined) &&
                                                            (addnewdetailsobj.phoneNum == '' || addnewdetailsobj.phoneNum == undefined)"
                                                                class="btn btn-info btn-sm btn-new-look">
                                                            <span ng-if="!isDelete">Save</span>
                                                            <span ng-if="isDelete">Delete</span>
                                                        </button>
                                                        <button class="btn btn-link btn-sm" ng-click="display(false)">Cancel</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    &nbsp;
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-repeat="user in alternateContacts">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4>
                                                        {{user.firstName + ' ' + user.lastName}}
                                                        <small ng-if="user.isPrimary == 1" class="text-success">
                                                            ( Primary )

                                                        </small>
                                                        <small>
                                                            <a title="Edit" role="button" ng-if="user.isPrimary == 0"
                                                               class="fa fa-edit" ng-click="editAltContacts(user, 1);"></a>
                                                            &nbsp;
                                                            <a title="Delete" role="button" class="fa fa-trash"
                                                               ng-if="user.isPrimary == 0" ng-click="editAltContacts(user, 0);"></a>
                                                        </small>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Phone <strong>{{ user.phoneNum }}</strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Email&nbsp; <strong>{{ user.email }}</strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                &nbsp;
                                            </div>
                                            <hr>
                                            <div class="row">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <h4 class="text-center">Recent Reviews</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row" style="max-height:500px;overflow-y:auto;overflow-x:hidden;">
                                                <div ng-repeat="rating in userRatings">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4>{{rating.REQ_TITLE? rating.REQ_TITLE : 'General Review'}}</h4>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <a class="btn btn-xs">{{rating.overalRating}}</a>
                                                            <a ng-repeat="i in getNumber(rating.overalRating) track by $index" class="fa fa-star" aria-hidden="true"></a>
                                                            <a ng-repeat="i in getNumber(5 - rating.overalRating) track by $index" class="far fa-star"></a>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <h6>"{{rating.COMMENTS}}"</h6>
                                                        </div>
                                                        <div class="col-md-12">
                                                            by <b>{{rating.REVIEWER_DISP_NAME}}</b> on <b>{{rating.DATE_CREATED}}</b>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-top:20px;">
                                                <div class="col-md-12">
                                                    <h4>Your Review</h4>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4">For Requirement: </div>
                                                        <div class="col-md-8">
                                                            <select chosen name="userRequirements" ng-model="ratingRequirement"
                                                                    ng-options="req.requirementID as req.title for req in myAuctions"
                                                                    required class="form-control-dropdown"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    &nbsp;
                                                </div>
                                                <div class="col-md-12">
                                                    <a class="btn btn-xs">{{userRatingsJson.deliveryValue}}</a>
                                                    <angular-star-rating max="maxValue"
                                                                         value='userRatingsJson.deliveryValue' ng-click="validateUserReview()">
                                                    </angular-star-rating>
                                                    &nbsp;&nbsp;&nbsp;Delivery Time
                                                </div>
                                                <div class="col-md-12">
                                                    <a class="btn btn-xs">{{userRatingsJson.qualityValue}}</a>
                                                    <angular-star-rating max="maxValue"
                                                                         value='userRatingsJson.qualityValue' ng-click="validateUserReview()">
                                                    </angular-star-rating>
                                                    &nbsp;&nbsp;&nbsp;Quality
                                                </div>
                                                <div class="col-md-12">
                                                    <a class="btn btn-xs">{{userRatingsJson.emergencyValue}}</a>
                                                    <angular-star-rating max="maxValue"
                                                                         value='userRatingsJson.emergencyValue' ng-click="validateUserReview()">
                                                    </angular-star-rating>
                                                    &nbsp;&nbsp;&nbsp;Emergency Order
                                                </div>
                                                <div class="col-md-12">
                                                    <a class="btn btn-xs">{{userRatingsJson.serviceValue}}</a>
                                                    <angular-star-rating max="maxValue"
                                                                         value='userRatingsJson.serviceValue' ng-click="validateUserReview()">
                                                    </angular-star-rating>
                                                    &nbsp;&nbsp;&nbsp;Service
                                                </div>
                                                <div class="col-md-12">
                                                    <a class="btn btn-xs">{{userRatingsJson.responseValue}}</a>
                                                    <angular-star-rating max="maxValue"
                                                                         value='userRatingsJson.responseValue' ng-click="validateUserReview()">
                                                    </angular-star-rating>
                                                    &nbsp;&nbsp;&nbsp;Response
                                                </div>
                                                <div class="col-md-12">
                                                    &nbsp;
                                                </div>
                                                <div class="col-md-9 col-xs-9">
                                                    <input type="text" placeholder="Comments" class="form-control" ng-model="review" ng-change="validateUserReview()" />
                                                </div>
                                                <div class="col-md-2 col-xs-2">
                                                    <button class="btn btn-info btn-sm" ng-click="saveUserComments()" ng-disabled="!isValidToSubmitReview">
                                                        Post
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <h4 class="text-center">Products</h4>
                                    <hr>
                                    <div class="row" style="max-height:500px;overflow:auto;">
                                        <div ng-repeat="item in vendorProducts">
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-12">
                                                Name <strong>
                                                    <a data-ui-sref="view-requirement({Id:item.requirementID})" href="" target="_blank">
                                                        {{ item.productIDorName }}
                                                    </a>
                                                    <span ng-if="item.productNo != ''">({{ item.productNo }})</span>
                                                </strong>
                                            </div>
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-12" title="{{ item.productDescription }}">
                                                Desc <strong class="prmellipsis1">{{ item.productDescription }}</strong>
                                            </div>
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        &nbsp;
                                    </div>
                                </div>

                            </div>

                            <div class="row white-box" ng-if="userObj.userGSTInfo && userObj.userGSTInfo.length > 0">
                                <div class="pmbb-header">
                                    <h4><i class="fa fa-info  m-r-5"></i> Select GST</h4>                                   
                                </div>
                                <div class="col-md-4">
                                    <select data-placeholder="Select a Company..." name="selectGST" ng-change="gstSelectInfoChange()"
                                            ng-model="userObj.selectedGSTObj" ng-options="value.gstNumber for value in userObj.userGSTInfo"
                                            class="form-control p-0"></select>
                                </div>
                            </div>
                            <div class="row white-box">
                                <div class="pmbb-header">
                                    <h4><i class="fa fa-info  m-r-5"></i> Company Info</h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="!vendorGstDetailsObj.isError && vendorGstDetailsObj && vendorGstDetailsObj.general">
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Legal Name:</strong> {{vendorGstDetailsObj.general.lgnm}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Status:</strong> {{vendorGstDetailsObj.general.sts}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Registered Date:</strong> {{vendorGstDetailsObj.general.rgdt}} (DD/MM/YYYY) </div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Constitution of Business:</strong> {{vendorGstDetailsObj.general.ctb}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Taxpayer Type:</strong> {{vendorGstDetailsObj.general.dty}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Nature of Business Activity:</strong> {{vendorGstDetailsObj.general.nba}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Date of Cancellation:</strong> {{vendorGstDetailsObj.general.cxdt}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Last Updated Date:</strong> {{vendorGstDetailsObj.general.lstupddt}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Trade Name:</strong> {{vendorGstDetailsObj.general.tradeNam}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>State Jurisdiction:</strong> {{vendorGstDetailsObj.general.stj}} ({{vendorGstDetailsObj.general.stjCd}})</div></div>


                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="!vendorGstDetailsObj.isError && vendorGstDetailsObj && vendorGstDetailsObj.general">
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Centre Jurisdiction:</strong> {{vendorGstDetailsObj.general.ctj}} ({{vendorGstDetailsObj.general.ctjCd}})</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Constitution of Business:</strong> {{vendorGstDetailsObj.general.ctb}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>State Jurisdiction Code:</strong> {{vendorGstDetailsObj.general.stjCd}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Floor:</strong> {{vendorGstDetailsObj.general.flno}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Building:</strong> {{vendorGstDetailsObj.general.bno}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Location:</strong> {{vendorGstDetailsObj.general.loc}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>State:</strong> {{vendorGstDetailsObj.general.stcd}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>PincCode:</strong> {{vendorGstDetailsObj.general.pncd}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Lattitude:</strong> {{vendorGstDetailsObj.general.lt}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Longitude:</strong> {{vendorGstDetailsObj.general.lg}}</div></div>
                                    </div>
                                </div>
                                <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="vendorGstDetailsObj.isError">
                                    {{vendorGstDetailsObj.error}}
                                </div>
                            </div>
                            <div class="row white-box">
                                <div class="pmbb-header">
                                    <h4><i class="fa fa-info  m-r-5"></i> GST Filing Info</h4>
                                </div>
                                <div class="pmbb-body">
                                    <div class="pmbb-view" style="max-height:300px;overflow:auto;" ng-if="!vendorGstDetailsObj.isError && vendorGstDetailsObj && vendorGstDetailsObj.filing">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table ng-table="tctrl.tableSorting " class="table table-vmiddle table-fixed" show-filter="false">
                                                    <tr ng-repeat="gstDetail in vendorGstDetailsObj.filing">
                                                        <td data-title="'Valid'" sortable="'ID'">
                                                            {{ gstDetail.valid}}
                                                        </td>
                                                        <td data-title="'Mode of Filing'" sortable="'Type'">
                                                            {{ gstDetail.mof }}
                                                        </td>
                                                        <td data-title="'Date of Filing'" sortable="'Name'">
                                                            {{ gstDetail.dof }}
                                                        </td>
                                                        <td data-title="'Return Period'" sortable="'Name'">
                                                            {{ gstDetail.rtntype }}
                                                        </td>
                                                        <td data-title="'Return Type'">{{gstDetail.ret_prd}}</td>
                                                        <td data-title="'ARN'">{{gstDetail.arn}} </td>
                                                        <td data-title="'Status'"> {{ gstDetail.status}} </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pmbb-view" style="max-height:100px;overflow:auto;" ng-if="vendorGstDetailsObj.isError">
                                        {{vendorGstDetailsObj.error}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>