<style>
    table tbody, table thead {
        display: block;
    }

    table tbody {
        overflow: auto;
        height: 300px;
    }

    table {
        width: 100%; /* can be dynamic */
    }

    th {
        width: 200px;
    }

    td {
        width: 200px;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="viewprofileCtrl">
                    <div class="vendorviewprofile white-box">
                        <div class="box-title">
                            <h4 style="text-align:center;"><strong>VENDOR INFORMATION</strong></h4> <a ng-click="goTovendorAnalysys()">vendor analysis</a>
                        </div>
                        <div class="row">
                            <div class="pmbb-header">
                                <h4><i class="fa fa-user m-r-5"></i>Account Information</h4>
                            </div>
                            <div class="pmbb-body p-l-30" id="generatePDFHTMl">
                                <div id="editor" class="bypass"></div>
                                <dl class="dl-horizontal">
                                    <dt>Company Name</dt>
                                    <dd>{{ userObj.companyName }}</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Company Address</dt>
                                    <dd>
                                        {{ userObj.companyAddress }}
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Category</dt>
                                    <dd>{{ categories }}</dd>
                                </dl>
                                <!--<dl class="dl-horizontal">
            <dt>Sub Categories</dt>
            <dd>{{userObj.subcategories[0].subcategory}}</dd>
        </dl>-->
                                <dl ng-if="subcategories" class="dl-horizontal">
                                    <dt>Sub Categories</dt>
                                    <dd>{{subcategories}}</dd>
                                </dl>
                                <!--<dl class="dl-horizontal">
            <dt>Score</dt>
            <dd>{{ userObj.registrationScore }}</dd>
        </dl>-->

                                <dl class="dl-horizontal">
                                    <dt>Role</dt>
                                    <dd>{{ userObj.role }}</dd>
                                </dl>

                                <dl class="dl-horizontal">
                                    <dt>Currency</dt>
                                    <dd>{{ userObj.currency }}</dd>
                                </dl>
                                <!--<dl class="dl-horizontal">
            <dt>Rating</dt>
            <dd><input-stars max="5" ng-model="userObj.rating" readonly></input-stars></dd>
        </dl>-->
                            </div>

                            <div class="pmbb-header">
                                <h4><i class="fa fa-user m-r-5"></i> Basic Information</h4>
                            </div>
                            <div class="pmbb-body p-l-30" id="generatePDFHTMl">
                                <div id="editor" class="bypass"></div>
                                <dl class="dl-horizontal">
                                    <dt>First Name</dt>
                                    <dd>{{ userObj.firstName }}</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Last Name</dt>
                                    <dd>{{ userObj.lastName }}</dd>
                                </dl>
                            </div>

                            <div class="pmb-block" ng-if="!isCustomer">
                                <div class="pmbb-header">
                                    <h4><i class="fa fa-phone m-r-5"></i> Contact Information</h4>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <dl class="dl-horizontal">
                                            <dt>Phone</dt>
                                            <dd>{{ userObj.phoneNum }}</dd>
                                        </dl>

                                        <dl class="dl-horizontal">
                                            <dt>Alternate Phone</dt>
                                            <dd>{{ userObj.altPhoneNum }}</dd>
                                        </dl>



                                        <dl class="dl-horizontal">
                                            <dt>Email</dt>
                                            <dd>{{ userObj.email }}</dd>
                                        </dl>

                                        <dl class="dl-horizontal">
                                            <dt>Alternate Email</dt>
                                            <dd>{{ userObj.altEmail }}</dd>
                                        </dl>

                                    </div>
                                </div>
                            </div>

                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h4><i class="fa fa-phone m-r-5"></i> Contact Information  <button ng-click="display(true)" class="btn btn-info btn-sm btn-new-look">Add</button></h4>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">

                                        <div class="pmbb-body" ng-if="show">
                                            <form name="vendorregisterForm" class="pmbb-edit">
                                                <div class="form-group fg-float col-sm-6 m-b-30">
                                                    <div class="fg-line fg-toggled" ng-class="{'fg-toggled': true == true}">
                                                        <input type="text" ng-model="addnewdetailsobj.firstName" class="form-control fg-input" name="firstName" id="lastName" required>
                                                        <label class="fg-label">First Name</label>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float  col-md-6 m-b-30">
                                                    <div class="fg-line fg-toggled" ng-class="{'fg-toggled': true == true}">
                                                        <input type="text" ng-model="addnewdetailsobj.lastName" class="form-control fg-input" name="lastName" id="lastName" required>
                                                        <label class="fg-label">Last Name</label>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float col-sm-6 m-b-30">
                                                    <div class="fg-line fg-toggled" ng-class="{'fg-toggled': true == true}">
                                                        <input type="number" ng-model="addnewdetailsobj.phoneNum" class="form-control fg-input" name="phoneNum" id="phoneNum" required>
                                                        <label class="fg-label">Contact No.</label>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float col-sm-6 m-b-30">
                                                    <div class="fg-line fg-toggled" ng-class="{'fg-toggled': true == true}">
                                                        <input type="email" ng-model="addnewdetailsobj.email" class="form-control fg-input" name="email" id="email" required>
                                                        <label class="fg-label">Email Address</label>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float col-sm-6 m-b-30">
                                                    <div class="fg-line fg-toggled">
                                                        <input ng-model="addnewdetailsobj.department" class="form-control fg-input" name="department" id="department">
                                                        <label class="fg-label">Department</label>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float col-sm-6 m-b-30">
                                                    <div class="fg-line fg-toggled">
                                                        <input ng-model="addnewdetailsobj.designation" class="form-control fg-input" name="designation" id="designation">
                                                        <label class="fg-label">Designation</label>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="m-t-30">
                                                <button ng-click="addNewDetails()" ng-disabled="(addnewdetailsobj.email == '' || addnewdetailsobj.email == undefined) && (addnewdetailsobj.phoneNum == '' || addnewdetailsobj.phoneNum == undefined)" class="btn btn-info btn-sm btn-new-look"><span ng-if="!isDelete">Save</span><span ng-if="isDelete">Delete</span></button>
                                                <button class="btn btn-link btn-sm" ng-click="display(false)">Cancel</button>
                                            </div>
                                        </div>


                                        <br />


                                        <dl class="dl-horizontal">
                                            <dt> Name </dt>
                                            <dd> <strong> Contact Info </strong></dd>
                                        </dl>

                                        <dl class="dl-horizontal" ng-repeat="user in alternateContacts">
                                            <dt><small ng-if="user.isPrimary == 1" class="text-success">( Primary )</small>{{user.firstName + ' ' + user.lastName}}  </dt>
                                            <dd>{{ user.phoneNum }} , {{ user.email }} &nbsp; <a title="Edit" role="button" ng-if="user.isPrimary == 0" class="fa fa-edit" ng-click="editAltContacts(user, 1);"></a>&nbsp;&nbsp;<a title="Delete" role="button" class="fa fa-trash" ng-if="user.isPrimary == 0" ng-click="editAltContacts(user, 0);"></a></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <div class="pmbb-header">
                                <h4><i class="fa fa-info  m-r-5"></i> Professional Information</h4>
                            </div>
                            <div class="pmbb-body p-l-30">
                                <div class="pmbb-view" style="overflow-wrap: break-word;">
                                    <dl ng-if="userObj.aboutUs" class="dl-horizontal">
                                        <dt>About Us</dt>
                                        <dd>{{ userObj.aboutUs }}</dd>
                                    </dl>
                                    <dl ng-if="userObj.directors" class="dl-horizontal">
                                        <dt>Directors/ Propreitor</dt>
                                        <dd>{{ userObj.directors }}</dd>
                                    </dl>
                                    <dl ng-if="userObj.address" class="dl-horizontal">
                                        <dt>Address</dt>
                                        <dd>{{ userObj.address }}</dd>
                                    </dl>
                                    <dl ng-if="userObj.logoURL" class="dl-horizontal">
                                        <dt>Office/Store Image</dt>
                                        <dd><img style="width: 80px;height: 80px;" class="text-center otplogo" ng-show="userObj.logoURL!= null" src="{{ userObj.logoURL }}"></dd>
                                    </dl>
                                    <dl ng-if="userObj.establishedDate!= '31/12/9999'" class="dl-horizontal">
                                        <dt>Established Date</dt>
                                        <!-- <dd>{{userDetails.establishedDate | ctime | date:'medium'}}</dd> -->
                                        <dd>{{userObj.establishedDate}}</dd>
                                    </dl>
                                    <dl ng-if="userObj.achievements" class="dl-horizontal">
                                        <dt>Achievements</dt>
                                        <dd>{{ userObj.achievements }}</dd>
                                    </dl>
                                    <dl ng-if="userObj.assocWithOEM" class="dl-horizontal">
                                        <dt>Associated With OEM</dt>
                                        <dd>{{ userObj.assocWithOEM ? 'Yes' : 'No' }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal" ng-if="userObj.assocWithOEM">
                                        <dt>Associated With OEM File</dt>
                                        <dd><a target="_blank" ng-show="userObj.assocWithOEMFileName && userObj.assocWithOEMFileName!='' && userObj.assocWithOEMFileName!= null" href="{{ userObj.assocWithOEMFileName}}">Link</a></dd>
                                    </dl>
                                    <dl ng-if="userObj.oemCompanyName" class="dl-horizontal">
                                        <dt>OEM Company Name</dt>
                                        <dd>{{ userObj.oemCompanyName }}</dd>
                                    </dl>
                                    <dl ng-if="userObj.oemKnownSince" class="dl-horizontal">
                                        <dt>OEM Known Since</dt>
                                        <dd>{{ userObj.oemKnownSince }}</dd>
                                    </dl>
                                    <dl ng-if="userObj.products" class="dl-horizontal">
                                        <dt>Products</dt>
                                        <dd>{{ userObj.products }}</dd>
                                    </dl>
                                    <dl ng-if="userObj.clients" class="dl-horizontal">
                                        <dt>Clients</dt>
                                        <dd>{{ userObj.clients }}</dd>
                                    </dl>
                                    <dl ng-if="userObj.responseTime" class="dl-horizontal">
                                        <dt>Response Time</dt>
                                        <dd>{{ userObj.responseTime }}</dd>
                                    </dl>

                                    <dl ng-if="userObj.workingHours" class="dl-horizontal">
                                        <dt>Working Hours</dt>
                                        <dd>{{ userObj.workingHours }}</dd>
                                    </dl>

                                    <dl ng-if="userObj.strengths" class="dl-horizontal">
                                        <dt>Core Business Strength</dt>
                                        <dd>{{ userObj.strengths }}</dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="pmbb-header">
                                <h4><i class="fa fa-info  m-r-5"></i> Company Info</h4>
                            </div>
                            <div class="pmbb-body p-l-30" >
                                <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="!vendorGstDetailsObj.isError && vendorGstDetailsObj && vendorGstDetailsObj.general">
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Legal Name:</strong> {{vendorGstDetailsObj.general.lgnm}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Status:</strong> {{vendorGstDetailsObj.general.sts}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Registered Date:</strong> {{vendorGstDetailsObj.general.rgdt}} (DD/MM/YYYY) </div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Constitution of Business:</strong> {{vendorGstDetailsObj.general.ctb}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Taxpayer Type:</strong> {{vendorGstDetailsObj.general.dty}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Nature of Business Activity:</strong> {{vendorGstDetailsObj.general.nba}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Date of Cancellation:</strong> {{vendorGstDetailsObj.general.cxdt}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Last Updated Date:</strong> {{vendorGstDetailsObj.general.lstupddt}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Trade Name:</strong> {{vendorGstDetailsObj.general.tradeNam}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>State Jurisdiction:</strong> {{vendorGstDetailsObj.general.stj}} ({{vendorGstDetailsObj.general.stjCd}})</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Centre Jurisdiction:</strong> {{vendorGstDetailsObj.general.ctj}} ({{vendorGstDetailsObj.general.ctjCd}})</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Constitution of Business:</strong> {{vendorGstDetailsObj.general.ctb}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>State Jurisdiction Code:</strong> {{vendorGstDetailsObj.general.stjCd}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Floor:</strong> {{vendorGstDetailsObj.general.flno}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Building:</strong> {{vendorGstDetailsObj.general.bno}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Location:</strong> {{vendorGstDetailsObj.general.loc}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>State:</strong> {{vendorGstDetailsObj.general.stcd}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>PincCode:</strong> {{vendorGstDetailsObj.general.pncd}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Lattitude:</strong> {{vendorGstDetailsObj.general.lt}}</div></div>
                                    <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Longitude:</strong> {{vendorGstDetailsObj.general.lg}}</div></div>
                                </div>
                                <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="vendorGstDetailsObj.isError">
                                    {{vendorGstDetailsObj.error}}
                                </div>
                            </div>

                            <div class="pmbb-header">
                                <h4><i class="fa fa-info  m-r-5"></i> GST Filing Info</h4>
                            </div>
                            <div class="pmbb-body p-l-30" >
                                <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="!vendorGstDetailsObj.isError && vendorGstDetailsObj && vendorGstDetailsObj.filing">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table ng-table="tctrl.tableSorting" class="table table-vmiddle" show-filter="false">
                                                <tr ng-repeat="gstDetail in vendorGstDetailsObj.filing">
                                                    <td data-title="'Valid'" sortable="'ID'">
                                                        {{ gstDetail.valid}}
                                                    </td>
                                                    <td data-title="'Mode of Filing'" sortable="'Type'">
                                                        {{ gstDetail.mof }}
                                                    </td>
                                                    <td data-title="'Date of Filing'" sortable="'Name'">
                                                        {{ gstDetail.dof }}
                                                    </td>
                                                    <td data-title="'Return Period'" sortable="'Name'">
                                                        {{ gstDetail.rtntype }}
                                                    </td>
                                                    <td data-title="'Return Type'">{{gstDetail.ret_prd}}</td>
                                                    <td data-title="'ARN'">{{gstDetail.arn}} </td>
                                                    <td data-title="'Status'"> {{ gstDetail.status}} </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="vendorGstDetailsObj.isError">
                                    {{vendorGstDetailsObj.error}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>