﻿<div class="dropdown">
    <button class="btn" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
        <span class="pull-left">{{header}}</span>
        <span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <input class="input-block-level" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
        </li>
        <li ng-show="multiple">
            <button class="btn-link btn-small" ng-click="checkAll()" ng-hide="hideoptions"><i class="fa fa-check"></i> Check all</button>
            <button class="btn-link btn-small" ng-click="uncheckAll()" ng-hide="hideoptions"><i class="fa fa-close"></i> Uncheck all</button>
        </li>
        <li ng-repeat="i in items | filter:searchText">
            <a ng-click="select(i); focus()">
                <i ng-class="{'fa fa-check': i.checked, '': !i.checked}"></i>&nbsp;&nbsp;{{i.label}}
            </a>
        </li>
    </ul>
</div>