﻿<style>
    .container {
        max-width: 1170px;
        margin: auto;
    }

    img {
        max-width: 100%;
    }

    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
        border-right: 1px solid #c4c4c4;
    }

    .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
    }

    .top_spac {
        margin: 20px 0 0;
    }


    .recent_heading {
        float: left;
        width: 40%;
    }

    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
        padding:
    }

    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    }

    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

    .active_chat {
        background: #ebebeb;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }

    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

    .received_withd_msg {
        width: 57%;
    }

    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 60%;
    }

    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }

    .sent_msg {
        float: right;
        width: 46%;
    }

    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative;
    }

    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

    .messaging {
        padding: 0 0 50px 0;
    }

    .msg_history {
        height: 516px;
        overflow-y: auto;
    }
</style>
<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="chatDetailsCtrl">
                <div class="messaging" style="margin-top:50px;">
                    <div class="inbox_msg">
                        <div class="inbox_people">
                            <div class="headind_srch">
                                <div class="recent_heading">
                                    <h4>{{isCustomer ? 'Vendors' : selectedUserToChat.vendorName}}</h4>
                                </div>
                                <!--<div class="srch_bar">
                                    <div class="stylish-input-group">
                                        <input type="text" class="search-bar" placeholder="Search">
                                        <span class="input-group-addon">
                                            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                        </span>
                                    </div>
                                </div>-->
                            </div>
                            <div class="inbox_chat">
                                <!--<div class="chat_list active_chat">
                                    <div class="chat_people">
                                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt=""> </div>
                                        <div class="chat_ib">
                                            <h5>  Rajput <span class="chat_date">Dec 25</span></h5>
                                            <p>
                                                Test, which is a new approach to have all solutions
                                                astrology under one roof.
                                            </p>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="chat_list" ng-repeat="vendor in currentRequirementVendors" ng-class="{'active_chat': vendor.activeChat }" style="cursor:pointer;" 
                                     ng-click="getChatHistory(vendor)">
                                    <div class="chat_people">
                                        <div class="chat_img"> <img src="img/userpic.png" alt=""> </div>
                                        <div class="chat_ib">
                                            <h5>{{vendor.vendorName}} <!--<span class="chat_date">Dec 25</span>--></h5>
                                            <p>
                                                {{vendor.companyName}}
                                            </p>
                                            <p>
                                                Quotation Status: {{vendor.isQuotationRejected == 0 ? 'Approved' : (vendor.isQuotationRejected == 1 ? "Rejected" : "")  }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mesgs">
                            <div class="msg_history" scroll-to-bottom="currentUserChatHistory">
                                <div class="incoming_msg" ng-repeat="chat in currentUserChatHistory" ng-class="{'incoming_msg': isIncomingChat(chat),  'outgoing_msg': !isIncomingChat(chat)}">
                                    <div class="incoming_msg_img">
                                        <img src="img/userpic.png" alt=" " ng-if="isIncomingChat(chat)">
                                    </div>
                                    <div class="received_msg" ng-if="isIncomingChat(chat)">
                                        <div class="received_withd_msg">
                                            <p>
                                                <a><strong>{{chat.FromName}}</strong></a>
                                            </p>
                                            <p style="word-wrap:break-word;">
                                                {{chat.Message}}
                                            </p>
                                            <span class="time_date"> {{chat.DateCreated | date : "medium"}}</span>
                                        </div>
                                    </div>
                                    <div class="sent_msg" ng-if="!isIncomingChat(chat)">
                                        <p>
                                            <a style="color:#FFF !important;"><strong>{{chat.FromName}}</strong></a>
                                        </p>
                                        <p style="word-wrap:break-word;">
                                            {{chat.Message}}
                                        </p>
                                        <span class="time_date"> {{chat.DateCreated | date : "medium"}} </span>
                                    </div>
                                </div>
                                <div ng-if="!currentUserChatHistory || currentUserChatHistory.length <= 0">
                                    No chat history available.
                                </div>
                            </div>
                            <div class="type_msg">
                                <div class="input_msg_write">
                                    <form name="chatForm" novalidate ng-submit="saveUserChat()">
                                        <input type="text" class="write_msg" placeholder="Type a message" ng-model="chatMessage" />
                                        <button class="msg_send_btn" type="button" ng-click="saveUserChat()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center top_spac"> Powered by <a target="_blank" href="#">PRM360</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
