﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<style>
    .prmellipsis_req {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    .scrollbar ::-webkit-scrollbar-thumb {
        background-color: #38bdf8 !important;
    }
    .list .items-list {
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;
        width: 250px;
        height: 200px;
        overflow: auto;
        max-height: 200px;
    }
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listprCtrl">
                <div class="white-box">

                    <div class="row">
                        <div class="col-md-2" style="margin-top: 30px;">
                            <label class="pull-right">
                                <input type="radio" ng-model="prDet.prLevel" value= 1 name="prCheck" ng-click="getPRLevelView()" />&nbsp;PR Level
                                <input type="radio" ng-model="prDet.prLevel" value= 0 name="prCheck" ng-click="getPRSBasedOnItem(0,10)" />&nbsp;Item Level
                            </label>
                        </div>

                        <div class="row">
                            <!--<div class="col-md-2" ng-if="prDet.prLevel">
                        <button ng-click="GetReport()" ng-show="!downloadExcel" style="margin-top: 30px;" class="pull-right btn btn-info ng-scope">
                            Export
                        </button>
                        <img id="mySpinner" ng-show="downloadExcel" align="middle" src="img/AcadsLoding.gif" />
                    </div>-->
                            <div class="col-md-2" ng-if="prDet.prLevel" style="margin-top: 30px;" >
                                <label class="pull-right">
                                    <input type="radio" ng-model="filters.dateFilter" value="REQUISITION" name="prDate" ng-click="selectRequirement()"/>&nbsp;Requisition date
                                    <input type="radio" ng-model="filters.dateFilter" value="CHANGE" name="prDate" ng-click="selectRequirement()"/>&nbsp;Change Date
                                </label>
                            </div>
                            <div class="col-md-2" ng-if="prDet.prLevel">
                                <h5><strong>From date</strong></h5>
                                <div class="col-md-12" moment-picker="filters.prFromDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.prFromDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <div class="col-md-2" ng-if="prDet.prLevel">
                                <h5><strong>To date</strong></h5>
                                <div class="col-md-12" moment-picker="filters.prToDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.prToDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <div class="col-md-1" ng-if="prDet.prLevel"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="filterByDate(currentPage-1);">Apply</button></div>
                        </div>

                        <!--<div class="col-md-2" style="margin-top: 30px;">
                    <label class="pull-right">
                        <input type="radio" ng-model="prDet.prLevel" ng-value="true" name="prCheck" ng-click="getPRLevelView()" />PR Level
                        <input type="radio" ng-model="prDet.prLevel" ng-value="false" name="prCheck" ng-click="getPRSBasedOnItem()" />Item Level
                    </label>
                </div>-->
                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                        </div>

                        <div class="col-md-2" ng-if="!prDet.prLevel">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage1-1);" ng-model="filters1.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                        </div>

                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.newPrStatus"
                                         options="item.name for item in filtersList.statusList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>Plants</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.plant"
                                         options="item for item in filtersList.plantListGrp"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <!--<div class="col-md-2">
                    <h5><strong>Profit Center</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.profitCentre"
                                 options="item.name for item in filtersList.profitCentreList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>-->
                        <!--<div class="col-md-2">
                    <h5><strong>Creator Name</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.requisitionerName"
                                 options="item.name for item in filtersList.requisitionList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>-->

                    </div>

                    <div class="row">
                        <!--<div class="col-md-2">
                    <h5><strong>Plants</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.plantGrp"
                                 options="item for item in filtersList.plantListGrp"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>-->
                        <!--<div class="col-md-2">
                    <h5><strong>Project Type</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.projectType"
                                 options="item.name for item in filtersList.projectTypeList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>
                <div class="col-md-2">
                    <h5><strong>Section Head</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.sectionHead"
                                 options="item.name for item in filtersList.sectionHeadList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>
                <div class="col-md-2">
                    <h5><strong>WBS Code</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.wbsCode"
                                 options="item.name for item in filtersList.wbsCodeList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>-->
                        <!--<div class="col-md-2">
                    <h5><strong>Purchase Group Code</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.purcahseGroup"
                                 options="item.name for item in filtersList.purchaseGroupList1"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>-->
                        <!--<div class="col-md-2">
                    <h5><strong>Customer Name</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.projectName"
                                 options="item.name for item in filtersList.projectNameList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>-->
                        <!--<div class="row">-->
                        <!--</div>-->



                        <div class="col-md-2" ng-if="prDet.prLevel" style="margin-top: 10px;">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" ng-if="showRequirementButton()" ng-click="createRequirementMultiplePR();navigateToRequirement()">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Post Requirement
                            </button>
                        </div>
                        <div class="col-md-2" ng-if="showRequirementButton()" style="margin-top: 10px;">
                            <div class="col-md-12"><div class="row"><label><strong>PR's Selected</strong></label></div></div>
                            <textarea style="background:#efefef;padding:3px;margin-right:5px;border-radius:4px;margin-bottom:5px;display:inline-block;">{{selectedPRNumbers}}</textarea>
                        </div>
                        <div class="col-md-2" ng-if="!prDet.prLevel" style="margin-top: 10px;">
                            <button class="btn btn-info btn-sm dropdown-toggle"  type="button" ng-if="showRequirementItemsButton()" ng-click="navigateToRequirements1()" >
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Post Requirement
                            </button>
                        </div>
                        <!--<div class="col-md-4" style="margin-top: 10px;" ng-if="showRequirementItemsButton() || showRequirementButton()">
                    <div class="col-md-12"><div class="row"><label><strong>Select Requirement To Link</strong></label></div></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="has-feedback" style="width:200px">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchRequirement();" ng-model="filters.searchRequirement"
                                           ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <multiselect class="input-xlarge" multiple="false" hideoptions="true" fieldtitle="REQ_TITLE"
                                             fieldtitledefault="Results"
                                             ng-model="filters.selectedRequirement"
                                             options="rfq.REQ_TITLE for rfq in filteredRequirements"
                                             change="selectRequirement()"></multiselect>
                            </div>
                        </div>
                    </div>
                    <div class="list">


                    </div>
                </div>-->
                    </div>

                    <!--<div class="white-box">-->

                    <div class="row" style="margin-top:25px;" ng-if="prDet.prLevel">
                        <div class="col-md-12 pull-left" style="margin-bottom:10px">
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">New PR's ::  {{ PRStats.newPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">

                                    <h5 class="text-center" style="margin-top:5px;">Partial PR's ::  {{ PRStats.partialPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">In-Progress PR's ::  {{ PRStats.inProgressPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of Items in PR'S ::  {{PRStats.totalPRItems}}</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of RFQ's Posted ::  {{PRStats.totalRFQPosted}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 table-responsive z-depth-2">
                            <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                                <table class="table table-striped">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th></th>
                                            <th style="min-width:200px;">PR Number</th>
                                            <!--<th style="min-width:100px;">Plant</th>
                                    <th style="min-width:100px;">Plant Name</th>-->
                                            <!--<th style="min-width:150px;">PR Creator Name</th>-->
                                            <th style="min-width:50px;">Items</th>
                                            <th style="min-width:50px;">Status</th>
                                            <!--<th style="min-width:150px;">Release Date</th>-->
                                            <!--<th style="min-width:150px;">Requisitioner Name</th>-->
                                            <!--<th style="min-width:150px;">GMP</th>-->
                                            <!--<th style="min-width:150px;">WBS Code</th>-->
                                            <!--<th style="min-width:200px;">Purchase Group Code</th>
                                    <th style="min-width:200px;">Purchase Group Name</th>-->
                                            <!--<th style="min-width:200px;">Project Description</th>-->
                                            <!--<th style="min-width:200px;">Section Head</th>-->
                                            <!--<th style="min-width:100px;">Profit Center</th>-->
                                            <!--<th style="min-width:100px;">Project Type</th>-->
                                            <!--<th style="min-width:100px;">Sub Vertical</th>-->
                                            <th style="min-width:100px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="prDetails in filteredPRList">
                                            <td>
                                                <a role="button" ng-hide="prDetails.expanded" ng-click="prDetails.expanded = true;getPrItems(prDetails)" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                <a role="button" ng-hide="!prDetails.expanded" ng-click="prDetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                                <input type="checkbox" class="top-buffer" ng-model="prDetails.selectPRSForRFQ" ng-attr-title="{{prDetails.selectPRSForRFQ ? 'Remove PR from Requirement' : 'Add PR to Requirement'}}" role="button"
                                                       ng-show="(prDetails.NEW_PR_STATUS === 'Partial' || prDetails.NEW_PR_STATUS==='New')" ng-click="createRFQWithMultiplePR(prDetails)" />
                                            </td>
                                            <td>
                                                {{prDetails.PR_NUMBER}}
                                            </td>
                                            <!--<td>
                                        {{prDetails.PLANT}}
                                    </td>
                                    <td>
                                        {{prDetails.PLANT_NAME}}
                                    </td>-->
                                            <!--<td>
                                        {{prDetails.PR_CREATOR_NAME}}
                                    </td>-->
                                            <td>
                                                {{prDetails.COMPLETED_ITEMS}} / {{prDetails.TOTAL_ITEMS}}
                                            </td>
                                            <td>
                                                {{prDetails.NEW_PR_STATUS}}
                                            </td>



                                            <!--<td>
                                        {{prDetails.RELEASE_DATE}}
                                    </td>-->
                                            <!--<td>
                                        {{prDetails.REQUISITIONERS}}
                                    </td>-->
                                            <!--<td>
                                        {{prDetails.GMP}}
                                    </td>-->
                                            <!--<td>
                                        {{prDetails.WBS_CODE}}
                                    </td>-->
                                            <!--<td>{{prDetails.PURCHASE_GROUP_CODE ? prDetails.PURCHASE_GROUP_CODE : '-'}}</td>
                                    <td>{{prDetails.PURCHASE_GROUP_NAME ? prDetails.PURCHASE_GROUP_NAME : '-'}}</td>-->
                                            <!--<td>{{prDetails.PROJECT_DESCRIPTION}}</td>-->
                                            <!--<td>{{prDetails.SECTION_HEAD}}</td>-->
                                            <!--<td>{{prDetails.PROFIT_CENTER}}</td>-->
                                            <!--<td>{{prDetails.PROJECT_TYPE}}</td>-->
                                            <!--<td>{{prDetails.SUB_VERTICAL}}</td>-->
                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                <!--<a class="fa fa-edit" role="button" style="margin-left:10px;" ng-click="goToPrAction(prDetails.PR_ID)"></a>-->
                                                <i ng-show="(prDetails.NEW_PR_STATUS === 'Partial' || prDetails.NEW_PR_STATUS==='New')" class="fa fa-link" role="button" style="margin-left:10px;" data-target="#linkRFP" data-toggle="modal" aria-hidden="true" ng-click="getPrItems(prDetails)" title="Link to RFP"></i>
                                            </td>
                                        </tr>

                                        <tr ng-repeat-end ng-if="prDetails.expanded">
                                            <td colspan="16">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th> </th>
                                                            <!--<th> Account Assignment Category</th>-->
                                                            <th> Req Id</th>
                                                            <th>Item of Requisition</th>
                                                            <th> Material No. </th>
                                                            <!--<th> CASNR </th>-->
                                                            <th> Short Text </th>
                                                            <!--<th> Desc. </th>
                                                    <th> Long Text </th>-->
                                                            <th> Item Text</th>
                                                            <!--<th> Material Description</th>-->
                                                            <th> Qty </th>
                                                            <th> Unit of Measure</th>
                                                            <th> Requisition Date</th>
                                                            <th> Delivery Date </th>
                                                            <!--<th> Service Line Item </th>-->
                                                            <th> Material Group </th>
                                                            <th>Plant</th>
                                                            <th>Plant Name</th>
                                                            <!--<th> Category </th>-->
                                                            <!--<th> Changed Date</th>-->
                                                            <!--<th> GMP NGMP </th>
                                                    <th> Purchase Group Code </th>
                                                    <th> Purchase Group Name </th>-->
                                                            <th> Requisitioner Name</th>
                                                            <th> Release Date</th>
                                                            <!--<th> Requisitioner Email</th>-->
                                                            <!--<th> Alternate Qty. </th>
                                                    <th> Alternate Units </th>-->
                                                            <!--<th> PR Type </th>
                                                    <th> PR Desc. </th>-->
                                                            <!--<th> PR Note </th>-->
                                                            <!--<th> MFCD Number</th>-->
                                                            <!--<th> WBS Code</th>
                                                    <th> Customer Name </th>
                                                    <th> Profit Center </th>
                                                    <th> Section Head </th>
                                                    <th> Project Type </th>-->
                                                            <!--<th> Deletion Indicator</th>-->
                                                            <!--<th> Changed On Date</th>-->
                                                            <!--<th> Closed Indicator</th>
                                                    <th> Deletion Indicator</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tr ng-repeat="item in prDetails.PRItems">
                                                        <td>
                                                            <input style="margin-left:10px;" title="Add Item to Requirement Posting"
                                                                   ng-show="item.IS_VALID && !item.isSelected && !item.REQ_ID"
                                                                   role="button" ng-click="addToRequirementList(prDetails, item, 'ADD')" type="checkbox" ng-model="item.isCheckedPrItem" />
                                                            <input style="margin-left:10px;" title="Remove Item from Requirement Posting"
                                                                   ng-show="item.IS_VALID && item.isSelected && !item.REQ_ID"
                                                                   role="button" ng-click="addToRequirementList(prDetails, item, 'REMOVE')" type="checkbox" ng-model="item.isCheckedPrItem" />
                                                        </td>

                                                        <!--<td>{{item.ACCOUNT_ASSIGNMENT_CATEGORY}}</td>-->
                                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                            <a ng-if="item.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:item.REQ_ID})">{{item.REQ_ID}}</a>
                                                        </td>
                                                        <td>{{item.ITEM_NUM}}</td>
                                                        <td>{{item.ITEM_CODE}}</td>
                                                        <td>{{item.ITEM_NAME}}</td>
                                                        <td>{{item.ITEM_TEXT}}</td>

                                                        <!--<td>{{item.MATERIAL_DESCRIPTION}}</td>-->
                                                        <td>{{item.REQUIRED_QUANTITY.toFixed(2)}}</td>
                                                        <td>{{item.UNITS}}</td>
                                                        <td>{{convertDate(item.REQUESITION_DATE)}}</td>
                                                        <td>{{convertDate(item.DELIVERY_DATE)}}</td>

                                                        <!--<td>{{item.LEAD_TIME}}</td>-->
                                                        <td>{{item.CategoryCode}}</td>
                                                        <td>{{item.PLANT}}</td>
                                                        <td>{{item.PLANT_NAME}}</td>

                                                        <!--<td>{{item.CategoryName}}</td>-->
                                                        <!--<td>{{convertDate(item.PR_CHANGE_DATE)}}</td>-->
                                                        <td>{{item.REQUISITIONER_NAME}}</td>
                                                        <td>{{prDetails.RELEASE_DATE}}</td>

                                                        <!--<td>{{item.REQUISITIONER_EMAIL}}</td>-->
                                                        <!--<td>{{item.ALTERNATE_QUANTITY}}</td>
                                                <td>{{item.ALTERNATE_UNITS}}</td>-->
                                                        <!--<td>{{item.PR_TYPE}}</td>
                                                <td>{{item.PR_TYPE_DESC}}</td>-->
                                                        <!--<td>{{item.PR_NOTE}}</td>-->
                                                        <!--<td>{{item.MFCD_NUMBER}}</td>-->
                                                        <!--<td>{{item.WBS_CODE}}</td>
                                                <td>{{item.PROJECT_DESCRIPTION}}</td>
                                                <td>{{item.PROFIT_CENTER}}</td>
                                                <td>{{item.SECTION_HEAD}}</td>
                                                <td>{{item.SUB_VERTICAL}}</td>-->
                                                        <!--<td>{{item.LOEKZ}}</td>-->
                                                        <!--<td>{{convertDate(item.ERDAT)}}</td>
                                                <td>{{item.EBAKZ}}</td>-->
                                                        <!--<td>
                                                    <i ng-if="item.IS_VALID" class="fa fa-check text-success" aria-hidden="true"></i>
                                                    <i ng-if="!item.IS_VALID" class="fa fa-times text-danger" aria-hidden="true"></i>
                                                </td>-->
                                                        <!--<td>
                                                    <span ng-if="item.IS_VALID">0</span>
                                                    <span ng-if="!item.IS_VALID">1</span>
                                                </td>-->
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>PRStats.totalPRs)?(PRStats.totalPRs):(pageSizeTemp+9) }} of {{ PRStats.totalPRs }}</strong>
                                <!--<strong>Displaying: {{ pageSizeTemp }} - {{ NumberOfRecords }} of {{ PRStats.totalPRs }}</strong>-->
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin-top:25px;" ng-if="!prDet.prLevel">
                        <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th style="width:1%;text-align:center">Post RFQ</th>
                                        <th style="width:10%;text-align:center">Item Name</th>
                                        <th style="width:5%;text-align:center">Item code</th>
                                        <th style="width:25%;text-align:center">Item Short Text</th>
                                        <th style="width:5%;text-align:center">Material Group</th>
                                        <th style="width:3%;text-align:center">Qty</th>
                                        <th style="width:3%;text-align:center">UOM</th>
                                        <th style="width:2%;text-align:center">PR's</th>
                                        <!--<th style="width:2%;text-align:center">MFCD No.</th>
                                <th style="width:2%;text-align:center">CAS No.</th>-->
                                        <th style="width:2%;text-align:center"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat-start="prItem in itemsList">
                                        <td style="text-align:center">
                                            <a role="button" ng-hide="prItem.expanded" ng-click="prItem.expanded = true;GetPRSbyItem(prItem)" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!prItem.expanded" ng-click="prItem.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                            <input type="checkbox" class="top-buffer" ng-disabled="prItem.IsDisabled" ng-model="prItem.selectForRFQ" ng-click="PostRequirement(prItem);" />
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.ITEM_NAME}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.ITEM_CODE}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.ITEM_DESCRIPTION}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.CategoryName}}
                                        </td>
                                        <td style="text-align:center">
                                            <a style="color:tomato" title="RFQ Quantity:{{prItem.RFQ_QUANTITY.toFixed(2)}}">
                                                {{prItem.RFQ_QUANTITY.toFixed(2)}}
                                            </a>
                                            /
                                            <a style="color:forestgreen" title="Selected Quantity:{{prItem.SELECTED_QUANTITY.toFixed(2)}}">
                                                {{prItem.SELECTED_QUANTITY.toFixed(2)}}
                                            </a>
                                            /
                                            <a style="color:firebrick" title="Total Quantity:{{prItem.OVERALL_ITEM_QUANTITY.toFixed(2)}}">
                                                {{prItem.OVERALL_ITEM_QUANTITY.toFixed(2)}}
                                            </a>
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.UNITS}}
                                        </td>
                                        <td style="text-align:center">
                                            <a style="color:orangered" title="Filterd PR's:{{prItem.FILTERED_PR_COUNT}}">
                                                {{prItem.FILTERED_PR_COUNT}}
                                            </a>
                                            /
                                            <a style="color:forestgreen" title="Total PR's:{{prItem.TOTAL_PR_COUNT}}">
                                                {{prItem.TOTAL_PR_COUNT}}
                                            </a>
                                        </td>
                                        <!--<td style="text-align:center">
                                    {{prItem.MFCD_NUMBER}}
                                </td>
                                <td style="text-align:center">
                                    {{prItem.CASNR}}
                                </td>-->
                                        <td style="text-align:center">
                                            <a style="text-align:center;color:yellowgreen" role="button" ng-click="showPRItemlevelDetails(prItem);"
                                               data-target="#PRItemlevelPopup" data-toggle="modal">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="prItem.expanded">
                                        <td colspan="12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive" style="height:300px;max-height: 400px;overflow-y: auto">
                                                        <!--set-height-->
                                                        <table class="table-striped table table-fixed table-bordered table-sm">
                                                            <thead>
                                                                <tr style="font-weight: bold">
                                                                    <th style="width:2%;text-align:center">
                                                                        <input type="checkbox" ng-model="prItem.isExpanded1" ng-click="unSelectAll(prItem,searchKeyword);prItem.selectForRFQ = false" />
                                                                        <input ng-change="searchPR(prItem.searchKeyword,prItem);" style="width:200px" ng-model="prItem.searchKeyword" type="text" placeholder=" Search Purchase Request No." />
                                                                    </th>
                                                                    <th style="width:2%;text-align:center"> Quantity (UOM)</th>
                                                                    <th style="width:3%;text-align:center"> Purchase Group</th>
                                                                    <th style="width:2%;text-align:center"> Release Date </th>
                                                                    <th style="width:1%;text-align:center"> Items </th>
                                                                    <th style="width:3%;text-align:center"> Plant</th>
                                                                    <th style="width:3%;text-align:center"> Status</th>
                                                                    <!--<th style="width:3%;text-align:center"> Profit Center</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> Section Head</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> WBS Code</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> Project Name</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> GMP</th>-->
                                                                    <th style="width:1%;text-align:center"> Req Id</th>
                                                                    <!--<th> Requested By </th>-->
                                                                    <!--<th> PR Type</th>-->
                                                                    <!--<th style="width:2%;text-align:center"> Created</th>-->
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="pr in prItem.ItemPRS" ng-style="pr.REQ_ID>0 && {'color':'tomato'}">
                                                                <td style="text-align:center"> <input type="checkbox" ng-model="pr.isChecked" ng-disabled="pr.REQ_ID>0" ng-click="consolidate(prItem,prItem.searchKeyword,pr.isChecked,'ITEM');prItem.selectForRFQ = false" /> &nbsp;&nbsp;{{pr.PR_NUMBER}} </td>
                                                                <td style="text-align:center"> {{pr.TOTAL_PR_ITEM_QUANTITY}} ({{pr.UOM}})</td>
                                                                <td style="text-align:center"> {{pr.PURCHASE_GROUP_NAME}}</td>
                                                                <td style="text-align:center"> {{pr.RELEASE_DATE}}</td>
                                                                <td style="text-align:center"> {{pr.TOTAL_ITEMS}} </td>
                                                                <td style="text-align:center"> {{pr.PLANT_NAME}} </td>
                                                                <td style="text-align:center"> {{pr.PR_STATUS}} </td>
                                                                <!--<td style="text-align:center"> {{pr.PROFIT_CENTER}} </td>-->
                                                                <!--<td style="text-align:center"> {{pr.SECTION_HEAD}} </td>-->
                                                                <!--<td style="text-align:center"> {{pr.WBS_CODE}} </td>-->
                                                                <!--<td style="text-align:center"> {{pr.PROJECT_TYPE}} </td>-->
                                                                <!--<td> {{pr.GMP}} </td>-->
                                                                <td style="text-align:center"> {{pr.REQ_ID}} </td>
                                                                <!--<td style="text-align:center"> {{pr.CREATED_DATE}}</td>-->

                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Displaying: {{ pageSizeTemp1 }} - {{ ((pageSizeTemp1 +9)>PRItemStats.totalPRs)?(PRItemStats.totalPRs):(pageSizeTemp1+9) }} of {{ PRItemStats.totalPRs }}</strong>
                            <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-click="setPage1(currentPage1)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>


                    <!--</div>-->
                </div>



                <div class="pull-right">
                    <div class="modal" id="linkRFP" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:100%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">Link RFP/RFQ PR Number-{{PRItems[0].PR_NUMBER}}</h4>
                                </div>
                                <div class="modal-body" style="margin:0px 25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <div class="col-md-12 p-0 scrollbar">
                                                    <!--<label>PR Items</label>
                                                    <input type="text" ng-model="linkRFPDetails.ITEM_CODE" class="form-control" />-->
                                                    <div class="table-responsive" style="{{PRItems.length > 0 ? getStyles() : ''}}" ng-if="PRItems.length> 0">
                                                        <table class="table table-fixed table-bordered" id="prItemTable">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Material No</th>
                                                                    <th scope="col">Short Text</th>
                                                                    <th scope="col">Item Text</th>
                                                                    <th scope="col">RFP Title</th>
                                                                    <th scope="col">RFP Material Name</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr id="prItemTableTr" ng-repeat="product in PRItemsTemp">
                                                                    <td>{{product.ITEM_CODE}}</td>
                                                                    <td>{{product.ITEM_NAME}}</td>
                                                                    <td>{{product.ITEM_TEXT}}</td>
                                                                    <td>
                                                                        <div class="list">
                                                                            <div class="has-feedback">
                                                                                <input ng-disabled="product.IS_DISABLE" class="form-control" 
                                                                                       ng-change="searchRFPs(product);" ng-model="product.search" type="text" 
                                                                                       ng-model-options="{debounce:1000}"
                                                                                       placeholder="Search with Requirement Id/RFP Title">
                                                                                <span class="form-control-feedback">
                                                                                    <i class="fa fa-search"></i>
                                                                                </span>
                                                                            </div>
                                                                            <ul class="items-list" style="width: 300px; max-height: 280px; overflow: auto; z-index: 10; position: absolute;" ng-if="product.RFQS && product.RFQS.length > 0">
                                                                                <li class="col-md-12" ng-disabled="product.IS_DISABLE" ng-repeat="rfqObj in product.RFQS" style="cursor:pointer" ng-click="fillValue(rfqObj,product)">
                                                                                    <span class="col-md-6">{{ rfqObj.requirementId}}</span>
                                                                                    <span class="col-md-6">{{ rfqObj.REQ_TITLE }}</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <select class="form-control" ng-disabled="product.IS_DISABLE" ng-model="product.SELECTED_RFP_PRODUCT_ID" ng-change="selectedRFPDetails(product)" name="rfpMaterialName" ng-options="item.PRODUCT_ID as item.PROD_ID for item in product.REQ_DETAILS"></select>
                                                                    </td>
                                                                    <td style="word-break: break-all;text-align:center">
                                                                        <i class="fa fa-edit" style="cursor:pointer" ng-click="editItem($index,product)"></i>
                                                                        <i class="fa fa-regular fa-map" style="color:greenyellow;cursor:pointer" ng-if="product.SELECTED_RFP_PRODUCT_ID" title="Map To Preview" ng-click="MapToPreview(product)"></i>
                                                                        <!--<i class="fa fa-trash-alt text-danger" title="Delete" ng-click="removeArr($index)"></i>-->
                                                                        <br />
                                                                        <span style="color:red">{{product.ERR_MESSAGE}}</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div ng-if="PR_ITEM_ID_VALIDATE">
                                                        <div class="help-block error logininput text-danger" ng-show="PR_ITEM_ID_VALIDATE">Please Select PR Items.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row m-t-10">
                                            <div class="col-md-12" style="margin-top:15px;" ng-if="PreviewItems.length > 0">
                                                <h4 class="text-center">Preview</h4>
                                                <table class="table  table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>S.no</th>
                                                            <th>PR Short Text</th>
                                                            <th>PR Item Text</th>
                                                            <th>PR Material No.</th>
                                                            <th>RFP Product Name</th>
                                                            <th>RFP Product Code</th>
                                                            <th>RFP Product No.</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="arr in PreviewItems track by $index">
                                                            <td>{{$index + 1}}</td>
                                                            <td style="word-break: break-all;">{{arr.ITEM_NAME}}</td>
                                                            <td style="word-break: break-all;">{{arr.ITEM_TEXT}}</td>
                                                            <td style="word-break: break-all;">{{arr.ITEM_CODE}}</td>
                                                            <td style="word-break: break-all;">{{arr.PROD_ID}}</td>
                                                            <td style="word-break: break-all;color:{{arr.PROD_CODE_EMPTY}}">{{arr.PROD_CODE}}</td>
                                                            <td style="word-break: break-all;color:{{arr.PROD_NO_EMPTY}}">{{arr.PROD_NO}}</td>
                                                            <td style="word-break: break-all;text-align:center" title="Delete">
                                                                <i class="fa fa-trash-alt text-danger" ng-click="removeArr($index,arr)"></i>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal"  ng-click="LinkToRFP()" class="btn btn-info">Link</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>



            <div class="modal" id="PRItemlevelPopup" tabindex="-1">
                <div class="modal-dialog" style="width: 98%;height:100%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                            <h3></h3>
                        </div>
                        <div class="modal-body">
                            <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                <div>
                                    <div class="box-title">
                                        <h4></h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                            <table class="table table-hover table-striped table-bordered table-sm">
                                                <thead>
                                                    <tr style="font-weight: bold">
                                                        <th> Material No. </th>
                                                        <th> Material Group </th>
                                                        <!--<th> Category </th>-->
                                                        <th> Requisition Date</th>
                                                        <th> Requisitioner Name</th>
                                                        <!--<th> Requisitioner Email</th>-->
                                                        <th> Short Text </th>
                                                        <!--<th> HSN Code </th>-->
                                                        <th> Desc. </th>
                                                        <!--<th> Item Text</th>-->
                                                        <th> Qty </th>
                                                        <th> Qty Units</th>
                                                        <!--<th> Delivery Date </th>-->
                                                        <!--<th> Service Line Item </th>-->
                                                        <th> Alternate Qty. </th>
                                                        <th> Alternate Units </th>
                                                        <!--<th> PR Type </th>
                                                <th> PR Desc. </th>-->
                                                        <!--<th> PR Note </th>-->
                                                        <!--<th> CASNR </th>
                                                <th> MFCD Number</th>-->
                                                        <!--<th> UOM</th>-->
                                                        <!--<th> Material Description </th>-->
                                                        <!--<th> Account Assignment Category </th>
                                                <th> WBS Code </th>
                                                <th> Customer Name </th>
                                                <th> Profit Center </th>
                                                <th> Section Head </th>
                                                <th> Project Type </th>-->
                                                        <!--<th> Service Long Text </th>-->
                                                        <!--<th> Deletion Indicator </th>
                                                <th> Changed On Date </th>
                                                <th> Closed Indicator </th>-->
                                                        <th> Req Id</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ItemsListPopup">
                                                        <td>{{item.ITEM_CODE}}</td>
                                                        <td>{{item.CategoryCode}}</td>
                                                        <!--<td>{{item.CategoryName}}</td>-->
                                                        <td>{{convertDate(item.REQUESITION_DATE)}}</td>
                                                        <td>{{item.REQUISITIONER_NAME}}</td>
                                                        <!--<td>{{item.REQUISITIONER_EMAIL}}</td>-->
                                                        <td>{{item.ITEM_NAME}}</td>
                                                        <!--<td>{{item.HSN_CODE}}</td>-->
                                                        <td>{{item.ITEM_DESCRIPTION}}</td>
                                                        <!--<td>{{item.ITEM_TEXT}}</td>-->
                                                        <td>{{item.REQUIRED_QUANTITY.toFixed(2)}}</td>
                                                        <td>{{item.UNITS}}</td>
                                                        <!--<td>{{item.DELIVERY_DATE}}</td>-->
                                                        <!--<td>{{item.LEAD_TIME}}</td>-->
                                                        <td>{{item.ALTERNATE_QUANTITY.toFixed(2)}}</td>
                                                        <td>{{item.ALTERNATE_UNITS}}</td>

                                                            <!--<td>{{item.PR_TYPE}}</td>
                                                <td>{{item.PR_TYPE_DESC}}</td>-->
                                                            <!--<td>{{item.PR_NOTE}}</td>-->
                                                            <!--<td>{{item.CASNR}}</td>
                                                <td>{{item.MFCD_NUMBER}}</td>-->
                                                            <!--<td>{{item.MATERIAL_DESCRIPTION}}</td>-->
                                                            <!--<td>{{item.ACCOUNT_ASSIGNMENT_CATEGORY}}</td>
                                                <td>{{item.WBS_CODE}}</td>
                                                <td>{{item.PROJECT_DESCRIPTION}}</td>
                                                <td>{{item.PROFIT_CENTER}}</td>
                                                <td>{{item.SECTION_HEAD}}</td>
                                                <td>{{item.SUB_VERTICAL}}</td>-->
                                                            <!--<td>{{item.PROJECT_TYPE}}</td>-->
                                                            <!--<td>{{item.LOEKZ}}</td>
                                                <td>{{convertDate(item.ERDAT)}}</td>
                                                <td>{{item.EBAKZ}}</td>-->
                                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                            <a ng-if="item.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:item.REQ_ID})">{{item.REQ_ID}}</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>
                                                Available PR's in the item : {{ItemsListPopup[0].ITEM_NAME}}
                                            </h2>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive" style="height:300px;max-height: 400px;overflow-y: auto">
                                                <!--set-height-->
                                                <table class="table-striped table table-fixed table-bordered table-sm">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th style="width:2%;text-align:center">
                                                                <input ng-change="filterPRsPopup(prItem.searchKeyword);" class="form-control" style="width:200px" ng-model="prItem.searchKeyword" type="text" placeholder=" Search Purchase Request No." />
                                                            </th>
                                                            <th style="width:2%;text-align:center"> Quantity </th>
                                                            <th style="width:3%;text-align:center"> Purchase Group</th>
                                                            <th style="width:2%;text-align:center"> Release Date </th>
                                                            <th style="width:1%;text-align:center"> Items </th>
                                                            <th style="width:3%;text-align:center"> Plant</th>
                                                            <th style="width:3%;text-align:center"> Status</th>
                                                            <!--<th style="width:3%;text-align:center"> Profit Center</th>-->
                                                            <!--<th style="width:3%;text-align:center"> Section Head</th>-->
                                                            <!--<th style="width:3%;text-align:center"> WBS Code</th>-->
                                                            <!--<th style="width:3%;text-align:center"> Project Name</th>-->
                                                            <!--<th style="width:3%;text-align:center"> Deletion Indicator</th>
                                                    <th style="width:3%;text-align:center"> Changed On Date</th>
                                                    <th style="width:3%;text-align:center"> Closed Indicator</th>-->
                                                            <!--<th style="width:3%;text-align:center"> Delv. Date</th>-->
                                                            <!--<th style="width:1%;text-align:center"> GMP</th>-->
                                                            <th style="width:1%;text-align:center"> Req Id</th>

                                                            <!--<th> Requested By </th>-->
                                                            <!--<th> PR Type</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tr ng-repeat="pr in ItemPRSPopUp.slice(((currentPage2-1)*itemsPerPage2), ((currentPage2)*itemsPerPage2))" ng-style="pr.REQ_ID>0 && {'color':'tomato'}">
                                                        <td style="text-align:center">
                                                            &nbsp;&nbsp;{{pr.PR_NUMBER}}
                                                        </td>
                                                        <td style="text-align:center"> {{pr.TOTAL_PR_ITEM_QUANTITY}}</td>
                                                        <td style="text-align:center"> {{pr.PURCHASE_GROUP_NAME}}</td>
                                                        <td style="text-align:center"> {{pr.RELEASE_DATE}}</td>
                                                        <td style="text-align:center"> {{pr.TOTAL_ITEMS}} </td>
                                                        e=
                                                        <td style="text-align:center"> {{pr.PLANT_NAME}} </td>
                                                        <td style="text-align:center"> {{pr.PR_STATUS}} </td>

                                                            <!--<td style="text-align:center"> {{pr.PROFIT_CENTER}} </td>-->
                                                            <!--<td style="text-align:center"> {{pr.SECTION_HEAD}} </td>-->
                                                            <!--<td style="text-align:center"> {{pr.WBS_CODE}} </td>-->
                                                            <!--<td style="text-align:center"> {{pr.PROJECT_TYPE}} </td>-->
                                                            <!--<td style="text-align:center">{{pr.LOEKZ}}</td>
                                                <td style="text-align:center">{{convertDate(pr.ERDAT)}}</td>
                                                <td style="text-align:center">{{pr.EBAKZ}}</td>-->
                                                            <!--<td style="text-align:center"> {{pr.GMP}} </td>-->
                                                        <td style="text-align:center"> {{pr.REQ_ID}} </td>

                                                    </tr>
                                                </table>
                                                <ul uib-pagination total-items="totalItems2" ng-model="currentPage2" items-per-page="itemsPerPage2" max-size="maxSize2" ng-change="pageChanged2()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="pull-right">
                <div class="modal" id="templateSelection" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                <h4 class="modal-title">{{(filters.selectedRequirement && filters.selectedRequirement.requirementId) ? 'Click to Continue' : 'Select Template'}} </h4>
                            </div>
                            <div class="modal-body" style="margin:25px;">
                                <div class="pmbb-view" style="overflow-wrap: break-word;">
                                    <div class="row">
                                        <div class="col-md-12" ng-hide="filters.selectedRequirement && filters.selectedRequirement.requirementId">
                                            <select data-placeholder="Select a Template..." name="template"
                                                    ng-model="selectedTemplate" ng-options="value.TEMPLATE_NAME for value in prmTemplates" class="form-control p-0"></select>
                                        </div>
                                        <div class="col-md-12" ng-if="filters.selectedRequirement && filters.selectedRequirement.requirementId">
                                            Selected Requirement: <strong>{{filters.selectedRequirement.REQ_TITLE}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" ng-disabled="!selectedTemplate.TEMPLATE_ID" ng-click="navigateToRequirement()" class="btn btn-info">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
