﻿<div class="col-md-12">

    <div class="col-md-12">

        <script type="text/ng-template" id="nodes_category_products.html">
            <div data-nodrag>
                <label style="width:12px" role="button">
                    <span data-nodrag ng-if="node.nodes && node.nodes.length > 0" ng-init="node.isExpand = false" ng-click="toggle(this);node.isExpand = !node.isExpand" class="glyphicon-arrow-down"
                          ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                </label>
                <input type="checkbox" ng-model="node.nodeChecked" ng-click="checkChanged(node, this);productsLimit = 100;" /><label>&nbsp;{{node.catName}}</label>
                <label ng-if="node.nodes && node.nodes.length > 0" class="font-bold"><!--({{node.nodes.length}})--></label>
            </div>
            <div ng-init="limit = 100">
                <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                    <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_category_products.html'" collapsed="true"></li>
                    <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                        <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                    </li>                   
                </ul>
            </div>

        </script>
            <div class="row" style="color:#777"></div>
            <div class="row" style="color:#777">
                <div class="col-md-4">
                    <div class="col-sm-12">
                        <!--<strong><u>Categories</u></strong>-->
                        <br />
                    </div>
                    <div class="col-sm-12">
                        <div ui-tree id="tree-root">
                            <ul ui-tree-nodes ng-model="parentNodes">
                                <li ng-repeat="node in parentNodes" ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                            </ul>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>