﻿<style>
    .header-details-row .col-md-2 {
        width:14.2%;
    }

    .item-details-row .col-md-2 {
        width: 14.2%;
    }

    .errspan {
        float: right;
        margin-right: 6px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
    }
    .text-muted{
        max-height: 250px;
        overflow-y: auto;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="poDomesticZSDMCtrl">
                    <div class="col-sm-12">
                        <!--<div class="row"><strong>Domestic</strong></div>-->

                        <div class="row white-box">
                            <div class="col-md-6">
                                <label>Select Plant</label>
                                <select data-placeholder="Select a Plant..." name="selectPlant" ng-model="currentUIPlant"
                                        ng-options="value.LOCATION for value in PlantsList" ng-change="filterSelectionChange()"
                                        class="form-control p-0"></select>
                            </div>
                            <div class="col-md-6" ng-show="currentUIPlant.PLANT_CODE">
                                <label>Select Vendor</label>
                                <select data-placeholder="Select a vendor..." name="selectVendor" ng-model="currentUIVendor"
                                        ng-options="value.vendorCompany for value in selectedVendors"
                                        ng-change="filterSelectionChange()" class="form-control p-0"></select>
                            </div>
                            
                        </div>

                        

                        <div class="row white-box header-details-row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Vendor</label>
                                        <input type="text" ng-model="formDetails.VENDOR_CODE" disabled name="prno" id="prno" class="form-control" maxlength="10" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Purchase Organization</label>
                                        <input ng-disabled="true" type="text" value="1500" name="prno" id="prno" class="form-control" maxlength="4" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Company Code</label>
                                        <input ng-disabled="true" type="text" value="CPIL" disabled name="prno" id="prno" class="form-control" maxlength="4" />
                                    </div>

                                    <div class="col-md-2">
                                        <label>Payment Terms</label>
                                        <!--<input ng-disabled="false" type="text" ng-model="formDetails.PAYMENT_TERMS" name="prno" id="prno" class="form-control" maxlength="4" />-->
                                        <select ng-model="formDetails.PAYMENT_TERMS" class="form-control"
                                                data-placeholder="Select a Payment Code" id="reqType">
                                            <option value=0001 selected>0001</option>
                                            <option value=0002 selected>0002</option>
                                            <option value=0003 selected>0003</option>
                                            <option value=0004 selected>0004</option>
                                            <option value=0005 selected>0005</option>
                                            <option value=0006 selected>0006</option>
                                            <option value=0007 selected>0007</option>
                                            <option value=0008 selected>0008</option>
                                            <option value=0009 selected>0009</option>
                                            <option value=Z018 selected>Z018</option>
                                            <option value=Z019 selected>Z019</option>
                                            <option value=Z020 selected>Z020</option>
                                            <option value=Z023 selected>Z023</option>
                                            <option value=Z024 selected>Z024</option>
                                            <option value=Z025 selected>Z025</option>
                                            <option value=Z026 selected>Z026</option>
                                            <option value=Z027 selected>Z027</option>
                                            <option value=Z028 selected>Z028</option>
                                            <option value=Z029 selected>Z029</option>
                                            <option value=Z030 selected>Z030</option>
                                            <option value=Z031 selected>Z031</option>
                                            <option value=Z032 selected>Z032</option>
                                            <option value=Z033 selected>Z033</option>
                                            <option value=Z034 selected>Z034</option>
                                            <option value=Z035 selected>Z035</option>
                                            <option value=Z036 selected>Z036</option>
                                            <option value=Z037 selected>Z037</option>
                                            <option value=Z075 selected>Z075</option>
                                            <option value=Z45A selected>Z45A</option>
                                            <option value=Z45C selected>Z45C</option>
                                            <option value=Z48A selected>Z48A</option>
                                            <option value=Z48C selected>Z48C</option>
                                            <option value=ZADV selected>ZADV</option>
                                            <option value=ZC23 selected>ZC23</option>
                                            <option value=ZC24 selected>ZC24</option>
                                            <option value=ZC26 selected>ZC26</option>
                                            <option value=ZC27 selected>ZC27</option>
                                            <option value=ZC32 selected>ZC32</option>
                                            <option value=ZC33 selected>ZC33</option>
                                            <option value=ZC34 selected>ZC34</option>
                                            <option value=ZC35 selected>ZC35</option>
                                            <option value=ZC36 selected>ZC36</option>
                                            <option value=ZC38 selected>ZC38</option>
                                            <option value=ZC75 selected>ZC75</option>
                                            <option value=ZC90 selected>ZC90</option>
                                            <option value=ZLC0 selected>ZLC0</option>
                                            <option value=ZLC3 selected>ZLC3</option>
                                            <option value=ZLC6 selected>ZLC6</option>
                                            <option value=ZLC9 selected>ZLC9</option>
                                            <option value=ZV07 selected>ZV07</option>
                                            <option value=ZV0T selected>ZV0T</option>
                                            <option value=ZV10 selected>ZV10</option>
                                            <option value=ZV15 selected>ZV15</option>
                                            <option value=ZV30 selected>ZV30</option>
                                            <option value=ZV45 selected>ZV45</option>
                                            <option value=ZV60 selected>ZV60</option>
                                            <option value=ZVDA selected>ZVDA</option>
                                            <option value=Z001 selected>Z001</option>
                                            <option value=Z002 selected>Z002</option>
                                            <option value=Z003 selected>Z003</option>
                                            <option value=Z004 selected>Z004</option>
                                            <option value=Z005 selected>Z005</option>
                                            <option value=Z006 selected>Z006</option>
                                            <option value=Z007 selected>Z007</option>
                                            <option value=Z008 selected>Z008</option>
                                            <option value=Z009 selected>Z009</option>
                                            <option value=Z010 selected>Z010</option>
                                            <option value=Z011 selected>Z011</option>
                                            <option value=Z012 selected>Z012</option>
                                            <option value=Z013 selected>Z013</option>
                                            <option value=Z014 selected>Z014</option>
                                            <option value=Z015 selected>Z015</option>
                                            <option value=Z016 selected>Z016</option>
                                            <option value=Z017 selected>Z017</option>
                                            <option value=Z021 selected>Z021</option>
                                            <option value=Z022 selected>Z022</option>
                                            <option value=Z038 selected>Z038</option>
                                            <option value=Z039 selected>Z039</option>
                                            <option value=Z040 selected>Z040</option>
                                            <option value=Z041 selected>Z041</option>
                                            <option value=Z045 selected>Z045</option>
                                            <option value=Z060 selected>Z060</option>
                                            <option value=Z076 selected>Z076</option>
                                            <option value=Z21A selected>Z21A</option>
                                            <option value=Z21C selected>Z21C</option>
                                            <option value=Z24A selected>Z24A</option>
                                            <option value=Z25A selected>Z25A</option>
                                            <option value=Z25C selected>Z25C</option>
                                            <option value=Z28A selected>Z28A</option>
                                            <option value=Z28C selected>Z28C</option>
                                            <option value=Z30A selected>Z30A</option>
                                            <option value=Z35A selected>Z35A</option>
                                            <option value=Z35C selected>Z35C</option>
                                            <option value=Z38A selected>Z38A</option>
                                            <option value=Z38C selected>Z38C</option>
                                            <option value=Z39A selected>Z39A</option>
                                            <option value=Z39C selected>Z39C</option>
                                            <option value=Z44A selected>Z44A</option>
                                            <option value=Z44C selected>Z44C</option>
                                            <option value=Z52A selected>Z52A</option>
                                            <option value=Z52C selected>Z52C</option>
                                            <option value=Z63A selected>Z63A</option>
                                            <option value=ZC07 selected>ZC07</option>
                                            <option value=ZC21 selected>ZC21</option>
                                            <option value=ZC30 selected>ZC30</option>
                                            <option value=ZC44 selected>ZC44</option>
                                            <option value=ZC45 selected>ZC45</option>
                                            <option value=ZC60 selected>ZC60</option>
                                            <option value=ZC63 selected>ZC63</option>
                                        </select>
                                    </div>
                                    <!--<div class="col-md-2">
                                        <label>Document Type</label>
                                        <input ng-disabled="true" type="text" ng-model="formDetails.DOC_TYPE" name="DOC_TYPE" id="prno" class="form-control" required maxlength="4" />
                                    </div>-->
                                    <div class="col-md-2">
                                        <label>Currency</label>
                                        <input type="text" ng-model="formDetails.PO_CURRENCY" disabled name="prno" id="prno" class="form-control" maxlength="5" />
                                    </div>
                                </div>
                                <div class="row">
                                    <!--<div class="col-md-2">
        <label>Creator Name</label>
        <input ng-disabled="true" type="text" ng-model="formDetails.PO_CREATOR" disabled name="prno" id="prno" class="form-control" maxlength="12" />
    </div>-->
                                    <div class="col-md-2">
                                        <label>Inco Terms</label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.INCO_TERMS1" name="prno" id="prno" class="form-control" maxlength="3" />
                                    </div>
                                    <!--<div class="col-md-2">
        <label>Inco Terms Description</label>
        <input ng-disabled="false" type="text" ng-model="formDetails.INCO_TERMS2" name="INCO_TERMS2" id="prno" class="form-control" maxlength="28" />
    </div>-->
                                    <div class="col-md-2">
                                        <label>Purchase Group</label>
                                        <input type="text" disabled ng-model="formDetails.PURCHASE_GROUP_CODE" name="prno" id="prno" class="form-control" maxlength="3" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Tax Code</label>
                                        <!--<select ng-disabled="false" ng-model="formDetails.TAX_CODE" class="form-control"
                                               ng-change="updateItemTaxCode(formDetails)" data-placeholder="Select a Tax Code" id="reqType">
                                            <option value="">Select</option>
                                            <option value="V0" selected>V0</option>
                                            <option value="V1">V1</option>
                                        </select>-->
                                        <input ng-disabled="false" type="text" ng-model="formDetails.TAX_CODE" ng-change="updateItemTaxCode(formDetails)" name="prno" id="prno" class="form-control"/>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                        <div class="row white-box item-details-row" ng-repeat="item in formDetails.items" ng-if="!item.isDeleted">
                            <div class="col-md-12">
                                <a class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample{{$index+1}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{$index+1}}">Item {{$index+1}}</a>
                                <div class="col-md-1 pull-right">
                                    <a class="btn btn-sm btn-danger waves-effect waves-light" ng-if="vendorAssignments.length > 1" ng-click="deleteItem(item);"> <i class="fa fa-trash-alt m-r-5"></i> <span></span></a>
                                </div>
                                <div class="collapse" id="multiCollapseExample{{$index+1}}">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>PR Number</label>
                                            <input ng-disabled="false" type="text" ng-model="item.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>PR Line Item</label>
                                            <input ng-disabled="false" type="text" ng-model="item.ITEM_OF_REQUESITION" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Material Type</label>
                                            <input ng-disabled="false" type="text" ng-model="item.MATERIAL_TYPE" name="prno" id="prno" class="form-control" maxlength="4" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Material Code</label>
                                            <input ng-disabled="(item.PR_NUMBER)?true:false" type="text" ng-model="item.MATERIAL_CODE" name="prno" id="prno" class="form-control" maxlength="18" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Plant</label>
                                            <input ng-disabled="false" type="text" ng-model="item.PLANT" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Quantity</label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,12}(\.\d{0,2})?$/).test(this.value))) return false;" 
                                                   ng-model="item.QUANTITY" ng-change="changeQty(item)" name="Quantity" id="Quantity" class="form-control" required />
                                            <span style="color:red" ng-show="item.quantityError == true">
                                                Quantity is required.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-2">
                                            <label>PO Price</label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;"
                                                   ng-model="item.PO_PRICE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Discount Value </label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" ng-model="item.DISCOUNT_VALUE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Tax Code</label>
                                            <input ng-disabled="false" type="text" ng-model="item.TAX_CODE" name="prno" id="prno" class="form-control" />
                                            <!--<select ng-model="item.TAX_CODE" class="form-control"
                                                    data-placeholder="Select a Tax Code" id="reqType">
                                                <option value="">Select</option>
                                                <option value="V0" selected>V0</option>
                                                <option value="V1">V1</option>
                                            </select>-->
                                        </div>
                                    </div>
                                    
                                    <div class="row">

                                        <div class="col-md-2">
                                            <label>PO UOM</label>
                                            <input ng-disabled="false" type="text" ng-model="item.PO_UOM" name="prno" id="prno" class="form-control" maxlength="3" />
                                        </div>

                                        <!--<div class="col-md-2">
                                            <label>Order Price Unit(Purchasing)</label>
                                            <input ng-disabled="false" type="text" ng-model="item.ORDER_PRICE_UNIT" name="prno" id="prno" class="form-control" maxlength="3" />
                                        </div>-->
                                        <div class="col-md-2">
                                            <label>Net Price</label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,10}(\.\d{0,1})?$/).test(this.value))) return false;" 
                                                   ng-model="item.PO_NETPRICE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Net Price in PO </label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,10}(\.\d{0,1})?$/).test(this.value))) return false;" 
                                                   ng-model="item.NET_PRICE_PUR_DOC" name="prno" id="prno" class="form-control" />
                                        </div>
                                    </div>                                  
                                </div>
                            </div>
                        </div>
                        <div class="row white-box item-details-row">
                            <div class="col-md-3 pull-right">
                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-click="cancel()" type="button"><span>Cancel</span></button>
                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-click="submitPOToSAP(false)" type="button"><span>Generate PO</span></button>
                                <!--<button class="btn btn-info btn-sm waves-effect waves-light" ng-click="submitPOToSAP(true)" type="button"><span>Save PO As Draft</span></button>-->
                            </div>
                        </div>
                        <div class="row white-box item-details-row" ng-if="POServiceStatusText">
                            <div class="col-md-12 text-center">
                                <p class="text-primary font-weight-bold"><strong>{{POServiceStatusText}}</strong></p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>