﻿<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="poCreateInvoiceCtrl">

                <div class="white-box">
                    <div class="row">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-12  m-b-30">
                                    <div class="col-md-3">
                                        <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.PO_NUMBER)}">
                                            <label class="fg-label"><strong>PO Number</strong></label>
                                            <input type="text" ng-disabled="true" ng-model="poNumber" name="poNumber" id="poNumber" class="form-control fg-input" />
                                        </div>
                                    </div>
                                    <!--<div class="col-md-3">
                                        <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.CUSTOMER_NAME)}">
                                            <label class="fg-label"><strong>Customer Name</strong></label>
                                            <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.VENDOR_COMPANY" name="customerName" id="customerName" class="form-control fg-input" />
                                        </div>
                                    </div>-->
                                    <!--<div class="col-md-3">
                                        <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.VENDOR_CODE)}">
                                            <label class="fg-label"><strong>Vendor Code</strong></label>
                                            <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.VENDOR_CODE" name="vendorCode" id="vendorCode" class="form-control fg-input" />
                                        </div>
                                    </div>-->
                                    <!--<div class="col-md-3" ng-if="isCustomer">
                                        <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.PAYMENT_TERMS)}">
                                            <label class="fg-label"><strong>Payment Terms</strong></label>
                                            <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.PAYMENT_TERMS" name="paymentTerms" id="paymentTerms" class="form-control fg-input" />
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  m-b-30">
                                    <div class="col-md-3">
                                        <label>Invoice Number<span class="text-danger"> *</span></label>
                                        <input type="text" ng-model="filteredPendingPOsList.REF_DOC_NUMBER" name="refDocNumber" id="refDocNumber" class="form-control fg-input" />
                                        <!--<small class="help-block error logininput text-danger"
                                               ng-show="checkInvoiceUniqueResult">Invoice number already exists</small>-->
                                        <span class="text-danger" ng-show="refDocNumberError">Please enter Invoice Number</span>
                                    </div>
                                    <!--<div class="col-md-3">
                                        <label>Invoice Number</label>
                                        <input type="text" ng-change="checkUserUniqueResult('INVOICE',filteredPendingPOsList.INVOICE_NUMBER)" ng-model="filteredPendingPOsList.INVOICE_NUMBER" name="invoiceNumber" id="invoiceNumber" class="form-control fg-input" />
                                        <small class="help-block error logininput text-danger"
                                               ng-show="checkInvoiceUniqueResult">Invoice number already exists</small>
                                        <span class="text-danger" ng-show="invoiceNumberError">Please enter Invoice Number</span>
                                    </div>-->
                                    <div class="col-md-3">
                                        <label>Invoice Date<span class="text-danger"> *</span></label>
                                        <div class="col-md-12" moment-picker="filteredPendingPOsList.INVOICE_DATE_1" format="DD-MM-YYYY" min-date="maxDateMoment">
                                            <input class="form-control" placeholder="Select a date" ng-model="filteredPendingPOsList.INVOICE_DATE_1" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                        <span class="text-danger" ng-show="invoiceDateError">Please enter Invoice Date</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table-striped table-bordered table z-depth-1 clear-both">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">PO Line item</th>
                                                <th style="text-align:center;">Item Code</th>
                                                <th style="text-align:center;"><strong>Item Name</strong></th>
                                                <th style="text-align:center"><strong>Invoice Quantity(Remaining)</strong></th>
                                                <th style="text-align:center"><strong>Rate</strong></th>
                                                <th style="text-align:center"><strong>IGST(%)</strong></th>
                                                <th style="text-align:center"><strong>CGST(%)</strong></th>
                                                <th style="text-align:center"><strong>SGST(%)</strong></th>
                                                <!--<th style="text-align:center"><strong>Amount</strong></th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in pendingPOItems">
                                                <td>{{item.PO_LINE_ITEM}}</td>
                                                <td>{{item.PRODUCT_CODE}}</td>
                                                <td>{{item.PRODUCT_NAME}}</td>
                                                <td>{{item.INVOICE_QTY}}</td>
                                                <td>{{item.NET_PRICE}}</td>
                                                <td>{{item.IGST}}</td>
                                                <td>{{item.CGST}}</td>
                                                <td>{{item.SGST}}</td>
                                                <!--<td>{{item.NET_PRICE}}</td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="col-md-12">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="text-align:right">
                                        <div class="col-md-12">
                                            <button class="btn btn-info btn-file btn-new-look" ng-click="saveInvoice()" type="submit">Save</button>
                                            <button class="btn btn-info btn-file btn-new-look" ng-click="cancelInvoice()" type="submit">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>
