﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div id="widget">
                    <div class="white-box"  data-ng-controller="costComparisionsQcsAuditCtrl">

                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="center-block">QUOTATIONS&nbsp;COMPARATIVE&nbsp;STATEMENT</h2>
                                <h4>RFQ Id: {{requirementDetails.requirementID}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Title: {{requirementDetails.title}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Audit Version : {{verID}}</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="dropdown pull-right" ng-if="!htmlToCanvasSaveLoading">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="htmlToCanvasSave('jpg');" role="button">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .JPEG</a>
                                        </li>
                                        <li ng-click="htmlToCanvasSave('png');" role="button" ng-hide="true">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .PNG</a>
                                        </li>
                                    </ul>
                                </div>
                                <img ng-if="htmlToCanvasSaveLoading" src="img/logos/acadslogo_black.png" ng-click="htmlToCanvasSaveLoading=false" class="pull-right" width="100" height="50">
                            </div>

                        </div>

                        <div class="white-box">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button class="btn btn-info btn-sm"
                                                ng-click="BacktoAudit(requirementDetails.requirementID)"
                                                value="Export to Excel">
                                            <i class="fas fa-chevron-circle-left"></i>
                                            Go Back
                                        </button>
                                    </div>
                                    <div class="col-md-10 text-right">
                                        <span ng-if="1==2"><input type="checkbox" ng-model="requirementDetails.includeGstInCal" /> Include Taxes &nbsp; &nbsp; &nbsp;</span>
                                        <button class="btn btn-info btn-sm" ng-show="editForm" ng-click="editFormPage()" ng-if="1==2">View QCS</button>
                                        <button class="btn btn-info btn-sm" ng-show="!editForm && requirementDetails.status != 'STARTED' && isQCSFormdisabled" ng-click="editFormPage()" ng-if="1==2">Edit QCS</button>
                                        <button class="btn btn-info btn-sm"
                                                onclick="tableToExcel('testTable', 'Comparitives')"
                                                value="Export to Excel"
                                                ng-show="!editForm">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            Export to Excel
                                        </button>
                                        <button class="btn btn-info btn-sm"
                                                ng-click="isTechSpecExport = true;exportTechSpec()"
                                                value="Export to Excel"
                                                ng-show="!editForm">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            Export Tech Spec
                                        </button>
                                    </div>
                                    <div class="col-md-2 text-right" ng-if="1==2">
                                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="fa fa-user" aria-hidden="true"></i> Vendors
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="vendor in qcsVendors" style="cursor:pointer;">
                                                <a ng-click="isVendorVisible(vendor)">
                                                    <i ng-class="(vendor.isSelected == true ? 'fa fa-check':'fa')" aria-hidden="true"></i> {{vendor.vendorCompany}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <br />
                                <div class="table-responsive" double-scroll-bar-horizontal>
                                    <br />
                                    <table id="testTable" class="table" style="width:100%;">
                                        <tr style="background-color:lightblue;">
                                            <td style="text-align:center;" colspan="1" rowspan="1">

                                                <img ng-hide="true" src="E:/BASH/centuryply/PRMServices/js/resources/images/client_logo_pdf.png" class="dark-logo" style="width:149px;height:67px;" />
                                                <!--<img ng-hide="true" src="D:/Inetpub/vhosts/prm360.com/centuryply.prm360.com/WEBDEV/js/resources/images/client_logo_pdf.png" class="dark-logo" style="width:149px;height:67px;" />-->
                                                <!--<img ng-hide="true" src="https://centuryply.prm360.com/webdev/js/resources/images/client_logo_pdf.png" class="dark-logo" style="width:149px;height:67px;" />-->
                                                <img src="js/resources/images/client_logo.png" class="dark-logo" style="width:150px;height:64px;" />

                                            </td>
                                            <td colspan="{{requirementDetails.auctionVendors.length + 6}}" style="border:1px 1px 1px 0px solid black;text-align:center;">
                                                <h3>
                                                    <strong>QUOTATIONS&nbsp;COMPARATIVE&nbsp;STATEMENT</strong><br />
                                                    RFQ Id: {{requirementDetails.requirementID}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Title: {{requirementDetails.title}}
                                                </h3>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue;">
                                            <td colspan="2" style="border:1px solid black;">
                                                <strong>Plant</strong>
                                            </td>
                                            <td colspan="3" style="border:1px solid black;">
                                                {{qcsID > 0 ? qcsID : '-'}}
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td colspan="4">
                                                            <strong>
                                                                {{vendor.companyName}} ({{vendor.selectedVendorCurrency}}) <strong>Rank : {{CalculateRankBasedOnLandingPrice(vendor)}}</strong>
                                                                <br />

                                                                <small ng-if="vendor.isQuotationRejected == -1">( QP: Not viewed )</small>
                                                                <small ng-if="vendor.isQuotationRejected == 0" style="color:green">( QP: Approved )</small>
                                                                <small ng-if="vendor.isQuotationRejected == 1" style="color:red;">( QP: Rejected )</small>

                                                                <span ng-if="requirementDetails.status != 'UNCONFIRMED' && requirementDetails.status != 'NOTSTARTED' && requirementDetails.status != 'STARTED'">
                                                                    <small ng-if="vendor.isRevQuotationRejected == -1">( NP: Not viewed )</small>
                                                                    <small ng-if="vendor.isRevQuotationRejected == 0" style="color:green">( QP: Approved )</small>
                                                                    <small ng-if="vendor.isRevQuotationRejected == 1" style="color:red;">( QP: Rejected )</small>
                                                                </span>
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td colspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                &nbsp;
                                                            </strong>
                                                        </td>
                                                        <td colspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                Last Purchase Details
                                                            </strong>
                                                        </td>
                                                        <td colspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                &nbsp;
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" style="background-color:lightblue;border:1px solid black;vertical-align:middle">
                                                S.NO
                                            </td>
                                            <td rowspan="2" style="background-color:lightblue;border:1px solid black;vertical-align:middle">
                                                HSN / SAC (HSN from RFQ)
                                            </td>
                                            <td rowspan="2" style="background-color:lightblue;border:1px solid black;vertical-align:middle">
                                                ITEM DESCRIPTION (Product name)
                                            </td>
                                            <td rowspan="2" style="background-color:lightblue;border:1px solid black;vertical-align:middle">
                                                QTY UOM
                                            </td>
                                            <td rowspan="2" style="background-color:lightblue;border:1px solid black;vertical-align:middle">
                                                DELIVERY LOCATION
                                            </td>

                                        </tr>
                                        <tr>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" style="background-color:lightblue;border:1px solid black;" ng-if="!isTechSpecExport && vendor.isVisible">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;"
                                                            title="QTY DISTRIBUTED">
                                                            <strong>
                                                                QTY DISTRIBUTED
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;"
                                                            title="QTD RATE">
                                                            <strong>
                                                                QTD RATE
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;"
                                                            title="DISCOUNT">
                                                            <strong>
                                                                DIS (%)
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;"
                                                            title="FINAL RATE PER UNIT">
                                                            <strong>
                                                                Final Rate Per Unit <br /> <small><small>(FRP)</small></small>
                                                            </strong>
                                                        </td>

                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;"
                                                            title="INITIAL TOTAL AMOUNT = QTD x QUANTITY">
                                                            <strong>
                                                                Init Total Amount <br /> <small><small>(QTD x QTY)</small></small>
                                                            </strong>
                                                        </td>

                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;"
                                                            title="REVISED TOTAL AMOUNT = FRP x QUANTITY">
                                                            <strong>
                                                                Rev Total Amount <br /> <small><small>(FRP x QTY)</small></small>
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;" ng-if="!isTechSpecExport">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                Vendor Name
                                                            </strong>
                                                        </td>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                Last PO
                                                            </strong>
                                                        </td>

                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                Last Rate
                                                            </strong>
                                                        </td>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                Last PO Date
                                                            </strong>
                                                        </td>
                                                        <!--<td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                LPP vs NEG.
                                                            </strong>
                                                        </td>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                L2 vs L1
                                                            </strong>
                                                        </td>-->
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in requirementDetails.listRequirementItems">
                                            <td style="border:1px solid black;" ng-if="item.isCoreProductCategory">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td style="min-width:10px;text-align:center;vertical-align:top;padding:0;"><strong>{{$index + 1}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border:1px solid black;" ng-if="item.isCoreProductCategory">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.hsnCode}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border:1px solid black;" ng-if="item.isCoreProductCategory">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productIDorName}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width:100%;border:1px solid black;" ng-if="item.isCoreProductCategory">
                                                <table>
                                                    <tr>
                                                        <td style="min-width:130px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productQuantity}}  {{item.productQuantityIn}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width:100%;border:1px solid black;" ng-if="item.isCoreProductCategory">
                                                <table>
                                                    <tr>
                                                        <td style="min-width:130px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.plantAddress}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td style="width:100%;border:1px solid black;" colspan="5" ng-if="!item.isCoreProductCategory">
                                                <table style="width:100%;">
                                                    <tr>
                                                        <td style="min-width: 130px;
                                                            text-align: left;
                                                            vertical-align: top;
                                                            padding: 0;">
                                                            <strong>{{item.productIDorName}} </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" style="border:1px solid black;" ng-if="vendor.isVisible">
                                                <table style="text-align:center;width:100%;">
                                                    <tr ng-if="!isTechSpecExport && vendor.isVisible">
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong ng-if="!editForm">
                                                                {{getVendorItemPrices(item, vendor).qtyDistributed | number:2}}
                                                            </strong>
                                                            <input ng-if="editForm && item.isCoreProductCategory" type="text" valid-number allow-decimal="true"
                                                                   allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                   ng-model="getVendorItemPrices(item, vendor).qtyDistributed" ng-change="getVendorTotalPriceWithoutTax(vendor)" class="form-control" required />
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status ==  'Negotiation Ended'">
                                                                {{getVendorItemPrices(item, vendor).unitPrice | number:2}}
                                                            </strong>
                                                            <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm) && requirementDetails.status == 'UNCONFIRMED'" type="text" valid-number allow-decimal="true"
                                                                   allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                   ng-change="unitPriceCalculation(getVendorItemPrices(item, vendor));"
                                                                   ng-model="getVendorItemPrices(item, vendor).unitPrice" class="form-control" required />
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{((getVendorItemPrices(item, vendor).unitPrice - getVendorItemPrices(item, vendor).revUnitPrice)/getVendorItemPrices(item, vendor).unitPrice)*100 | number:2}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;" ng-style="(getItemRank(item, vendor) == 1 && item.isCoreProductCategory > 0) ? {'background-color':'Yellow'} : {'background-color': ''}">
                                                            <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status == 'UNCONFIRMED'">
                                                                {{getVendorItemPrices(item, vendor).revUnitPrice | number:2}}<br />
                                                                <!--<b ng-if="item.isCoreProductCategory > 0">Rank: {{getItemRank(item, vendor) > 0?getItemRank(item, vendor):'NA'}}</b>-->
                                                            </strong>
                                                            <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm)  && requirementDetails.status ==  'Negotiation Ended'" type="text" valid-number allow-decimal="true"
                                                                   allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                   ng-model="getVendorItemPrices(item, vendor).revUnitPrice" class="form-control" required />
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{getVendorItemPrices(item, vendor).unitPrice * item.productQuantity | number:2}}
                                                            </strong>
                                                        </td>
                                                        <!--<td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{getVendorItemPrices(item, vendor).revUnitPrice * item.productQuantity | number:2}}
                                                            </strong>
                                                        </td>-->
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status == 'UNCONFIRMED'">
                                                                {{getVendorItemPrices(item, vendor).qtyDistributed ? getVendorItemPrices(item, vendor).revUnitPrice * getVendorItemPrices(item, vendor).qtyDistributed : getVendorItemPrices(item, vendor).revUnitPrice * item.productQuantity | number:2}}
                                                            </strong>
                                                            <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm)  && requirementDetails.status ==  'Negotiation Ended'" type="text" valid-number allow-decimal="true"
                                                                   allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                   ng-model="getVendorItemPrices(item, vendor, 1).revUnitPrice" class="form-control" required />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" ng-if="getVendorItemPrices(item, vendor).productQuotationTemplateJson.length > 0">

                                                            <table class="table table-bordered" style="margin-top:5px;margin-bottom:0px;">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" style="width:50%;">
                                                                            Description
                                                                        </th>
                                                                        <th class="text-center" style="width:50%;" ng-hide="getVendorItemPrices(item, vendor).subIemsColumnsVisibility.hideSPECIFICATION">
                                                                            Specification
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="obj in getVendorItemPrices(item, vendor).productQuotationTemplateJson" ng-if="obj.NAME != 'Total'">
                                                                        <td>{{obj.NAME}}<span ng-show="obj.DESCRIPTION != '' && obj.DESCRIPTION != undefined && obj.DESCRIPTION != null">({{obj.DESCRIPTION}})</span></td>
                                                                        <td ng-hide="getVendorItemPrices(item, vendor).subIemsColumnsVisibility.hideSPECIFICATION">
                                                                            <div ng-show="obj.HAS_SPECIFICATION == 1">
                                                                                {{obj.SPECIFICATION}}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" style="background:white;overflow-y:auto;">
                                                            <table class="table table-bordered"  style="margin-top:5px;margin-bottom:0px;">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" style="width:30%;">
                                                                            SGST (%)
                                                                        </th>
                                                                        <th class="text-center" style="width:60%;">
                                                                            CGST (%)
                                                                        </th>
                                                                        <th class="text-center" style="width:30%;">
                                                                            IGST (%)
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            {{getVendorTaxPercent(vendor, 'SGST',item) | number:2}}
                                                                        </td>
                                                                        <td>
                                                                            {{getVendorTaxPercent(vendor, 'CGST',item) | number:2}}
                                                                        </td>
                                                                        <td>
                                                                            {{getVendorTaxPercent(vendor, 'IGST',item) | number:2}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                {{item.ITEM_L1_COMPANY_NAME}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                <!--{{item.ITEM_L1_PRICE | number:2}}-->
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                <!--{{item.itemLastPrice | number:2}}-->{{item.ITEM_L1_PRICE | number:2}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{item.I_LLP_DETAILS}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                TOTAL BASIC
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" style="background-color:lightblue;border:1px solid black;" ng-if="vendor.isVisible">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{getVendorTotalInitPriceWithoutTax(vendor) | number:2}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{getVendorTotalPriceWithoutTax(vendor) | number:2}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                PAYMENT LOADING FACTOR
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                ----
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong ng-if="!editForm || requirementDetails.status == 'Negotiation Ended'">
                                                                {{vendor.payLoadFactor | number:2}}
                                                            </strong>
                                                            <input ng-if="editForm && requirementDetails.status == 'UNCONFIRMED' " type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                                   style="background-color: #f5b2b2;"
                                                                   ng-model="vendor.payLoadFactor" class="form-control" ng-change="changePayload(vendor)" required />
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                ----
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong ng-if="!editForm || requirementDetails.status == 'UNCONFIRMED'">
                                                                {{vendor.revPayLoadFactor | number:2}}
                                                            </strong>
                                                            <input ng-if="editForm && requirementDetails.status == 'Negotiation Ended'" type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                                   style="background-color: #f5b2b2;"
                                                                   ng-model="vendor.revPayLoadFactor" class="form-control" required />
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{vendor.payLoadFactor | number:2}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.revPayLoadFactor | number:2}}
                                                            </strong>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="border:1px solid black;text-align:left;vertical-align:middle;">
                                                TAXES LEVIED
                                            </td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                CGST
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{getVendorTotalTax(vendor, 'CGST') | number:2}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                SGST
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{getVendorTotalTax(vendor, 'SGST') | number:2}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                IGST
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{getVendorTotalTax(vendor, 'IGST') | number:2}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>

                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                REVERSE CHARGE IF ANY
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;"></td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;"></td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong ng-if="!editForm">
                                                                {{vendor.revChargeAny | number:2}}
                                                            </strong>
                                                            <input ng-if="editForm" type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                                   style="background-color: #f5b2b2;"
                                                                   ng-model="vendor.revChargeAny" class="form-control" required />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <!--<tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="border:1px solid black;text-align:left;vertical-align:middle;">
                                                INPUT TAX CREDITS
                                            </td>
                                        </tr>-->
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                LANDED COST
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                ---
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                --- <!-- {{getVendorTotalUnitItemPrices(vendor)}} -->
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                ---
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                --- <!-- {{getVendorTotalRevUnitItemPrices(vendor)}} -->
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                {{getVendorTotalInitLandingPrice(vendor,requirementDetails.includeGstInCal) | number:2}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;" ng-if="!requirementDetails.includeGstInCal">
                                                            <strong>
                                                                {{getVendorTotalLandingPrice(vendor,requirementDetails.includeGstInCal) | number:2}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;" ng-if="requirementDetails.includeGstInCal">
                                                            <strong>
                                                                {{getVendorTotalLandingPrice(vendor,requirementDetails.includeGstInCal) | number:2}}
                                                                <!--+ getVendorTotalTax(vendor, 'CGST') + getVendorTotalTax(vendor, 'SGST') +getVendorTotalTax(vendor, 'IGST')-->
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                SAVINGS
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                ---
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                ---
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                ---
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                ---
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{CalculateSavingsBasedOnLandingPrice(vendor) | number:2}}
                                                            </strong>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                INCO TERMS
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td colspan="6" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.INCO_TERMS}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                WARRANTY / GUARANTEE
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td col-span="5" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.warranty}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                DELIVERY SCHEDULE
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td col-span="5" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.duration}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                PAYMENT TERMS
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td col-span="5" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.payment}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                VENDOR COMMENTS
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td col-span="5" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.otherProperties}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                PURCHASER VENDOR COMMENTS
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td col-span="5" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong ng-if="!editForm">
                                                                {{vendor.customerComment}}
                                                            </strong>
                                                            <div ng-if="editForm" class="col-md-offset-3 col-md-12">
                                                                <input type="text"
                                                                       style="background-color: #f5b2b2;width:50%;"
                                                                       ng-model="vendor.customerComment" class="form-control" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                PURCHASER COMMENTS
                                            </td>
                                            <td colspan="{{requirementDetails.auctionVendors.length }}" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td col-span="5" style="min-width:130px;vertical-align:top;padding:0;text-align:left;">
                                                            <strong ng-if="!editForm">
                                                                {{requirementDetails.customerComment}}
                                                            </strong>
                                                            <div ng-if="editForm" class="col-md-12">
                                                                <input type="text"
                                                                       style="background-color: #f5b2b2;width:100%;"
                                                                       ng-model="requirementDetails.customerComment" class="form-control" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <!--<tr ng-if="!isTechSpecExport">
                                            <td colspan="5" style="background-color:darkseagreen;border:1px solid black;text-align:center;vertical-align:middle;">
                                                QUOTATION PRICE
                                            </td>
                                            <td ng-repeat="vendor in requirementDetails.auctionVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td col-span="5" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.revVendorTotalPrice}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>-->
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row" ng-if="1==2">
                                <div class="col-md-12" style="font-size:18px;">
                                    <div class="row" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown">
                                            <option value="">Select Workflow</option>
                                        </select>
                                        <strong ng-if="!isErrorworkflowID"> Respective Workflow </strong><strong ng-if="isErrorworkflowID"
                                                                                                                 class="text-danger">Respective Workflow*</strong>
                                        <a role="button" ng-click="getWorkflows();" title="Reload workflows">
                                            <i class="fa fa-sync"></i>
                                        </a>
                                    </div>
                                    <div class="row" ng-show="itemWorkflow.length > 0 || itemWorkflow[0].WorkflowTracks || itemWorkflow[0].WorkflowTracks.length > 0">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowListTemp" required class="form-control-dropdown"
                                                ng-disabled="true">
                                            <option value="">Select Workflow</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-repeat="wf in workflowList" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                <div ng-if="wf.workflowID == workflowObj.workflowID">
                                    <div class="col-md-12 text-center">
                                        <h4>{{wf.workflowTitle}}</h4>
                                    </div>
                                    <div class="col-md-6" ng-repeat="ws in wf.WorkflowStages">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <h3>{{$index+1}}</h3>
                                                </div>
                                                <div class="col-md-10">
                                                    <span class="top-buffer">
                                                        Department:&nbsp;<strong> {{ws.department.deptCode}}</strong>
                                                        <br />
                                                        Designation: <strong>{{ws.approver.desigCode}}</strong>
                                                    </span>
                                                </div>
                                                <div class="col-md-1">
                                                    <i class="fas fa-arrow-right top-buffer"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="editForm" ng-if="1==2">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-info" ng-click="SaveQCSDetails(1);"> Save </button>
                                    <button class="btn btn-info" ng-click="UpdateOtherCharges();"> Update Charges </button>
                                </div>
                            </div>


                        </div>


                        <fieldset ng-disabled="true">
                            <div class="row" ng-if="wfID > 0">
                                <div class="col-md-12">
                                    <h4>Workflow Title: {{itemWorkflow[0].workflowTitle}}</h4>
                                    <div class="row">
                                        <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                            <br />
                                            <br />
                                            <div class="row approvalRowHeight">
                                                <div class="col-md-12">
                                                    <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                        <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                        </br>-->
                                                        <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                    </P>
                                                    <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                        <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 list-group-item" href="#"
                                                     ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                     style="min-height:90px;">
                                                    <div class="row">
                                                        <div class="col-md-1 col-xs-1">
                                                            <h5>{{$index + 1}}. </h5>
                                                        </div>
                                                        <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                            <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                            <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                        </div>
                                                        <div class="col-md-5 col-xs-5" ng-show="false">
                                                            <div class="row">
                                                                <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                    <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                    <small>Hold</small>
                                                                </div>

                                                                <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                    <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                    <small>Approve</small>
                                                                </div>

                                                                <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                    <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                    <small>Reject</small>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div style='border-bottom:1px solid #ccc;'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </fieldset>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>