<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="QcsAuditCtrl">
                <div class="white-box" style="margin-top:15px;">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><strong>{{requirementDetails.requirementID}} - {{requirementDetails.title}}</strong> - Audit</h2>
                        </div>

                        <div class="col-lg-12 form-group">
                            <div class="table-responsive z-depth-2">
                                <label>QCS ::</label>
                                <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                                    <tr ng-repeat="qcs in QCSAuditList" ng-if="qcs.TABLE_NAME == 'qcs_details'">

                                        <td data-title="'REQ ID'">
                                            {{ qcs.REQ_ID}}
                                        </td>
                                        <td data-title="'QCS NO'" sortable="'QCS NO'">
                                            {{qcs.QCS_CODE}}
                                        </td>
                                        <td data-title="'WORK FLOW ID'">
                                            {{ qcs.WF_ID}}
                                        </td>
                                        <td data-title="'AUDIT VERSION'">
                                            {{qcs.AUDIT_VERSION}}
                                        </td>

                                        <!--<td data-title="'USER'">
                                            {{ qcs.MODIFIED_BY}}
                                        </td>-->

                                        <td data-title="'PREVIEW'">
                                            <a role="button" ng-click="goToAuditDomesticQCS(qcs.REQ_ID,qcs.QCS_CODE,qcs.AUDIT_VERSION,qcs.WF_ID)" class="text-center" title="PREVIEW"><i class="fas fa-eye"></i></a>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>


                        <div class="col-lg-12">

                            <div class="table-responsive z-depth-2">
                                <label>WORK FLOWS ::</label>
                                <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                                    <tr ng-repeat="qcs in QCSAuditList" ng-if="qcs.TABLE_NAME == 'workflowtrack' && QCSAuditList.length > 0">

                                        <td data-title="'REQ ID'">
                                            {{ qcs.REQ_ID}}
                                        </td>
                                        <td data-title="'QCS NO'" sortable="'QCS NO'">
                                            {{qcs.QCS_CODE}}
                                        </td>
                                        <td data-title="'WORK FLOW ID'">
                                            {{ qcs.WF_ID}}
                                        </td>
                                        <td data-title="'STATUS'">
                                            {{qcs.REQ_JSON}}
                                        </td>

                                        <td data-title="'USER'">
                                            {{ qcs.APPROVER_NAME}}
                                        </td>
                                        <td data-title="'DATE&TIME'">
                                            {{ qcs.CREATED_DATE}}
                                        </td>

                                    </tr>
                                    <!--<tr ng-if="qcs.TABLE_NAME == 'workflowtrack' && QCSAuditList.length == 0">
                                        <td>
                                            <span class="text-danger"><strong>No Records Found</strong></span>
                                        </td>
                                    </tr>-->
                                </table>
                            </div>

                        </div>


                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>



   
        




    
