


                <div data-ng-controller="addNewLogisticCtrl">
                    

                    <div class="col-md-10 col-md-offset-1">
                        <ul id="eliteregister">
                            <li class="active">
                                <h3><strong>STEP 1</strong></h3>
                                <span><strong>Requirement Specifications</strong></span>
                            </li>
                            <li ng-show="pageNo >= 2" class="active">
                                <h3><strong>STEP 2</strong></h3>
                                <span><strong>Delivery & Payment Terms</strong></span>
                            </li>
                            <li ng-show="pageNo < 2">
                                <h3><strong>STEP 2</strong></h3>
                                <span><strong>Delivery & Payment Terms</strong></span>
                            </li>
                            <li ng-show="pageNo >= 3" class="active">
                                <h3><strong>STEP 3</strong></h3>
                                <span><strong>Transaction Configuration</strong></span>
                            </li>
                            <li ng-show="pageNo < 3">
                                <h3><strong>STEP 3</strong></h3>
                                <span><strong>Transaction Configuration</strong></span>
                            </li>
                            <li ng-show="pageNo >= 4" class="active">
                                <h3><strong>STEP 4</strong></h3>
                                <span><strong>Choose vendors</strong></span>
                            </li>
                            <li ng-show="pageNo < 4">
                                <h3><strong>STEP 4</strong></h3>
                                <span><strong>Choose vendors</strong></span>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                            <div class="col-sm-12">

                    <form class="requirementForm" name="requirementForm">

                        <!--\\\\\\\\\\\\\\\\\\\\\\\\
                        ========== PAGE 1 =======
                        \\\\\\\\\\\\\\\\\\\\\\\\\-->

                        <div class="white-box" ng-show="pageNo == 1">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4><strong>Requirement Specifications</strong> <!--<small>Please detail the specifications of your requirement here.</small>--></h4>
                                </div>


                                <div class="pull-right">
                                    <div class="pull-right">
                                        <button type="submit" ng-click="nextpage(1)" class="btn btn-info btn-file m-r-10 btn-new-look">Next </button>
                                    </div>
                                </div>
                            </div>
                                <div class="row">

                                    <div class="col-md-6 form-group fg-float">
                                        <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                                            <label class="fg-label" for="Title">Title</label>
                                            <input ng-model="formRequest.title" ng-change="GetCompanyLeads(formRequest.title)" id="title" name="title" type="text" class="form-control fg-input fg-toggled" required>

                                        </div>
                                        <div ng-show="titleValidation">
                                            <div class="help-block error logininput text-danger text-danger" ng-show="titleValidation">Please enter Title</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group fg-float">
                                        <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                                            <label class="fg-label" for="DA No">DA No</label>
                                            <input ng-model="formRequest.daNo" id="DaNo" name="DaNo" type="text" class="form-control fg-input fg-toggled" required>

                                        </div>
                                        <div ng-show="DANoValidation">
                                            <div class="help-block error logininput text-danger text-danger" ng-show="DANoValidation">Please enter DA No</div>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float" ng-hide="true">
                                        <div class="fg-line input-field">
                                            <div class="toggle-switch" ng-show="!isEdit">
                                                <input id="forwardBidding" ng-model="formRequest.isForwardBidding" type="checkbox" hidden="hidden" />
                                                <label for="forwardBidding" class="ts-helper"></label>
                                                <label for="forwardBidding" class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forward Bidding</label>
                                            </div>
                                            <div class="toggle-switch" ng-show="isEdit">
                                                <dl class="dl-horizontal">
                                                    <dt>Forward Bidding</dt>
                                                    <dd>{{ formRequest.isForwardBidding ? 'Yes' : 'No' }}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>



                                    <div ng-if="formRequest.isTabular" class="req-form col-md-12">

                                        <!--<table class="table table-hover z-depth-1 clear-both">
            <thead>
                <tr style="font-weight: bold">
                    <td></td>
                    <td>PRODUCT</td>
                    <td>DESC</td>
                    <td>NET WT</td>
                    <td>UNITS</td>
                    <td>TYPE OF <br />PACKING</td>
                    <td>MODE OF <br />SHIPMENT</td>
                    <td>NATURE OF<br /> GOODS</td>
                    <td>STORAGE <br />CONDITION</td>
                    <td>PORT OF<br /> LOADING</td>
                    <td>FINAL<br /> DESTINATION</td>
                    <td>PORT OF<br /> DESTINATION</td>
                    <td>PREFERRED <br />AIRLINES</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in formRequest.listRequirementItems track by $index">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.productIDorName" required name="productIDorName" id="productIDorName" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.productDescription" name="productDescription" id="productDescription" class="fg-input form-control" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="product.productQuantity" required name="productQuantity" id="productQuantity" class="form-control fg-input">
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.productQuantityIn" required name="productQuantityIn" id="productQuantityIn" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.typeOfPacking" name="typeOfPacking" id="typeOfPacking" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.modeOfShipment" name="modeOfShipment" id="modeOfShipment" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.natureOfGoods" name="natureOfGoods" id="natureOfGoods" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.storageCondition" name="storageCondition" id="storageCondition" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.portOfLanding" required name="portOfLanding" id="portOfLanding" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.finalDestination" required name="finalDestination" id="finalDestination" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.deliveryLocation" required name="deliveryLocation" id="deliveryLocation" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <textarea type="text" ng-model="product.preferredAirlines" name="preferredAirlines" id="preferredAirlines" class="form-control fg-input" rows="1" style="resize: both;"></textarea>
                    </td>
                    <td>
                        <h5 ng-if="product.productImageID"><a target="_blank" href="FileDownload.aspx?attachid={{product.productImageID}}&sessionid={{sessionid}}">Download</a></h5>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-info btn-file">
                                <span class="fileinput-new"><i class="fa fa-upload" aria-hidden="true"></i></span>
                                <span class="fileinput-exists">Edit</span>
                                <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{product.productSNo}}" itemid="{{product.productSNo}}" ng-file-select-items="onFileSelect($files)" />
                            </span>
                            <span class="fileinput-filename addreqllipsis"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>
                    </td>
                    <td>
                        <span class="btn btn-info" ng-click="deleteItem(product.productSNo)">x</span>
                    </td>
                </tr>
            </tbody>
        </table>-->
                                        <div class="row add-row add-req-items-border" ng-repeat="product in formRequest.listRequirementItems" ng-init="parentIdx = $index">

                                            <div class="col-md-12">

                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>S.NO</strong></label>
                                                <input ng-disabled="true" type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="$index + 1"  required name="sno" id="sno" class="form-control">
                                            </div>
                                            <div class="col-md-3">
                                                <label><strong>PRODUCT</strong> <span class="text-danger">*</span></label>
                                                <!--<input type="text" ng-model="product.productIDorName" required name="productIDorName" id="productIDorName" class="form-control">-->

                                                <input type="text" class="form-control" ng-model="product.productIDorName"
                                                            ng-keyup="autofillProduct(product.productIDorName, parentIdx)"
                                                            ng-blur="onBlurProduct(parentIdx)"
                                                            style="resize:vertical" rows="3" />
                                                <ul class="list-group" ng-if="['filterProducts_'+parentIdx]" style="position:absolute;z-index:99">
                                                    <li class="list-group-item form-control" style="cursor:pointer;" ng-repeat="prod_$index in this['filterProducts_'+parentIdx]" ng-click="fillTextbox(prod_$index, parentIdx)"><small>{{prod_$index.prodName}}</small></li>
                                                </ul>

                                            </div>

                                            <div class="col-md-1">
                                                <label><strong>NET WT</strong> <span class="text-danger">*</span></label>
                                                <input type="text" valid-number allow-decimal="true" allow-negative="false" step="any" ng-model="product.netWeight" name="netWeight" id="netWeight" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>GROSS WT</strong> <span class="text-danger">*</span></label>
                                                <input type="text" valid-number allow-decimal="true" allow-negative="false" step="any" ng-model="product.productQuantity"  name="productQuantity" id="productQuantity" class="form-control" />
                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>UNITS</strong> <span class="text-danger">*</span></label>
                                                <input type="text" ng-model="product.productQuantityIn" required name="productQuantityIn" id="productQuantityIn" class="form-control">
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>TYPE OF PACKING</strong></label>
                                                <input type="text" ng-model="product.typeOfPacking" name="typeOfPacking" id="typeOfPacking" class="form-control">
                                            </div>

                                            <div class="col-md-2">
                                                <div class="row padding-lft">
                                                    <label>
                                                        <strong>NATURE OF GOODS</strong>
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="radio-list ">
                                                        <label class="radio-inline p-0">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="HAZ{{$index}}" id="HAZ{{$index}}" ng-value="1" ng-model="product.natureOfGoods">
                                                                <label for="HAZ{{$index}}">HAZ</label>
                                                            </div>
                                                        </label>
                                                        <label class="radio-inline">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="NONHAZ{{$index}}" id="NONHAZ{{$index}}" ng-value="0" ng-model="product.natureOfGoods">
                                                                <label for="NONHAZ{{$index}}">NON-HAZ</label>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--<label><strong>NATURE OF GOODS</strong></label>
        <input class="form-control" ng-model="product.natureOfGoods" name="natureOfGoods" id="natureOfGoods" />-->
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>MODE OF SHIPMENT</strong></label>
                                                <input type="text" ng-model="product.modeOfShipment" name="modeOfShipment" id="modeOfShipment" class="form-control">
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>STORAGE CONDITION</strong></label>
                                                <input class="form-control" ng-model="product.storageCondition" name="storageCondition" id="storageCondition" />
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>PORT OF LOADING</strong> <span class="text-danger">*</span></label>
                                                <input class="form-control" ng-model="product.portOfLanding" name="portOfLanding" id="portOfLanding" />
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>FINAL DESTINATION</strong> <span class="text-danger">*</span></label>
                                                <input class="form-control" ng-model="product.finalDestination" name="finalDestination" id="finalDestination" />
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>PORT OF DESTINATION</strong> <span class="text-danger">*</span></label>
                                                <input class="form-control" ng-model="product.deliveryLocation" name="deliveryLocation" id="deliveryLocation" />
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>PREFERRED AIRLINES</strong></label>
                                                <input class="form-control" ng-model="product.preferredAirlines" name="preferredAirlines" id="preferredAirlines" />
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <div class="row padding-lft">
                                                    <label>
                                                        <strong>PALLETIZE / NON-PALLETIZE</strong>
                                                    </label>
                                                    <div class="radio-list">
                                                        <label class="radio-inline p-0">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="qyes{{$index}}" id="qyes{{$index}}" ng-value="1" ng-model="product.ispalletize">
                                                                <label for="qyes{{$index}}">Yes</label>
                                                            </div>
                                                        </label>
                                                        <label class="radio-inline">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="qyes{{$index}}" id="qno{{$index}}" ng-value="0" ng-model="product.ispalletize" ng-click="product.palletizeLength = 0;product.palletizeBreadth = 0;product.palletizeHeight = 0;">
                                                                <label for="qno{{$index}}">No </label>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>NUMBER</strong></label>
                                                <input type="text" valid-number allow-decimal="true" allow-negative="false" step="any" ng-model="product.palletizeQty" name="palletizeQty" id="palletizeQty" class="form-control" />
                                            </div>
                                            <div class="col-md-3" ng-show="product.ispalletize == 1">
                                                <label><strong>DIMENSIONS</strong></label>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" valid-number allow-decimal="true" allow-negative="false" step="any" ng-model="product.palletizeLength" name="palletizeLength" id="palletizeLength" class="form-control" placeholder="length" />
                                                        <label><small>Length</small></label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" valid-number allow-decimal="true" allow-negative="false" step="any"  ng-model="product.palletizeBreadth" name="palletizeBreadth" id="palletizeBreadth" class="form-control" placeholder="breadth" />
                                                        <label><small>Breadth</small></label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" valid-number allow-decimal="true" allow-negative="false" step="any" ng-model="product.palletizeHeight" name="palletizeHeight" id="palletizeHeight" class="form-control" placeholder="height" />
                                                        <label><small>Height</small></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label><strong>DESCRIPTION</strong></label>
                                                <textarea type="text" ng-model="product.productDescription" name="productDescription" rows="2" id="productDescription" class="form-control"></textarea></textarea>
                                            </div>
                                            <div class="col-md-2">

                                                <div class="button-box m-t-30" data-provides="fileinput">
                                                    <div class="fileupload btn btn-info waves-effect waves-light">
                                                        <span><i class="fa fa-upload"></i></span>
                                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{product.productSNo}}" itemid="{{product.productSNo}}" ng-file-select-items="onFileSelect($files)">


                                                    </div>
                                                    <button class="btn btn-danger waves-effect waves-light" ng-click="deleteItem(product.productSNo, $index)"> <i class="fa fa-trash-alt m-r-5"></i> <span>Item</span></button>
                                                    <label ng-if="product.productImageID"><a target="_blank" href="FileDownload.aspx?attachid={{product.productImageID}}&sessionid={{sessionid}}">Download</a></label>
                                                    <label class="prmellipsis"> {{product.attachmentName}}  </label>


                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <button class="btn btn-info" ng-click="getPreviousItemPrice(product, $index);">Get Best Price</button>
                                                <label>Note: We retrieve priced based on exact match of "PRODUCT,NET WT,NATURE OF GOODS,FINAL DESTINATION"</label>
                                            </div>
                                            <div class="col-md-8 text-danger">
                                                
                                                    {{getbestprice}}<!--No previous recods found.-->
                                               
                                            </div>
                                            <!--ng-show="!itemPreviousPrice"-->
                                            <div class="col-md-12 table-responsive" ng-if="itemPreviousPrice.length > 0" ng-show="bestPriceEnable == $index">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <strong>Req ID</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Product Name</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Net Weight</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Nature of Goods</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Storage Condition</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Port of Destination</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Final Destination</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Vendor Company Name</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Airline Name</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Previous Unit Price</strong>
                                                            </th>

                                                            <!--<th>
                        <strong>Date</strong>
                    </th>-->


                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="itemlast in itemPreviousPrice">
                                                            <td>
                                                                {{itemlast.requirementID}}
                                                            </td>
                                                            <td>
                                                                {{itemlast.productIDorName}}
                                                            </td>
                                                            <td>
                                                                {{itemlast.netWeight}}
                                                            </td>
                                                            <td>
                                                                <span ng-if="itemlast.natureOfGoods == 1">HAZ</span>
                                                                <span ng-if="itemlast.natureOfGoods == 0">NON-HAZ</span>
                                                                <!--{{itemlast.listReqItems[0].natureOfGoods}}-->
                                                            </td>
                                                            <td>
                                                                {{itemlast.storageCondition}}
                                                            </td>
                                                            <td>
                                                                {{itemlast.portOfLanding}}
                                                            </td>
                                                            <td>
                                                                {{itemlast.finalDestination}}
                                                            </td>
                                                            <td>
                                                                {{itemlast.companyName}}
                                                            </td>
                                                            <td>
                                                                {{itemlast.airline}}
                                                            </td>
                                                            <td>
                                                                {{itemlast.initialPrice}}
                                                            </td>

                                                            <!--<td>
                        {{itemlast.currentTime}}
                    </td>-->


                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--<div ng-if="itemPreviousPrice.lastPrice  && itemPreviousPrice.lastPrice > 0">
            <div>
                <label><strong>Previous Unit Price:</strong> {{itemPreviousPrice.lastPrice}} </label>
            </div>
            <div>
                <label><strong>Date:</strong> {{itemPreviousPrice.lastPriceDate}} </label>
            </div>
            <div>
                <label><strong>Vendor Company Name:</strong> {{itemPreviousPrice.lastPriceVendor}} </label>
            </div>
            <div>
                <label><strong>Airline Name:</strong> {{itemPreviousPrice.lastPriceAirline}} </label>
            </div>
        </div>-->



                                            </div>
                                        </div>





                                        <br />

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                               
                                                <button class="btn btn-info waves-effect waves-light" ng-click="AddItem()" type="button"> <i class="fa fa-plus-square m-r-5"></i> <span>Add item</span></button>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <strong>Terms & Conditions / Comment <small>(vendor need to accept terms & conditions)</small></strong>
                                                <textarea ng-model="formRequest.reqComments" id="reqComments" name="reqComments" class="form-control"></textarea>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <strong>Requirement Attachments</strong><br>
                                                <div class="fileupload btn btn-info waves-effect waves-light">
                                                    <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" multiple ng-file-select="onFileSelect($files)">
                                                </div>

                                                <!--<span class="btn btn-danger" ng-click="deleteAttachment(formRequest.requirementID)" ng-if="formRequest.attFile!=''"><i class="fa fa-trash-alt"></i></span>-->
                                                <!--<h5 ng-if="formRequest.attFile > 0"><a target="_blank" href="FileDownload.aspx?attachid={{formRequest.attFile}}&sessionid={{sessionid}}">Download</a></h5>
                                                <br />-->

                                                <label ng-if="attch.fileID > 0" ng-repeat="attch in formRequest.multipleAttachments">
                                                    {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                                                    <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                </label>
                                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in formRequest.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>

                                            </div>
                                        </div>




                                    </div>





                                </div>

                        </div>

                        <div class="card" ng-show="pageNo == 1 && isRequirementPosted == 0 && formRequest.auctionVendors.length == 0">
                            <div class="col-xs-12 text-center">
                                <button ng-click="postRequest(0, 1, false)" class="btn btn-info btn-file m-r-10  btn-new-look">Save as Draft<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>
                            </div>
                        </div>

                        <!--\\\\\\\\\\\\\\\\\\\\\\\\
                        ========== PAGE 2 =======
                        \\\\\\\\\\\\\\\\\\\\\\\\\-->

                        <div class="white-box" ng-show="pageNo == 2" readonly="pageNo == 5">
                            
                            <div class="row">

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4> <strong>Delivery & Payment Terms</strong></h4>
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" ng-click="nextpage(2)" class="btn btn-info  btn-new-look btn-file m-r-10 pull-right "> Next </button>
                                        <button type="submit" ng-click="previouspage()" class="btn btn-info btn-file  btn-new-look m-r-10 pull-right "> Back </button>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group fg-float">
                                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true)}">
                                                <label class="fg-label">Delivery Terms</label>
                                                <span class="text-danger">*</span>
                                                <textarea type="text" ng-model="formRequest.deliveryTime" name="deliveryTimeName" id="deliveryTime" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                            </div>
                                            <div ng-show="deliveryTimeValidation">
                                                <div class="help-block error logininput text-danger text-danger" ng-show="deliveryTimeValidation">Please specify Your Delivery Terms</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group fg-float">
                                            <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                                                <label class="fg-label">Payment Terms</label>
                                                <span class="text-danger">*</span>
                                                <textarea type="text" ng-model="formRequest.paymentTerms" name="paymentTerms" id="paymentTerms" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                            </div>
                                            <div ng-show="paymentTermsValidation">
                                                <div class="help-block error logininput text-danger text-danger" ng-show="paymentTermsValidation">Please specify Your Payment Terms</div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <strong class="col-md-1" for="deparments">Departments: </strong>
                                        <div class="col-md-11">
                                            <label>
                                                <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" ng-model="noDepartments" ng-change="noDepartmentsFunction('NA');" />
                                                All Departments &nbsp;&nbsp;
                                            </label>
                                            <label ng-repeat="reqDepartment in reqDepartments">
                                                <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" ng-model="reqDepartment.isValid" ng-change="noDepartmentsFunction('DEPARTMENT');" />
                                                {{reqDepartment.companyDepartments.deptCode}}&nbsp;&nbsp;&nbsp;&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row" ng-show="pageNo == 2 && isRequirementPosted == 0 && formRequest.auctionVendors.length == 0">
                            <div class="col-xs-12 text-center">
                                <button ng-click="postRequest(0,2, false)" class="btn btn-info btn-file m-r-10  btn-new-look">Save as Draft<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>
                            </div>
                        </div>

                        <!--\\\\\\\\\\\\\\\\\\\\\\\\
                        ========== PAGE 3 =======
                        \\\\\\\\\\\\\\\\\\\\\\\\\-->

                        <div class="white-box" ng-show="pageNo == 3" readonly="pageNo == 5">
                            <div class="row">
                                <div class="text-center col-md-12">
                                    <h4> <strong>Transaction Configuration</strong></h4>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" ng-click="previouspage()" class="btn btn-info btn-file m-r-10  btn-new-look"> Back </button>
                                    <button type="submit" ng-click="nextpage(3)" class="btn btn-info btn-file  btn-new-look m-r-10"> Next </button>
                                </div>
                               
                                <!--<small>Please Update the Configuration details.</small>   class="selectfield fg-label"     -->
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3 m-b-30">

                                    <label for="Urgency">Urgency</label>
                                    <span class="text-danger">*</span>
                                    <select ng-model="formRequest.urgency" class="form-control p-0" data-placeholder="Select an urgency..." id="urgency" required="">
                                        <option value="Critical (Will be Closed Today)">Critical (Will be Closed Today)</option>
                                        <option value="High (Will be Closed in 2 Days)">High (Will be Closed in 2 Days)</option>
                                        <option value="Medium (Will be Closed in 5 Days)">Medium (Will be Closed in 5 Days)</option>
                                        <option value="Low (Will Take 10-15 Days Time)">Low (Will Take 10-15 Days)</option>
                                    </select>


                                    <div ng-show="urgencyValidation">
                                        <div class="help-block error logininput text-danger text-danger" ng-show="urgencyValidation">Please select Urgency</div>
                                    </div>
                                </div>



                                <div class="form-group col-sm-1 m-b-30  fg-float">
                                    <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                        <label class="fg-label" for="currency">Currency</label>
                                        <select data-placeholder="Select a Currency..." name="currency" ng-model="selectedCurrency" ng-options="currency.value for currency in currencies" class="form-control"></select>

                                    </div>
                                    <div ng-show="selectedCurrencyValidation">
                                        <div class="help-block error logininput text-danger text-danger" ng-show="selectedCurrencyValidation">Please select Currency</div>
                                    </div>
                                </div>

                                <div class="form-group fg-float col-sm-2 m-b-30">
                                    <div class="fg-line fg-toggled" ng-class="{'fg-toggled': (isEdit===true || formRequest.quotationFreezTime)}">
                                        <label class="fg-label">Quotation Freeze Time</label>
                                        <div moment-picker="formRequest.quotationFreezTime" format="DD-MM-YYYY HH:mm">
                                            <input name="quotationFreezTimeName" id="quotationFreezTime" class="form-control" placeholder="Select a date" ng-model="formRequest.quotationFreezTime" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                        <div ng-show="quotationFreezTimeValidation">
                                            <div class="help-block error logininput text-danger text-danger" ng-show="quotationFreezTimeValidation">Please enter valid Quotation Freeze time</div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group fg-float col-sm-2 m-b-30 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                                        <label class="fg-label">No.of Reminders (Max 5)</label>
                                        <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="formRequest.noOfQuotationReminders"  name="noOfQuotationReminders" id="noOfQuotationReminders" class="form-control" />

                                    </div>
                                    <div ng-show="noOfQuotationRemindersValidation">
                                        <div class="help-block error logininput text-danger text-danger" ng-show="noOfQuotationRemindersValidation">Please enter valid No.of Reminders</div>
                                    </div>
                                </div>

                                <div class="form-group fg-float col-sm-2 m-b-30 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                                        <label class="fg-label">Time Intervel (in Hours)</label>
                                        <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="formRequest.remindersTimeInterval"   name="remindersTimeInterval" id="remindersTimeInterval" class="form-control" />

                                    </div>
                                    <div ng-show="remindersTimeIntervalValidation">
                                        <div class="help-block error logininput text-danger text-danger" ng-show="remindersTimeIntervalValidation">Please enter valid Time Intervel</div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-2 fg-float  m-b-30">
                                    <div class="fg-line fg-toggled" ng-class="{'fg-toggled': (isEdit===true || formRequest.expStartTime)}">
                                        <label class="fg-label">Exp.Negotiation start time</label>
                                        <div moment-picker="formRequest.expStartTime" format="DD-MM-YYYY HH:mm">
                                            <input name="expStartTimeName" id="expStartTime" class="form-control" placeholder="Select a date" ng-model="formRequest.expStartTime" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                        <!--<div ng-show="expStartTime">
                                            <div class="help-block error logininput text-danger " ng-show="expStartTime !=''"> <span class="hyphenate" ng-bind-html="expStartTime"></span></div>
                                        </div>--> <!--{{expStartTime}}-->
                                        <div ng-show="expStartTimeValidation">
                                            <div class="help-block error logininput text-danger text-danger" ng-show="expStartTimeValidation">Please enter Exp.Negotiation Start Time</div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-md-2 form-group">
                                    <strong for="negotition">Exp.Neg start time</strong>
                                    <div moment-picker="formRequest.expStartTime" format="DD-MM-YYYY HH:mm">
                                        <input name="expStartTimeName" id="expStartTime" class="form-control"
                                               placeholder="Select a date"
                                               ng-model="formRequest.expStartTime" ng-model-options="{ updateOn: 'blur' };" />
                                    </div>

                                    <div ng-show="expNegotiationTimeValidation">
                                        <div class="help-block error logininput text-danger text-danger" ng-show="expNegotiationTimeValidation">Exp.Negotiation Start Time should be greater than Quotation Freeze Time</div>
                                    </div>


                                </div>-->

                            </div>

                            <div class="row">


                                <!--<div class="form-group fg-float col-sm-4 m-b-30 top-half-buffer">

                                    <strong>{{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
                                    <label>
                                        <input type="radio" ng-model="formRequest.isQuotationPriceLimit" ng-value='true'>
                                        Yes
                                    </label>
                                    <label>
                                        <input type="radio" ng-model="formRequest.isQuotationPriceLimit" ng-value='false'>
                                        No
                                    </label>
                                </div>-->

                                <div class="form-group fg-float col-sm-2 m-b-30 top-half-buffer" ng-if="formRequest.isQuotationPriceLimit">
                                    <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                                        <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="formRequest.quotationPriceLimit" name="quotationPriceLimit" id="quotationPriceLimit" class="form-control" />
                                        <label class="fg-label">{{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</label>
                                    </div>
                                    <div ng-show="quotationPriceLimitValidation">
                                        <div class="help-block error logininput text-danger" ng-show="quotationPriceLimitValidation">Please enter valid {{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</div>
                                    </div>
                                </div>
                                <!--<div class="form-group fg-float col-sm-3 m-b-30 top-half-buffer">
                                    <strong>Tech Evaluation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
                                    <label>
                                        <input type="radio" ng-model="isTechEval" ng-value='true'>
                                        Yes
                                    </label>
                                    <label>
                                        <input type="radio" ng-model="isTechEval" ng-value='false'>
                                        No
                                    </label>
                                </div>-->
                                <div class="form-group col-sm-3 m-b-30 fg-float">
                                    <div class="fg-line input-field " ng-class="{'fg-toggled': true===true}" ng-show="isTechEval == true">
                                        <select data-placeholder="Select a Tech Evaluation..." name="questionnaire" ng-model="selectedQuestionnaire" ng-options="questionnaire.title for questionnaire in questionnaireList" class="form-control"></select>
                                        <label class="fg-label" for="currency">Select a Tech Evaluation...</label>
                                    </div>
                                    <div ng-show="questionnaireValidation && isTechEval == true">
                                        <div class="help-block error logininput text-danger" ng-show="questionnaireValidation">Please select a Tech Evaluation</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-hide="true">
                                <div class="form-group fg-float col-sm-3 m-b-30 top-half-buffer">
                                    <strong>Inspection Required&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
                                    <label>
                                        <input type="radio" ng-model="inspectionRequired" ng-value='true'>
                                        Yes
                                    </label>
                                    <label>
                                        <input type="radio" ng-model="inspectionRequired" ng-value='false'>
                                        No
                                    </label>
                                </div>
                                <div class="form-group col-sm-3 m-b-30 fg-float" ng-show="inspectionRequired == true">
                                    <div class="fg-line fg-toggled">
                                        <div>
                                            <input name="InspectionTimelines" id="InspectionTimelines" class="form-control" ng-model="formRequest.inspectionTimelines" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                        <div ng-show="InspectionTimelinesValidation">
                                            <div class="help-block error logininput text-danger" ng-show="InspectionTimelines">Please enter Inspection Timelines</div>
                                        </div>
                                        <label class="fg-label">Inspection Timelines</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3 m-b-30 fg-float" ng-show="inspectionRequired == true">
                                    <div class="fg-line fg-toggled">
                                        <div>
                                            <input name="inspectionPOC" id="inspectionPOC" class="form-control" ng-model="formRequest.inspectionPOC" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                        <div ng-show="InspectionPOCValidation">
                                            <div class="help-block error logininput text-danger" ng-show="InspectionTimelines">Please enter Inspection Point of Contact</div>
                                        </div>
                                        <label class="fg-label">Inspection Point of Contact</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group fg-float col-sm-6 m-b-30" ng-if="formRequest.isQuotationPriceLimit">
                                    <label ng-if="!formRequest.isForwardBidding">Note: Quotation Price Limit Amount If Entered then System will not allow vendors to quote more than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or less than 1,00,000/- Only.</label>
                                    <label ng-if="formRequest.isForwardBidding">Note: Minimum Expected Price Limit Amount If Entered then System will not allow vendors to quote less than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or greater than 1,00,000/- Only.</label>
                                </div>
                            </div>

                        </div>

                        <div class="card" ng-show="pageNo == 3 && isRequirementPosted == 0 && formRequest.auctionVendors.length == 0">
                            <div class="col-xs-12 text-center">
                                <button ng-click="postRequest(0,3, false)" class="btn btn-info btn-file m-r-10  btn-new-look paddi">Save as Draft<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>
                            </div>
                        </div>

                        <!--\\\\\\\\\\\\\\\\\\\\\\\\
                        ========== PAGE 4 =======
                        \\\\\\\\\\\\\\\\\\\\\\\\\-->

                        <div class="white-box" ng-show="pageNo == 4" readonly="pageNo == 5">
                            <div class="card-header">
                                <div class="pull-right">
                                    <button type="submit" ng-click="previouspage()" class="btn btn-info btn-file m-r-10  btn-new-look"> Back </button>
                                </div>
                                <h5> Choose the right vendors for better price competitiveness</h5>
                            </div>

                            <div class="card-body card-padding p-b-0" ng-hide="true">
                                <div class="row col-md-12">
                                    <div class="form-group col-sm-6 fg-float">
                                        <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                                            <label class="selectfield fg-label" for="category">Category</label>
                                            <select ng-model="formRequest.category" name="category" class="form-control" ng-change="changeCategory()" ng-options="category for category in categories" data-placeholder="Select a category..."></select>

                                        </div>
                                        <div ng-show="(requirementForm.$submitted || requirementForm.category.$touched)">
                                            <div class="help-block error logininput text-danger" ng-show="requirementForm.category.$error.required">Please select Category</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 m-b-30  fg-float">
                                        <div class="row col-md-12">
                                            <label class="selectfield fg-label" for="category">Sub Category</label>
                                            <div style="padding: 0px;margin-top: -4px;"
                                                 isteven-multi-select
                                                 disable-property="true"
                                                 class="col-md-12"
                                                 input-model="subcategories"
                                                 output-model="sub.selectedSubcategories"
                                                 button-label="subcategory"
                                                 item-label="subcategory"
                                                 tick-property="ticked"
                                                 max-labels="1"
                                                 max-height="150px"
                                                 on-item-click="selectSubcat(data)"
                                                 on-select-none="changeCategory()"
                                                 on-reset="selectSubcat(data)"
                                                 on-select-all="selectSubcat(data)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body card-padding p-t-0 p-b-0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2"><span style="font-size:20px">Choose vendors </span></div>
                                        <div class="col-md-4">
                                            <input type="text" ng-change="searchVendors(searchvendorstring)" ng-model="searchvendorstring" class="form-control input-sm m-b-10" placeholder="Search Vendor">
                                        </div>
                                        <div  ng-hide="true" class="col-md-6" ng-click="selectVendorShow=false;addVendorShow=true;"><span class="pull-right btn btn-info">Add new vendor</span></div>
                                    </div>
                                </div>
                                <dv class="row">
                                    <div ng-show="addVendorShow">

                                        <div class="form-group fg-float col-sm-6 m-b-30 top-half-buffer">
                                            <div class="fg-line">
                                                <input type="text" ng-model="newVendor.firstName" class="form-control fg-input">
                                                <label class="fg-label">Vendor First Name</label>
                                            </div>
                                            <div ng-show="addVendorShow && firstvalidation">
                                                <div class="help-block error logininput text-danger" ng-show="addVendorShow && firstvalidation">Please enter Vendor First Name</div>
                                            </div>
                                        </div>
                                        <div class="form-group fg-float col-sm-6 m-b-30 top-half-buffer">
                                            <div class="fg-line">
                                                <input type="text" ng-model="newVendor.lastName" class="form-control fg-input">
                                                <label class="fg-label">Vendor Last Name</label>
                                            </div>
                                            <div ng-show="addVendorShow && lastvalidation">
                                                <div class="help-block error logininput text-danger" ng-show="addVendorShow && lastvalidation">Please enter Vendor Last Name</div>
                                            </div>
                                        </div>
                                        <div class="form-group fg-float col-sm-6 m-b-30">
                                            <div class="fg-line">
                                                <input type="text" ng-model="newVendor.contactNum" class="form-control fg-input">
                                                <label class="fg-label">Contact No.</label>
                                            </div>
                                            <div ng-show="(addVendorShow && contactvalidation) || (addVendorShow && checkVendorPhoneUniqueResult) || (addVendorShow && contactvalidationlength)">
                                                <div class="help-block error logininput text-danger" ng-show="addVendorShow && contactvalidation">Please enter a valid Contact No.</div>
                                                <div class="help-block error logininput text-danger nowrap" ng-show="addVendorShow && contactvalidationlength">Phone Number must be exactly 10 digits.</div>

                                                <div class="help-block error logininput text-danger" ng-show="addVendorShow && checkVendorPhoneUniqueResult">Contanct No. has been already taken.</div>
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6 m-b-30">
                                            <div class="fg-line">
                                                <input type="text" ng-model="newVendor.email" class="form-control fg-input">
                                                <label class="fg-label">Email Address</label>
                                            </div>
                                            <div ng-show="(addVendorShow && emailvalidation) || (addVendorShow && emailregxvalidation) || (addVendorShow && checkVendorEmailUniqueResult)">
                                                <div class="help-block error logininput text-danger" ng-show="addVendorShow && emailvalidation">Please enter Email Address</div>
                                                <div class="help-block error logininput text-danger" ng-show="addVendorShow && emailregxvalidation">Please enter a valid Email Address</div>
                                                <div class="help-block error logininput text-danger" ng-show="addVendorShow && checkVendorEmailUniqueResult">Email Address has been already taken.</div>
                                            </div>
                                        </div>


                                        <div class="form-group fg-float col-sm-6 m-b-30 top-half-buffer">
                                            <div class="fg-line">
                                                <input type="text" ng-model="newVendor.companyName" class="form-control fg-input">
                                                <label class="fg-label">Vendor Company Name</label>
                                            </div>
                                            <div ng-show="addVendorShow && companyvalidation">
                                                <div class="help-block error logininput text-danger" ng-show="addVendorShow && companyvalidation">Please enter Vendor Company Name</div>
                                            </div>
                                        </div>


                                        <div class="form-group fg-float col-sm-6 m-b-30">
                                            <div class="fg-line">
                                                <select data-placeholder="Select a Currency..." name="vendorcurrency" ng-model="newVendor.vendorcurrency" class="form-control" ng-options="currency.value for currency in currencies"></select>
                                                <label class="fg-label">Vendor Currency</label>
                                            </div>
                                            <div ng-show="addVendorShow && vendorcurrencyvalidation">
                                                <div class="help-block error logininput text-danger" ng-show="addVendorShow && vendorcurrencyvalidation">Please Select Vendor Currency</div>
                                            </div>
                                        </div>


                                        <div class="col-xs-12 text-center m-b-10">

                                            <button class="btn btn-info btn-sm" ng-disabled="checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult" ng-click="addVendor();">Add</button>
                                            <button class="btn  btn-link btn-sm " ng-click="selectVendorShow=true;addVendorShow=false;">Cancel</button>
                                        </div>

                                        <div ng-show="addVendorShow && (checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult)" class="col-xs-12 text-center m-b-10">
                                            User with the Same mobile number alredy exists Do you whan to Assign this vendor to Your company? <a role="button" ng-click="selectVendorShow=true;addVendorShow=false;AssignVendorToCompany(newVendor.contactNum, newVendor.email);"> Assign Vendor To company</a>
                                        </div>
                                    </div>


                                    <div class="col-md-12">



                                        <div style="height:300px;max-height: 300;overflow-y: auto;">

                                            <div>
                                                <table class="table max-height-300">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:6px"></th>
                                                            <th>Company Name</th>
                                                            <th>Contact Person</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="vendor in formRequest.auctionVendors">
                                                            <td style="text-align:center;">
                                                                <div>
                                                                    <input type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForB(vendor)" value="{{vendor.vendorID}}" checked>
                                                                    <label for="checkbox"></label>
                                                                </div>
                                                            </td>
                                                            <td><a class="selected-row" target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}"><span>{{vendor.companyName}}</span></a></td>
                                                            <td><strong class="selected-row">{{vendor.vendorName}}</strong></td>
                                                        </tr>
                                                        <tr ng-repeat="vendor in Vendors">
                                                            <td style="text-align:center">
                                                                <div class="checkbox m-t-0 m-b-0">
                                                                    <input style="height:100px;width:200px;" type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}">
                                                                    <label for="checkbox"></label>
                                                                </div>
                                                            </td>
                                                            <td><a target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></td>
                                                            <td>{{vendor.vendorName}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>

                        <!--\\\\\\\\\\\\\\\\\\\\\\\\
                        ========== PAGE 4 Terms & Conditions =======
                        \\\\\\\\\\\\\\\\\\\\\\\\\-->

                        <div class="white-box col-xs-12 text-center m-t-10" ng-show="pageNo == 4" readonly="pageNo == 5">
                            <div class="card-header">
                                <div>
                                    <label>
                                        <input type="checkbox" value="" ng-model="formRequest.checkBoxEmail" checked>
                                        <i class="input-helper"></i> Send Email to the Vendors
                                    </label>
                                    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                        <input type="checkbox" value="" ng-model="formRequest.checkBoxSms" checked>
                                        <i class="input-helper"></i> Send SMS to the Vendors
                                    </label>-->
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label ng-if="isEdit == true">
                                        <input type="checkbox" value="" ng-model="formRequest.deleteQuotations" checked>
                                        <i class="input-helper"></i> Request New Quotations <span ng-if="formRequest.deleteQuotations" class="text-danger"><strong>(This will delete all the vendor Quotations)</strong></span>
                                    </label>
                                </div>
                            </div>

                            <div class="card" ng-show="pageNo == 4">
                                <div class="col-xs-12 text-center">
                                    <button ng-click="postRequest(1,4, true)" ng-disabled="formRequest.auctionVendors.length == 0 || addVendorShow == true || postRequestLoding == true" class="btn btn-info btn-file m-r-10  btn-new-look">Post Requirement<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>

                                    <button class="btn btn-info btn-new-look" ng-if="formRequest.isTabular" ng-click="cancelClick()">Cancel</button>

                                </div>
                            </div>
                            <div class="col-xs-12 text-center" ng-show="pageNo == 4" readonly="pageNo == 5">
                                <h2><small class="text-danger">Note: On Clicking Post requirement, an invite will be sent to above selected vendors.</small></h2>
                            </div>
                        </div>

                    </form>

                </div>
                </div>


                </div>


