<div>
    <div class="white-box">


        <div class="pmb-block" ng-controller="customerLogisticsListCtrl">
            <div class="row">
                <div class="pmbb-header col-md-3">
                    <h3><i class="zmdi zmdi-view-list"></i> My Requirements List</h3>
                </div>

                <div class="col-md-2">
                    <select ng-model="reqStatus" ng-change="getStatusFilter(reqStatus)" class="form-control" style="margin:5px">
                        <option selected value="ALL">ALL STATUS</option>
                        <option value='UNCONFIRMED'>UNCONFIRMED</option>
                        <option value='STARTED'>STARTED</option>
                        <option value='NOTSTARTED'>NOTSTARTED</option>
                        <option value='Negotiation Ended'>Negotiation Ended</option>
                        <option value='DELETED'>DELETED</option>
                    </select>
                </div>

                <!--<div class="col-md-2" style="margin-left: 9px;">
                    <select chosen name="category" style="margin:5px" ng-model="category" ng-change="getCategoryFilter(category)" ng-options="category as category for category in categories" style="margin:5px" class="form-control pull-right"></select>
                </div>-->
                <div style="display:inline-block;margin-right:10px;" class="col-md-2">
                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                </div>

                <!--<div class="text-right">
        <a class="btn btn-info btn-group fg-float col-md-2 m-b-30 " role="button" data-ui-sref="consalidatedReport()" aria-hidden="true" style="margin:5px">
            <strong>Consolidated Report</strong>
        </a>
    </div>-->

                <div class="text-right">
                    <div class="dropdown btn-group fg-float col-md-2 m-b-30">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px">
                            <i class="fa fa-cog" aria-hidden="true"></i> Reports
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li><a role="button" class="" data-toggle="modal" data-target="#myModal">Consolidated Report</a></li>
                            <!--<li><a role="button" class="" data-toggle="modal" data-target="#myModal1">Accounting Consolidated Report</a></li>-->


                        </ul>

                    </div>
                </div>

                <!-- Trigger the modal with a button -->
                <!--<button type="button" class="btn btn-info fg-float col-md-2 m-b-10 m-t-5" data-toggle="modal" data-target="#myModal">Consolidated Report</button>-->
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog" style="width: 70%;height:70%">

                        <!-- Modal content-->
                        <div class="modal-content ">

                            <div class="modal-header">
                                <div class="col-md-12 text-center">
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                    <h3 class="modal-title">Consolidated Report</h3>
                                </div>
                            </div>
                            <div class="col-md-12 m-t-40">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-12">From date</label>
                                        <div class="col-md-12" moment-picker="reportFromDate" format="YYYY-MM-DD">
                                            <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                            <input class="form-control" placeholder="Select a date" ng-model="reportFromDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-12">To date</label>
                                        <div class="col-md-12" moment-picker="reportToDate" format="YYYY-MM-DD">
                                            <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                            <input class="form-control" placeholder="Select a date" ng-model="reportToDate">
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-2 top-buffer">
                        <label class="col-md-12 m-b-10"></label>
                        <button class="btn btn-info" ng-click="getConsalidatedReport();">Filter</button>
                    </div>-->
                            </div>
                            <div class="form-group fg-float col-md-12 m-b-30 text-center top-buffer">
                                <label class="col-md-12 m-b-10"></label>
                                <button ng-click="getReport('CONSOLIDATED_REPORT')" class="text-center btn btn-info ng-scope">
                                    Download Report
                                </button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-info " data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>



                <!-- Modal1 -->
                <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog" style="width: 70%;height:70%">

                        <!-- Modal content-->
                        <div class="modal-content ">

                            <div class="modal-header">
                                <div class="col-md-12 text-center">
                                    <h3 class="modal-title">Accounting Report</h3>
                                </div>
                            </div>
                            <div class="col-md-12 m-t-40">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-12">From date</label>
                                        <div class="col-md-12" moment-picker="reportFromDate" format="YYYY-MM-DD">
                                            <input class="form-control" placeholder="Select a date" ng-model="reportFromDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-12">To date</label>
                                        <div class="col-md-12" moment-picker="reportToDate" format="YYYY-MM-DD">
                                            <input class="form-control" placeholder="Select a date" ng-model="reportToDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-12 m-b-30 text-center top-buffer">
                                <label class="col-md-12 m-b-10"></label>
                                <button ng-click="getReport('ACCOUNTING_CONSOLIDATED_REPORT')" class="text-center btn btn-info ng-scope">
                                    Download Report
                                </button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-info " data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>









                <!--<div class="modal" id="ReqSupportPopup" tabindex="-1">
        <div class="modal-dialog" style="width: 50%;height:50%">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                        <div class="row">
                            <div class="col-md-2">
                                <form class="deleteRequirementForm" name="deleteRequirementForm" novalidate>
                                    <button ng-click="consalidatedReport()" data-dismiss="modal" type="submit" class="btn btn-info m-r-10">Request Support</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>-->

            </div>

            <div class="table-responsive z-depth-2">
                <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                    <tr ng-repeat="auction in myAuctions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                        <td data-title="'Req ID'" sortable="'ID'">
                            {{ auction.requirementID}}
                        </td>
                        <td data-title="'Title'" sortable="'Name'" ng-if="!formRequest.isForwardBidding">
                            <a role="button" class="prmellipsis" ng-click="goToCustomerLogistic(auction.requirementID);">{{auction.title}}</a>
                        </td>
                        <td data-title="'Title'" sortable="'Name'" ng-if="formRequest.isForwardBidding">
                            <a class="prmellipsis" data-ui-sref="fwd-view-req({Id:auction.requirementID})">{{auction.title}}</a>
                        </td>
                        <td data-title="'DA No'" sortable="'No'">
                            {{ auction.daNo}}
                        </td>
                        <!--<td data-title="'Category'" sortable="'Category'">
                            {{ auction.category[0]}}
                        </td>-->
                        <!--<td data-title="'Price'" sortable="'Budget'">
                            <span style="white-space: nowrap;" ng-bind-html="auction.price | numToCurrency:auction.currency"></span>
                        </td>-->
                        <td data-title="'STATUS'" sortable="'Is Closed'">
                            {{ auction.status}}
                        </td>
                        <!--<td data-title="'Reports'">
                            <a title="View Report" role="button" ui-sref="pages.logistic_pricecomparison({reqId : auction.requirementID})" ng-click="goToReqReport(auction.requirementID)" class="tm-icon zmdi zmdi-hc-2x zmdi-trending-up"> Report</a>
                        </td>-->
                        <td data-title="''">
                            <a title="Clone Requirement" role="button" ng-click="cloneRequirement(auction.requirementID)" class="">Clone</a>
                        </td>
                    </tr>
                </table>
                
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
            <div class="clearfix" style="margin-bottom:150px;"></div>
        </div>


    </div>
</div>