﻿<div class="white-box">
    <div class="row">

        <div ng-controller="LogisticPriceComparisonController as _priceComparison" ng-init="_priceComparison.getByPage()">


            <div class="pmb-block" ng-init="_priceComparison.getList()" st-table="_priceComparison.gridOpitions.data">
                <div class="pmbb-header">
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-md-4">
                            <h2 style="display:inline-block;margin:0">
                                <i class="zmdi zmdi-view-list"></i> Logistic price comparison
                            </h2>
                          
                        </div>
                        <div class="col-md-8 text-right">
                            <button class="btn btn-primary" ng-click="_priceComparison.openUpdateCharges()">Update quotation</button>
                            <button ng-click="downloadExcel();" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>
                            <button ng-hide="true" id="downloadExcelButton" class="btn btn-info" 
                                    onclick="tableToExcel('testTable', 'Comparitives')" 
                                    value="Export to Excel"></button>
                        </div>
                    </div>

                    <div class="table-responsive z-depth-2">
                        <table class="table table-striped table-vmiddle">
                            <tbody>
                                <tr style="text-align:left">
                                    <th colspan="1">
                                        <strong>Req ID:</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.RequirementId}}
                                    </td>
                                </tr>

                                <tr style="text-align:left;">
                                    <th colspan="1">
                                        <strong> Title:</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.Title}}
                                    </td>
                                </tr>
                                <tr style="text-align:left;">
                                    <th colspan="1">
                                        <strong>Invoice Number</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.InvoiceNumber}}
                                    </td>
                                </tr>

                                <tr style="text-align:left;">
                                    <th colspan="1">
                                        <strong>Invoice Date</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.InvoiceDate}}
                                        <!--<span ng-if="{'DateTime':(_priceComparison.reqDetails.InvoiceDate > 0?'{{_priceComparison.reqDetails.InvoiceDate}}':'NA')}"></span>-->
                                    </td>
                                </tr>

                                <tr style="text-align:left;">
                                    <th colspan="1">
                                        <strong>Consignee Name</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.ConsigneeName}}
                                    </td>
                                </tr>
                                 <tr style="text-align:left;">
                                    <th colspan="1">
                                        <strong>Customer Name</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.CustomerName}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <style>
                        .table-vmiddle .header {
                            min-width: 150px !important;
                        }
                    </style>


                    <div class="table-responsive z-depth-2" ng-if="_priceComparison.gridOpitions.data && _priceComparison.gridOpitions.data.length > 0">
                        <div id="testTable">
                        <table class="table table-striped table-vmiddle" show-filter="false" >

                            <tbody>
                                <tr style="text-align:left;" ng-show="loadexcel == 1">
                                    <th colspan="1">
                                        <strong>Requirement id</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.RequirementId}}
                                    </td>
                                </tr>

                                <tr style="text-align:left;" ng-show="loadexcel == 1">
                                    <th colspan="1">
                                        <strong>Requirement title</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.Title}}
                                    </td>
                                </tr>

                                <tr style="text-align:left;" ng-show="loadexcel == 1">
                                    <th colspan="1">
                                        <strong>Invoice Number</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.InvoiceNumber}}
                                    </td>
                                </tr>

                                <tr style="text-align:left;" ng-show="loadexcel == 1">
                                    <th colspan="1">
                                        <strong>Invoice Date</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.InvoiceDate}}
                                    </td>
                                </tr>

                                <tr style="text-align:left;" ng-show="loadexcel == 1">
                                    <th colspan="1">
                                        <strong>Consignee Name</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.ConsigneeName}}
                                    </td>
                                </tr>
                                <tr style="text-align:left;" ng-show="loadexcel == 1">
                                    <th colspan="1">
                                        <strong>Customer Name</strong>
                                    </th>
                                    <td colspan="5">
                                        {{_priceComparison.reqDetails.CustomerName}}
                                    </td>
                                </tr>

                                <tr ng-if="col.visible" ng-repeat="col in _priceComparison.gridOpitions.columns">
                                    <th>
                                        {{col.name}}
                                    </th>
                                    <td ng-repeat="row in _priceComparison.gridOpitions.data" class="text-center">

                                        <st-cell-template row="row" column="col" app-scope="_priceComparison"> </st-cell-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-md-12 text-center">
                            <h3>Items Previous Price</h3>
                        </div>

                        <table ng-repeat="item in itemsPrices" class="table table-hover table-responsive curved-border">
                            <thead>
                                <tr>
                                    <th>
                                        <strong>Req ID</strong>
                                    </th>
                                    <th>
                                        <strong>Product Name</strong>
                                    </th>
                                    <th>
                                        <strong>Net Weight</strong>
                                    </th>
                                    <th>
                                        <strong>Nature of Goods</strong>
                                    </th>
                                    <th>
                                        <strong>Storage Condition</strong>
                                    </th>
                                    <th>
                                        <strong>Port of Destination</strong>
                                    </th>
                                    <th>
                                        <strong>Final Destination</strong>
                                    </th>
                                    <th>
                                        <strong>Vendor Company Name</strong>
                                    </th>
                                    <th>
                                        <strong>Airline Name</strong>
                                    </th>
                                    <th>
                                        <strong>Final Price</strong>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item2 in item">
                                    <td>
                                        {{item2.requirementID}}
                                    </td>
                                    <td>
                                        {{item2.productIDorName}}
                                    </td>
                                    <td>
                                        {{item2.netWeight}}
                                    </td>
                                    <td>
                                        {{product.natureOfGoods == 1?'HAZ':'NON-HAZ'}}
                                    </td>
                                    <td>
                                        {{item2.storageCondition}}
                                    </td>
                                    <td>
                                        {{item2.portOfLanding}}
                                    </td>
                                    <td>
                                        {{item2.finalDestination}}
                                    </td>
                                    <td>
                                        {{item2.companyName}}
                                    </td>
                                    <td>
                                        {{item2.airline}}
                                    </td>
                                    <td>
                                        {{item2.initialPrice}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <label ng-if="itemsPrices.length == 0" class="text-danger">
                            No previous records found.
                        </label>

                        <label>Note: We retrieve priced based on exact match of "PRODUCT,NET WT,NATURE OF GOODS,FINAL DESTINATION"</label>
                    </div>
                    <!--<div >
                        <button role="button" class="btn btn-info" ng-repeat="row in _priceComparison.gridOpitions.data" ng-click="getPreviousItemPrice(row, $index);">Item {{$index + 1}} Best Price</button>
                     </div>-->
                    <!--<div class="col-md-12">
                        <div  ng-if="previousPrices.length > 0" class="col-md-12 table-responsive" >
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        <strong>Req ID</strong>
                                    </th>
                                    <th>
                                        <strong>Product Name</strong>
                                    </th>
                                    <th>
                                        <strong>Net Weight</strong>
                                    </th>
                                    <th>
                                        <strong>Nature of Goods</strong>
                                    </th>
                                    <th>
                                        <strong>Storage Condition</strong>
                                    </th>
                                    <th>
                                        <strong>Port of Destination</strong>
                                    </th>
                                    <th>
                                        <strong>Final Destination</strong>
                                    </th>
                                    <th>
                                        <strong>Vendor Company Name</strong>
                                    </th>
                                    <th>
                                        <strong>Airline Name</strong>
                                    </th>
                                    <th>
                                        <strong>Previous Unit Price</strong>
                                    </th>
                                </tr>
                                <tr ng-repeat="bp in previousPrices">
                                    <td>
                                        {{bp.requirementID}}
                                    </td>
                                    <td>
                                        {{bp.listReqItems[0].productIDorName}}
                                    </td>
                                    <td>
                                        {{bp.listReqItems[0].netWeight}}
                                    </td>
                                    <td>
                                        <span ng-if="bp.listReqItems[0].natureOfGoods == 1">HAZ</span>
                                        <span ng-if="bp.listReqItems[0].natureOfGoods == 0">NON-HAZ</span>

                                       
                                    </td>
                                    <td>
                                        {{bp.listReqItems[0].storageCondition}}
                                    </td>
                                    <td>
                                        {{bp.listReqItems[0].portOfLanding}}
                                    </td>
                                    <td>
                                        {{bp.listReqItems[0].finalDestination}}
                                    </td>
                                    <td>
                                        {{bp.companyName}}
                                    </td>
                                    <td>
                                        {{bp.airline}}
                                    </td>
                                    <td>
                                        {{bp.initialPrice}}
                                    </td>
                                </tr>
                               
                            </table>

                            <label ng-if="itemPreviousPrice.length = 0" class="text-danger">
                                No previous recods found.
                            </label>

                            <label>Note: We retrieve priced based on exact match of "PRODUCT,NET WT,NATURE OF GOODS,FINAL DESTINATION"</label>
                        </div>
                    </div>-->
                    <div class="table-responsive z-depth-2" ng-if="!_priceComparison.gridOpitions.data || _priceComparison.gridOpitions.data.length == 0">
                        <h3 class="text-center">Logistic Quotations are not created</h3>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="UpdateChargesModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Update charges</h3>

    </div>
    <div class="modal-body" id="modal-body">
        <form novalidate name="RegFieldCreateOrUpdate2">
            <div class="form-group row">
                <div class="col-xs-6">
                    <label class="form-control-label">Airway Bill Number <span class="text-danger">*</span></label>
                    <input type="text"
                           name="AirwayBillNumber"
                           autofocus required
                           min="0"
                           ng-model="_modalCtrl.Model.AirwayBillNumber" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.AirwayBillNumberValidation}}</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="form-control-label">Shipping Bill Number <span class="text-danger">*</span></label>
                    <input type="text"
                           name="ShippingBillNumber"
                           autofocus required
                           min="0"
                           ng-model="_modalCtrl.Model.ShippingBillNumber" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.ShippingBillNumberValidation}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label class="form-control-label">Advance license number <span class="text-danger">*</span></label>
                    <input type="text"
                           name="LicenseNumber"
                           autofocus required
                           min="0"
                           ng-model="_modalCtrl.Model.LicenseNumber" class="form-control" />
                     <div>
                         <span class="text-danger">{{_modalCtrl.LicenseNumberValidation}}</span>
                    </div>
                    <!--<div ng-messages="RegFieldCreateOrUpdate2.LicenseNumber.$error && RegFieldCreateOrUpdate2.$submitted" role="alert">
                        <div ng-message="required">Please enter License number.</div>

                    </div>-->
                    <!--<div ng-message="min">min value is 0</div>-->
                </div>
                <div class="col-xs-6">
                    <label class="form-control-label">Drawback Amount <span class="text-danger">*</span></label>
                    <input type="number"
                           name="DrawbackAmount"
                           autofocus required
                           min="0"
                           ng-model="_modalCtrl.Model.DrawbackAmount" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.DrawbackAmountValidation}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label class="form-control-label">Loading/Unloading Charges <span class="text-danger">*</span></label>
                    <input type="number"
                           name="LoadingUnloadingCharges"
                           autofocus required
                           min="0"
                           ng-model="_modalCtrl.Model.LoadingUnloadingCharges" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.LoadingUnloadingChargesValidation}}</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="form-control-label">Warehouse Storages <span class="text-danger">*</span></label>
                    <input type="number"
                           name="WarehouseStorages"
                           autofocus required
                           min="0"
                           ng-model="_modalCtrl.Model.WarehouseStorages" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.WarehouseStoragesValidation}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label class="form-control-label">Additional/Misc.Expenses <span class="text-danger">*</span></label>
                    <input type="number"
                           name="AdditionalMiscExp"
                           autofocus required
                           min="0"
                           ng-model="_modalCtrl.Model.AdditionalMiscExp" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.AdditionalMiscExpValidation}}</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="form-control-label">Narcotic Sub-charges <span class="text-danger">*</span></label>
                    <input type="number"
                           name="NarcoticSubcharges"
                           autofocus required
                           min="0"
                           ng-model="_modalCtrl.Model.NarcoticSubcharges" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.NarcoticSubchargesValidation}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label class="form-control-label">Service Charges <span class="text-danger">*</span></label>

                    <input type="number"
                           name="ServiceCharges"
                           autofocus required
                           min="0"
                           ng-model="_modalCtrl.Model.ServiceCharges" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.ServiceChargesValidation}}</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="form-control-label">Custom Clearance <span class="text-danger">*</span></label>
                    <input type="number"
                           name="CustomClearance"
                           required
                           min="0"
                           ng-model="_modalCtrl.Model.CustomClearance" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.CustomClearanceValidation}}</span>
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label class="form-control-label">Terminal Handling <span class="text-danger">*</span></label>
                    <input type="number"
                           name="TerminalHandling"
                           required
                           min="0"
                           ng-model="_modalCtrl.Model.TerminalHandling" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.TerminalHandlingValidation}}</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="form-control-label">Invoice Number <span class="text-danger">*</span></label>
                    <input type="text"
                           name="InvoiceNumber"
                           required
                           min="0"
                           ng-model="_modalCtrl.Model.InvoiceNumber" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.InvoiceNumberValidation}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-6">
                    <label class="form-control-label">Customer Name <span class="text-danger">*</span></label>
                    <input type="text"
                           name="CustomerName"
                           required
                           min="0"
                           ng-model="_modalCtrl.Model.CustomerName" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.CustomerNameValidation}}</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="form-control-label">Consignee Name <span class="text-danger">*</span></label>
                    <input type="text"
                           name="ConsigneeName"
                           required
                           min="0"
                           ng-model="_modalCtrl.Model.ConsigneeName" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.ConsigneeNameValidation}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-6" ng-show="_modalCtrl.ispalletizedisabled == true">
                    <label class="form-control-label">Pallet Prices <span class="text-danger">*</span></label>
                    <input type="text"
                           name="palletizeNumber"
                           
                           ng-model="_modalCtrl.Model.palletizeNumber" class="form-control" />
                    <div>
                        <span class="text-danger">{{_modalCtrl.palletizeNumberValidation}}</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="form-control-label">Invoice Date <span class="text-danger">*</span></label>
                    <!--<div class="col-xs-12">
    <input type="date" data-date-inline-picker="true"
    name="InvoiceDate"
    required
    min="0"
    ng-model="_modalCtrl.Model.InvoiceDate" class="form-control" />
    <div ng-messages="RegFieldCreateOrUpdate2.InvoiceDate.$error && RegFieldCreateOrUpdate2.$submitted" role="alert">
    <div ng-message="required">Invoice Date is required</div>
    <div ng-message="min">min value is 0</div>
    </div>
    </div>-->
                    <div>
                        <div moment-picker="_modalCtrl.Model.InvoiceDate" format="YYYY-MM-DD">
                            <input class="form-control" placeholder="Select a date"
                                   ng-model="_modalCtrl.Model.InvoiceDate">
                        </div>
                    </div>
                    <div>
                        <span class="text-danger">{{_modalCtrl.InvoiceDateValidation}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group row text-right">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="button" ng-click="_modalCtrl.Update(RegFieldCreateOrUpdate2)">Update</button>
                    <button class="btn btn-warning" type="button" ng-click="_modalCtrl.close()">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</script>