<html>
<head>
    <style>
        table {{border-collapse: collapse;}}

        table.borderClass td {{
            border: 1px solid black;
            text-align: center;
        }}
		
		table.tablesdata td {{
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
			padding:3px;
		}}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
		.line1{{
			width: 112px;
			height: 47px;
			position: relative;
		}}
    </style>
</head>
<body>
    <table width='100%' cellpadding="0" cellspacing="0">
	
		<tr>
            <td>
                <table width='100%' cellpadding="0" cellspacing="0" >
                    <tr>
                        <td>
                            <h1><center>{17}</center></h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="line">
            <td>
                <table width='100%' cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:20%;">
                            <img width="100px" height="50px" src="" />
                        </td>
                        <td style="width:10%;align=right">
							<h3>Dated : {1}</h3>
                        </td>
                    </tr>
					<tr>
                        <td style="width:10%;align=right">
							<h3>Quote No: {2}</h3>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
		<tr>
            <td>
                <table width='100%' cellpadding="0" cellspacing="0" style="margin-left:40px;">
                    <tr>
                        <td>
                            To,<br />
                            M/S  {3}, <br />
                            {4}<br />
                            Kind Attn: {5}<br />
                            Sub: Proposal for {6} <br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width='90%' cellpadding="0" cellspacing="0" style="margin-left:40px;">
                    <tr>
                        <td>
                            <br /><br />Dear Sir/Madam,<br /><br />
                            This is with reference to the discussion we had regarding {6}. We thank you for giving us an opportunity to work on your requirement. Please find the below mentioned proposal for your requirement, and do get back for further clarifications. <br /><br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- <tr> -->
            <!-- <td style="text-align:center;"> --o0o-- </td> -->
        <!-- </tr> -->
        <tr>
            <td style="text-align:center;">
                <h2><b>Bill of Material</b></h2>
            </td>
        </tr>
    </table>
    <table width='100%' cellpadding="0" cellspacing="0" class="tablesdata">	
		<tr>
			<td> Product Name </td>
			<td> Product No </td>
			<td> Description </td>
			<td> Quantity </td>
			<td> Brand </td>
			<td> Item Price </td>
		</tr>
        {0}
		<tr>
			<td colspan=5 style="padding:5px;"> Total </td>
			<td > {8} </td>
        </tr>
        <tr>
            <td colspan=5 style="text-align:center;"> Taxes in % </td>
            <td> {9} </td>
        </tr>
		<tr>
            <td colspan=5 style="text-align:center;"> Flieght Charges </td>
            <td> {10} </td>
        </tr>
        <tr>
            <td colspan=5 style="text-align:center;"> Grand Total </td>
            <td> {11} </td>
        </tr>
    </table>
    <p>
        <u><b>
            TERMS AND CONDITIONS:
        </b></u>
    </p>
    <table style="width:100%" class="marginClass">
        <tr>
            <td style="min-width:40%; vertical-align:top"> 1.  Warranty </td>
            <td style="width:60%;"> : {12} </td>
        </tr>
        <tr>
            <td style="min-width:40%; vertical-align:top"> 2.  Payment Terms </td>
            <td style="width:60%;"> : {13} </td>
        </tr>
        <tr>
            <td style="min-width:40%; vertical-align:top"> 3.  Delivery Duration </td>
            <td style="width:60%;"> : {14} </td>
        </tr>
        <tr>
            <td style="min-width:40%; vertical-align:top"> 4.  Price Validity </td>
            <td style="width:60%;"> : {15}  </td>
        </tr>

    </table>
	<p>
		<b><i>NOTE:</i></b> THIS IS AN AUTO GENERATED QUOTATION FROM PRM360 SIGNATURE NOT REQUIRED.
	</p>
</body>
</html>