<div class="pm-overview c-overflow padding0  col-md-4" data-ng-controller="profileCtrl">            
    <div class="pmo-block pmo-contact hidden-xs">
        <ul class="main-menu">
            <li></li>
            <li ng-click="stateChangeFunction('profile-home')" style="cursor: pointer; cursor: hand;"><strong>HOME</strong></li>
            <li></li>
            <li ng-click="stateChangeFunction('profile-info')" style="cursor: pointer; cursor: hand;"><strong>INFO</strong></li>
            <li ng-show="showAddNewReq()"></li>
            <li ng-show="showAddNewReq()" ng-click="stateChangeFunction('profile-subusers')" style="cursor: pointer; cursor: hand;"><strong>SUB USERS</strong></li>
            <li ng-show="showAddNewReq()"></li>
            <li ng-show="showAddNewReq()" ng-click="stateChangeFunction('profile-myvendors')" style="cursor: pointer; cursor: hand;"><strong>MY VENDORS</strong></li>
            <li></li>
            <li ng-click="stateChangeFunction('profile-password')" style="cursor: pointer; cursor: hand;"><strong>RESET PASSWORD</strong></li>
            <li ng-show="showAddNewReq()"></li>
            <li ng-show="showAddNewReq()"ng-click="stateChangeFunction('profile-settings')" style="cursor: pointer; cursor: hand;"><strong>NEGOTIATION SETTINGS</strong></li>
            <li ng-show="showAddNewReq()"></li>
            <li ng-show="showAddNewReq()" ng-click="stateChangeFunction('profile-myrequirements')" style="cursor: pointer; cursor: hand;"><strong>MY REQUIREMENTS</strong></li>
            <li ng-show="!showAddNewReq()"></li>
            <li ng-show="!showAddNewReq()" ng-click="stateChangeFunction('profile-myleads')" style="cursor: pointer; cursor: hand;"><strong>MY LEADS</strong></li>
        </ul>
    </div>
</div>
<!--<div class="pm-body clearfix">
    <ul class="tab-nav tn-justified" data-ng-include="'template/profile-menu.html'"></ul>
    <data ui-view></data>
</div>-->


