<div ng-class="isMobile ? '' : 'login-content login_background'" data-ng-controller="loginCtrl">
    <!-- Login -->

    <div class="col-md-8" ng-if="!isMobile">
        <div>
            <h1 class="openingpage-content">Purchasing is now simplified with PRM360.</h1>
        </div>
        <div class="assurance1">
            Helping Buyers and Sellers Close the Deal In just 15 minutes.
        </div>
        <div class="col-md-8">
            <div class="assurance clearfix">
                <div class="col-md-2">
                    <i class="zmdi zmdi-account-add zmdi-css"></i>
                </div>
                <div class="col-md-10">
                    Effective grading system to build trust among the buyers and sellers.
                </div>
            </div>
            <div class="assurance clearfix">
                <div class="col-md-2">
                    <i class="zmdi zmdi-accounts-outline zmdi-css"></i>
                </div>
                <div class="col-md-10">
                    Customer Relation ship solidified on top of a Reliable Support System.
                </div>
            </div>
            <div class="assurance clearfix">
                <div class="col-md-2">
                    <i class="zmdi zmdi-accounts-alt zmdi-css"></i>
                </div>
                <div class="col-md-10">
                    Vendor Relation ship Management enhanced by continuous Interaction and Communication.
                </div>
            </div>
            <div class="assurance clearfix">
                <div class="col-md-2">
                    <i class="zmdi zmdi-settings zmdi-css"></i>
                </div>
                <div class="col-md-10 ">
                    Fast, Easy & Effective execution, through and through.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': login === 1 }" data-ng-if="login === 1">

            <img class="logo text-center" src="img/logos/acadslogo_black.png" style="width: 172px;height: 72px;">
            <form ng-submit="loginForm.$valid && loginSubmit()" class="loginForm" name="loginForm" novalidate>
                <div class="alert alert-danger alert-dismissible" ng-if="msg" ng-show="showMessage">
                    <button type="button" class="close" ng-click="closeMsg()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span class="logininput" ng-bind-html="msg"></span>
                </div>
                <div class="alert alert-danger alert-dismissible" ng-if="successmsg" ng-show="sucessshowMessage">
                    <button type="button" class="close" ng-click="closeMsg()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span class="logininput" ng-bind-html="successmsg"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="user.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1"
                                   ng-change="change()" required />
                            <label class="fg-label" for="username">Phone</label>
                        </div>
                        <div ng-show="loginForm.$submitted || loginForm.username.$touched">
                            <div class="help-block error logininput" ng-show="loginForm.username.$error.required">Please enter Phone Number</div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-male"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input ng-model="user.password" name="password" type="password" class="form-control logininput" id="exampleInputPassword1"
                                   ng-change="change()" required />
                            <label class="fg-label" for="password">Password</label>
                        </div>
                        <div ng-show="loginForm.$submitted || loginForm.password.$touched">
                            <div class="help-block error logininput" ng-show="loginForm.password.$error.required">Please enter Password</div>
                        </div>
                    </div>
                </div>
                <div class="input-group" style="padding-right:15px;">
                    <button type="submit" class="btn btn-danger pull-left btn-new-look login-btn">Login</button>
                    <a href="" data-ng-click="forgotbtn()" class="forgotcolor">Forgot Password</a>
                </div>
                <div class="clearfix"></div>
                <!-- <div class="input-group checkbox">
                    <span class="input-group-addon"></span>
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i> Keep me signed in
                    </label>
                </div> -->
                <!-- <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i> Keep me signed in
                    </label>
                </div> -->
                <div class="clearfix">
                    <!-- <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button> -->
                </div>
            </form>
            <div class="col-xs-12 text-center registrationDiv">
                <!--  <div class="col-xs-2 text-center">
                 </div> -->
                <div class="text-center">
                    <a href="" tooltip-placement="top" data-ng-click="vendorregistrationbtn()" uib-tooltip="Registration" class="">Registration</a>
                </div>
            </div>
        </div>

        <!-- vendor registrtation-->
        <div class="lc-block vendor-registration" id="l-register_vendor" data-ng-class="{ 'toggled': register_vendor === 1 }" data-ng-if="register_vendor === 1">
            <img class="logo text-center" src="img/logos/acadslogo_black.png" style="width: 172px;height: 72px;">
            <div class="col-xs-12 text-center padding0">
                <div class="col-xs-12 padding0 text-right reg-login-button-div">
                    Already have an account?  <a href="" tooltip-placement="top" data-ng-click="loginbtn()" uib-tooltip="Login" class="registerations reg-login-button">Log In</a> here.
                </div>
            </div>
            <form ng-submit="vendorregisterForm.$valid && RegisterVendor1()" class="vendorregisterForm" name="vendorregisterForm" novalidate>
                <div class="alert alert-danger alert-dismissible" ng-if="msg" ng-show="showMessage">
                    <button type="button" class="close" ng-click="closeMsg()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span class="logininput" ng-bind-html="msg"></span>
                </div>
                <div class="alert alert-danger alert-dismissible" ng-if="successmsg" ng-show="sucessshowMessage">
                    <button type="button" class="close" ng-click="closeMsg()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span class="logininput" ng-bind-html="successmsg"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.firstName" name="firstName" type="text" class="form-control logininput" id="firstName" required />
                            <!--<input ng-model="vendorregisterobj.firstName" name="firstName" type="text" id="firstName"/>-->
                            <label class="fg-label" for="firstName">First Name</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.firstName.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.firstName.$error.required">Please enter First Name</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.lastName" name="lastName" type="text" class="form-control logininput" id="lastName" required />
                            <label class="fg-label" for="lastName">Last Name</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.lastName.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.lastName.$error.required">Please enter Last Name</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <select chosen data-placeholder="Select a role..." name="role" ng-model="vendorregisterobj.role" required class="form-control">
                                <option value="VENDOR">Vendor</option>
                                <option value="CUSTOMER">Customer</option>
                            </select>
                            <label class="fg-label" for="role">Select a Role...</label>
                        </div>
                        <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.role.$touched)">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.role.$error.required">Please Select a Role</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.institution" name="institution" type="text" class="form-control logininput" id="institution"
                                   ng-change="change()" required />
                            <label class="fg-label" for="institution">Company Name</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.institution.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.institution.$error.required">Please enter Company Name</div>
                        </div>
                        <!-- <div class="help-block error logininput" ng-show="checkCompanyUniqueResult">Company Name already exists</div> -->
                    </div>
                </div>
                <div class="input-group" ng-if="vendorregisterobj.role == 'VENDOR'">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <select ng-change="loadSubCategories();" chosen data-placeholder="Select a category..." name="category" ng-model="vendorregisterobj.category" ng-options="category for category in categories" required class="form-control"></select>
                            <label class="fg-label" for="category">Select a Category...</label>
                        </div>
                        <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.category.$touched)">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.category.$error.required">Please Select Category</div>
                        </div>
                    </div>
                </div>


                <div ng-show="vendorregisterobj.role == 'VENDOR'" isteven-multi-select
                     input-model="subcategories"
                     output-model="sub.selectedSubcategories"
                     button-label="subcategory"
                     item-label="subcategory"
                     tick-property="ticked"
                     max-labels="1"
                     max-height="150px">
                </div>




                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <!--ng-class="{'fg-toggled': true===true}"-->
                            <i class="mdi-social-person-outline prefix">
                            </i>
                            <select data-placeholder="Select a Currency..." name="currency" id="currency" ng-model="vendorregisterobj.currency" ng-options="currency.value for currency in currencies" required class="form-control"></select>
                            <label class="fg-label" for="currency">Select a Currency...</label>
                        </div>
                        <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched)">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.currency.$error.required">Please Select Currency</div>
                        </div>
                    </div>
                </div>


                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <!--ng-class="{'fg-toggled': true===true}"-->
                            <i class="mdi-social-person-outline prefix"></i>
                            <select data-placeholder="Select a Timezone..." name="timezone" id="timezone" ng-model="vendorregisterobj.timeZone" ng-options="timezone.value for timezone in timezones" required class="form-control"></select>
                            <label class="fg-label" for="timezone">Select a Timezone...</label>
                        </div>
                        <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.timezone.$touched)">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.timezone.$error.required">Please Select Timezone</div>
                        </div>
                    </div>
                </div>

                <!-- <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1"  required />
                            <label class="fg-label" for="username">Username</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.username.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.username.$error.required">Please enter username</div>
                        </div>
                    </div>
                </div> -->
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.email" ng-blur="checkUserUniqueResult('EMAIL',vendorregisterobj.email)" name="email" type="email" class="form-control logininput" id="exampleInputEmail1" ng-change="EmailValidateVendor()" ;
                                   required />
                            <label class="fg-label" for="email">Email Address</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.email.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.email.$error.required">Please enter Email</div>
                            <div class="help-block error logininput" ng-show="!vendorregisterForm.email.$error.required && vendorregisterForm.email.$error.email">Please enter a valid Email</div>

                        </div>
                        <div class="help-block error logininput" ng-show="checkEmailUniqueResult">Email already exists</div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <!--div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input type="number" ng-blur="checkUserUniqueResult('PHONE',vendorregisterobj.phoneNum)" ng-model="vendorregisterobj.phoneNum" name="phoneNum" ng-minlength="10" ng-maxlength="10"  class="form-control logininput" id="phoneNum" ng-change="PhoneValidate1()"
                             required />
                            <label class="fg-label" for="phoneNum">Phone Number</label>
                        </div-->

                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input type="number" ng-change="change();checkpassword()" ng-model="vendorregisterobj.phoneNum" name="phoneNum" class="form-control logininput" id="phoneNum" ng-minlength="10" ng-maxlength="10"
                                   ng-blur="checkUserUniqueResult('PHONE',vendorregisterobj.phoneNum)" required />
                            <label class="fg-label" for="phoneNum">Phone Number</label>

                        </div>


                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.phoneNum.$error.required">Please enter Phone Number</div>
                            <div class="help-block error logininput" ng-show="vendorregisterobj.phoneNum.$error.number">Please enter a valid phonenumber</div>
                            <div class="help-block error logininput nowrap" ng-show="vendorregisterForm.phoneNum.$error.minlength">Phone Number must be exactly 10 digits.</div>
                            <div class="help-block error logininput nowrap" ng-show="vendorregisterForm.phoneNum.$error.maxlength">Phone Number must be exactly 10 digits.</div>
                        </div>
                        <div class="help-block error logininput" ng-show="checkPhoneUniqueResult && !vendorregisterForm.phoneNum.$error.minlength && !vendorregisterForm.phoneNum.$error.minlength && !vendorregisterForm.phoneNum.$error.required">Phone number already exists</div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-male"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input ng-change="checkpassword();" ng-model="vendorregisterobj.password" name="password" type="password" ng-minlength="6" class="form-control logininput" id="password"
                                   required />
                            <label class="fg-label" for="password">Password</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.password.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.password.$error.required">Please enter Password</div>
                            <div class="help-block error logininput" ng-show="vendorregisterForm.password.$error.minlength">Password must be at least 6 characters.</div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-male"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input ng-model="vendorregisterobj.confirmpassword" name="confirmpassword" type="password" class="form-control logininput" id="confirmpassword" pw-check="password"
                                   required />
                            <label class="fg-label" for="confirmpassword">Confirm Password</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.confirmpassword.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.confirmpassword.$error.required">Please enter Confirm Password</div>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.confirmpassword.$touched">
                            <div class="help-block error logininput" ng-show="!vendorregisterForm.confirmpassword.$error.required && vendorregisterForm.confirmpassword.$error.pwmatch">Passwords don't match.</div>
                        </div>
                    </div>
                </div>
                <!--<div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.panno" ng-minlength="10" ng-blur="checkUserUniqueResult('PAN',vendorregisterobj.panno)" ng-pattern="/^([a-zA-Z]{5})(\d{4})([a-zA-Z]{1})$/" name="panno" type="text" class="form-control logininput" id="panno" />
                            <label class="fg-label" for="panno">PAN</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.panno.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.panno.$error.pattern">Please enter a valid Pan Number (Ex : ABCDE1234F)</div>
                        </div>
                        <div class="help-block error logininput" ng-show="checkPANUniqueResult && !vendorregisterForm.panno.$error.pattern && vendorregisterobj.panno != ''">PAN already exists</div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.vatno" name="vatno" ng-blur="checkUserUniqueResult('TIN',vendorregisterobj.vatno)" ng-minlength="11" ng-maxlength="11" type="number" class="form-control logininput" id="vatno" />
                            <label class="fg-label" for="vatno">TIN</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.vatno.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.vatno.$error.minlength">TIN must be at least 11 characters.</div>
                            <div class="help-block error logininput" ng-show="vendorregisterForm.vatno.$error.maxlength">TIN must be at least 11 characters.</div>
                        </div>
                        <div class="help-block error logininput" ng-show="checkTINUniqueResult && !vendorregisterForm.vatno.$error.minlength && !vendorregisterForm.vatno.$error.maxlength && vendorregisterobj.vatno != ''">TIN already exists</div>
                    </div>
                </div>-->
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.taxno" ng-blur="checkUserUniqueResult('STN',vendorregisterobj.taxno)" ng-minlength="15" ng-maxlength="15" name="taxno" type="text" class="form-control logininput" id="taxno" />
                            <label class="fg-label" for="taxno">GST</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.taxno.$touched">
                            <!--<div class="help-block error logininput" ng-show="vendorregisterForm.taxno.$error.pattern">TAX Number should have only alphanumeric.</div>-->
                            <div class="help-block error logininput" ng-show="vendorregisterForm.taxno.$error.minlength">GST Number must be at least 15 characters.</div>
                            <div class="help-block error logininput" ng-show="vendorregisterForm.taxno.$error.maxlength">GST Number must be at least 15 characters.</div>
                        </div>
                        <div class="help-block error logininput" 
                             ng-show="checkSTNUniqueResult && !vendorregisterForm.taxno.$error.minlength && !vendorregisterForm.taxno.$error.maxlength && vendorregisterobj.taxno != ''">GST already exists</div>
                    </div>
                </div>

                <div class="">

                    <div class="input-group">
                        <div class="form-group fg-float">
                            <div class="fg-line input-field">
                                <label class="fg-label" for="taxno">GST</label>
                                <i class="mdi-social-person-outline prefix"></i>
                                <input ng-model="vendorregisterobj.taxno" ng-blur="checkUserUniqueResult('STN',vendorregisterobj.taxno)" ng-minlength="15" ng-maxlength="15" name="taxno" type="text" class="form-control logininput" id="taxno" />
                            </div>
                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.taxno.$touched">
                                <!--<div class="help-block error logininput" ng-show="vendorregisterForm.taxno.$error.pattern">TAX Number should have only alphanumeric.</div>-->
                                <div class="help-block error logininput" ng-show="vendorregisterForm.taxno.$error.minlength">GST Number must be at least 15 characters.</div>
                                <div class="help-block error logininput" ng-show="vendorregisterForm.taxno.$error.maxlength">GST Number must be at least 15 characters.</div>
                            </div>
                            <div class="help-block error logininput" ng-show="checkSTNUniqueResult && !vendorregisterForm.taxno.$error.minlength && !vendorregisterForm.taxno.$error.maxlength && vendorregisterobj.taxno != ''">GST already exists</div>
                        </div>
                    </div>

                </div>
                <button ng-if="checked" ng-disabled="ispassword" type="submit" class="btn btn-danger create-account-btn btn-new-look">Create Account</button>

                <div class="card">
                    <div class="card-header">
                        <div class="fileinput fileinput-new" data-provides="fileinput" id="alerts">
                            <a ng-click="clickToOpen()">Read Terms & Condition</a>
                        </div>
                        <div>
                            <h5>I Accept the Terms & Conditions :  <input type="checkbox" id="checkbox1" ng-model="checked"></h5>
                        </div>
                    </div>
                </div>



                <div class="clearfix">
                    <!-- <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button> -->
                </div>
            </form>
        </div>

        <!-- NEW Forgot Password -->
        <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': forgot === 1 }" data-ng-if="forgot === 1">
            <img class="logo text-center" src="img/logos/acadslogo_black.png" style="width: 172px;height: 72px;">
            <form ng-submit="forgotForm.$valid && ResetPasswordByOTP(user.username)" class="forgotForm" name="forgotForm" novalidate>

                <div class="col-xs-12 padding0 alreadyregisterd forgot-top-content">
                    <div class="col-xs-12 padding0">
                        Registered Phone
                    </div>
                </div>

                <div class="input-group  m-b-20 forgotfielddiv">
                    <span class="input-group-addon"></span>


                    <div class="input-group">
                        <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                        <div class="form-group fg-float">
                            <div class="fg-line input-field">
                                <i class="mdi-social-person-outline prefix"></i>
                                <input ng-model="user.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1"
                                       ng-change="change()" required />
                                <!--<label class="fg-label" for="username">Registered Phone</label>-->
                            </div>
                            <div ng-show="loginForm.$submitted || loginForm.username.$touched">
                                <div class="help-block error logininput" ng-show="loginForm.username.$error.required">Please enter Phone Number</div>
                            </div>
                            <button type="submit" class="btn  btn-danger btn-new-look reset-pass-btn">Reset Password</button>
                        </div>

                    </div>


                    <!--<div class="form-group fg-float">

                        <button type="submit" class="btn  btn-danger btn-new-look reset-pass-btn">Reset Password</button>

                    </div>-->


                </div>
            </form>
            <div class="col-xs-12 text-center registrationDiv">

                <div class="text-center">
                    <a href="" tooltip-placement="top" data-ng-click="vendorregistrationbtn()" uib-tooltip="Registration">Registration</a>
                </div>
                <div class="col-xs-12 padding0 text-center reg-login-button-div">
                    Already have an account?  <a href="" tooltip-placement="top" data-ng-click="loginbtn()" uib-tooltip="Login" class="registerations reg-login-button">Log In</a> here.
                </div>

            </div>
        </div>
        <!-- NEW Forgot Password -->





        <!-- Forgot Password -->
        <!--<div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': forgot === 1 }" data-ng-if="forgot === 1">
            <img class="logo text-center" src="img/logos/acadslogo_black.png" style="width: 172px;height: 72px;">
            <form ng-submit="forgotForm.$valid && forgotpasswordfunction()" class="forgotForm" name="forgotForm" novalidate>

                <div class="col-xs-12 padding0 alreadyregisterd forgot-top-content">
                    <div class="col-xs-12 padding0">
                        Enter your email address or mobile number here and we will send you futher instructions on how to reset password.
                    </div>
                </div>

                <div class="input-group  m-b-20 forgotfielddiv">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="forgotpassword.email" name="email" type="text" class="form-control logininput" id="exampleInputEmail1"
                                   required />
                            <label class="fg-label" for="email">Registered Email/Phone</label>
                        </div>
                        <div ng-show="forgotForm.$submitted || forgotForm.email.$touched">
                            <div class="help-block error logininput" ng-show="forgotForm.email.$error.required">Please enter registered Email/Phone</div>

                        </div>
                        <button type="submit" class="btn  btn-danger btn-new-look reset-pass-btn">Reset Password</button>
                    </div>
                </div>
            </form>
            <div class="col-xs-12 text-center registrationDiv">

                <div class="text-center">
                    <a href="" tooltip-placement="top" data-ng-click="vendorregistrationbtn()" uib-tooltip="Registration" class="registerations">Registration</a>
                </div>

            </div>
        </div>-->
        <!-- Forgot Password -->





        <!-- OTP VERIFICATION -->
        <div class="lc-block" id="l-user-otp" data-ng-class="{ 'toggled': otp === 1 }" data-ng-if="otp === 1">
            <img class="logo text-center" src="img/logos/acadslogo_black.png" style="width: 172px;height: 72px;">
            <!--<div class="col-xs-12 text-center padding0">
                <div class="col-xs-12 padding0 text-right">
                    <a href="" tooltip-placement="top" data-ng-click="loginbtn()" uib-tooltip="Login">Log In</a>
                </div>
            </div>-->
            <form ng-submit="otpForm.$valid && verifyOTP()" class="otpForm" name="otpForm" novalidate>
                <div class="input-group  m-b-20 col-md-12 p-l-20">
                    <div class="form-group fg-float ">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="otpobj.otp" name="otp" type="number" class="form-control logininput" id="otp1" ng-minlength="6" ng-maxlength="6" required />
                            <label class="fg-label" for="otp">Please Enter OTP</label>
                        </div>
                        <div ng-show="otpForm.$submitted || otpForm.otp.$touched">
                            <div class="help-block error logininput" ng-show="otpForm.otp.$error.required">Please enter OTP</div>
                            <div class="help-block error logininput" ng-show="otpForm.otp.$error.minlength">OTP must be exactly 6 digits.</div>
                            <div class="help-block error logininput" ng-show="otpForm.otp.$error.maxlength">OTP must be exactly 6 digits.</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-login btn-danger btn-float">
                    <i class="zmdi zmdi-arrow-forward"></i>
                </button>
            </form>
            <div class="col-xs-12 text-center registrationDiv">
                <div class="col-xs-12 text-center registrationDiv">
                    <div class="form-group fg-float col-md-8 p-0 m-0 p-b-20" ng-if="changepasswordstatus">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="newphonenumber" name="newphonenumber" type="number" class="form-control logininput" id="newphonenumber" />
                            <label class="fg-label" for="otp">New Phonenumber</label>
                        </div>
                        <div ng-show="newphonenumber_errors">
                            <div class="help-block error logininput" style="white-space: nowrap;" ng-show="newphonenumber_required_error">Please enter Phone Number</div>
                            <div class="help-block error logininput" ng-show="newphonenumber_validation_error" style="white-space: nowrap;">Please enter valid Phone Number</div>
                        </div>
                    </div>
                    <div class="col-md-4 p-t-20 m-0 p-b-20" ng-if="changepasswordstatus">
                        <button ng-click="changePhoneNumber();" class="btn btn-login btn-sm btn-info">
                            Change
                        </button>
                    </div>
                </div>
                <div class="col-xs-7 text-center">
                    <a href="" tooltip-placement="top" ng-click="changepasswordstatus=!changepasswordstatus;" class="registerations">Change Phone Number</a>
                </div>
                <div class="col-xs-2 text-center">
                </div>
                <div class="col-xs-5 text-center">
                    <a href="" tooltip-placement="top" ng-click="sendOTPagain();" uib-tooltip="Resend OTP" class="registerations">Resend OTP</a>
                </div>
            </div>
        </div>
        <div class="lc-block" id="l-user-verification" style="width: 400px;" data-ng-class="{ 'toggled': verification === 1 }" data-ng-if="verification === 1">
            <img class="logo text-center" src="img/logos/acadslogo_black.png" style="margin-bottom: 10px;width: 172px;height: 72px;"">
            <div class="col-md-12 text-center p-10 m-b-10">Document Verfication</div>
            <form ng-submit="verificationForm.$valid && docsVerification()" class="verificationForm" name="verificationForm" novalidate>
                <div class="input-group  m-b-20 col-md-12 p-l-20">
                    <div class="form-group">
                        <span>Scanned PAN Copy</span><br>
                        <div class="fileinput fileinput-new" data-provides="fileinput" style="padding-right: 0px;">
                            <span class="btn btn-info btn-file">
                                <span class="fileinput-new">Select Scanned PAN copy</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" id="pandoc" doctype="PAN" ng-file-select-docs="onFileSelect($files)" required />
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>
                    </div>
                </div>
                <div class="input-group  m-b-20 col-md-12 p-l-20">
                    <div class="form-group">
                        <span>Scanned TIN Copy</span><br>
                        <div class="fileinput fileinput-new" data-provides="fileinput" style="padding-right: 0px;">
                            <span class="btn btn-info btn-file">
                                <span class="fileinput-new">Select Scanned TIN copy</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" id="tindoc" doctype="TIN" ng-file-select-docs="onFileSelect($files)" required />
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>
                    </div>
                </div>
                <div class="input-group  m-b-20 col-md-12 p-l-20">
                    <div class="form-group">
                        <span>Scanned Service Tax Number Copy</span><br>
                        <div class="fileinput fileinput-new" data-provides="fileinput" style="padding-right: 0px;">
                            <span class="btn btn-info btn-file">
                                <span class="fileinput-new">Select Scanned Service Tax Number copy</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" id="stndoc" doctype="STN" ng-file-select-docs="onFileSelect($files)" required />
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>
                    </div>
                </div>



                <button type="submit" class="btn btn-login btn-danger btn-float">
                    <i class="zmdi zmdi-arrow-forward"></i>
                </button>
            </form>
        </div>

    </div>
</div>