<div class="col-md-12 oneTile">
    <div class="card bg-white z-depth-2">
        <div class="card-content">
            
            
            <div ng-if="isCustomer == 'CUSTOMER'">
                <dl class="">
                    <dt style="font-size:medium">Q {{order}}: &nbsp;{{item.text}}</dt>
                    <a title="Delete question" role="button" ng-click="deleteQuestion(item)" class="tm-icon zmdi zmdi-hc-2x zmdi-delete pull-right" style="width:30px; height:30px"></a>
                    <a title="Edit question" role="button" ng-click="editQuestion(item)" class="tm-icon zmdi zmdi-hc-2x zmdi-edit pull-right" style="width:30px; height:30px"></a>                    

                    <a title="Question Attachment" role="button" ng-show="item.attachmentID > 0" target="_blank" href="FileDownload.aspx?attachid={{item.attachmentID}}&sessionid={{item.sessionID}}" class="tm-icon zmdi zmdi-hc-2x zmdi-download pull-right" style="width:30px; height:30px"></a>

                </dl>
                <dl class="dl-horizontal" ng-if="item.type == 'DESC'">
                    <!--<textarea ng-disabled="true" ng-model="item.answerText" id="ansID" name="ansName" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>-->
                </dl>
                <dl class="dl-horizontal" ng-repeat="option in item.optionsArray track by $index" ng-if="item.type == 'CHECK_BOX'">
                    {{$index + 1}}.&nbsp;<input ng-disabled="true" type="checkbox" value="type"> {{option}}</input>
                </dl>
                <dl class="dl-horizontal" ng-repeat="option in item.optionsArray track by $index" ng-if="item.type == 'RADIO_BUTTON'">
                    {{$index + 1}}.&nbsp;<input type="radio" ng-disabled="true" name="{{item.text}}"> {{option}}</input>
                </dl>
                <dl class="">
                    <dt style="font-size:small">Question Marks: &nbsp;{{item.marks}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dt>                                    
                </dl>
                <dl class="">
                    
                </dl>

            </div>
        </div>
    </div>
</div>