﻿.items_wrapper {
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
}

.items_header_row {
    background: #F1F1F4;
    text-align: center;
    display: flex;
}

.itembox {
    float: left;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
}

.items_single_row {
    display: flex;
}

.item_title {
    width: 15%;
}

.item_description {
    width: 30%;
}

.item_quantity {
    width: 8%;
}

.item_unit {
    width: 12%;
}

.item_price {
    width: 15%;
}

.item_amount {
    width: 20%;
    border-right: none;
}

.items_single_row {
    border-bottom: 1px solid #ccc;
    position: relative;
}

    .items_single_row input {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: .375rem .75rem;
        font-size: 14px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .items_single_row .itembox {
        border-right: 1px solid #ccc;
        position: relative;
    }

.item_amount_value {
    text-align: center;
    font-size: 18px;
    padding-right: 20px;
    line-height: 42px;
}

.all_items_container .items_single_row:last-child {
    border-bottom: none;
}

.line_item_remove {
    position: absolute;
    right: 5px;
    color: #666;
    top: 20px;
    font-size: 22px;
}

.all_items_container .items_single_row:first-child .line_item_remove {
    display: none;
}

.add_new_line_item {
    background: #26BCB9;
    border: none;
    color: #fff;
    padding: 12px 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    -webkit-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.27);
    box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.27);
    margin-bottom: 10px;
    border-radius: .25rem;
    cursor: pointer;
}


.form-section {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
}

.fieldgroup {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 10px;
}

    .fieldgroup label {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 13px;
    }

    .fieldgroup .one-third {
        width: 33.33%;
        padding-right: 5px;
    }

        .fieldgroup .one-third:last-child {
            padding-right: 0px;
        }

    .fieldgroup .one-half {
        width: 50%;
        padding-right: 5px;
    }

        .fieldgroup .one-half:last-child {
            padding-right: 0px;
        }

    .fieldgroup .two-third {
        width: 66.66%;
        padding-right: 5px;
    }

    .fieldgroup .full-width {
        width: 100%;
    }

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.column {
    position: relative;
    display: inline-block;
    width: 6.25%;
    vertical-align: top;
    float: left;
}

.order_total_wrapper {
    float: right;
    width: 70%;
    margin-right: -15px;
}

.summary-grid {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 50.21739%;
    margin-top: 0;
    font-size: 18px;
    padding-left: 15px;
}




.tax_wrapper {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 50.21739%;
    margin-top: 0;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
}

    .tax_wrapper .tax_field_wrapper {
        float: right;
        width: 69px;
        border: 1px solid #eee;
        text-align: right;
        padding-right: 5px;
        line-height: 32px;
        font-size: 13px;
        color: #ccc;
    }

        .tax_wrapper .tax_field_wrapper input {
            float: left;
            width: 46px;
            padding: 8px 6px;
            border: none;
            font-size: 16px;
        }

.total_cost_wrapper {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #666;
    overflow: hidden;
    margin-top: 15px;
}

.clrfix {
    clear: both;
}

.totalcost-grid {
    margin-right: 4.34783%;
    width: 50.21739%;
    padding-left: 15px;
    text-align: left;
    font-size: 18px;
    float: left;
    margin: 0;
}

.col1 {
    width: 6.25%;
    padding-right: 15px;
    padding-left: 15px;
}

.col2 {
    width: 12.5%;
    padding-right: 15px;
    padding-left: 15px;
}

.col3 {
    width: 18.75%;
    padding-right: 15px;
    padding-left: 15px;
}

.col4 {
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.col5 {
    width: 31.25%;
    padding-right: 15px;
    padding-left: 15px;
}

.col6 {
    width: 37.5%;
    padding-right: 15px;
    padding-left: 15px;
}

.col7 {
    width: 43.75%;
    padding-right: 15px;
    padding-left: 15px;
}

.col8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.col9 {
    width: 56.25%;
    padding-right: 15px;
    padding-left: 15px;
}

.col10 {
    width: 62.5%;
    padding-right: 15px;
    padding-left: 15px;
}

.col11 {
    width: 68.75%;
    padding-right: 15px;
    padding-left: 15px;
}

.col12 {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
}

.col13 {
    width: 81.25%;
    padding-right: 15px;
    padding-left: 15px;
}

.col14 {
    width: 87.5%;
    padding-right: 15px;
    padding-left: 15px;
}

.col15 {
    width: 93.75%;
    padding-right: 15px;
    padding-left: 15px;
}

.col16 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 1024px) {

    .colsm1 {
        width: 6.25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm2 {
        width: 12.5%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm3 {
        width: 18.75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm4 {
        width: 25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm5 {
        width: 31.25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm6 {
        width: 37.5%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm7 {
        width: 43.75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm8 {
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm9 {
        width: 56.25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm10 {
        width: 62.5%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm11 {
        width: 68.75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm12 {
        width: 75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm13 {
        width: 81.25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm14 {
        width: 87.5%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm15 {
        width: 93.75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .colsm16 {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 768px) {

    .cols1 {
        width: 6.25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols2 {
        width: 12.5%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols3 {
        width: 18.75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols4 {
        width: 25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols5 {
        width: 31.25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols6 {
        width: 37.5%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols7 {
        width: 43.75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols8 {
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols9 {
        width: 56.25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols10 {
        width: 62.5%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols11 {
        width: 68.75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols12 {
        width: 75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols13 {
        width: 81.25%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols14 {
        width: 87.5%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols15 {
        width: 93.75%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .cols16 {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 520px) {

    .colxs1 {
        width: 6.25%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs2 {
        width: 12.5%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs3 {
        width: 18.75%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs4 {
        width: 25%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs5 {
        width: 31.25%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs6 {
        width: 37.5%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs7 {
        width: 43.75%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs8 {
        width: 50%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs9 {
        width: 56.25%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs10 {
        width: 62.5%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs11 {
        width: 68.75%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs12 {
        width: 75%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs13 {
        width: 81.25%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs14 {
        width: 87.5%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs15 {
        width: 93.75%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .colxs16 {
        width: 100%;
    }

    .formInnerWrapper {
        padding: 0 10px;
    }

    .fieldgroup.mleft {
        margin-left: 0;
    }

    .form-section.mleft {
        margin-left: 0;
    }

    .mleft {
        margin-left: -5px;
    }

    .mright {
        margin-right: -5px;
    }
}

#sub_total, #tax_total, #grand_total {
    width: 45%;
    text-align: right;
    font-size: 18px;
    float: left;
    padding-right: 10px;
}




@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.animation-left-right {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 3s ease-out 0s 1 slideInFromLeft;
}

.animation-right-left {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 3s ease-out 0s 1 slideInFromRight;
}

.animation-top-bottom {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 3s ease-out 0s 1 slideInFromTop;
}

.animation-bottom-top {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 3s ease-out 0s 1 slideInFromBottom;
}
