﻿.prmellipsis {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.dashboardLiveReqEllipsis {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.selected-row {
    /*background-color: #377ba0;*/
    /*color: white;*/
    font-size: 17px;
    font-weight: bold;
}

.padding-lft {
    padding-left: 15px;
}

.max-height-200 {
    max-height: 400px !important;
    height: 400px !important;
    overflow-y: scroll;
}

.panel-body {
    overflow-x: auto;
    height: 350px;
    /*overflow-y: hidden;*/ /*hide vertical*/
    overflow-x: hidden; /*hide horizontal*/
}

.add-req-items-border {
    border: double thick;
    color: #eef1f4;
    border-radius: 15px;
}

.font-color-inside-border {
    color: black;
}

.bold-font-prm {
    font-weight: bold;
}




.pagination {
    border-radius: 0;
}

    .pagination > li {
        margin: 0 2px;
        display: inline-block;
        vertical-align: top;
    }

        .pagination > li > a,
        .pagination > li > span {
            border-radius: 50% !important;
            padding: 0;
            width: 40px;
            height: 40px;
            line-height: 39px;
            text-align: center;
            font-size: 14px;
            z-index: 1;
            position: relative;
            border: 0;
        }

            .pagination > li > a > .zmdi,
            .pagination > li > span > .zmdi {
                font-size: 22px;
                line-height: 40px;
            }

@media (min-width: 768px) {
    .pagination > li > a,
    .pagination > li > span {
        position: relative;
    }

        .pagination > li > a:before,
        .pagination > li > span:before {
            left: 0;
            top: 0;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transform: scale3d(0, 0, 0);
            -moz-transform: scale3d(0, 0, 0);
            -ms-transform: scale3d(0, 0, 0);
            -o-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
            -webkit-transition: all;
            -o-transition: all;
            transition: all;
            -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            background-color: rgba(0, 0, 0, 0.1);
            z-index: 0;
            border-radius: 50%;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .pagination > li > a:hover:before,
        .pagination > li > span:hover:before,
        .pagination > li > a.open:before,
        .pagination > li > span.open:before {
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            -o-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            opacity: 1;
            filter: alpha(opacity=100);
        }
}

.pagination > li.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/*
 * Listview Pagination
 */

.lv-pagination {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid #F0F0F0;
    margin-top: 0;
    margin-bottom: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* Rounded sliders */

/* Make clicks pass-through Loading bar*/

#loading-bar,
#loading-bar-spinner {
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: 350ms linear all;
    -moz-transition: 350ms linear all;
    -o-transition: 350ms linear all;
    transition: 350ms linear all;
}

    #loading-bar.ng-enter,
    #loading-bar.ng-leave.ng-leave-active,
    #loading-bar-spinner.ng-enter,
    #loading-bar-spinner.ng-leave.ng-leave-active {
        opacity: 0;
    }

        #loading-bar.ng-enter.ng-enter-active,
        #loading-bar.ng-leave,
        #loading-bar-spinner.ng-enter.ng-enter-active,
        #loading-bar-spinner.ng-leave {
            opacity: 1;
        }

    #loading-bar .bar {
        -webkit-transition: width 350ms;
        -moz-transition: width 350ms;
        -o-transition: width 350ms;
        transition: width 350ms;
        background: #29d;
        position: fixed;
        z-index: 10002;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        border-bottom-right-radius: 1px;
        border-top-right-radius: 1px;
    }

/* Make clicks pass-through Loading bar*/

/*Remove increment and decrement icon from input field*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*Remove increment and decrement icon from input field*/

/*Scorllbar Style*/

::-webkit-scrollbar {
    width: 0.6em;
    height:0.6em
}

::-webkit-scrollbar-button {
    background: #377ba0;
    height: 0px;
    width: 0px;
}

::-webkit-scrollbar-track-piece {
    background: #fff
}

::-webkit-scrollbar-thumb {
    background: #377ba0
}



/*Scorllbar Style*/




.round {
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 4px;
}

#yourDiv {
    position: absolute;
    z-index: 10;
}

*, *:before, *:after {
    -webkit-box-model: border-box;
}

.prmDropdown {
    position: relative;
    display: inline-block;
    font-weight: 400 !important;
    width: 100%;
    height: 30px;
    /*z-index: 2000;*/
    z-index: 1;
}

    .prmDropdown.open {
        z-index: 2;
    }

    .prmDropdown div, .prmDropdown .title {
        text-transform: uppercase;
        position: absolute;
        left: 0px;
        -webkit-transition: all 0.1s ease-in-out;
        font-weight: 400 !important;
        width: 100%;
        height: 30px;
        line-height: 30px;
        /*background-color: #e93163 !important;*/
        background-color: #D3D3D3 !important;
        color: #000 !important;
        cursor: pointer;
        opacity: 1;
        -webkit-user-select: none;
    }

        .prmDropdown div:hover {
            background-color: #ccc;
        }

        .prmDropdown .title:hover {
            color: #fff !important;
        }


        .prmDropdown div span, .prmDropdown .title span {
            margin: 0px 0px 0px 10px;
        }

        .prmDropdown .title:after {
            content: '\25BC';
            position: absolute;
            color: #000 !important;
            top: 0px;
            right: 5px;
            opacity: 0.8;
        }

    .prmDropdown .title {
        color: #000 !important;
        -webkit-transform-style: preserve-3d;
        -webkit-transform-origin: 50% 0%;
    }

        .prmDropdown .title:active {
            transform: rotateX(60deg);
            color: #000 !important;
        }

    .prmDropdown div.selected {
        color: #fff !important;
    }

    .prmDropdown div.ng-hide {
        display: block !important;
        top: 0px !important;
    }

    .prmDropdown .clickscreen {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.01);
        opacity: 0.2;
        -webkit-transition: opacity 0.3s ease-in-out;
        z-index: -1;
    }

        .prmDropdown .clickscreen.ng-hide {
            display: none !important;
            opacity: 0;
            cursor: auto !important;
        }


/*checkbox inside input text*/

#eye {
    position: absolute;
    right: 20px;
    top: 6px;
    height: 15px;
    width: 15px;
    opacity:0.9
}

:checked + input {
    color: brown;
    background-color: lightgoldenrodyellow;
    /*antiquewhite*/
}
/*checkbox inside input text*/






/*checkbox inside input text*/
/* start  16/4/2018(mon)*/
.register-page .new-login-box {
    width: 600px;
    margin-left: 45%;
}

    .register-page .new-login-box .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

.register-page .checkbox-primary input[type=checkbox]:checked + label::before {
    background-color: #e03361;
    border-color: #e03361;
}

.p-l-50 {
    padding-left: 50px !important;
}

.new-login-register .lg-info-panel .lg-content h2 {
    font-size: 24px;
    font-weight: 300;
}

.new-login-register .lg-info-panel .lg-content h3 {
    font-size: 18px;
    font-weight: 300;
}

.register-page .modal-body {
    height: 60vh;
    overflow: auto;
}

    .register-page .modal-body b, .register-page .modal-body strong {
        font-weight: 500;
    }

.number-ul {
    list-style-type: decimal;
    margin-left: 20px;
    padding: 0;
}

    .number-ul li, .bulet-ul li, .roman-ul li, .lowercase-ul li {
        padding-left: 10px;
        margin-bottom: 5px;
    }

.bulet-ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
}

.roman-ul {
    list-style-type: lower-roman;
    margin-left: 20px;
    padding: 0;
}

.lowercase-ul {
    list-style-type: lower-latin;
    margin-left: 20px;
    padding: 0;
}

.white-box .box-title span {
    font-weight: 400;
}

.upload-terms-negrlues-section .white-box {
    min-height: 370px;
}

.white-box.iw-repport-section {
    height: 392px; /* 09-04-2018 */
    overflow: auto;
}

.white-box.crnp-card .box-title {
    font-weight: 400;
    margin-bottom: 0;
}

.cardfixed.fixed .white-box {
    padding: 10px;
    margin-bottom: 15px;
}


.upload-qut-page .upload-terms-negrlues-section .white-box {
    min-height: 300px;
}

.white-box.iw-repport-section {
    height: auto;
}
/*end 16/4/2018(mon)*/

.new-login-register .lg-info-panel .lg-content h2, .new-login-register .lg-info-panel .lg-content h3 {
    color: #fff;
}

.new-login-register .lg-info-panel .lg-content h2 {
    line-height: 42px;
    font-size: 28px;
}

.new-login-register .lg-info-panel .lg-content ul.list-icons li {
    line-height: 28px;
    text-align: cenetr;
    color: #fff;
    position: relative;
    /* padding-left: 25px; */ /* Remove 10-04-2018 */
    margin-bottom: 10px;
    font-size: 12px;
    background-color: rgba(225,225,225,0.2);
    padding: 10px;
    border-radius: 40px;
    line-height: 18px;
    font-weight: 300;
}

.new-login-register .lg-info-panel .lg-content {
    /* margin-top: 30%;*/ /* Remove 09-04-2018 */
    text-align: center;
    padding: 0 50px;
    position: absolute;
    bottom: 15%; /* 10-04-2018 */
}

/************Multiple Selection****************/

.selected-items-box .items-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.selected-items-box .items-list li {
    display: inline;
}

.list .items-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.list .items-list li {
    margin: 0;
    width: 100%;
    padding: 0;
    border-bottom: solid 1px #C7C6C7;
    padding: 5px;
    background-color: #fff;
}

/************Multiple Selection****************/



















.new-login-register {
    /* position: fixed; */
    height: 100%
}

    .new-login-register .lg-info-panel {
        background: url(../images/login.jpg) center center/cover no-repeat !important;
        width: 500px;
        height: 100%;
        position: fixed
    }

        .new-login-register .lg-info-panel .inner-panel {
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,.5)
        }

        .new-login-register .lg-info-panel .lg-content {
            margin-top: 50%;
            text-align: center;
            padding: 0 50px
        }

            .new-login-register .lg-info-panel .lg-content h2 {
                color: #fff
            }

            .new-login-register .lg-info-panel .lg-content p {
                padding: 20px 0;
                color: rgba(255,255,255,.7);
                font-style: italic
            }

    .new-login-register .new-login-box {
        margin-left: 50%;
        margin-top: 5%;
        width: 400px
    }

        .new-login-register .new-login-box .new-lg-form {
            padding-top: 20px
        }

            .new-login-register .new-login-box .new-lg-form label {
                text-transform: uppercase;
                font-size: 12px
            }

        .new-login-register .new-login-box .social {
            display: block;
            margin-bottom: 30px
        }


@media (max-width:1350px) {
    .carousel .item h3 {
        font-size: 17px;
        height: 90px
    }

    .inbox-center a {
        width: 400px
    }

    .new-login-register .lg-info-panel {
        width: 450px
    }

    .new-login-register .new-login-box {
        margin-left: 500px
    }
}

@media (max-width:1023px) {
    .b-r-none {
        border-right: 0
    }

    .carousel-inner h3 {
        height: 90px;
        overflow: hidden
    }

    .inbox-center a {
        width: 300px
    }

    .new-login-register .lg-info-panel {
        display: none
    }

    .new-login-register .new-login-box {
        margin: 10% auto 0
    }

    .col-in {
        padding: 15px 0
    }

        .col-in li.col-middle {
            width: 100%
        }
}


@media (max-width:480px) {
    .vtabs .tabs-vertical {
        width: auto
    }

    .stat-item {
        padding-right: 0
    }

    .login-box {
        width: 100%
    }

    .pro-content .pro-list-details {
        height: 100px;
        border-right: none
    }

    .pro-list-info ul.pro-info li {
        padding: 10px 0
    }

    .pro-list-info ul.pro-info {
        padding-left: 0
    }

    .pro-agent .agent-img {
        padding-top: 3px
    }

    .pro-agent .agent-name {
        padding: 2px 0 10px 15px
    }

    .new-login-register .lg-info-panel {
        display: none
    }

    .new-login-register .new-login-box {
        margin: 10% auto 0;
        width: 300px
    }
}


@media screen and (min-width:1366px) {
    .char-img {
        height: 262px;
        margin: 0 auto;
    }

    .char-img2 {
        height: 290px;
        margin: 0 auto;
    }

    .new-login-register.register-page {
        position: absolute;
    }
}

@media screen and (max-width:1440px) {
    .char-img2 {
        height: 195px;
        margin: 0 auto;
    }

    h1 {
        line-height: 48px;
        font-size: 32px;
        color: #000;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .char-img2 {
        height: 86px;
        margin: 0 auto;
    }

    .top-fliter-tab {
        display: block;
    }

    .top-grid {
        padding-bottom: 15px;
    }

        .top-grid .text-right {
            text-align: left;
        }

    .top-fliter-tab .top-flitergroup:first-child {
        border-left: none;
        margin-left: 0;
        padding: 0 20px 0 0;
    }

    .top-grid.creat-cj .text-right {
        text-align: right;
    }

    .top-grid.creat-cj {
        padding-bottom: 0;
    }

    .top-grid.dashboadr {
        padding-bottom: 0;
    }

    .top-grid.creat-indent .text-right {
        text-align: right;
    }

    .top-grid.creat-indent {
        padding-bottom: 0;
    }

    .negoti-tbl .btn-circle {
        margin-bottom: 5px;
    }

    .register-page .new-login-box {
        width: 540px;
    }
}

@media screen and (max-width:767px) {
    .add-btn {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        padding: 20px;
    }

    .select-range-form .btn-danger {
        margin-top: 10px;
        width: 100%;
        margin-bottom: 0px;
    }

    .top-grid {
        padding: 15px 10px;
    }

    .open-close .fa {
        color: #fff;
    }

    .simlar-negot-box {
        margin-bottom: 25px;
        float: none !important;
    }

    .req-form .radio label {
        font-weight: 300;
        margin-bottom: 10px;
        line-height: 18px;
    }

    .req-form .ctn-btn {
        width: 99%;
        width: 100%;
        text-overflow: ellipsis;
    }

    #eliteregister li h3 {
        font-size: 14px !important;
    }

    .req-form .ctn-btn {
        font-size: 12px;
        font-weight: 600;
    }

    .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
    }

    .sidebar-nav {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .negoti-time-action span {
        display: inline-block;
        border-right: none;
        padding: 5px 3px;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 20px;
    }

        .negoti-time-action span i {
            display: block;
            text-align: center;
        }

    .negoti-end {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .tablesaw.table-bordered > tbody > tr > td {
        word-wrap: break-word;
    }

    .top-grid .radio-list {
        margin-top: 5px;
        text-align: left;
    }

    .top-flitergroup {
        margin-left: 0px;
        padding: 0;
        display: block;
        margin-top: 10px;
        border: none;
        border-top: 1px solid #e4e7ea;
        padding-top: 15px;
    }

    .col-md-12 + .negoti-time-action {
        text-align: center;
    }

    .urgency-label {
        text-align: left;
    }

    .page-heading {
        font-size: 20px;
    }

    .char-img2 {
        height: auto;
    }

    .negoti-time-action {
        width: 100%;
        text-align: center;
    }

    .mobile-clearfix {
        clear: both;
    }
}
/* iPhone X Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .iphonex-hide {
        display: none;
    }
}


/*---start 7/5/2018----*/

.fixed {
	position: fixed;
	z-index: 999;
	background-color: #edf1f5;
	top: 0;
	padding-top: 80px;
	width: 100%;
	left: 0;
	padding: 80px 25px 0 95px;
}
.collapsed.arrw {
	margin-bottom: 0px;
}
.collapsed.arrw:after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f107";
	margin-left: 5px;
}
.arrw {
	margin-bottom: 20px;
	display: inline-block;
}
.arrw:after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f106";
	margin-left: 5px;
}
.crnp-card {
	color: #3b384f;
}
.crnp-card h1 {
	font-size: 30px;
	color: #3b384f;
	margin: 0;
}
.white-box.crnp-card .box-title {
	font-weight: 400;
	margin-bottom: 0;
}
.highlight-textbox {
	border-color: #555555;
}
.cardfixed.fixed .white-box {
	padding: 10px;
	margin-bottom: 15px;
}
.cardfixed.fixed .crnp-card h1 {
	font-size: 22px;
	line-height: 28px;
}
.upload-qut-page .upload-terms-negrlues-section .white-box {
	min-height: 300px;
}
.upload-qut-page .form-control[disabled] {
	padding-left: 0;
}
.tooltip-content {
	padding: 10px;
}
.main-price .box-title {
	font-weight: 500;
	margin-bottom: 0;
	margin: 0;
	font-size: 14px;
	line-height: 30px;
	margin-top: 20px;
}
.main-price .box-title i.far {
	font-size: 13px;
}
.main-price h1 {
	font-size: 30px;
	color: #3b384f;
	margin: 0;
	line-height: 38px;
}
.radio label.text-meduim {
	font-weight: 500;
}
@media screen and (min-width:1025px) and (max-width:2880px) {
.lg-m-b-0 {
	margin-bottom: 0 !important;
}
}
@media screen and (min-width:1366px) and (max-width:1440px) {
 .neg-status-section .neg-label span {
 font-size: 20px;
}
}

.neg-status-section ~ .neg-label {
	text-align: right;
}
.neg-status-section .neg-label {
	display: inline-block;
	font-size: 12px;
	text-align: left;
	padding: 0 15px;
	position: relative;
	margin-top: 25px;
}
.neg-status-section .neg-label:after {
	content: " ";
	background: #ccc;
	height: 79%;
	width: 1px;
	position: absolute;
	top: 0;
	left: 0;
}
.neg-status-section .neg-label span {
	font-size: 26px;
	color: #e03361;
	font-weight: 500;
	display: block;
	vertical-align: top;
	text-align: left;
}
.neg-status-section .neg-label span a {
	color: #3b384f;
	font-size: 18px;
}
.upload-qut-page label {
	margin-bottom: 5px;
}
.upload-qut-page .form-control-static {
	margin: 0;
	padding: 0;
	min-height: auto;
}
.upload-qut-page .form-group {
	margin-bottom: 15px;
}
.upload-qut-page a {
	color: #1e88e5;
	font-weight: 500;
}
.upload-qut-page textarea.form-control {
	resize: none;
	height: 105px;
}
.neg-status-section .neg-label {
	display: block;
	margin-top: 0;
}
.neg-status-section .neg-label + .neg-label {
	margin-bottom: 10px;
}
.neg-status-section {
	border-left: 1px solid #ccc;
}
.upload-terms-negrlues-section .white-box {
	min-height: 250px;
}
.neg-status-section .neg-label:after {
	display: none;
}
/*-----end 7/5/2018-----*/

/*==== START 21/6/2018 ====*/
.vl {
    border-left: 1px solid #ccc;
     /*border-bottom: 1px solid #ccc;*/
    height: 150px;
}


/*==== END 21/6/2018 ====*/











































/*FOOTER*/

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    /* height: 110px;*/
    color: #000;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

    #footer .f-menu {
        display: block;
        width: 100%;
        padding-left: 0;
        list-style: none;
        margin-left: -5px;
        margin-top: 8px;
    }

        #footer .f-menu > li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }

            #footer .f-menu > li > a {
                color: #000;
            }

                #footer .f-menu > li > a:hover {
                    color: #777;
                }

@media (min-width: 1199px) {
    body.sw-toggled #footer {
        padding-left: 268px;
    }
}

/*FOOTER*/



/*profile-menu*/

.tab-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .tab-nav > li > a {
        display: block;
        color: #7a7a7a;
        text-transform: uppercase;
        position: relative;
        font-weight: 500;
    }

@media (min-width: 768px) {
    .tab-nav > li > a {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .tab-nav > li > a {
        padding: 15px 8px;
    }
}

.tab-nav:not(.tn-vertical) {
    white-space: nowrap;
    overflow: auto;
    box-shadow: inset 0 -2px 0 0 #eeeeee;
    width: 100%;
}

    .tab-nav:not(.tn-vertical) > li {
        display: inline-block;
        vertical-align: top;
    }

        .tab-nav:not(.tn-vertical) > li > a {
            -webkit-transition: all;
            -o-transition: all;
            transition: all;
            -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
        }

            .tab-nav:not(.tn-vertical) > li > a:after {
                content: "";
                height: 2px;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                -webkit-transition: all;
                -o-transition: all;
                transition: all;
                -webkit-transition-duration: 250ms;
                transition-duration: 250ms;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
            }

        .tab-nav:not(.tn-vertical) > li.active > a {
            color: #000;
        }

            .tab-nav:not(.tn-vertical) > li.active > a:after {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }

    .tab-nav:not(.tn-vertical).tab-nav-right {
        text-align: right;
    }

    .tab-nav:not(.tn-vertical).tn-justified > li {
        display: table-cell;
        width: 1%;
        text-align: center;
    }

    .tab-nav:not(.tn-vertical).tn-icon > li .zmdi {
        font-size: 22px;
        line-height: 100%;
        min-height: 25px;
    }

    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a:after {
        background: #2196f3;
    }

    .tab-nav:not(.tn-vertical)[data-tab-color="green"] > li > a:after {
        background: #4caf50;
    }

    .tab-nav:not(.tn-vertical)[data-tab-color="red"] > li > a:after {
        background: #f44336;
    }

    .tab-nav:not(.tn-vertical)[data-tab-color="teal"] > li > a:after {
        background: #009688;
    }

    .tab-nav:not(.tn-vertical)[data-tab-color="amber"] > li > a:after {
        background: #ffc107;
    }

    .tab-nav:not(.tn-vertical)[data-tab-color="black"] > li > a:after {
        background: #000000;
    }

    .tab-nav:not(.tn-vertical)[data-tab-color="cyan"] > li > a:after {
        background: #2e3e4e;
    }

/*profile-menu*/


.form-control-dropdown {
    background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 4px;
    box-shadow: none;
    color: #606261;
    height: 34px;
    max-width: 100%;
    min-width: 30px;
    padding: 5px;
    transition: all 300ms linear;
    font-size: 15px;
}

.form-control-dropdown:focus {
    box-shadow: none;
    border-color: #313131
}




.prmellipsis150MaxHeight30 {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-height: 30px !important;
}

.prmellipsisforComparatives {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-height: 20px !important;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    overflow: auto;
}

.autocomplete-items {
    position: absolute;
    /*border: 1px solid #d4d4d4;*/
    border: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        background-color: #fff;
        /*border-bottom: 1px solid #d4d4d4;*/
    }

    .autocomplete-items ul {
        overflow: auto;
        max-height: 300px !important;
    }

    .autocomplete-items li {
        cursor: pointer;
    }

    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #337ab7;
    padding: 20px;
    /*width: 200px;
    height: 150px;*/
}




/*checkbox inside input text*/

#eyeButton {
    position: absolute;
    /*right: 20px;*/
    top: 3px;
    /*left: 6px;*/
    height: 15px;
    width: 15px;
    opacity: 0.9
}

:checked + button {
    color: brown;
    background-color: lightgoldenrodyellow;
    /*antiquewhite*/
}



/*checkbox inside input text*/

/*.table-data-fill {
    height: 300px;
    overflow: auto;
}*/

.add_new_line_item {
    background: #26BCB9;
    border: none;
    color: #fff;
    padding: 12px 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    -webkit-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.27);
    box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.27);
    margin-bottom: 10px;
    border-radius: .25rem;
    cursor: pointer;
}



.order_total_wrapper {
    float: right;
    width: 70%;
    margin-right: -15px;
}


.fieldgroup {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 10px;
}


.white-box.fdcBorders {
    border: 1px solid bisque;
}

multiselect {
    display: block;
}

    multiselect .btn {
        width: 100%;
        background-color: #FFF;
    }

        multiselect .btn.error {
            border: 1px solid #da4f49 !important;
        }

    multiselect .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
    }

    multiselect .dropdown-menu {
        width: 100%;
        box-sizing: border-box;
        padding: 2px;
    }

        multiselect .dropdown-menu > li > a {
            padding: 3px 10px;
            cursor: pointer;
        }