﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper" data-ng-controller="auctionsCtrl">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">

                <div ng-controller="formCtrl">
                    <div class="container-fluid">
                        <div class="col-md-10 col-md-offset-1">
                            <ul id="eliteregister">
                                <li class="active">
                                    <h3><strong>STEP 1</strong></h3>
                                    <span><strong>Requirement Specifications</strong></span>
                                </li>
                                <li class="active">
                                    <h3><strong>STEP 2</strong></h3>
                                    <span><strong>Delivery & Payment Terms</strong></span>
                                </li>
                                <li class="active">
                                    <h3><strong>STEP 3</strong></h3>
                                    <span><strong>Transaction Configuration</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 4</strong></h3>
                                    <span><strong>Choose vendors</strong></span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box">
                                    <h3 class="box-title m-b-0 text-center" style="color:#377ba0"><strong>Transaction Configuration</strong></h3><br />
                                    <!--<p class="text-muted m-b-30 font-13"> Please Update the Configuration details. </p>-->
                                    <form class="requirementForm">
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <strong for="urgency">Urgency</strong>
                                                <select ng-model="formRequest.urgency" class="form-control p-0" data-placeholder="Urgency" id="urgency"  required="">
                                                    <!--<option selected disabled hidden  value=''>please select</option>-->
                                                    <option value="Critical (Will be Closed Today)">Critical (Will be Closed Today)</option>
                                                    <option value="High (Will be Closed in 2 Days)">High (Will be Closed in 2 Days)</option>
                                                    <option value="Medium (Will be Closed in 5 Days)">Medium (Will be Closed in 5 Days)</option>
                                                    <option value="Low (Will Take 10-15 Days Time)">Low (Will Take 10-15 Days)</option>
                                                    
                                                </select>
                                                <div ng-show="urgencyValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="urgencyValidation">Please select Urgency</div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-1 form-group">
                                                <strong for="currency">Currency</strong>
                                                <select data-placeholder="Select a Currency..." name="currency" ng-model="selectedCurrency" ng-options="currency.value for currency in currencies" class="form-control p-0"></select>
                                                <div ng-show="selectedCurrencyValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="selectedCurrencyValidation">Please select Currency</div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <strong for="freeze">Quotation Freeze Time</strong>
                                                <div moment-picker="formRequest.quotationFreezTime" format="DD-MM-YYYY HH:mm">
                                                    <input name="quotationFreezTimeName" id="quotationFreezTime" class="form-control" placeholder="Select a date" ng-model="formRequest.quotationFreezTime" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                                <div ng-show="quotationFreezTimeValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="quotationFreezTimeValidation">Please enter Quotation Freeze Time</div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <strong for="reminders">No.of Reminders<small> (Max 5)</small></strong>
                                                <input type="number" ng-model="formRequest.noOfQuotationReminders" name="noOfQuotationReminders" id="noOfQuotationReminders" class="form-control" />
                                                <div ng-show="noOfQuotationRemindersValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="noOfQuotationRemindersValidation">Please enter valid No.of Reminders</div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <strong for="time">Time Intervel<small> (in Hours)</small></strong>
                                                <input type="number" ng-model="formRequest.remindersTimeInterval" name="remindersTimeInterval" id="remindersTimeInterval" class="form-control" />
                                                <div ng-show="remindersTimeIntervalValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="remindersTimeIntervalValidation">Please enter valid Time Intervel</div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <strong for="negotition">Exp.Neg start time</strong>
                                                <div moment-picker="formRequest.expStartTime" format="DD-MM-YYYY HH:mm">
                                                    <input name="expStartTimeName" id="expStartTime" class="form-control" placeholder="Select a date" ng-model="formRequest.expStartTime" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <div class="row padding-lft">
                                                    <strong class="control-label">Quotation Price Limit</strong>
                                                    <div class="radio-list">
                                                        <label class="radio-inline p-0">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="radio" id="qyes" ng-value="true" ng-model="formRequest.isQuotationPriceLimit">
                                                                <label for="qyes">Yes</label>
                                                            </div>
                                                        </label>
                                                        <label class="radio-inline">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="radio" id="qno" ng-value="false" ng-model="formRequest.isQuotationPriceLimit">
                                                                <label for="qno">No </label>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row" ng-if="formRequest.isQuotationPriceLimit">
                                                    <div class="col-md-11 form-group">
                                                        <div>
                                                            <strong for="quotationPriceLimit">{{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</strong>
                                                            <input type="number" ng-model="formRequest.quotationPriceLimit" name="quotationPriceLimit" id="quotationPriceLimit" class="form-control" />
                                                        </div>
                                                        <div ng-show="quotationPriceLimitValidation">
                                                            <div class="help-block error logininput text-danger" ng-show="quotationPriceLimitValidation">Please enter valid {{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-11 form-group" ng-if="formRequest.isQuotationPriceLimit">
                                                        <small ng-if="!formRequest.isForwardBidding">Note: Quotation Price Limit Amount If Entered then System will not allow vendors to quote more than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or less than 1,00,000/- Only.</small>
                                                        <small ng-if="formRequest.isForwardBidding">Note: Minimum Expected Price Limit Amount If Entered then System will not allow vendors to quote less than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or greater than 1,00,000/- Only.</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <div class="row">
                                                    <strong class="control-label">Tech Evaluation</strong>
                                                    <div class="radio-list">
                                                        <label class="radio-inline p-0">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="tech" id="tyes" ng-model="isTechEval" ng-value='true'>
                                                                <label for="tyes">Yes</label>
                                                            </div>
                                                        </label>
                                                        <label class="radio-inline">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="tech" id="tno" ng-model="isTechEval" ng-value='false'>
                                                                <label for="tno">No </label>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div classs="row" ng-show="isTechEval == true">
                                                    <div class="form-group">
                                                        <div>
                                                            <strong class="fg-label" for="currency">Tech Evaluation</strong>
                                                            <select data-placeholder="Select a Tech Evaluation..." name="questionnaire" ng-model="selectedQuestionnaire" ng-options="questionnaire.title for questionnaire in questionnaireList" class="form-control"></select>
                                                        </div>
                                                        <div ng-show="questionnaireValidation && isTechEval == true">
                                                            <div class="help-block error logininput text-danger" ng-show="questionnaireValidation">Please select a Tech Evaluation</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-11 form-group" ng-if="isTechEval">
                                                        <small>Note: All the vendors pre-qualified during technical evaluation would be filtered accordingly. No new vendors can be added to the requirement.</small>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6 form-group">
                                                <strong class="control-label">Reduction Type</strong>
                                                <div class="row radio-list">
                                                    <label class="radio-inline p-0">
                                                        <div class="radio radio-success">
                                                            <input type="radio" name="price" id="rtp" ng-value="0" ng-model="formRequest.isDiscountQuotation">
                                                            <label for="rtp">Price</label>
                                                        </div>
                                                    </label>
                                                    <label class="radio-inline">
                                                        <div class="radio radio-success">
                                                            <input type="radio" name="discount" id="rtd" ng-value="1" ng-model="formRequest.isDiscountQuotation">
                                                            <label for="rtd">Discount</label>
                                                        </div>
                                                    </label>
                                                    <label class="radio-inline">
                                                        <div class="radio radio-success">
                                                            <input type="radio" name="margin" id="rtm" ng-value="2" ng-model="formRequest.isDiscountQuotation">
                                                            <label for="rtm">Margin</label>
                                                        </div>
                                                    </label>
                                                </div>

                                                <div class="row">
                                                    <small ng-if="formRequest.isDiscountQuotation == 0"><strong>Price:</strong> During the bidding vendors would be given an option only to reduce unit level price on items.</small>
                                                    <small ng-if="formRequest.isDiscountQuotation == 1"><strong>Discount:</strong> During the bidding vendors would be given an option only to reduce bid amount through discount(%).</small>
                                                    <small ng-if="formRequest.isDiscountQuotation == 2"><strong>Margin:</strong> Only to reduce at unit level where the rankings are calculated based on margin value. <br />This is best suited for pharma procurement in hospitals.</small>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">

                                        </div>

                                        <div class="row m-t-20">
                                            <div class="col-xs-2 text-center">
                                                <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="goBack(2, stateParamsReqID)" type="button">Back</button>
                                            </div>
                                            <div class="col-xs-6 text-center">
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="goToStage(4, 3)" type="button"><span ng-if="SelectedVendorsCount > 0">Post & </span><span ng-if="SelectedVendorsCount <= 0">Save & </span>Next</button>
                                                <br />
                                                <small ng-if="SelectedVendorsCount > 0" class="text-danger">On click the data will be updated to vendors immidiatly.</small>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>