﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div ng-controller="formCtrl">
                    <!--PAGE 1-->
                    <div ng-show="pageNo == 1">
                        <!--<h3 class="page-heading">Requirement Specifications <i class="far fa-question-circle" ng-hide="true"></i></h3>-->
                        <div class="col-md-10 col-md-offset-1">
                            <ul id="eliteregister">
                                <li class="active">
                                    <h3><strong>STEP 1</strong></h3>
                                    <span><strong>Requirement Specifications</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 2</strong></h3>
                                    <span><strong>Delivery & Payment Terms</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 3</strong></h3>
                                    <span><strong>Transaction Configuration</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 4</strong></h3>
                                    <span><strong>Choose vendors</strong></span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box">

                                    <form class="req-form">

                                        <div class="row">
                                            <!--<div class="col-md-4 form-group">
                                                <strong for="prcode">PR Code </strong>
                                                <input type="text" class="form-control" ng-model="formRequest.prCode" id="prcode" required>
                                                <div ng-show="prCodeValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="prCodeValidation">Please enter PR Code</div>
                                                </div>
                                            </div>-->
                                            <div class="col-md-9">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row pull-right">
                                                    <label class="switch">
                                                        <input type="checkbox" 
                                                               ng-click="showSimilarNegotiationsButton(showSimilarNegotiations, formRequest.title)" 
                                                               ng-model="showSimilarNegotiations" 
                                                               value="true" />
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <br />
                                                    <small>Similar Negotiation</small>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 form-group">
                                                <strong for="title">Title</strong>
                                                <input type="text" class="form-control" ng-model="formRequest.title" ng-change="GetCompanyLeads(formRequest.title)" id="title" required>
                                                <div ng-show="titleValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="titleValidation">Please enter Title</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <strong for="title">PR code</strong>
                                                <input type="text" class="form-control" ng-model="formRequest.prCode" id="prCode">                                                
                                            </div>
                                        </div>

                                        <div class="row" ng-if="CompanyLeads && CompanyLeads.length > 0">
                                            <div class="panel-body">
                                                <table class="table table-striped table-vmiddle " data-tablesaw-mode="swipe">
                                                    <thead>
                                                        <tr>
                                                            <th>ReqID</th>
                                                            <th>Title</th>
                                                            <th>Category</th>
                                                            <th>L1 Price</th>
                                                            <th>Posted</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in CompanyLeads">
                                                            <td>
                                                                {{item.requirementID}}
                                                            </td>
                                                            <td>
                                                                {{item.title}}
                                                            </td>
                                                            <td>
                                                                {{item.stringCategory}}
                                                            </td>
                                                            <td>
                                                                <b ng-bind-html="item.leastVendorPrice | numToCurrency"></b>
                                                            </td>
                                                            <td>
                                                                {{item.postedOn}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!--<mini-items-company-leads ng-repeat="item in CompanyLeads" item="item" timeleft="item.title"></mini-items-company-leads>-->
                                                </table>

                                            </div>
                                            <br />
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <input ng-click="exportItemsToExcel()" type="button" value="Template" class='btn-info' />
                                                Upload Multiple item via Excel(only xlsx):
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fileupload btn btn-info waves-effect waves-light">
                                                    <span class="fileinput-new"><i class="fa fa-plus m-r-5"></i>Upload Excel</span>
                                                    <input type="file" class="upload" accept=".xlsx" id="itemsAttachment" itemid="itemsAttachment" ng-file-select-items="onFileSelect($files)">
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <h5 ng-show="tableValidation" style="color:red;">{{tableValidationMsg}}</h5>
                                        <div class="col-md-12 add-row add-req-items-border form-group" ng-repeat="product in formRequest.listRequirementItems" ng-init="parentIdx = $index">

                                            <div class="col-md-12">
                                            </div>
                                            <div class="col-md-3">
                                                <label><strong>Product Name</strong></label>
                                                    <textarea type="text" ng-model="product.productIDorName" 
                                                              required name="productIDorName" id="productIDorName"
                                                              class="form-control"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>HSN Code/Product No.</strong></label>
                                                <input type="text" ng-model="product.productNo" name="productNo" id="productNo" class="form-control">
                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>Qty</strong></label>
                                                <input type="text" valid-number allow-decimal="true" allow-negative="false" step="any" ng-model="product.productQuantity" name="productQuantity" id="productQuantity" class="form-control" />
                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>Qty Units</strong></label>
                                                <!--<input type="text" ng-model="product.productQuantityIn" required name="productQuantityIn" id="productQuantityIn" class="form-control">-->
                                                <select style="margin-left:-5px;" ng-model="product.productQuantityIn" ng-options="BC.configValue as BC.configValue for BC in companyItemUnits" class="form-control"></select>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>Make</strong></label>
                                                <input type="text" ng-model="product.productBrand" name="productBrand" id="productBrand" class="form-control">
                                            </div>
                                            <!--<div class="col-md-3">
                                                <label><strong>Other Brand</strong></label>
                                                <input type="text" ng-model="product.othersBrands" name="othersBrands" id="othersBrands" class="form-control">
                                            </div>-->
                                            <!--<div class="col-md-1">
                                                <label><strong>Min. Reduction</strong></label>
                                                <input type="text" ng-model="product.itemMinReduction" valid-number allow-decimal="true" allow-negative="false" name="itemMinReduction" id="itemMinReduction" class="form-control">
                                            </div>-->
                                            <!--<div class="col-md-4">
                                                <label><strong>Item Description</strong></label>
                                                <textarea class="form-control" ng-model="product.productDescription" name="productDescription" rows="2" id="productDescription"></textarea>
                                            </div>-->
                                            <div class="col-md-2">
                                                <label><strong>LPP</strong></label>
                                                <input type="text" ng-model="product.itemLastPrice" valid-number allow-decimal="true" allow-negative="false" name="itemLastPrice" id="itemLastPrice" class="form-control">
                                            </div>
                                            <div class="col-md-12"></div>
                                            <div class="col-md-2">
                                                <label><strong>PO & DATE</strong></label>
                                                <textarea type="text" ng-model="product.I_LLP_DETAILS"                                                              
                                                            name="I_LLP_DETAILS" id="I_LLP_DETAILS"
                                                            class="form-control"></textarea>
                                            </div>
                                            <div class="col-md-4">
                                                <h5 ng-if="product.productImageID"><a target="_blank" 
                                                                                      href="FileDownload.aspx?attachid={{product.productImageID}}&sessionid={{sessionid}}">Download</a></h5>
                                                <div class="button-box m-t-30" data-provides="fileinput">
                                                    <div class="fileupload btn btn-info waves-effect waves-light">
                                                        <span><i class="fa fa-plus  m-r-5"></i>Attachment</span>
                                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" 
                                                               id="{{product.productSNo}}" 
                                                               itemid="{{product.productSNo}}" 
                                                               ng-file-select-items="onFileSelect($files)">
                                                    </div>
                                                    <button class="btn btn-danger" 
                                                            ng-click="deleteItem(product.productSNo)"> 
                                                        <i class="fa fa-trash-alt m-r-5"></i> 
                                                        Delete item
                                                    </button>
                                                    <label> {{product.attachmentName}}  </label>
                                                </div>
                                            </div>
                                            <!--<div class="col-md-12">
                                            </div>-->
                                            <div class="col-md-2 top-buffer">
                                                <button class="btn btn-info  top-buffer" ng-click="getPreviousItemPrice(product, $index);">Get Best Price</button>
                                            </div>
                                            <div class="col-md-4 top-buffer" ng-show="bestPriceEnable == $index">
                                                <div ng-if="itemPreviousPrice.lastPrice  && itemPreviousPrice.lastPrice > 0">
                                                    <div>
                                                        <label><strong>Previous Unit Price:</strong> {{itemPreviousPrice.lastPrice}} </label>
                                                    </div>
                                                    <div>
                                                        <label><strong>Date:</strong> {{itemPreviousPrice.lastPriceDate}} </label>
                                                    </div>
                                                    <div>
                                                        <label><strong>Vendor:</strong> {{itemPreviousPrice.lastPriceVendor}} </label>
                                                    </div>
                                                </div>
                                                <label ng-if="itemPreviousPrice.lastPrice == 0" class="text-danger">No previous records found.</label>
                                                <label>Note: We retrieve price based on exact match of "Product Name, HSN Code/Product No. and Make."</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-2">
                                                <button class="btn btn-info waves-effect waves-light" ng-click="AddItem()" type="button"> <i class="fa fa-plus-square m-r-5"></i> <span>Add item</span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <strong>Comment</strong>
                                                <textarea ng-model="formRequest.reqComments" id="reqComments" name="reqComments" class="form-control"></textarea>
                                            </div>



                                            <div class="col-md-6 form-group">
                                                <strong>Requirement Attachments</strong><br>
                                                <div class="fileupload btn btn-info waves-effect waves-light">
                                                    <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" multiple ng-file-select="onFileSelect($files)">
                                                </div>

                                                <!--<span class="btn btn-danger" ng-click="deleteAttachment(formRequest.requirementID)" ng-if="formRequest.attFile!=''"><i class="fa fa-trash-alt"></i></span>-->
                                                <!--<h5 ng-if="formRequest.attFile > 0"><a target="_blank" href="FileDownload.aspx?attachid={{formRequest.attFile}}&sessionid={{sessionid}}">Download</a></h5>
            <br />-->

                                                <label ng-if="attch.fileID > 0" ng-repeat="attch in formRequest.multipleAttachments">
                                                    {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                                                    <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                </label>
                                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in formRequest.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                            </div>



                                            <!--<div class="col-md-6 form-group">
            <strong>Requirement Attachments</strong><br>
            <div class="fileupload btn btn-info waves-effect waves-light">
                <span><i class="fa fa-upload  m-r-5"></i>Attachment</span>
                <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" ng-file-select="onFileSelect($files)">
            </div>
            <label ng-show="formRequest.attachmentName != formRequest.attFile">{{formRequest.attachmentName}}</label>
            <span class="btn btn-danger" ng-click="deleteAttachment(formRequest.requirementID)" ng-if="formRequest.attFile!=''"><i class="fa fa-trash-alt"></i></span>
            <h5 ng-if="formRequest.attFile > 0"><a target="_blank" href="FileDownload.aspx?attachid={{formRequest.attFile}}&sessionid={{sessionid}}">Download</a></h5>
        </div>-->
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-xs-10">
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <button ng-click="nextpage(1)" ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="row" ng-show="pageNo == 1 && isRequirementPosted == 0 && formRequest.auctionVendors.length == 0">
                                    <div class="col-xs-12 text-center">
                                        <button ng-click="postRequest(0, 1, false)" class="btn btn-info btn-file m-r-10">Save as Draft<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--PAGE 2-->
                    <div ng-show="pageNo == 2">
                        <div class="container-fluid">
                            <div class="col-md-10 col-md-offset-1">
                                <ul id="eliteregister">
                                    <li class="active">
                                        <h3><strong>STEP 1</strong></h3>
                                        <span><strong>Requirement Specifications</strong></span>
                                    </li>
                                    <li class="active">
                                        <h3><strong>STEP 2</strong></h3>
                                        <span><strong>Delivery & Payment Terms</strong></span>
                                    </li>
                                    <li>
                                        <h3><strong>STEP 3</strong></h3>
                                        <span><strong>Transaction Configuration</strong></span>
                                    </li>
                                    <li>
                                        <h3><strong>STEP 4</strong></h3>
                                        <span><strong>Choose vendors</strong></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="white-box" style="padding-top:40px;">

                                        <h3 class="box-title m-b-0 text-center" style="color:#377ba0"><strong>Terms & Conditions</strong></h3><br />

                                        <form class="req-form">

                                            <div class="row">
                                                <div class="col-md-12 form-group">
                                                    <strong for="delivery">Delivery Terms</strong>
                                                    <!-- <input type="text" class="form-control" id="delivery"> -->
                                                    <textarea class="form-control" ng-model="formRequest.deliveryTime" name="deliveryTimeName" id="deliveryTime"></textarea>
                                                    <div ng-show="deliveryTimeValidation">
                                                        <div class="help-block error logininput text-danger" ng-show="deliveryTimeValidation">Please enter Delivery Terms</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <strong for="location">Delivery Location</strong>
                                                    <textarea type="text" class="form-control" ng-model="formRequest.deliveryLocation" name="deliveryLocation" id="deliveryLocation" value="Attapur"></textarea>
                                                    <div ng-show="deliveryLocationValidation">
                                                        <div class="help-block error logininput text-danger" ng-show="deliveryLocationValidation">Please enter Delivery Location</div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 form-group">
                                                    <!-- <input type="text" class="form-control" id="payment"> -->
                                                    <strong for="payment">Payment Terms</strong>
                                                    <textarea class="form-control" ng-model="formRequest.paymentTerms" name="paymentTerms" id="paymentTerms"></textarea>
                                                    <div ng-show="paymentTermsValidation">
                                                        <div class="help-block error logininput text-danger" ng-show="paymentTermsValidation">Please enter Payment Terms</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <strong for="location">Contact Details</strong>
                                                    <textarea type="text" class="form-control" ng-model="formRequest.contactDetails" name="contactDetails" id="contactDetails" value="Attapur"></textarea>

                                                </div>

                                                <div class="col-md-6 form-group">
                                                    <strong for="payment">General Terms & Conditions</strong>
                                                    <textarea class="form-control" ng-model="formRequest.generalTC" name="generalTC" id="generalTC"></textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="row col-md-12 ">
                                                <strong>Contract</strong>
                                                <input type="checkbox" ng-model="formRequest.isContract" ng-value="false" ng-change="formRequest.contractStartTime = '';formRequest.contractEndTime = '';" />
                                            </div>
                                            </br>
                                            <div class="row " ng-show="formRequest.isContract == true" >
                                                    <div class="col-md-6 form-group">
                                                        <strong for="location">Contract Start Time</strong>
                                                        <textarea type="text" class="form-control" ng-model="formRequest.contractStartTime" name="contractStartTime" id="contractStartTime"></textarea>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <strong for="payment">Contract End Time</strong>
                                                        <textarea class="form-control" ng-model="formRequest.contractEndTime" name="contractEndTime" id="contractEndTime"></textarea>
                                                    </div>
                                            </div>
                                            </br>
                                            <div class="row">
                                                <div class="form-group">
                                                    <strong class="col-md-1" for="deparments">Departments: </strong>
                                                    <div class="col-md-11">
                                                        <label ng-if="isSuperUser">
                                                            <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" ng-model="noDepartments" ng-change="noDepartmentsFunction('NA');" />
                                                            All Departments &nbsp;&nbsp;
                                                        </label>
                                                        <label ng-repeat="reqDepartment in reqDepartments">
                                                            <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" ng-model="reqDepartment.isValid" ng-change="noDepartmentsFunction('DEPARTMENT');" />
                                                            {{reqDepartment.companyDepartments.deptCode}}&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-t-20">
                                                <div class="col-xs-2 text-center">
                                                    <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="previouspage()" type="button">Back</button>
                                                </div>
                                                <div class="col-xs-8 text-center">
                                                </div>
                                                <div class="col-xs-2 text-center">
                                                    <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="nextpage(2)" type="button">Next</button>                                                    
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="card" ng-show="pageNo == 2 && isRequirementPosted == 0 && formRequest.auctionVendors.length == 0">
                                        <div class="col-xs-12 text-center">
                                            <button ng-click="postRequest(0,2, false)" class="btn btn-info btn-file m-r-10">Save as Draft<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--PAGE 3-->
                    <div ng-show="pageNo == 3">
                        <div class="container-fluid">
                            <div class="col-md-10 col-md-offset-1">
                                <ul id="eliteregister">
                                    <li class="active">
                                        <h3><strong>STEP 1</strong></h3>
                                        <span><strong>Requirement Specifications</strong></span>
                                    </li>
                                    <li class="active">
                                        <h3><strong>STEP 2</strong></h3>
                                        <span><strong>Delivery & Payment Terms</strong></span>
                                    </li>
                                    <li class="active">
                                        <h3><strong>STEP 3</strong></h3>
                                        <span><strong>Transaction Configuration</strong></span>
                                    </li>
                                    <li>
                                        <h3><strong>STEP 4</strong></h3>
                                        <span><strong>Choose vendors</strong></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="white-box">
                                        <h3 class="box-title m-b-0 text-center" style="color:#377ba0"><strong>Transaction Configuration</strong></h3><br />
                                        <!--<p class="text-muted m-b-30 font-13"> Please Update the Configuration details. </p>-->
                                        <form class="requirementForm">
                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    <strong for="urgency">Urgency</strong>
                                                    <select ng-model="formRequest.urgency" class="form-control p-0" data-placeholder="Urgency" id="urgency" required="">
                                                        <option value="Critical (Will be Closed Today)">Critical (Will be Closed Today)</option>
                                                        <option value="High (Will be Closed in 2 Days)">High (Will be Closed in 2 Days)</option>
                                                        <option value="Medium (Will be Closed in 5 Days)">Medium (Will be Closed in 5 Days)</option>
                                                        <option value="Low (Will Take 10-15 Days Time)">Low (Will Take 10-15 Days)</option>

                                                    </select>
                                                    <div ng-show="urgencyValidation">
                                                        <div class="help-block error logininput text-danger" ng-show="urgencyValidation">Please select Urgency</div>
                                                    </div>
                                                </div>

                                                <div class="col-md-1 form-group">
                                                    <strong for="currency">Currency</strong>
                                                    <select data-placeholder="Select a Currency..." name="currency" ng-model="selectedCurrency" ng-options="currency.value for currency in currencies track by currency.key" class="form-control p-0"></select>
                                                    <!--Selected Currency : {{selectedCurrency.value}}-->
                                                    <div ng-show="selectedCurrencyValidation">
                                                        <div class="help-block error logininput text-danger" ng-show="selectedCurrencyValidation">Please select Currency</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong for="freeze">Quotation Freeze Time</strong>
                                                    <div moment-picker="formRequest.quotationFreezTime" format="DD-MM-YYYY HH:mm">
                                                        <input name="quotationFreezTimeName" id="quotationFreezTime" class="form-control" placeholder="Select a date" ng-model="formRequest.quotationFreezTime" ng-model-options="{ updateOn: 'blur' }">
                                                    </div>
                                                    <div class="help-block error logininput text-danger" ng-show="quotationFreezTimeValidation">
                                                        Please enter valid Quotation Freeze Time
                                                    </div>

                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong for="reminders">No.of Reminders<small> (Max 5)</small></strong>
                                                    <input type="text" valid-number allow-decimal="false" allow-negative="false" ng-model="formRequest.noOfQuotationReminders" name="noOfQuotationReminders" id="noOfQuotationReminders" class="form-control" />
                                                    <div ng-show="noOfQuotationRemindersValidation">
                                                        <div class="help-block error logininput text-danger" ng-show="noOfQuotationRemindersValidation">Please enter valid No.of Reminders</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong for="time">Time Intervel<small> (in Hours)</small></strong>
                                                    <input type="text" valid-number allow-decimal="false" allow-negative="false" ng-model="formRequest.remindersTimeInterval" name="remindersTimeInterval" id="remindersTimeInterval" class="form-control" />
                                                    <div ng-show="remindersTimeIntervalValidation">
                                                        <div class="help-block error logininput text-danger" ng-show="remindersTimeIntervalValidation">Please enter valid Time Intervel</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong for="negotition">Exp.Neg start time</strong>
                                                    <div moment-picker="formRequest.expStartTime" format="DD-MM-YYYY HH:mm">
                                                        <input name="expStartTimeName" id="expStartTime" class="form-control"
                                                               placeholder="Select a date"
                                                               ng-model="formRequest.expStartTime" ng-model-options="{ updateOn: 'blur' };" />
                                                    </div>

                                                    <div ng-show="expNegotiationTimeValidation">
                                                        <div class="help-block error logininput text-danger" ng-show="expNegotiationTimeValidation">Exp.Negotiation Start Time should be greater than Quotation Freeze Time</div>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    <div class="row padding-lft">
                                                        <strong class="control-label">Quotation Price Limit</strong>
                                                        <div class="radio-list">
                                                            <label class="radio-inline p-0">
                                                                <div class="radio radio-success">
                                                                    <input type="radio" name="radio" id="qyes" ng-value="true" ng-model="formRequest.isQuotationPriceLimit">
                                                                    <label for="qyes">Yes</label>
                                                                </div>
                                                            </label>
                                                            <label class="radio-inline">
                                                                <div class="radio radio-success">
                                                                    <input type="radio" name="radio" id="qno" ng-value="false" ng-model="formRequest.isQuotationPriceLimit">
                                                                    <label for="qno">No </label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-if="formRequest.isQuotationPriceLimit">
                                                        <div class="col-md-11 form-group">
                                                            <div>
                                                                <strong for="quotationPriceLimit">{{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</strong>
                                                                <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-model="formRequest.quotationPriceLimit" name="quotationPriceLimit" id="quotationPriceLimit" class="form-control" ng-change="checkInpLength(formRequest.quotationPriceLimit)" />
                                                            </div>
                                                            <div ng-show="quotationPriceLimitValidation">
                                                                <div class="help-block error logininput text-danger" ng-show="quotationPriceLimitValidation">Please enter valid {{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-11 form-group" ng-if="formRequest.isQuotationPriceLimit">
                                                            <small ng-if="!formRequest.isForwardBidding">Note: Quotation Price Limit Amount If Entered then System will not allow vendors to quote more than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or less than 1,00,000/- Only.</small>
                                                            <small ng-if="formRequest.isForwardBidding">Note: Minimum Expected Price Limit Amount If Entered then System will not allow vendors to quote less than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or greater than 1,00,000/- Only.</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <!--<div class="row">
                                                        <strong class="control-label">Tech Evaluation</strong>
                                                        <div class="radio-list">
                                                            <label class="radio-inline p-0">
                                                                <div class="radio radio-success">
                                                                    <input type="radio" name="tech" id="tyes" ng-model="isTechEval" ng-value='true'>
                                                                    <label for="tyes">Yes</label>
                                                                </div>
                                                            </label>
                                                            <label class="radio-inline">
                                                                <div class="radio radio-success">
                                                                    <input type="radio" name="tech" id="tno" ng-model="isTechEval" ng-value='false'>
                                                                    <label for="tno">No </label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>-->
                                                    <div classs="row" ng-show="isTechEval == true">
                                                        <div class="form-group">
                                                            <div>
                                                                <strong class="fg-label" for="currency">Tech Evaluation</strong>
                                                                <select data-placeholder="Select a Tech Evaluation..." name="questionnaire" ng-model="selectedQuestionnaire" ng-options="questionnaire.title for questionnaire in questionnaireList" class="form-control"></select>
                                                            </div>
                                                            <div ng-show="questionnaireValidation && isTechEval == true">
                                                                <div class="help-block error logininput text-danger" ng-show="questionnaireValidation">Please select a Tech Evaluation</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-11 form-group" ng-if="isTechEval">
                                                            <small>Note: All the vendors pre-qualified during technical evaluation would be filtered accordingly. No new vendors can be added to the requirement.</small>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6 form-group">
                                                    <div class="row">
                                                        <strong class="control-label">Reduction Type</strong>
                                                        <div class="radio-list">
                                                            <label class="radio-inline p-0">
                                                                <div class="radio radio-success">
                                                                    <input type="radio" name="price" id="rtp" ng-value="0" ng-model="formRequest.isDiscountQuotation">
                                                                    <label for="rtp">Price</label>
                                                                </div>
                                                            </label>
                                                            <!--<label class="radio-inline">
                                                                <div class="radio radio-success">
                                                                    <input type="radio" name="discount" id="rtd" ng-value="1" ng-model="formRequest.isDiscountQuotation">
                                                                    <label for="rtd">Discount</label>
                                                                </div>
                                                            </label>-->
                                                            <!--<label class="radio-inline">
                                                                <div class="radio radio-success">
                                                                    <input type="radio" name="margin" id="rtm" ng-value="2" ng-model="formRequest.isDiscountQuotation">
                                                                    <label for="rtm">Margin</label>
                                                                </div>
                                                            </label>-->
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <small ng-if="formRequest.isDiscountQuotation == 0"><strong>Price:</strong> During the bidding vendors would be given an option only to reduce unit level price on items.</small>
                                                        <small ng-if="formRequest.isDiscountQuotation == 1"><strong>Discount:</strong> During the bidding vendors would be given an option only to reduce bid amount through discount(%).</small>
                                                        <small ng-if="formRequest.isDiscountQuotation == 2"><strong>Margin:</strong> Only to reduce at unit level where the rankings are calculated based on margin value. <br />This is best suited for pharma procurement in hospitals.</small>
                                                    </div>

                                                    <div class="row radio-list" ng-if="formRequest.isDiscountQuotation == 2">
                                                        <strong class="control-label">Revised Margin % : &nbsp;&nbsp;&nbsp;</strong>
                                                        <label class="radio-inline p-0">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="rms" id="rms" ng-value="1" ng-model="formRequest.isRevUnitDiscountEnable">
                                                                <label for="rms">Show</label>
                                                            </div>
                                                        </label>
                                                        <label class="radio-inline">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="rmh" id="rmh" ng-value="0" ng-model="formRequest.isRevUnitDiscountEnable">
                                                                <label for="rmh"> Hide </label>
                                                            </div>
                                                        </label>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row">

                                            </div>

                                            <div class="row m-t-20">
                                                <div class="col-xs-2 text-center">
                                                    <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="previouspage()" type="button">Back</button>
                                                </div>
                                                <div class="col-xs-8 text-center">
                                                </div>
                                                <div class="col-xs-2 text-center">
                                                    <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="nextpage(3)" type="button">Next</button>
                                                </div>
                                            </div>
                                        </form>
                                        <p id="demo"></p>
                                    </div>
                                    <div class="card" ng-show="pageNo == 3 && isRequirementPosted == 0 && formRequest.auctionVendors.length == 0">
                                        <div class="col-xs-12 text-center">
                                            <button ng-click="postRequest(0, 3, false)" class="btn btn-info btn-file m-r-10">Save as Draft<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--PAGE 4-->
                    <div ng-show="pageNo == 4">
                        <div class="container-fluid">
                            <!--<h3 class="page-heading">Requirement Specifications <i class="far fa-question-circle"></i></h3>-->
                            <div class="col-md-10 col-md-offset-1">
                                <ul id="eliteregister">
                                    <li class="active">
                                        <h3><strong>STEP 1</strong></h3>
                                        <span><strong>Requirement Specifications</strong></span>
                                    </li>
                                    <li class="active">
                                        <h3><strong>STEP 2</strong></h3>
                                        <span><strong>Delivery & Payment Terms</strong></span>
                                    </li>
                                    <li class="active">
                                        <h3><strong>STEP 3</strong></h3>
                                        <span><strong>Transaction Configuration</strong></span>
                                    </li>
                                    <li class="active">
                                        <h3><strong>STEP 4</strong></h3>
                                        <span><strong>Choose vendors</strong></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="white-box">
                                        <h3 class="box-title m-b-30">Choose the right vendors for better price competitiveness</h3>
                                        <form class="req-form">

                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    <strong for="category">Category</strong>
                                                    <select class="form-control p-0" id="category" required="" ng-model="formRequest.category" ng-change="changeCategory()" ng-options="category for category in categories"></select>
                                                </div>

                                                <div class="col-md-3 form-group" ng-show="formRequest && formRequest.category">
                                                    <strong>Subcategory</strong>
                                                    <div style="padding: 0px;"
                                                         isteven-multi-select
                                                         disable-property="true"
                                                         class="col-md-12"
                                                         input-model="subcategories"
                                                         output-model="sub.selectedSubcategories"
                                                         button-label="subcategory"
                                                         item-label="subcategory"
                                                         tick-property="ticked"
                                                         max-labels="1"
                                                         max-height="150px"
                                                         on-item-click="selectSubcat(data)"
                                                         on-select-none="changeCategory()"
                                                         on-reset="selectSubcat(data)"
                                                         on-select-all="selectSubcat(data)">
                                                    </div>
                                                </div>
                                            </div>
                                            

                                            <div class="row" ng-show="formRequest && formRequest.category">
                                                <div class="col-md-12">

                                                    <div class="row">
                                                        <div ng-show="addVendorShow">
                                                            <div class="form-group">
                                                                <div>
                                                                    <strong>Vendor First Name</strong>
                                                                    <input type="text" ng-model="newVendor.firstName" class="form-control fg-input" />
                                                                </div>
                                                                <div ng-show="addVendorShow && firstvalidation">
                                                                    <div class="help-block error logininput" ng-show="addVendorShow && firstvalidation">Please enter Vendor First Name</div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <strong>Vendor Last Name</strong>
                                                                    <input type="text" ng-model="newVendor.lastName" class="form-control fg-input">
                                                                </div>
                                                                <div ng-show="addVendorShow && lastvalidation">
                                                                    <div class="help-block error logininput" ng-show="addVendorShow && lastvalidation">Please enter Vendor Last Name</div>
                                                                </div>
                                                            </div>
                                                            <!--</div>-->
                                                            <div class="form-group">
                                                                <div>
                                                                    <strong>Contact No.</strong>
                                                                    <input type="text" ng-model="newVendor.contactNum" class="form-control fg-input">
                                                                </div>
                                                                <div ng-show="(addVendorShow && contactvalidation) || (addVendorShow && checkVendorPhoneUniqueResult) || (addVendorShow && contactvalidationlength)">
                                                                    <div class="help-block error logininput" ng-show="addVendorShow && contactvalidation">Please enter a valid Contact No.</div>
                                                                    <div class="help-block error logininput nowrap" ng-show="addVendorShow && contactvalidationlength">Phone Number must be between 10-15 digits.</div>
                                                                    <div class="help-block error logininput" ng-show="addVendorShow && checkVendorPhoneUniqueResult">Contanct No. has been already taken.</div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <strong>Email Address</strong>
                                                                    <input type="text" ng-model="newVendor.email" class="form-control fg-input">
                                                                </div>
                                                                <div ng-show="(addVendorShow && emailvalidation) || (addVendorShow && emailregxvalidation) || (addVendorShow && checkVendorEmailUniqueResult)">
                                                                    <div class="help-block error logininput" ng-show="addVendorShow && emailvalidation">Please enter Email Address</div>
                                                                    <div class="help-block error logininput" ng-show="addVendorShow && emailregxvalidation">Please enter a valid Email Address</div>
                                                                    <div class="help-block error logininput" ng-show="addVendorShow && checkVendorEmailUniqueResult">Email Address has been already taken.</div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <strong>Vendor Company Name</strong>
                                                                    <input type="text" ng-model="newVendor.companyName" class="form-control fg-input">
                                                                </div>
                                                                <div ng-show="addVendorShow && companyvalidation">
                                                                    <div class="help-block error logininput" ng-show="addVendorShow && companyvalidation">Please enter Vendor Company Name</div>
                                                                </div>
                                                            </div>


                                                            <div class="form-group">
                                                                <div>
                                                                    <strong>Vendor Currency</strong>
                                                                    <select data-placeholder="Select a Currency..." name="vendorcurrency" ng-model="newVendor.vendorcurrency" class="form-control" ng-options="currency.value for currency in currencies"></select>
                                                                </div>
                                                                <div ng-show="addVendorShow && vendorcurrencyvalidation">
                                                                    <div class="help-block error logininput" ng-show="addVendorShow && vendorcurrencyvalidation">Please Select Vendor Currency</div>
                                                                </div>
                                                            </div>


                                                            <div class="col-xs-12 text-center m-b-10">
                                                                <button class="btn btn-primary waves-effect waves-light" ng-disabled="checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult" ng-click="addVendor();">Add</button>
                                                                <button class="btn btn-error waves-effect waves-light" ng-click="selectVendorShow=true;addVendorShow=false;">Cancel</button>
                                                            </div>

                                                            <div ng-show="addVendorShow && (checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult)" class="col-xs-12 text-center m-b-10">
                                                                User with the Same mobile number alredy exists Do you whan to Assign this vendor to Your company? <a role="button" ng-click="selectVendorShow=true;addVendorShow=false;AssignVendorToCompany(newVendor.contactNum, newVendor.email);"> Assign Vendor To company</a>
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <h3 class="box-title">&nbsp;&nbsp;&nbsp;Choose Vendor</h3>
                                                                </div>
                                                                <!--<div class="col-md-3">
                                                                    <input type="text" ng-change="searchVendors(searchvendorstring)" ng-model="searchvendorstring" class="form-control input-sm m-b-10" placeholder="Search Vendor By Company">
                                                                </div>-->
                                                                <div class="col-md-3">
                                                                    <div class="row">
                                                                        <!--searchVendors(serchVendorString)-->
                                                                        <input type="text" ng-change="searchGlobalVendors(serchVendorString);" ng-model="serchVendorString" class="form-control input-sm m-b-10" placeholder="Search Vendor By All Categories">
                                                                    </div>
                                                                    <div class="row" style="max-height:100px;overflow:auto;">
                                                                        
                                                                        <!--<div ng-if="globalVendors.length>0 && globalVendors!=null">-->
                                                                            <table ng-if="globalVendors.length>0 && globalVendors!=null">
                                                                              
                                                                                <tr ng-repeat="vendor in globalVendors">
                                                                                    <td>
                                                                                        <input type="checkbox" ng-disabled="vendor.isChecked" ng-model="vendor.isChecked"
                                                                                               ng-click="selectFormGlobalSearch(vendor)" /> {{vendor.companyName}} / {{vendor.vendorName}}
                                                                                    </td>

                                                                                </tr>
                                                                            </table>
                                                                        <!--</div>-->
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <!--<button ng-click="selectVendorShow=false;addVendorShow=true;" class="btn btn-info waves-effect waves-light pull-right" style="margin-right:5px;">Add new vendor</button>-->
                                                                </div>


                                                            </div>
                                                            <div style="height:400px;max-height: 400px;overflow-y: auto;">
                                                                <div class="table-responsive">
                                                                    <!-- <table class="table table-striped table-bordered"> -->
                                                                    <table class="table max-height-400">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="width:6px"></th>
                                                                                <th>Company Name</th>
                                                                                <th>Contact Person</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="vendor in formRequest.auctionVendors">
                                                                                <td style="text-align:center;">
                                                                                    <div>
                                                                                        <input type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForB(vendor)" value="{{vendor.vendorID}}" checked>
                                                                                        <label for="checkbox"></label>
                                                                                    </div>
                                                                                </td>
                                                                                <td><a class="selected-row" target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}"><span>{{vendor.companyName}}</span></a></td>
                                                                                <td><strong class="selected-row">{{vendor.vendorName}}</strong></td>
                                                                            </tr>
                                                                            <tr ng-repeat="vendor in Vendors">
                                                                                <td style="text-align:center">
                                                                                    <div class="checkbox m-t-0 m-b-0">
                                                                                        <input style="height:100px;width:200px;" type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}">
                                                                                        <label for="checkbox"></label>
                                                                                    </div>
                                                                                </td>
                                                                                <td><a target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></td>
                                                                                <td>{{vendor.vendorName}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-hide="formRequest && formRequest.category">
                                                <h3>Please select category to choose vendors</h3>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-10">
                                                    <label>
                                                        <input type="checkbox" value="" ng-model="formRequest.checkBoxEmail" checked>
                                                        <strong ng-if="formRequest.checkBoxEmail" style="font-size: 15px;">Send Email to All the Vendors</strong>
                                                        <span ng-if="!formRequest.checkBoxEmail">Send Email to All the Vendors</span>
                                                        <br />
                                                        &nbsp;
                                                    </label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <label>
                                                        <input type="checkbox" value="" ng-model="formRequest.checkBoxSms" checked>
                                                        <strong ng-if="formRequest.checkBoxSms" style="font-size: 15px;">Send SMS to All the Vendors</strong>
                                                        <span ng-if="!formRequest.checkBoxSms">Send SMS to All the Vendors</span>
                                                        <br />
                                                        &nbsp;
                                                    </label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <label ng-if="isEdit == true">
                                                        <input type="checkbox" value="" ng-model="formRequest.deleteQuotations" checked>
                                                        <strong ng-if="formRequest.deleteQuotations" style="font-size: 15px;">Request New Quotations</strong>
                                                        <span ng-if="!formRequest.deleteQuotations">Request New Quotations</span>
                                                        <br />
                                                        <label ng-if="!formRequest.deleteQuotations"></label>
                                                        <span ng-if="formRequest.deleteQuotations" class="text-danger"><strong>(This will delete all the vendor Quotations)</strong></span>
                                                    </label>
                                                </div>
                                                <!--<div class="col-md-2">
                                                </div>-->
                                            </div>
                                            <div class="row m-t-20">
                                                <div class="col-xs-2 text-center">
                                                    <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="previouspage()" type="button">Back</button>
                                                </div>
                                                <div class="col-xs-6 text-center">
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <button class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" type="button" ng-click="postRequest(1, 4, true)" ng-disabled="formRequest.auctionVendors.length == 0 || addVendorShow == true || postRequestLoding == true">
                                                        Post Requirement
                                                    </button>
                                                    <!--<div class="fileinput fileinput-new" data-provides="fileinput" id="alerts">
                                                        <span>Kindly review the </span><a ng-click="clickToOpen()"> Terms and Conditions </a> <span>before posting the Requirement.</span>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>