﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />

        <!--<link href="../../js/resources/css/catalogMgmt.css" rel="stylesheet" />-->
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="catalogProductsCtrl">
                <div class="row">
                    <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                </div>
                <div class="col-md-12 white-box">
                    <div class="pmb-block">
                        <div>
                            <!--style="padding-left:20px"-->
                            <div class="container-fluid" _ngcontent-c2="" style="margin-top:-20px;" id="content-wrapper">

                                <div>
                                    <div id="mySidebar" class="side1">

                                        <div>
                                            <div class="pull-right">
                                                <div class="col-md-2" role="button" style="color:#057cb5" onclick="w3_close()">
                                                    <span><i class="fa fa-chevron-left"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="pull-left" _ngcontent-c2="" ng-show="showLeftMenu == true">
                                                    <!--<div _ngcontent-c2="">-->
                                                    <!--div _ngcontent-c2="">
                                                    <div _ngcontent-c2="" class="btn-group">
                                                        <button _ngcontent-c2="" aria-expanded="false" aria-haspopup="true" class="btn btn-primary btn-sm btn-o dropdown-toggle" data-toggle="dropdown" type="button">
                                                            <span _ngcontent-c2="">
                                                                <i _ngcontent-c2="" class="fa fa-save"></i>
                                                            </span>
                                                        </button>
                                                        <ul _ngcontent-c2="" class="dropdown-menu pull-right">
                                                            <li _ngcontent-c2=""><a _ngcontent-c2="" href="">Load filters from smart list</a></li>
                                                            <li _ngcontent-c2=""><a _ngcontent-c2="" href="">Save filters to smart list</a></li>
                                                        </ul>
                                                    </div>
                                                </div-->
                                                    <h4 _ngcontent-c2="" style="border-bottom: 2px solid #F5F7F8;padding: 6px 0 10px 5px;width:200px">
                                                        Product Filters
                                                    </h4>
                                                    <app-products-filters _ngcontent-c2="" _nghost-c3="">

                                                        <div _ngcontent-c3="" class="selected-filters" >

                                                            <table>
                                                                <tr ng-repeat="item in filter">


                                                                    <td class="prmellipsis">
                                                                        <p style="cursor:pointer;color:#057cb5" ng-click="editFilter(item, $index)" data-toggle="modal" data-target="#myModal">
                                                                            '{{item.filterField}}'  {{item.filterCond}} <b>{{item.filterValue}} </b>
                                                                        </p>
                                                                    </td>
                                                                    <td>
                                                                        <a class="pull-right btn-xs" data-nodrag ng-click="removefilter(item)" title="delete" style="cursor:pointer">
                                                                            <span class="glyphicon glyphicon-remove"></span>
                                                                        </a>
                                                                    </td>

                                                                </tr>

                                                            </table>



                                                            <hr _ngcontent-c3="" hidden="">


                                                            <div _ngcontent-c3="" class="add-filter">
                                                                <a _ngcontent-c3="" data-toggle="modal" data-target="#myModal" style="cursor:pointer;color:#057cb5" ng-click="addfilter()">
                                                                    <i _ngcontent-c3="" class="fa fa-plus"></i> Add Filter
                                                                </a>
                                                            </div>

                                                        </div>
                                                        <div ng-if="showfilterResetBtn == true">
                                                            <a ng-click="resetFilter()" title="reset" style="color:red;cursor:pointer;">
                                                                <i class="fa fa-undo "></i>Reset Filter

                                                            </a>
                                                        </div>

                                                        <app-modal _ngcontent-c3="" textbuttonconfirm="Apply filter" title="Add filter" _nghost-c5="">
                                                        </app-modal>
                                                    </app-products-filters>
                                                    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
                                                    <div class="col-md-12">
                                                        <div class="modal fade" id="myModal" role="dialog">
                                                            <div class="modal-dialog">
                                                                <form name="addnewfilterform">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4 class="modal-title">Add Filters</h4>
                                                                        </div>
                                                                        <div class="row modal-body">
                                                                            <!--<p>Attribute</p>-->

                                                                            <div class="col-md-12">
                                                                                <div>
                                                                                    <select class="form-control" ng-model="selectedProperty" ng-change="selectedPropertyCond = ''"
                                                                                            ng-options="property.propName +' ('+property.propDataType +')' for property in Properties" required></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12" style="padding-top: 20px;" ng-show="selectedProperty">
                                                                                <div>
                                                                                    <select class="form-control" ng-model="selectedPropertyCond" ng-change="selectedPropertyval = ''">
                                                                                        <option value="is defined" ng-if="selectedProperty.propType =='attr'">is defined</option>
                                                                                        <option value="is not defined" ng-if="selectedProperty.propType =='attr'">is not defined</option>
                                                                                        <!--<option value="True" ng-if="selectedProperty.propType =='attr' && selectedProperty.propDataType == 'boolean'">True</option>
                                                                                    <option value="False" ng-if="selectedProperty.propType =='attr' && selectedProperty.propDataType == 'boolean'">False</option>-->
                                                                                        <option value="is equals to" ng-if="['text','multiline','drop', 'date', 'boolean'].indexOf(selectedProperty.propDataType) !== -1">is equals to</option>
                                                                                        <option value="is not equals to" ng-if="['text','multiline','drop', 'date'].indexOf(selectedProperty.propDataType) !== -1">is not equals to</option>
                                                                                        <option value="contains" ng-if="['text','multiline'].indexOf(selectedProperty.propDataType) !== -1">contains</option>
                                                                                        <!-- <option value="contains any of" ng-if="selectedProperty.propDataType == 'multi'">contains any of</option> -->
                                                                                        <option value="is greater than" ng-if="selectedProperty.propDataType == 'date'">is greater than</option>
                                                                                        <option value="is greater or equal to" ng-if="selectedProperty.propDataType == 'date'">is greater or equal to</option>
                                                                                        <option value="is less than" ng-if="selectedProperty.propDataType == 'date'">is less than</option>
                                                                                        <option value="is less or equal to" ng-if="selectedProperty.propDataType == 'date'">is less or equal to</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12" style="padding-top: 20px;" ng-show="selectedPropertyCond">
                                                                                <div ng-hide="selectedPropertyCond == 'is defined' || selectedPropertyCond == 'is not defined'">
                                                                                    <div ng-show="selectedProperty.propDataType == 'text' || selectedProperty.propDataType == 'multiline'">
                                                                                        <input class="form-control" ng-model="selectedPropertyval1" ng-change="valueChanged(selectedPropertyval1)" type="text" />
                                                                                    </div>
                                                                                    <div ng-show="selectedProperty.propDataType == 'drop'">
                                                                                        <select class="form-control" ng-model="selectedPropertyval2" ng-change="valueChanged(selectedPropertyval2)" ng-options="opt for opt in selectedProperty.propOptions.split('^^')"></select>
                                                                                    </div>
                                                                                    <div ng-show="selectedProperty.propDataType == 'multi'">
                                                                                        <select multiple class="form-control" ng-model="selectedPropertyval3" ng-change="valueChanged(selectedPropertyval3)" ng-options="opt for opt in selectedProperty.propOptions.split('^^')"></select>
                                                                                    </div>
                                                                                    <div ng-show="selectedProperty.propDataType == 'boolean'">
                                                                                        <select class="form-control" ng-model="selectedPropertyval5" ng-change="valueChanged(selectedPropertyval5)">
                                                                                            <option value="True">True</option>
                                                                                            <option value="False">False</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div ng-show="selectedProperty.propDataType == 'date'">
                                                                                        <div moment-picker="selectedPropertyval4" format="YYYY-MM-DD">
                                                                                            <input class="form-control" placeholder="Select a date" ng-model="selectedPropertyval4" ng-blur="valueChanged(selectedPropertyval4)" ng-model-options="{ updateOn: 'blur' }">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- <div ng-show="selectedProperty">
                                                                             <div ng-show="selectedProperty.propDataType == 'text'">
                                                                                 <select class="col-md-12 form-control" ng-model="selectedPropertyCond" ng-change="selectedPropertyval = ''">
                                                                                     <option value="is defined">is defined</option>
                                                                                     <option value="is not defined">is not defined</option>

                                                                                     <option value="contains">contains</option>
                                                                                     <option value="is equals to">is equals to</option>
                                                                                     <option value="is not equals to">is not equals to</option>

                                                                                 </select>
                                                                                 <br />
                                                                                 <br />
                                                                                 <br />
                                                                                 <div ng-show="selectedPropertyCond">
                                                                                     <div ng-show="selectedPropertyCond == 'contains'|| selectedPropertyCond == 'is not equals to' || selectedPropertyCond == 'is equals to'">
                                                                                         <input class="form-control" ng-model="selectedPropertyval" type="text" value="" />
                                                                                     </div>
                                                                                 </div>
                                                                             </div>
                                                                             <div ng-show="selectedProperty.propDataType == 'drop'">
                                                                                 <select class="col-md-12 form-control" ng-model="selectedPropertyCond" ng-change="selectedPropertyval = ''">
                                                                                     <option value="is defined">is defined</option>
                                                                                     <option value="is not defined">is not defined</option>
                                                                                     <option value="is equals to">is equals to</option>
                                                                                     <option value="is not equals to">is not equals to</option>

                                                                                 </select>
                                                                                 <br />
                                                                                 <br />
                                                                                 <br />
                                                                                 <div ng-show="selectedPropertyCond">
                                                                                     <div ng-show="selectedPropertyCond == 'is equals to'|| selectedPropertyCond == 'is not equals to' ">
                                                                                         <select class="col-md-12 form-control" ng-model="selectedPropertyval" ng-options="opt for opt in selectedProperty.propOptions.split('^^')"></select>
                                                                                     </div>
                                                                                 </div>
                                                                             </div>
                                                                             <div ng-show="selectedProperty.propDataType == 'multiline'">
                                                                                 <select class="col-md-12 form-control" ng-model="selectedPropertyCond" ng-change="selectedPropertyval = ''">
                                                                                     <option value="is defined">is defined</option>
                                                                                     <option value="is not defined">is not defined</option>
                                                                                     <option value="contains any of">contains any of</option>

                                                                                 </select>
                                                                                 <br />
                                                                                 <br />
                                                                                 <br />
                                                                                 <div ng-show="selectedPropertyCond">
                                                                                     <div ng-show="selectedPropertyCond == 'contains any of'">
                                                                                         <input class="form-control" ng-model="selectedPropertyval" type="text" />
                                                                                     </div>
                                                                                 </div>
                                                                             </div>
                                                                             <div ng-show="selectedProperty.propDataType == 'boolean'">
                                                                                 <select class="col-md-12 form-control" ng-model="selectedPropertyCond">
                                                                                     <option value="True">True</option>
                                                                                     <option value="False">False</option>
                                                                                 </select>


                                                                             </div>
                                                                             <div ng-show="selectedProperty.propDataType == 'date'">
                                                                                 <select class="col-md-12 form-control" ng-model="selectedPropertyCond" ng-change="selectedPropertyval = ''">
                                                                                     <option value="is defined">is defined</option>
                                                                                     <option value="is not defined">is not defined</option>
                                                                                     <option value="is equal to">is equal to</option>
                                                                                     <option value="is greater than">is greater than</option>
                                                                                     <option value="is greater or equal than">is greater or equal than</option>
                                                                                     <option value="is less than">is less than</option>
                                                                                     <option value="is less or equal than">is less or equal than</option>

                                                                                 </select>
                                                                                 <br />
                                                                                 <br />
                                                                                 <br />
                                                                                 <div ng-show="selectedPropertyCond">
                                                                                     <div moment-picker="selectedPropertyval" format="YYYY-MM-DD" ng-show="selectedPropertyCond == 'is equal to'|| selectedPropertyCond == 'is greater than'|| selectedPropertyCond == 'is greater or equal than' || selectedPropertyCond == 'is less than' || selectedPropertyCond == 'is less or equal than'">

                                                                                         <input class="form-control" placeholder="Select a date" ng-model="selectedPropertyval" ng-model-options="{ updateOn: 'blur' }">
                                                                                     </div>
                                                                                 </div>
                                                                             </div>
                                                                         </div> -->
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <div class="col-md-2">
                                                                                <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="clearSelections()">Close</button>
                                                                            </div>
                                                                            <div class="col-md-2" ng-show="selectedPropertyCond == 'is defined' || selectedPropertyCond == 'is not defined'">
                                                                                <button type="button" class="btn btn-info" ng-click="savefilters()" ng-disabled="selectedPropertyCond === undefined " data-dismiss="modal">Apply Filter</button>
                                                                            </div>
                                                                            <div class="col-md-2" ng-show="selectedPropertyCond !== 'is defined' && selectedPropertyCond !== 'is not defined'">
                                                                                <button type="button" class="btn btn-info" ng-click="savefilters()" ng-disabled="selectedPropertyCond === undefined|| selectedPropertyval=== undefined" data-dismiss="modal">Apply Filter</button>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--<div>
                                                    <a role="button" ng-hide="left-menu.expanded" ng-click="auction.expanded = true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                    <a role="button" ng-hide="left-menu.expanded" ng-click="auction.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                                </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="main">
                                    <div class="" style="color:#057cb5" role="button" id="openNav" onclick="w3_open()"><i class="fa fa-chevron-right"></i></div>


                                    <div _ngcontent-c2>
                                        <!--<div _ngcontent-c2>-->
                                        <div class="clearfix">
                                            <div class="row col-sm-12">
                                                <div class="pull-right">
                                                    <!--<div class="btn-group">
                                                    <button class="btn btn-info btn-wide" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-square"></i><span> Add Products</span></button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <div class="fileinput fileinput-new  pull-right" style="width:160px;">
                                                                <span class="btn btn-info btn-file m-r-10" ng-click="goToProductAdd()" style="cursor:pointer;">
                                                                    <i class="fa fa-plus-square"></i> Add new product
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="fileinput fileinput-new  pull-right" data-provides="fileinput" style="width:160px;">
                                                                <span class="btn btn-info btn-file m-r-10">

                                                                    <i class="fa fa-upload"></i> upload products
                                                                    <input type="file" accept=".xlsx" id="excelquotationproducts" itemid="excelquotationproducts" ng-file-select="onFileSelect($files)" />
                                                                </span>
                                                                <span class="fileinput-filename"></span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="fileinput fileinput-new  pull-right" style="width:160px;">
                                                                <span class="btn btn-info btn-file m-r-10" ng-click="exportTemplateToExcel()" style="cursor:pointer;">
                                                                    <i class="fa fa-download"></i> download template
                                                                </span>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>-->
                                                    <!--input type="button" class="btn btn-info btn-wide" value="Add Product" ng-click="goToProductAdd()"-->

                                                    <div class="text-right">
                                                        <div class="dropdown btn-group fg-float col-md-2 m-b-30" style="margin-top:-3px;">
                                                            <!--<button class="btn btn-info" href="#">Reports</button>
                                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></button>-->
                                                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px;color:white;">
                                                                <i class="fa fa-plus-square"></i> Add Products
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li style="cursor:pointer;"><a class="" role="button" ng-click="goToProductAdd()" aria-hidden="true"><i class="fa fa-plus-square"></i>&nbsp;&nbsp; Add New Product</a></li>
                                                                <li style="cursor:pointer;"><a class="" role="button" ng-click="exportTemplateToExcel()" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Download Template</a></li>

                                                                <!--<li>-->
                                                                <!--<a class="" role="button" data-ui-sref="consalidatedReport()" aria-hidden="true"><strong><i class="fa fa-upload"></i> upload products</a>
                                                            <input type="file" accept=".xlsx" id="excelquotationproducts" itemid="excelquotationproducts" ng-file-select="onFileSelect($files)" />
                                                            <span class="fileinput-filename"></span>-->
                                                                <!--<div class="fileinput fileinput-new  pull-right" data-provides="fileinput" style="width:160px;">
                                                                <span class="btn btn-info btn-file m-r-10">-->
                                                                <!--<a data-toggle="modal" data-target="#modalImport" style="cursor:pointer;"><i class="fa fa-upload"></i> Import products
                                                            </a>-->
                                                                <!--<i class="fa fa-upload"></i> upload products
                                                                        <input type="file" accept=".xlsx" id="excelquotationproducts" itemid="excelquotationproducts" ng-file-select="onFileSelect($files)" />
                                                                    </span>
                                                                    <span class="fileinput-filename"></span>
                                                                </div>
                                                            </li>-->
                                                                <li style="cursor:pointer;">
                                                                    <!--<a class="" role="button" data-ui-sref="consalidatedReport()" aria-hidden="true"><strong><i class="fa fa-upload"></i> upload products</a>
                                                                <input type="file" accept=".xlsx" id="excelquotationproducts" itemid="excelquotationproducts" ng-file-select="onFileSelect($files)" />
                                                                <span class="fileinput-filename"></span>-->
                                                                    <div class="fileinput fileinput-new col-md-12" data-provides="fileinput" style="margin-left:6px;margin-top:8px;">
                                                                        <span class="btn-info btn-file" style="background-color:white;margin-right:35px;">
                                                                            <!--<a data-toggle="modal" data-target="#modalImport" style="cursor:pointer;"><i class="fa fa-upload"></i> Import products
                                                                        </a>-->
                                                                            <i class="fa fa-upload" style="color:black;"></i>
                                                                            <input type="file" accept=".xlsx" id="excelquotationproducts" itemid="excelquotationproducts" ng-file-select="onFileSelect($files)" />
                                                                        </span>

                                                                        <span class="fileinput-filename" style="margin-left:-33px;"></span>
                                                                        Upload Product
                                                                    </div>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="clearfix">
                                                    <div class="col-md-10">
                                                        <div class="col-md-6">
                                                            <h2 style="margin-top:-8px;">PRODUCTS ({{products.length}}/{{totalProducts}})</h2>
                                                        </div>
                                                        <div class="col-md-6 pull-right">
                                                            <div class="form-group has-feedback" style="width:300px">
                                                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-model-options="{debounce:500}" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Product Name">
                                                                <span class="form-control-feedback">
                                                                    <i class="fa fa-search"></i>
                                                                </span>
                                                                <p class="help-block"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="clearfix">

                                        <div class="form-group has-feedback" style="width:300px">
                                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Product Name">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-search"></i>
                                            </span>
                                            <p class="help-block"></p>
                                        </div>
                                    </div>-->
                                        <!--<div class="clearfix">
                                        <div class="row" when-scrolled="getProducts(1)">-->
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" when-scrolled="getProducts(1,searchingProducts)">
                                                        <table class="tablesaw table-striped table table-fixed">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Product Name</th>
                                                                    <th scope="col">Product No</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="product in products">
                                                                    <td scope="row"><a> <label style="cursor:pointer;color:#057cb5" ng-click="goToProductView(product.prodId)">{{product.prodName}}</label></a></td>
                                                                    <td scope="row"> <label>{{product.prodNo}}</label></td>
                                                                    <td scope="row">
                                                                        <a> <label style="cursor:pointer" ng-click="goToProductEdit(product.prodId)"><i class="far fa-edit" style="color:#057cb5"></i></label></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--</div>
                                    </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<script>
    function myFunction() {
        var x = document.getElementById("left-menu");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
        </script>-->
    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "15%";
            document.getElementById("mySidebar").style.width = "15%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        document.getElementById("main").style.marginLeft = "15%";
        document.getElementById("mySidebar").style.width = "15%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>


</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>

<!--div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div  ng-controller="catalogProductsCtrl">
                    <div class="clearfix ">
                        <div class="pull-right">
                        </div>
                        <h3>
                            Products
                        </h3>
                        <div class="row col-md-12 col-xs-12">
                            <a href="#/catalogMgmt">
                                <button class="btn btn-info btn-wide">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    ProductCategory
                                </button>
                            </a>
                            <a href="#/Attribute">
                                <button class="btn btn-info btn-wide">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    ProductAttribute
                                </button>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div >
                            <div class="col-md-12 col-xs-12">

                                <div class="row white-box pmb-block">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="panel-body">
                                            <table class="tablesaw table-striped table" data-tablesaw-mode="swipe">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="product in products">
                                                        <td><a> <label ng-click="goToProductEdit(product.prodId)">{{product.prodName}}</label></a></td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group text-right">
                                            <input type="button" class="btn btn-info btn-wide" value="Add Product" ng-click="goToProductAdd()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</!--div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
