﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="storeitempropertiesCtrl">
            <div class="row ">
            </div>
            <div class="white-box">
                <div class="box-title col-md-12" name="addNewProperty">
                    <div class="col-md-6 pull-left">
                        <h3>Store Item Properties</h3>
                    </div>

                    <div class="col-md-8 pull-right">
                        <div class="col-md-3 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="showSavePropertyFunction(true);">Add New Property</button>
                        </div>
                        <div class="col-md-2 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="exportItemsToExcel();">Export</button>
                        </div>

                        <div class="col-md-2 top-buffer pull-right">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file m-r-10">
                                    <span class="fileinput-new">Upload Excel</span>
                                    <span class="fileinput-exists">Edit</span>
                                    <input type="file" accept=".xlsx" id="excelItemProperties" itemid="excelItemProperties" ng-file-select-items="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>
                        </div>

                        <div class="col-md-2 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="cancelClick();">Back</button>
                        </div>
                    </div>
                </div>

                <!--<div class="card-body card-padding">-->                                                                              
                    <div class="row">
                        <div class="row" ng-if="showSaveProperty" id="storeItemProperty">
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-6 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemProperty.custPropCode)}">
                                    <input type="text" ng-model="storeItemProperty.custPropCode" name="custPropCode" id="custPropCode" class="form-control fg-input" />
                                    <label class="fg-label">Property Name</label>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-6 m-b-30">

                                <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || true)}">
                                    <i class="mdi-social-person-outline prefix"></i>
                                    <select chosen data-placeholder="ItemType" name="ItemType" ng-model="storeItemProperty.custPropType" required class="form-control">
                                        <option ng-selected="storeItemProperty.custPropType == 'String'" value="String">Text</option>
                                        <option ng-selected="storeItemProperty.custPropType == 'Number'" value="Number">Number</option>
                                        <option ng-selected="storeItemProperty.custPropType == 'Datetime'" value="Datetime">Date</option>
                                    </select>
                                    <label class="fg-label" for="role">Property Type</label>
                                </div>
                            </div>
                        </div>

                       <div class="col-md-12">
                           <div class="form-group fg-float col-md-6 m-b-30">
                               <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemProperty.custPropDefault)}">
                                   <input type="text" ng-model="storeItemProperty.custPropDefault" name="custPropDefault" id="custPropDefault" class="form-control fg-input" />
                                   <label class="fg-label">Default Value</label>
                               </div>
                           </div>
                           <div class="form-group fg-float col-md-6 m-b-30">
                               <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemProperty.custPropValue)}">
                                   <input type="text" ng-model="storeItemProperty.custPropValue" name="custPropValue" id="custPropValue" class="form-control fg-input" />
                                   <label class="fg-label">Property Value</label>
                               </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-12 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemProperty.custPropDesc)}">
                                    <input type="text" ng-model="storeItemProperty.custPropDesc" name="custPropDesc" id="custPropDesc" class="form-control fg-input" />
                                    <label class="fg-label">Property Description</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row text-center" ng-if="showSaveProperty">
                        <button class="btn btn-info btn-file btn-new-look" ng-click="savestoreitemprop(storeItemProperty, false)">Save Details</button>
                        <button class="btn btn-info btn-file btn-new-look" ng-click="showSavePropertyFunction(false);">Cancel</button>
                    </div>
                  
                    <div class="row top-buffer">
                        <div class="table table-responsive">
                        <table class="table table-hover  z-depth-1 clear-both" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <td style="width:20%">Name</td>
                                    <td style="width:20%">Value</td>
                                    <td style="width:55%">Description</td>
                                    <td style="width:5%">Edit</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="itemProperty in storeItemProperties">
                                    <td>{{itemProperty.custPropCode}}</td>
                                    <td>{{itemProperty.custPropValue}}</td>
                                    <td>{{itemProperty.custPropDesc}}</td>
                                    <td data-title="'Actions'" sortable="'Actions'">
                                        <a title="Edit details" ng-click="editstoreitemprop(itemProperty, true);" class="fa fa-edit"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>